<dt>optimumPosition {String|undefined}</dt>
<dd>
  <p>
    Optimum position determined by internal positioning algorithm.
  </p>
  <p>
    It will return undefined if <code>{{page.title}}</code>
    hasn't been repositioned.
  </p>
</dd>
