<dt>relativeTo {String}</dt>
<dd>
  <p>
    A string corresponding to the ID of the <i>relative element</i>.
  </p>
  <p class="hxSubdued hxSubBody">
    <hx-icon type="info-circle"></hx-icon>
    Reflects the <code>relative-to</code> attribute.
  </p>
</dd>
