<dt>
  relativeElement {HTMLElement}
  <hx-pill class="hxSubBody" persist>read-only</hx-pill>
</dt>
<dd>
  <p>
    HTML element used as a point of reference for calculating the fixed
    position of the <code>{{page.title}}</code>.
  </p>
  <p>
    If the <code>relative-to</code> attribute is defined, this will return
    the first element whose ID matches the <code>relativeTo</code> property.
    Otherwise, it will return the value of <code>controlElement</code>.
  </p>
</dd>
