---
title: Modals
assets:
  - bootstrap.helix.css
---
<!-- explanation goes here -->

<div class="demo">
  <div class="modal-example">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">h4.modal-title</h4>
        </div>
        <div class="modal-body">
          <p>
            If it takes you too long to detail the flexible XP spec, then you
            are not spiking enough. A simple lifecycle management always takes
            less time than a burnup one. The best way to detail minimum sequence
            is to almost satify their application. If it takes you too long to
            measure the major VOC sprint, then you are not working enough.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            <p>
              If it takes you too long to detail the flexible XP spec, then you
              are not spiking enough. A simple lifecycle management always takes
              less time than a burnup one. The best way to detail minimum sequence
              is to almost satify their application. If it takes you too long to
              measure the major VOC sprint, then you are not working enough.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
