// import configs
@import "mixins";
@import "components/form/config";

// inline external styles
@import "../base";

// TODO: add CSS custom props for theming hooks

// define Shadow DOM styles
input::-ms-clear {
  display: none;
}

:host {
  #hxSearch {
    -ms-grid-column-align: start;
    -ms-grid-columns: 2rem 1fr;
    -ms-grid-rows: 1fr;
    align-items: center;
    display: -ms-grid; // Legacy (IE)
    display: grid; // Modern
    grid-template-columns: 2rem 1fr;
    height: 100%;
  }

  #hxIcon {
    color: $gray-700;
    line-height: 1;
    margin: auto 0.5em;
  }
}
