@import "mixins";

@mixin __select--reset {
  @include appearance(none);
  font: inherit;

  // Firefox
  &:-moz-ui-invalid {
    box-shadow: none;
    border: 0;
    outline: 0;
  }

  // IE and Edge
  &::-ms-value {
    background-color: transparent;
    color: inherit;
    padding: 0;
  }

  &::-ms-expand {
    background-color: transparent;
    border: 0;
    color: inherit;
    margin: 0;
  }
}

// LESS               SCSS
// #Reset.select() -> hxSelect(reset)
@mixin hxSelect($state: null) {
  @if $state == reset {
    @include __select--reset;
  }
  @else {
    // do nothing
  }
}
