<!DOCTYPE html>
<html lang="en">
<head>
  <title>Typography - HelixUI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/helix-ui/">

  <link rel="shortcut icon" href="images/favicon.png">

  
  <link
    crossorigin="anonymous"
    href="https://use.fontawesome.com/releases/v5.2.0/css/brands.css"
    integrity="sha384-nT8r1Kzllf71iZl81CdFzObMsaLOhqBU1JD2+XoAALbdtWaXDOlWOZTR4v1ktjPE"
    rel="stylesheet"
  />
  
  <link
    crossorigin="anonymous"
    href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css"
    integrity="sha384-HbmWTHay9psM8qyzEKPc8odH4DsOuzdejtnr+OFtDmOcIVnhgReQ4GZBH7uwcjf6"
    rel="stylesheet"
  />

  
  <link rel="stylesheet" href="dist/css/helix-ui.css">
  
  <link rel="stylesheet" href="docs.css">

  <!-- loader appends polyfills, if needed -->
  <script src="vendor/webcomponents-loader.js"></script>
</head>
<body class="hxVertical" id="top">
  <!-- This link should be the first item a user can tab to. -->
  <a href="#content">Skip to main content</a>

  <header id="head">
    <nav>
      <a class="brand-logo" href="">
        <img src="images/helix-logo.svg" alt="Logo" />
      </a>
    </nav>

    <div>
      <a
        class="hxBtn beta-hxDark"
        href="https://github.com/HelixDesignSystem/helix-ui/"
      >
        <i class="fab fa-github"></i>
        <span>View Source</span>
      </a>
      <a
        class="hxBtn beta-hxDark"
        href="https://github.com/HelixDesignSystem/helix-ui/issues/new?template=bug-report.md&labels=Bug:+Unconfirmed"
      >
        Report Bug
      </a>
    </div>
  </header>

  <div id="app">
    <div id="stage">
      <nav id="nav" class="hxNav">



  
    
  <hx-disclosure
    aria-controls="nav-guides"
>
    Guides
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-guides" >
      
      <a href="guides/getting-started" >
    Getting Started
  </a>


      
      <a href="guides/faq" >
    FAQ
  </a>


      
      <a href="guides/react-compatibility" >
    React Compatibility
  </a>


      
      <a href="guides/polyfills" >
    Polyfills
  </a>


  </hx-reveal>


  
    
  <hx-disclosure
    aria-controls="nav-components"
class="current">
    Components
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-components" open>
      
      <a href="components/accordion" >
    Accordion
  </a>


      
      <a href="components/alert" >
    Alert
  </a>


      
      <a href="components/badge" >
    Badge
  </a>


      
      <a href="components/beacon" >
    Beacon
  </a>


      
      <a href="components/box" >
    Box
  </a>


      
      <a href="components/breadcrumb" >
    Breadcrumb
  </a>


      
      <a href="components/button" >
    Button
  </a>


      
      <a href="components/checkbox" >
    Checkbox
  </a>


      
      <a href="components/choice-tile" >
    Choice Tile
  </a>


      
      <a href="components/drawer" >
    Drawer
  </a>


      
      <a href="components/dropdown-select" >
    Dropdown Select
  </a>


      
      <a href="components/email" >
    Email Input
  </a>


      
      <a href="components/file" >
    File
  </a>


      
      <a href="components/grid" >
    Grid
  </a>


      
      <a href="components/icon" >
    Icon
  </a>


      
      <a href="components/layout" >
    Layout
  </a>


      
      <a href="components/list" >
    List
  </a>


      
      <a href="components/loader" >
    Loader
  </a>


      
      <a href="components/menu" >
    Menu
  </a>


      
      <a href="components/modal" >
    Modal
  </a>


      
      <a href="components/topnav" >
    Navigation - Top Nav
  </a>


      
      <a href="components/navigation" >
    Navigation - Left Nav
  </a>


      
      <a href="components/pagination" >
    Pagination
  </a>


      
      <a href="components/panel" >
    Panel
  </a>


      
      <a href="components/password" >
    Password Input
  </a>


      
      <a href="components/pill" >
    Pill
  </a>


      
      <a href="components/popover" >
    Popover
  </a>


      
      <a href="components/radio" >
    Radio
  </a>


      
      <a href="components/reveal" >
    Reveal
  </a>


      
      <a href="components/search" >
    Search
  </a>


      
      <a href="components/selector-strip" >
    Selector Strip
  </a>


      
      <a href="components/stepper" >
    Stepper
  </a>


      
      <a href="components/switch" >
    Switch
  </a>


      
      <a href="components/table" >
    Table
  </a>


      
      <a href="components/tabset" >
    Tabset
  </a>


      
      <a href="components/text-input" >
    Text Input
  </a>


      
      <a href="components/textarea" >
    Textarea
  </a>


      
      <a href="components/toast" >
    Toast
  </a>


      
      <a href="components/toggle" >
    Toggle
  </a>


      
      <a href="components/tooltip" >
    Tooltip
  </a>


      
      <a href="components/typography" class="current">
    Typography
  </a>


  </hx-reveal>


  
    
  <hx-disclosure
    aria-controls="nav-elements"
>
    Custom Elements
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-elements" >
      
      <a href="elements/hx-accordion" >
    &lt;hx-accordion&gt;
  </a>


      
      <a href="elements/hx-accordion-panel" >
    &lt;hx-accordion-panel&gt;
  </a>


      
      <a href="elements/hx-alert" >
    &lt;hx-alert&gt;
  </a>


      
      <a href="elements/hx-beacon" >
    &lt;hx-beacon&gt;
  </a>


      
      <a href="elements/hx-busy" >
    &lt;hx-busy&gt;
  </a>


      
      <a href="elements/hx-checkbox" >
    &lt;hx-checkbox&gt;
  </a>


      
      <a href="elements/hx-checkbox-control" >
    &lt;hx-checkbox-control&gt;
  </a>


      
      <a href="elements/hx-disclosure" >
    &lt;hx-disclosure&gt;
  </a>


      
      <a href="elements/hx-div" >
    &lt;hx-div&gt;
  </a>


      
      <a href="elements/hx-drawer" >
    &lt;hx-drawer&gt;
  </a>


      
      <a href="elements/hx-drop-fence" >
    &lt;hx-drop-fence&gt;
  </a>


      
      <a href="elements/hx-drop-zone" >
    &lt;hx-drop-zone&gt;
  </a>


      
      <a href="elements/hx-error" >
    &lt;hx-error&gt;
  </a>


      
      <a href="elements/hx-email-control" >
    &lt;hx-email-control&gt;
  </a>


      
      <a href="elements/hx-file-icon" >
    &lt;hx-file-icon&gt;
  </a>


      
      <a href="elements/hx-file-input" >
    &lt;hx-file-input&gt;
  </a>


      
      <a href="elements/hx-file-tile" >
    &lt;hx-file-tile&gt;
  </a>


      
      <a href="elements/hx-icon" >
    &lt;hx-icon&gt;
  </a>


      
      <a href="elements/hx-menu" >
    &lt;hx-menu&gt;
  </a>


      
      <a href="elements/hx-menuitem" >
    &lt;hx-menuitem&gt;
  </a>


      
      <a href="elements/hx-modal" >
    &lt;hx-modal&gt;
  </a>


      
      <a href="elements/hx-password-control" >
    &lt;hx-password-control&gt;
  </a>


      
      <a href="elements/hx-pill" >
    &lt;hx-pill&gt;
  </a>


      
      <a href="elements/hx-popover" >
    &lt;hx-popover&gt;
  </a>


      
      <a href="elements/hx-progress" >
    &lt;hx-progress&gt;
  </a>


      
      <a href="elements/hx-radio" >
    &lt;hx-radio&gt;
  </a>


      
      <a href="elements/hx-radio-control" >
    &lt;hx-radio-control&gt;
  </a>


      
      <a href="elements/hx-radio-set" >
    &lt;hx-radio-set&gt;
  </a>


      
      <a href="elements/hx-reveal" >
    &lt;hx-reveal&gt;
  </a>


      
      <a href="elements/hx-search" >
    &lt;hx-search&gt;
  </a>


      
      <a href="elements/hx-search-assistance" >
    &lt;hx-search-assistance&gt;
  </a>


      
      <a href="elements/hx-search-control" >
    &lt;hx-search-control&gt;
  </a>


      
      <a href="elements/hx-select" >
    &lt;hx-select&gt;
  </a>


      
      <a href="elements/hx-select-control" >
    &lt;hx-select-control&gt;
  </a>


      
      <a href="elements/hx-status" >
    &lt;hx-status&gt;
  </a>


      
      <a href="elements/hx-switch" >
    &lt;hx-switch&gt;
  </a>


      
      <a href="elements/hx-switch-control" >
    &lt;hx-switch-control&gt;
  </a>


      
      <a href="elements/hx-tab" >
    &lt;hx-tab&gt;
  </a>


      
      <a href="elements/hx-tabcontent" >
    &lt;hx-tabcontent&gt;
  </a>


      
      <a href="elements/hx-tablist" >
    &lt;hx-tablist&gt;
  </a>


      
      <a href="elements/hx-tabpanel" >
    &lt;hx-tabpanel&gt;
  </a>


      
      <a href="elements/hx-tabset" >
    &lt;hx-tabset&gt;
  </a>


      
      <a href="elements/hx-text-control" >
    &lt;hx-text-control&gt;
  </a>


      
      <a href="elements/hx-textarea-control" >
    &lt;hx-textarea-control&gt;
  </a>


      
      <a href="elements/hx-tile" >
    &lt;hx-tile&gt;
  </a>


      
      <a href="elements/hx-toast" >
    &lt;hx-toast&gt;
  </a>


      
      <a href="elements/hx-toggle" >
    &lt;hx-toggle&gt;
  </a>


      
      <a href="elements/hx-toggle-control" >
    &lt;hx-toggle-control&gt;
  </a>


      
      <a href="elements/hx-tooltip" >
    &lt;hx-tooltip&gt;
  </a>


  </hx-reveal>


      </nav>

      <main role="main" id="content" class="component-content ">
          <header>
              


            <h1>
              Typography

<min-version id="page-min-version">
  v0.1.6+
</min-version>

<hx-tooltip for="page-min-version" position="right">
  HelixUI v0.1.6 or later required
</hx-tooltip>
            </h1>


  
          </header>

          <div>
  <section><!-- Typefaces -->
    <header>
      <h2 id="typefaces">Typefaces</h2>
      
    </header>

    <div class="example">
      <div class="demo-typography">
        <div class="hxRow">
          <div class="hxCol font-roboto">
            <p class="weight-thin">100: Roboto Thin</p>
            <p class="weight-light">300: Roboto Light</p>
            <p class="weight-regular">400: Roboto Regular</p>
            <p class="weight-medium">500: Roboto Medium</p>
            <p class="weight-bold">700: Roboto Bold</p>
          </div>
          <div class="hxCol font-roboto-mono">
            <p class="weight-thin">100: Roboto Mono Thin</p>
            <p class="weight-light">300: Roboto Mono Light</p>
            <p class="weight-regular">400: Roboto Mono Regular</p>
            <p class="weight-medium">500: Roboto Mono Medium</p>
            <p class="weight-bold">700: Roboto Mono Bold</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section><!-- Headings -->
    <header>
      <h2 id="headings">Headings</h2>
      
    </header>

    <div class="example">
      <div>
        <h1>Heading One</h1>
        <h2>Heading Two</h2>
        <h3>Heading Three</h3>
        <h4>Heading Four</h4>
        <h5>Heading Five</h5>
      </div>
      <footer>
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">h1</span>&gt;</span>Heading One<span class="hljs-tag">&lt;/<span class="hljs-name">h1</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">h2</span>&gt;</span>Heading Two<span class="hljs-tag">&lt;/<span class="hljs-name">h2</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">h3</span>&gt;</span>Heading Three<span class="hljs-tag">&lt;/<span class="hljs-name">h3</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">h4</span>&gt;</span>Heading Four<span class="hljs-tag">&lt;/<span class="hljs-name">h4</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">h5</span>&gt;</span>Heading Five<span class="hljs-tag">&lt;/<span class="hljs-name">h5</span>&gt;</span>
</code></pre>      </footer>
    </div>

    <br />

    <p>
      CSS class overrides are available if semantic elements
      don't match up with expected visual style.
    </p>
    <table class="hxTable hxTable--condensed">
      <thead>
        <tr>
          <th>Style</th>
          <th>Element</th>
          <th>Class</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Heading One</td>
          <td><code>&lt;h1&gt;</code></td>
          <td><code>.hxHeading-1</code></td>
        </tr>
        <tr>
          <td>Heading Two</td>
          <td><code>&lt;h2&gt;</code></td>
          <td><code>.hxHeading-2</code></td>
        </tr>
        <tr>
          <td>Heading Three</td>
          <td><code>&lt;h3&gt;</code></td>
          <td><code>.hxHeading-3</code></td>
        </tr>
        <tr>
          <td>Heading Four</td>
          <td><code>&lt;h4&gt;</code></td>
          <td><code>.hxHeading-4</code></td>
        </tr>
        <tr>
          <td>Heading Five</td>
          <td><code>&lt;h5&gt;</code></td>
          <td><code>.hxHeading-5</code></td>
        </tr>
      </tbody>
    </table>
  </section>

  <section><!-- Subdued -->
    <header>
      <h2 id="subdued">Subdued</h2>
      <p>
        Add the <code>.hxSubdued</code> CSS class to any element to apply a
        muted appearance.
      </p>
    </header>

    <div class="example">
      <div>
        <div class="hxSubdued">div.hxSubdued</div>
        <p class="hxSubdued">p.hxSubdued</p>
        <span class="hxSubdued">span.hxSubdued</span>
      </div>

      <footer>
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxSubdued"</span>&gt;</span>div.hxSubdued<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxSubdued"</span>&gt;</span>p.hxSubdued<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxSubdued"</span>&gt;</span>span.hxSubdued<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
</code></pre>      </footer>
    </div>
  </section>

  <section><!-- Caption -->
    <header>
      <h2 id="caption">Caption</h2>
      
    </header>

    <p>
      Apply the Helix "caption" style with any of the following configurations:
    </p>

    <ul class="hxList">
      <li>
        A <code>&lt;caption&gt;</code> element within a
        <a href="components/table">Table</a>
      </li>
      <li>
        A <code>&lt;figcaption&gt;</code> element within a
        <code>&lt;figure class="hxFigure"&gt;</code>
      </li>
      <li>
        Add the <code>.hxCaption</code> CSS class to any element
      </li>
    </ul>

    <div class="example">
      <div>
        <figure class="hxFigure">
          <figcaption>figure.hxFigure figcaption</figcaption>
        </figure>
        <table class="hxTable">
          <caption>table.hxTable caption</caption>
        </table>
        <p class="hxCaption">p.hxCaption</p>
      </div>

      <footer>
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">figure</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxFigure"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">figcaption</span>&gt;</span>figure.hxFigure figcaption<span class="hljs-tag">&lt;/<span class="hljs-name">figcaption</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">figure</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">table</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxTable"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">caption</span>&gt;</span>table.hxTable caption<span class="hljs-tag">&lt;/<span class="hljs-name">caption</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">table</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCaption"</span>&gt;</span>p.hxCaption<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
</code></pre>      </footer>
    </div>
  </section>

  <section><!-- Sub-Body -->
    <header>
      <h2 id="sub-body">Sub-Body</h2>
      
    </header>

    <p>
      Apply the "sub-body" style with any of the following:
    </p>

    <ul class="hxList">
      <li>A <code>&lt;small&gt;</code> element</li>
      <li>Add the <code>.hxSubBody</code> CSS class to any element</li>
    </ul>

    <div class="example">
      <div>
        <small>small</small>
        <p class="hxSubBody">p.hxSubBody</p>
      </div>

      <footer>
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">small</span>&gt;</span>small<span class="hljs-tag">&lt;/<span class="hljs-name">small</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxSubBody"</span>&gt;</span>p.hxSubBody<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
</code></pre>      </footer>
    </div>
  </section>

  <section><!-- Links -->
    <header>
      <h2 id="links">Links</h2>
      <p>
        Hyperlinks (a.k.a., links) should be used to navigate a user to a
        resource or location.
      </p>
    </header>

    <ul class="hxList">
      <li>
        <a href="components/button">Buttons</a> are better suited to
        initiate in-page actions.
      </li>
      <li>
        Adding the <code>disabled</code> attribute to a link does not
        prevent user interaction.
      </li>
    </ul>

    <div class="example">
      <div>
        <a href="#">Link Text</a>
      </div>

      <footer>
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span>Link Text<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
</code></pre>      </footer>
    </div>
  </section>

  <section><!-- Inline Code -->
    <header>
      <h2 id="inline-code">Inline Code</h2>
      <p>
        Use the <code>&lt;code&gt;</code> element to differentiate descriptive
        text from code snippets.
      </p>
    </header>

    <div class="example">
      <div>
        <p>
          Add an event listener with the <code>EventTarget.addEventListener()</code> function.
        </p>
      </div>

      <footer>
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>
  Add an event listener with the <span class="hljs-tag">&lt;<span class="hljs-name">code</span>&gt;</span>EventTarget.addEventListener()<span class="hljs-tag">&lt;/<span class="hljs-name">code</span>&gt;</span> function.
<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
</code></pre>      </footer>
    </div>
  </section>

  <section><!-- Keyboard -->
    <header>
      <h2 id="keyboard">Keyboard</h2>
      <p>
        Use the <code>&lt;kbd&gt;</code> element to differentiate descriptive text
        from instructional key presses.
      </p>
    </header>

    <div class="example">
      <div>
        <p>
          Press <kbd>Ctrl+Z</kbd> (<kbd>Command+Z</kbd> on Mac)
          to undo the most recent action.
        </p>
      </div>

      <footer>
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>
  Press <span class="hljs-tag">&lt;<span class="hljs-name">kbd</span>&gt;</span>Ctrl+Z<span class="hljs-tag">&lt;/<span class="hljs-name">kbd</span>&gt;</span> (<span class="hljs-tag">&lt;<span class="hljs-name">kbd</span>&gt;</span>Command+Z<span class="hljs-tag">&lt;/<span class="hljs-name">kbd</span>&gt;</span> on Mac)
  to undo the most recent action.
<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
</code></pre>      </footer>
    </div>
  </section>

  <section><!-- Code Block -->
    <header>
      <h2 id="code-block">Code Block</h2>
      
    </header>

    <div class="example">
      <div class="demo">
        <pre><code>[Insert Code Here]</code></pre>
      </div>

      <footer>
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">pre</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">code</span>&gt;</span>[Insert Code Here]<span class="hljs-tag">&lt;/<span class="hljs-name">code</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">pre</span>&gt;</span>
</code></pre>      </footer>
    </div>
  </section>

  <section><!-- Error Text -->
    <header>
      <h2 id="error-text">Error Text</h2>
      <p class="hxSubBody">Added: v0.4.0</p>
      
    </header>

    <div class="example">
      <div>
        <hx-error>Error message goes here</hx-error>
      </div>

      <footer>
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">hx-error</span>&gt;</span>Error message goes here<span class="hljs-tag">&lt;/<span class="hljs-name">hx-error</span>&gt;</span>
</code></pre>      </footer>
    </div>
  </section>

  <section><!-- Syntax Highlighting -->
    <header>
      <h2 id="syntax-highlighting">Syntax Highlighting</h2>
      <p>
        HelixUI provides a built-in theme for use with the
        <a href="https://highlightjs.org/">highlight.js</a> library.
      </p>
    </header>

    <p>
      Below are some examples of the syntax highlighting in action.
    </p>

    <hx-tabset class="beta-hxBound">
      <hx-tablist>
        <hx-tab>HTML</hx-tab>
        <hx-tab>JavaScript</hx-tab>
        <hx-tab>CSS</hx-tab>
        <hx-tab>diff</hx-tab>
        <hx-tab>bash</hx-tab>
        <hx-tab>ini</hx-tab>
        <hx-tab>markdown</hx-tab>
      </hx-tablist>

      <hx-tabcontent>
        <hx-tabpanel>
          <figure class="hxFigure">
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text/javascript"</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"path/to/script.js"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">link</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">"stylesheet"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"path/to/style.css"</span> /&gt;</span>
<span class="hljs-comment">&lt;!-- HTML Comment --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">form</span> <span class="hljs-attr">method</span>=<span class="hljs-string">"POST"</span> <span class="hljs-attr">action</span>=<span class="hljs-string">"submit.html"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">fieldset</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">legend</span>&gt;</span>Login<span class="hljs-tag">&lt;/<span class="hljs-name">legend</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"txtUsername"</span>&gt;</span>Username<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"txtUsername"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"username"</span> /&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"txtPassword"</span>&gt;</span>Password<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"password"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"txtPassword"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"password"</span> /&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">fieldset</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"submit"</span>&gt;</span>Log In<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"path/to/file.png"</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">"pretty picture"</span> /&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">form</span>&gt;</span>
</code></pre>            <figcaption>HTML Syntax Highlighting Example</figcaption>
          </figure>
        </hx-tabpanel>

        <hx-tabpanel>
          <figure class="hxFigure">
<pre><code class="javascript"><span class="hljs-comment">/**
 * <span class="hljs-doctag">@description <span class="hljs-variable">Multi</span></span>-line comment
 * <span class="hljs-doctag">@returns <span class="hljs-type">{String}</span></span>
 */</span>
<span class="hljs-comment">// Inline Comment</span>
<span class="hljs-keyword">var</span> legacyVariable;
<span class="hljs-keyword">const</span> REGEXP = <span class="hljs-regexp">/h(iy|ell)o*/ig</span>;
<span class="hljs-keyword">const</span> array = [ <span class="hljs-literal">null</span>, <span class="hljs-literal">true</span>, <span class="hljs-literal">false</span> ];
<span class="hljs-keyword">const</span> obj = {
  <span class="hljs-attr">number</span>: <span class="hljs-number">42</span>,
  <span class="hljs-attr">integer</span>: <span class="hljs-number">42.0</span>,
  <span class="hljs-attr">s_string</span>: <span class="hljs-string">'single quotes'</span>,
  <span class="hljs-attr">d_string</span>: <span class="hljs-string">"double quotes"</span>
};
<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">greet</span> (<span class="hljs-params">name: <span class="hljs-string">'World'</span></span>) </span>{
  <span class="hljs-keyword">if</span> (foo !== <span class="hljs-string">'bar'</span>) {
    <span class="hljs-keyword">return</span> <span class="hljs-string">'nope'</span>;
  } <span class="hljs-keyword">else</span> <span class="hljs-keyword">if</span> (foo || bar) {
    <span class="hljs-keyword">return</span> <span class="hljs-string">'maybe'</span>;
  } <span class="hljs-keyword">else</span> <span class="hljs-keyword">if</span> (foo &amp;&amp; bar) {
    <span class="hljs-keyword">return</span> <span class="hljs-string">'wut'</span>;
  }
  <span class="hljs-keyword">return</span> <span class="hljs-string">`Hello <span class="hljs-subst">${name}</span>!`</span>;
}
</code></pre>            <figcaption>JavaScript Syntax Highlighting Example</figcaption>
          </figure>
        </hx-tabpanel>

        <hx-tabpanel>
          <figure class="hxFigure">
<pre><code class="css"><span class="hljs-comment">/* CSS Comment */</span>
<span class="hljs-keyword">@import</span> url(<span class="hljs-string">'https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,700,700i'</span>);
<span class="hljs-selector-pseudo">:root</span> {
  <span class="hljs-attribute">--border-color</span>: <span class="hljs-number">#bada55</span>;
}
<span class="hljs-selector-tag">html</span> {
  <span class="hljs-attribute">box-sizing</span>: border-box;
}
*,
*<span class="hljs-selector-pseudo">::before</span>,
*<span class="hljs-selector-pseudo">::after</span> {
  <span class="hljs-attribute">box-sizing</span>: inherit;
}
<span class="hljs-selector-id">#navigation</span> {
  <span class="hljs-attribute">border</span>: <span class="hljs-number">1px</span> solid <span class="hljs-built_in">var</span>(--border-color);
  <span class="hljs-attribute">padding</span>: <span class="hljs-number">1em</span>;
  <span class="hljs-attribute">margin</span>: <span class="hljs-number">0</span>;
  <span class="hljs-attribute">background-image</span>: <span class="hljs-built_in">linear-gradient</span>(<span class="hljs-number">90deg</span>, rgba(<span class="hljs-number">0</span>, <span class="hljs-number">0</span>, <span class="hljs-number">0</span>, <span class="hljs-number">0</span>,<span class="hljs-number">5</span>), white);
}
<span class="hljs-selector-tag">input</span><span class="hljs-selector-attr">[type=<span class="hljs-string">"checkbox"</span>]</span><span class="hljs-selector-pseudo">:checked</span> {
  <span class="hljs-comment">/* ... */</span>
}
<span class="hljs-selector-class">.text-center</span> {
  <span class="hljs-attribute">text-align</span>: center <span class="hljs-meta">!important</span>;
}
</code></pre>            <figcaption>CSS Syntax Highlighting Example</figcaption>
          </figure>
        </hx-tabpanel>

        <hx-tabpanel>
          <figure class="hxFigure">
<pre><code class="diff"><span class="hljs-comment">Index: languages/ini.js</span>
<span class="hljs-comment">===================================================================</span>
<span class="hljs-comment">--- languages/ini.js    (revision 199)</span>
<span class="hljs-comment">+++ languages/ini.js    (revision 200)</span>
<span class="hljs-meta">@@ -1,8 +1,7 @@</span>
 hljs.LANGUAGES.ini =
 {
   case_insensitive: true,
<span class="hljs-deletion">-  defaultMode:</span>
<span class="hljs-deletion">-  {</span>
<span class="hljs-addition">+  defaultMode: {</span>
     contains: ['comment', 'title', 'setting'],
     illegal: '[^\\s]'
   },

<span class="hljs-comment">*** /path/to/original timestamp</span>
<span class="hljs-comment">--- /path/to/new      timestamp</span>
<span class="hljs-comment">***************</span>
<span class="hljs-meta">*** 1,3 ****</span>
<span class="hljs-meta">--- 1,9 ----</span>
<span class="hljs-addition">+ This is an important</span>
<span class="hljs-addition">+ notice! It should</span>
<span class="hljs-addition">+ therefore be located at</span>
<span class="hljs-addition">+ the beginning of this</span>
<span class="hljs-addition">+ document!</span>

<span class="hljs-addition">! compress the size of the</span>
<span class="hljs-addition">! changes.</span>

  It is important to spell
</code></pre>            <figcaption>diff Syntax Highlighting Example</figcaption>
          </figure>
        </hx-tabpanel>

        <hx-tabpanel>
          <figure class="hxFigure">
<pre><code class="bash"><span class="hljs-meta">#!/bin/bash
</span>
<span class="hljs-comment">###### CONFIG</span>
ACCEPTED_HOSTS=<span class="hljs-string">"/root/.hag_accepted.conf"</span>
BE_VERBOSE=<span class="hljs-literal">false</span>

<span class="hljs-keyword">if</span> [ <span class="hljs-string">"<span class="hljs-variable">$UID</span>"</span> -ne 0 ]
<span class="hljs-keyword">then</span>
  <span class="hljs-built_in">echo</span> <span class="hljs-string">"Superuser rights required"</span>
  <span class="hljs-built_in">exit</span> 2
<span class="hljs-keyword">fi</span>

<span class="hljs-function"><span class="hljs-title">genApacheConf</span></span>(){
  <span class="hljs-built_in">echo</span> -e <span class="hljs-string">"# Host <span class="hljs-variable">${HOME_DIR}</span><span class="hljs-variable">$1</span>/<span class="hljs-variable">$2</span> :"</span>
}
</code></pre>            <figcaption>bash Syntax Highlighting Example</figcaption>
          </figure>
        </hx-tabpanel>

        <hx-tabpanel>
          <figure class="hxFigure">
<pre><code class="ini"><span class="hljs-comment">; boilerplate</span>
<span class="hljs-section">[package]</span>
<span class="hljs-attr">name</span> = <span class="hljs-string">"some_name"</span>
<span class="hljs-attr">authors</span> = [<span class="hljs-string">"Author"</span>]
<span class="hljs-attr">description</span> = <span class="hljs-string">"This is \
a description"</span>

<span class="hljs-section">[[lib]]</span>
<span class="hljs-attr">name</span> = <span class="hljs-variable">${NAME}</span>
<span class="hljs-attr">default</span> = <span class="hljs-literal">True</span>
<span class="hljs-attr">auto</span> = <span class="hljs-literal">no</span>
<span class="hljs-attr">counter</span> = <span class="hljs-number">1_000</span>
</code></pre>            <figcaption>.ini Syntax Highlighting Example</figcaption>
          </figure>
        </hx-tabpanel>

        <hx-tabpanel>
          <figure class="hxFigure">
<pre><code class="markdown"><span class="hljs-section"># hello world</span>

you can write text [<span class="hljs-string">with links</span>](<span class="hljs-link">http://example.com</span>) inline or [<span class="hljs-string">link references</span>][<span class="hljs-symbol">1</span>].
<span class="hljs-bullet">
* </span>one <span class="hljs-emphasis">_thing_</span> has <span class="hljs-emphasis">*em*</span>phasis
<span class="hljs-bullet">* </span>two <span class="hljs-strong">__things__</span> are <span class="hljs-strong">**bold**</span>

[<span class="hljs-symbol">1</span>]: <span class="hljs-link">http://example.com</span>

---

<span class="hljs-section">hello world
===========</span>

<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">this_is</span> <span class="hljs-attr">inline</span>=<span class="hljs-string">"xml"</span>&gt;</span></span><span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-name">this_is</span>&gt;</span></span>

<span class="hljs-quote">&gt; markdown is so cool</span>

<span class="hljs-code">    so are code segments</span>
<span class="hljs-bullet">
1. </span>one thing (yeah!)
<span class="hljs-bullet">2. </span>two thing <span class="hljs-code">`i can write code`</span>, and <span class="hljs-code">`more`</span> wipee!
</code></pre>            <figcaption>Markdown Syntax Highlighting Example</figcaption>
          </figure>
        </hx-tabpanel>
      </hx-tabcontent>
    </hx-tabset>
  </section>

<section>
  <h2 id="see-also">See Also</h2>
  <ul class="hxList">
      <li><a href="components/typography/test.html">Testing - Typography</a></li>
      <li><a href="elements/hx-error">&lt;hx-error&gt;</a></li>
  </ul>
</section>
          </div>

            <aside class="hxSiderail">
                <nav class="toc" aria-label="table of contents">
                  
            <a href="#typefaces">Typefaces</a>
        

            <a href="#headings">Headings</a>
        

            <a href="#subdued">Subdued</a>
        

            <a href="#caption">Caption</a>
        

            <a href="#sub-body">Sub-Body</a>
        

            <a href="#links">Links</a>
        

            <a href="#inline-code">Inline Code</a>
        

            <a href="#keyboard">Keyboard</a>
        

            <a href="#code-block">Code Block</a>
        

            <a href="#error-text">Error Text</a>
        

            <a href="#syntax-highlighting">Syntax Highlighting</a>
        
                    
                    <a href="#see-also">See Also</a>
                  <hr class="hxDivider" />
                  <a class="top-link" href="#top">Back to Top</a>
                </nav>
            </aside>
      </main>
    </div>
  </div>

  <footer id="foot" class="hxRow hxGutterless">
    <div class="hxCol">
      &copy; 2017-2020 Rackspace US, Inc.
      <nav>
        <a href="https://www.rackspace.com/information/legal/websiteterms">Website Terms</a>
        <a href="https://www.rackspace.com/information/legal/privacystatement">Privacy Policy</a>
      </nav>
    </div>

    <div class="hxCol hxRight">


      <small>
        Latest Release:
        (<a href="https://github.com/HelixDesignSystem/helix-ui/releases/v1.1.0-rc.0" target="_blank">
          v1.1.0-rc.0
        </a>)
      </small>
    </div>
  </footer>

  
  <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
  
  <script src="dist/js/helix-ui.js"></script>
  
  <script src="docs.js"></script>
</body>
</html>
