/// ========== HELPERS ==========
/// - Class Selectors ONLY
/// - NO Elements Selectors
/// - NO !important
/// =============================
@import "alignment";
@import "wrapping";

.hxTruncate {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
