// DEPRECATED: remove in v1.0.0
.hxBox-xs {
  padding: 0.5rem; // 8px
}

.hxBox-sm {
  padding: 0.75rem; // 12px
}

.hxBox-md {
  padding: 1rem; // 16px
}

.hxBox-lg {
  padding: 1.25rem; // 20px
}

.hxBox-xl {
  padding: 1.5rem; // 24px
}
