.grid-demo {
  & > .demo-container {
    border: @demo-container-border;
  }

  .hxCol {
    background-clip: content-box;
    background-color: @demo-fill-color;
    font-size: 0.75rem;
  }

  &.showGutter { // For future use
    @gutter-padding: (@grid-gutter-size / 2);

    .hxCol {
      box-shadow:
        inset @gutter-padding 0 0 0 @demo-padding-color,
        inset -@gutter-padding 0 0 0 @demo-padding-color;
    }
  }
}

// Automatically Set Column Content based on breakpoint (lg-2, md-8, etc.)
.demoColumns (@size, @n) when (@n > 0) and (@size = xs) {
  .demoCol.hxSpan-@{n}-xs::before,
  .demoCol.hxSpan-@{n}::before {
    content: '@{n}-@{size}';
  }
  .demoColumns(@size, @n - 1);
}
.demoColumns (@size, @n) when (@n > 0) and not (@size = xs) {
  .demoCol.hxSpan-@{n}-@{size}::before {
    content: '@{n}-@{size}';
  }
  .demoColumns(@size, @n - 1);
}

@media (min-width: @grid-break-wrist) {
  #querySize::before {
    content: 'Size: XS';
    display: block;
    font-weight: bold;
    font-variant: small-caps;
  }
  .demoColumns(xs, @grid-column-count);
}

@media (min-width: @grid-break-palm) {
  #querySize::before {
    content: 'Size: SM';
  }
  .demoColumns(sm, @grid-column-count);
}

@media (min-width: @grid-break-lap) {
  #querySize::before {
    content: 'Size: MD';
  }
  .demoColumns(md, @grid-column-count);
}

@media (min-width: @grid-break-desk) {
  #querySize::before {
    content: 'Size: LG';
  }
  .demoColumns(lg, @grid-column-count);
}

@media (min-width: @grid-break-wall) {
  #querySize::before {
    content: 'Size: XL';
  }
  .demoColumns(xl, @grid-column-count);
}

.example-styled-container {
  background-color: @cyan-100;
  border-radius: 0;
  border: 1px solid @cyan-500;
  height: 100%;
  padding: 1em 0.5em;
}
