.panel-demo {
  height: 15rem;
  max-height: 20rem;
  min-height: 10rem;
  overflow: hidden;
  resize: vertical;

  hx-panel {
    border: @demo-container-border;
  }

  hx-panelhead {
    border-bottom: @demo-container-border;
  }

  hx-panelfoot {
    border-top: @demo-container-border;
  }
}
