
.panel-demo {
  height: 200px;
  max-height: 400px;
  min-height: 200px;
  overflow: hidden;
  resize: vertical;

  hx-panel {
    border: @demo-container-border;
  }

  hx-panelhead {
    border-bottom: @demo-container-border;
  }

  hx-panelfoot {
    border-top: @demo-container-border;
  }
}
