.popover-demo {
  align-items: center;
  display: flex;
  height: 400px;
  justify-content: center;
}

.popover-appearance {
  display: flex;
  flex-wrap: wrap;
  z-index: 0;

  hx-popover {
    display: block;
    margin: 20px;
    position: relative;
  }
}

.test#popover-in-scrolling-container {
  hx-div[scroll="vertical"] {
    border: 1px solid;
    height: 15rem; // 240px
    width: 30rem; // 480px
  }
}
