.toggle-example {
  align-items: center;
  display: flex;
  height: 400px;
  justify-content: center;
}

.direction-example {
  display: flex;
  flex-wrap: wrap;
  z-index: 0;

  hx-popover {
    display: block;
    margin: 20px;
    position: relative;
    width: 370px;
  }
}
