@import 'vars';

.tooltip-examples {
  hx-tooltip {
    display: inline-block;
    margin: 1em;
    position: relative;
  }
}

.tooltip-demo {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 6rem;

  > p {
    margin: 0; // FIXME
    text-align: center;
  }
}
