<!DOCTYPE html>
<html lang="en">
<head>
  <title>Grid - HelixUI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/helix-ui/">

  <link rel="shortcut icon" href="images/favicon.png">

  
  <link
    crossorigin="anonymous"
    href="https://use.fontawesome.com/releases/v5.2.0/css/brands.css"
    integrity="sha384-nT8r1Kzllf71iZl81CdFzObMsaLOhqBU1JD2+XoAALbdtWaXDOlWOZTR4v1ktjPE"
    rel="stylesheet"
  />
  
  <link
    crossorigin="anonymous"
    href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css"
    integrity="sha384-HbmWTHay9psM8qyzEKPc8odH4DsOuzdejtnr+OFtDmOcIVnhgReQ4GZBH7uwcjf6"
    rel="stylesheet"
  />

  
  <link rel="stylesheet" href="dist/css/helix-ui.css">
  
  <link rel="stylesheet" href="docs.css">

  <!-- loader appends polyfills, if needed -->
  <script src="vendor/webcomponents-loader.js"></script>
</head>
<body class="hxVertical" id="top">
  <!-- This link should be the first item a user can tab to. -->
  <a href="#content">Skip to main content</a>

  <header id="head">
    <nav>
      <a class="brand-logo" href="">
        <img src="images/helix-logo.svg" alt="Logo" />
      </a>
    </nav>

    <div>
      <a
        class="hxBtn beta-hxDark"
        href="https://github.com/HelixDesignSystem/helix-ui/"
      >
        <i class="fab fa-github"></i>
        <span>View Source</span>
      </a>
      <a
        class="hxBtn beta-hxDark"
        href="https://github.com/HelixDesignSystem/helix-ui/issues/new?template=bug-report.md&labels=Bug:+Unconfirmed"
      >
        Report Bug
      </a>
    </div>
  </header>

  <div id="app">
    <div id="stage">
      <nav id="nav" class="hxNav">



  
    
  <hx-disclosure
    aria-controls="nav-guides"
>
    Guides
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-guides" >
      
      <a href="guides/getting-started" >
    Getting Started
  </a>


      
      <a href="guides/faq" >
    FAQ
  </a>


      
      <a href="guides/react-compatibility" >
    React Compatibility
  </a>


      
      <a href="guides/polyfills" >
    Polyfills
  </a>


  </hx-reveal>


  
    
  <hx-disclosure
    aria-controls="nav-components"
class="current">
    Components
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-components" open>
      
      <a href="components/accordion" >
    Accordion
  </a>


      
      <a href="components/stepper" >
    Accordion - Stepper
  </a>


      
      <a href="components/alert" >
    Alert
  </a>


      
      <a href="components/badge" >
    Badge
  </a>


      
      <a href="components/beacon" >
    Beacon
  </a>


      
      <a href="components/box" >
    Box
  </a>


      
      <a href="components/breadcrumb" >
    Breadcrumb
  </a>


      
      <a href="components/button" >
    Button
  </a>


      
      <a href="components/checkbox" >
    Checkbox
  </a>


      
      <a href="components/choice-tile" >
    Choice Tile
  </a>


      
      <a href="components/drawer" >
    Drawer
  </a>


      
      <a href="components/dropdown-select" >
    Dropdown Select
  </a>


      
      <a href="components/email" >
    Email Input
  </a>


      
      <a href="components/file" >
    File
  </a>


      
      <a href="components/grid" class="current">
    Grid
  </a>


      
      <a href="components/icon" >
    Icon
  </a>


      
      <a href="components/layout" >
    Layout
  </a>


      
      <a href="components/list" >
    List
  </a>


      
      <a href="components/loader" >
    Loader - Busy | Progress
  </a>


      
      <a href="components/menu" >
    Menu
  </a>


      
      <a href="components/modal" >
    Modal
  </a>


      
      <a href="components/topnav" >
    Navigation - Top Nav
  </a>


      
      <a href="components/secnav" >
    Navigation - Sec Nav
  </a>


      
      <a href="components/navigation" >
    Navigation - Left Nav
  </a>


      
      <a href="components/pagination" >
    Pagination
  </a>


      
      <a href="components/panel" >
    Panel
  </a>


      
      <a href="components/password" >
    Password Input
  </a>


      
      <a href="components/pill" >
    Pill
  </a>


      
      <a href="components/popover" >
    Popover
  </a>


      
      <a href="components/radio" >
    Radio
  </a>


      
      <a href="components/reveal" >
    Reveal
  </a>


      
      <a href="components/search" >
    Search
  </a>


      
      <a href="components/selector-strip" >
    Selector Strip
  </a>


      
      <a href="components/switch" >
    Switch
  </a>


      
      <a href="components/table" >
    Table
  </a>


      
      <a href="components/tabset" >
    Tabset
  </a>


      
      <a href="components/text-input" >
    Text Input
  </a>


      
      <a href="components/textarea" >
    Textarea
  </a>


      
      <a href="components/toast" >
    Toast
  </a>


      
      <a href="components/toggle" >
    Toggle
  </a>


      
      <a href="components/tooltip" >
    Tooltip
  </a>


      
      <a href="components/typography" >
    Typography
  </a>


  </hx-reveal>


  
    
  <hx-disclosure
    aria-controls="nav-elements"
>
    Custom Elements
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-elements" >
      
      <a href="elements/hx-accordion" >
    &lt;hx-accordion&gt;
  </a>


      
      <a href="elements/hx-accordion-panel" >
    &lt;hx-accordion-panel&gt;
  </a>


      
      <a href="elements/hx-alert" >
    &lt;hx-alert&gt;
  </a>


      
      <a href="elements/hx-beacon" >
    &lt;hx-beacon&gt;
  </a>


      
      <a href="elements/hx-busy" >
    &lt;hx-busy&gt;
  </a>


      
      <a href="elements/hx-checkbox" >
    &lt;hx-checkbox&gt;
  </a>


      
      <a href="elements/hx-checkbox-control" >
    &lt;hx-checkbox-control&gt;
  </a>


      
      <a href="elements/hx-disclosure" >
    &lt;hx-disclosure&gt;
  </a>


      
      <a href="elements/hx-div" >
    &lt;hx-div&gt;
  </a>


      
      <a href="elements/hx-drawer" >
    &lt;hx-drawer&gt;
  </a>


      
      <a href="elements/hx-drop-fence" >
    &lt;hx-drop-fence&gt;
  </a>


      
      <a href="elements/hx-drop-zone" >
    &lt;hx-drop-zone&gt;
  </a>


      
      <a href="elements/hx-error" >
    &lt;hx-error&gt;
  </a>


      
      <a href="elements/hx-email-control" >
    &lt;hx-email-control&gt;
  </a>


      
      <a href="elements/hx-file-icon" >
    &lt;hx-file-icon&gt;
  </a>


      
      <a href="elements/hx-file-input" >
    &lt;hx-file-input&gt;
  </a>


      
      <a href="elements/hx-file-tile" >
    &lt;hx-file-tile&gt;
  </a>


      
      <a href="elements/hx-icon" >
    &lt;hx-icon&gt;
  </a>


      
      <a href="elements/hx-menu" >
    &lt;hx-menu&gt;
  </a>


      
      <a href="elements/hx-menuitem" >
    &lt;hx-menuitem&gt;
  </a>


      
      <a href="elements/hx-modal" >
    &lt;hx-modal&gt;
  </a>


      
      <a href="elements/hx-password-control" >
    &lt;hx-password-control&gt;
  </a>


      
      <a href="elements/hx-pill" >
    &lt;hx-pill&gt;
  </a>


      
      <a href="elements/hx-popover" >
    &lt;hx-popover&gt;
  </a>


      
      <a href="elements/hx-progress" >
    &lt;hx-progress&gt;
  </a>


      
      <a href="elements/hx-radio" >
    &lt;hx-radio&gt;
  </a>


      
      <a href="elements/hx-radio-control" >
    &lt;hx-radio-control&gt;
  </a>


      
      <a href="elements/hx-radio-set" >
    &lt;hx-radio-set&gt;
  </a>


      
      <a href="elements/hx-reveal" >
    &lt;hx-reveal&gt;
  </a>


      
      <a href="elements/hx-search" >
    &lt;hx-search&gt;
  </a>


      
      <a href="elements/hx-search-assistance" >
    &lt;hx-search-assistance&gt;
  </a>


      
      <a href="elements/hx-search-control" >
    &lt;hx-search-control&gt;
  </a>


      
      <a href="elements/hx-select" >
    &lt;hx-select&gt;
  </a>


      
      <a href="elements/hx-select-control" >
    &lt;hx-select-control&gt;
  </a>


      
      <a href="elements/hx-status" >
    &lt;hx-status&gt;
  </a>


      
      <a href="elements/hx-switch" >
    &lt;hx-switch&gt;
  </a>


      
      <a href="elements/hx-switch-control" >
    &lt;hx-switch-control&gt;
  </a>


      
      <a href="elements/hx-tab" >
    &lt;hx-tab&gt;
  </a>


      
      <a href="elements/hx-tabcontent" >
    &lt;hx-tabcontent&gt;
  </a>


      
      <a href="elements/hx-tablist" >
    &lt;hx-tablist&gt;
  </a>


      
      <a href="elements/hx-tabpanel" >
    &lt;hx-tabpanel&gt;
  </a>


      
      <a href="elements/hx-tabset" >
    &lt;hx-tabset&gt;
  </a>


      
      <a href="elements/hx-text-control" >
    &lt;hx-text-control&gt;
  </a>


      
      <a href="elements/hx-textarea-control" >
    &lt;hx-textarea-control&gt;
  </a>


      
      <a href="elements/hx-tile" >
    &lt;hx-tile&gt;
  </a>


      
      <a href="elements/hx-toast" >
    &lt;hx-toast&gt;
  </a>


      
      <a href="elements/hx-toggle" >
    &lt;hx-toggle&gt;
  </a>


      
      <a href="elements/hx-toggle-control" >
    &lt;hx-toggle-control&gt;
  </a>


      
      <a href="elements/hx-tooltip" >
    &lt;hx-tooltip&gt;
  </a>


  </hx-reveal>


      </nav>

      <main role="main" id="content" class="component-content ">
          <header>
              


            <h1>
              Grid

<min-version id="page-min-version">
  v0.1.0+
</min-version>

<hx-tooltip for="page-min-version" position="right">
  HelixUI v0.1.0 or later required
</hx-tooltip>
            </h1>


  <p>
    The Grid component provides CSS utility classes based on
    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout" target="_blank">
      CSS Flexible Box Layout
    </a>
    to help with arranging content within containers.
  </p>
          </header>

          <div>
  <section><!-- rows -->
    <header>
      <h2 id="rows">Rows</h2>
      <p>
        Rows are containers that allow you to divide their
        <em>width</em> amongst their children.
      </p>
    </header>

    <div class="example">
      <div class="grid-demo">
        <p>
          It was discovered that by rarely reviewing the VOC meetings, we can
          practice the ranked XP task for the agile branch. If it takes you too
          long to join the viable XP manifesto, then you are not burning out enough.
        </p>
        <div class="hxRow">
          <div class="hxCol"><p>Column 1 of 3</p></div>
          <div class="hxCol"><p>Column 2 of 3</p></div>
          <div class="hxCol"><p>Column 3 of 3</p></div>
        </div>
        <p>
          Try to commit the burndown standard, maybe it will help join the MVP
          standards. As a user, I should be able to block the burndown deadline so
          that I can block the minimum WIP methods near the parallel deadlines.
        </p>
      </div>

      <footer>
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>...<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxRow"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Column 1 of 3<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Column 2 of 3<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Column 3 of 3<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>...<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
</code></pre>      </footer>
    </div>
  </section>

  <section><!-- columns -->
    <header>
      <h2 id="columns">Columns</h2>
      <p>
        Columns are containers that allow you to divide their
        <em>height</em> amongst their children.
      </p>
    </header>

    <ul class="hxList">
      <li>Columns are the basis for all positioned content within a row.</li>
      <li>
        Columns <em>share width equally</em> among other columns in the same row.
      </li>
    </ul>

    <div class="example">
      <div class="grid-demo">
        <div class="demo-container text-center">
          <div class="hxRow">
            <div class="hxCol">1/1</div>
          </div>
          <div class="hxRow">
            <div class="hxCol">1/2</div>
            <div class="hxCol">2/2</div>
          </div>
          <div class="hxRow">
            <div class="hxCol">1/3</div>
            <div class="hxCol">2/3</div>
            <div class="hxCol">3/3</div>
          </div>
        </div>
      </div>

      <footer>
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxRow"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol"</span>&gt;</span>1/1<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxRow"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol"</span>&gt;</span>1/2<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol"</span>&gt;</span>2/2<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxRow"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol"</span>&gt;</span>1/3<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol"</span>&gt;</span>2/3<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol"</span>&gt;</span>3/3<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
</code></pre>      </footer>
    </div>
  </section>

  <section><!-- column width -->
    <header>
      <h2 id="column-width">Column Width</h2>
      <p>
        Column width modifiers will set the width of a column container to a
        predefined percentage of the row width.
      </p>
    </header>

    <p>
      Use the <code>.hxSpan-{N}</code> modifier (1 &le; N &le; 12) to create
      columns that are a fraction of a 12-column row width.
    </p>

    <ul class="hxList">
      <li><code>.hxSpan-{N}-{size}</code> responsive classes are available.</li>
      <li><code>.hxSpan-{N}</code> is shorthand for <code>.hxSpan-{N}-xs</code></li>
    </ul>

    <div class="example">
      <div class="grid-demo">
        <div class="demo-container text-center">
          <div class="hxRow">
            <div class="hxCol hxSpan-12">12</div>
          </div>
          <div class="hxRow">
            <div class="hxCol hxSpan-1">1</div>
            <div class="hxCol hxSpan-11">11</div>
          </div>
          <div class="hxRow">
            <div class="hxCol hxSpan-2">2</div>
            <div class="hxCol hxSpan-10">10</div>
          </div>
          <div class="hxRow">
            <div class="hxCol hxSpan-3">3</div>
            <div class="hxCol hxSpan-9">9</div>
          </div>
          <div class="hxRow">
            <div class="hxCol hxSpan-4">4</div>
            <div class="hxCol hxSpan-8">8</div>
          </div>
          <div class="hxRow">
            <div class="hxCol hxSpan-5">5</div>
            <div class="hxCol hxSpan-7">7</div>
          </div>
          <div class="hxRow">
            <div class="hxCol hxSpan-6">6</div>
            <div class="hxCol hxSpan-6">6</div>
          </div>
        </div>
      </div>

      <footer>
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxRow"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-12"</span>&gt;</span>12<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxRow"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-1"</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-11"</span>&gt;</span>11<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxRow"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-2"</span>&gt;</span>2<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-10"</span>&gt;</span>10<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxRow"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-3"</span>&gt;</span>3<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-9"</span>&gt;</span>9<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxRow"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-4"</span>&gt;</span>4<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-8"</span>&gt;</span>8<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxRow"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-5"</span>&gt;</span>5<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-7"</span>&gt;</span>7<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxRow"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-6"</span>&gt;</span>6<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-6"</span>&gt;</span>6<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
</code></pre>      </footer>
    </div>
  </section>

  <section><!-- column offset -->
    <header>
      <h2 id="column-offset">Column Offset</h2>
      <p>
        You can use the <code>.hxOffset-{N}</code> class (1 &le; N &le; 11)
        to offset your column from the start of the row.
      </p>
    </header>

    <ul class="hxList">
      <li>
        <code>.hxOffset-{N}-{size}</code> responsive classes are available
      </li>
      <li>
        <code>.hxOffset-{N}</code> is shorthand for <code>.hxOffset-{N}-xs</code>
      </li>
    </ul>

    <div class="example">
      <div class="grid-demo">
        <div class="demo-container text-center">
          <div class="hxRow">
            <div class="hxCol hxSpan-2">2</div>
            <div class="hxCol hxSpan-6 hxOffset-1">6</div>
            <div class="hxCol hxSpan-2 hxOffset-1">2</div>
          </div>
          <div class="hxRow">
            <div class="hxCol hxSpan-2 hxOffset-2">2</div>
            <div class="hxCol hxSpan-4">4</div>
            <div class="hxCol hxSpan-2">2</div>
          </div>
          <div class="hxRow">
            <div class="hxCol hxSpan-4">4</div>
            <div class="hxCol hxSpan-4 hxOffset-4">4</div>
          </div>
        </div>
      </div>

      <footer>
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxRow"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-2"</span>&gt;</span>2<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-6 hxOffset-1"</span>&gt;</span>6<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-2 hxOffset-1"</span>&gt;</span>2<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxRow"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-2 hxOffset-2"</span>&gt;</span>2<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-4"</span>&gt;</span>4<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-2"</span>&gt;</span>2<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxRow"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-4"</span>&gt;</span>4<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-4 hxOffset-4"</span>&gt;</span>4<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
</code></pre>      </footer>
    </div>
  </section>

  <section><!-- column ordering -->
    <header>
      <h2 id="column-ordering">Column Ordering</h2>
      <hx-alert type="info" status="fyi" persist>
        Reordering columns does not change tab order.<br />
        Tab order is based on the DOM order, not visual appearance.
      </hx-alert>
      <p>
        Use the <code>.hxOrder-{N}</code> class (1 &le; N &le; 12) to reorder
        your columns.
      </p>
    </header>

    <ul class="hxList">
      <li>
        <code>.hxOrder-{N}-{size}</code> responsive classes are available
      </li>
      <li>
        <code>.hxOrder-{N}</code> is shorthand for <code>.hxOrder-{N}-xs</code>
      </li>
    </ul>

    <p>
      The columns below are coded in HTML in the order of 2-4-1-3.<br />
      The <code>.hxOrder-*</code> classes reordered them in the proper
      numerical order.
    </p>

    <div class="example">
      <div class="grid-demo">
        <div class="demo-container text-center">
          <div class="hxRow">
            <div class="hxCol hxOrder-2">#2</div>
            <div class="hxCol hxOrder-4">#4</div>
            <div class="hxCol hxOrder-1">#1</div>
            <div class="hxCol hxOrder-3">#3</div>
          </div>
        </div>
      </div>

      <footer>
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxRow"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxOrder-2"</span>&gt;</span>#2<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxOrder-4"</span>&gt;</span>#4<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxOrder-1"</span>&gt;</span>#1<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxOrder-3"</span>&gt;</span>#3<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
</code></pre>      </footer>
    </div>
  </section>

  <section><!-- responsive options -->
    <header>
      <h2 id="responsive-options">Responsive Options</h2>
      <p>
        All column modifiers support adding an optional breakpoint.
      </p>
    </header>

    <ul class="hxList">
      <li>
        Omitting the breakpoint will default to <code>xs</code>
        (applies to all breakpoints).
      </li>
      <li>
        Each respoinsive class corresponds to the <em>minimum</em> breakpoint
        required to achieve the desired appearance.
      </li>
      <li>Larger breakpoints override smaller ones.</li>
    </ul>

    <table class="hxTable hxTable--condensed">
      
      <thead>
        <tr>
          <th>CSS Class</th>
          <th>Minimum Breakpoint</th>
          <th>Overrides</th>
          <th>Overridden By</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code>.<i>hxModifier</i>-{N}[-<b>xs</b>]</code></td>
          <td><code>0em (0px)</code></td>
          <td>N/A</td>
          <td>all below</td>
        </tr>
        <tr>
          <td><code>.<i>hxModifier</i>-{N}-<b>sm</b></code></td>
          <td><code>40em (~640px)</code></td>
          <td>all above</td>
          <td>all below</td>
        </tr>
        <tr>
          <td><code>.<i>hxModifier</i>-{N}-<b>md</b></code></td>
          <td><code>64em (~1024px)</code></td>
          <td>all above</td>
          <td>all below</td>
        </tr>
        <tr>
          <td><code>.<i>hxModifier</i>-{N}-<b>lg</b></code></td>
          <td><code>75em (~1200px)</code></td>
          <td>all above</td>
          <td>all below</td>
        </tr>
        <tr>
          <td><code>.<i>hxModifier</i>-{N}-<b>xl</b></code></td>
          <td><code>90em (~1440px)</code></td>
          <td>all above</td>
          <td>N/A</td>
        </tr>
      </tbody>
    </table>

    <div class="example">
      <div class="grid-demo">
        <div class="demo-container text-center">
          <div id="querySize"></div>
          <div class="hxRow">
            <div class="demoCol hxCol hxSpan-12-xs hxSpan-4-sm hxSpan-3-md hxSpan-2-lg hxSpan-1-xl"></div>
            <div class="demoCol hxCol hxSpan-6-xs hxSpan-4-sm hxSpan-6-md hxSpan-8-lg hxSpan-10-xl"></div>
            <div class="demoCol hxCol hxSpan-6-xs hxSpan-4-sm hxSpan-3-md hxSpan-2-lg hxSpan-1-xl"></div>
          </div>
          <div class="hxRow">
            <div class="demoCol hxCol hxSpan-12-xs hxSpan-4-sm hxSpan-3-md hxSpan-2-lg hxSpan-1-xl"></div>
            <div class="demoCol hxCol hxSpan-12-xs hxSpan-8-sm hxSpan-9-md hxSpan-10-lg hxSpan-11-xl"></div>
          </div>
          <div class="hxRow">
            <div class="demoCol hxCol hxSpan-12-xs hxSpan-8-sm hxSpan-6-md hxSpan-4-lg hxSpan-3-xl"></div>
            <div class="demoCol hxCol hxSpan-12-xs hxSpan-4-sm hxSpan-6-md hxSpan-8-lg hxSpan-9-xl"></div>
          </div>
        </div>
      </div>

      <footer>
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxRow"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"demoCol hxCol hxSpan-12-xs hxSpan-4-sm hxSpan-3-md hxSpan-2-lg hxSpan-1-xl"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"demoCol hxCol hxSpan-6-xs hxSpan-4-sm hxSpan-6-md hxSpan-8-lg hxSpan-10-xl"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"demoCol hxCol hxSpan-6-xs hxSpan-4-sm hxSpan-3-md hxSpan-2-lg hxSpan-1-xl"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxRow"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"demoCol hxCol hxSpan-12-xs hxSpan-4-sm hxSpan-3-md hxSpan-2-lg hxSpan-1-xl"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"demoCol hxCol hxSpan-12-xs hxSpan-8-sm hxSpan-9-md hxSpan-10-lg hxSpan-11-xl"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxRow"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"demoCol hxCol hxSpan-12-xs hxSpan-8-sm hxSpan-6-md hxSpan-4-lg hxSpan-3-xl"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"demoCol hxCol hxSpan-12-xs hxSpan-4-sm hxSpan-6-md hxSpan-8-lg hxSpan-9-xl"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
</code></pre>      </footer>
    </div>
  </section>

  <section><!-- column wrapping -->
    <header>
      <h2 id="column-wrapping">Column Wrapping</h2>
      <p>
        Columns wrap if a row's total column count exceeds 12.
      </p>
    </header>

    <p>
      The following example should arrange the content into:
    </p>

    <ul class="hxList">
      <li>3 columns on small screens</li>
      <li>4 columns on medium screens</li>
      <li>6 columns on all other sizes</li>
    </ul>

    <div class="example">
      <div class="grid-demo">
        <div class="demo-container text-center">
          <div class="hxRow">
            <div class="hxCol hxSpan-4-xs hxSpan-3-md hxSpan-2-lg">Snow White</div>
            <div class="hxCol hxSpan-4-xs hxSpan-3-md hxSpan-2-lg">The Evil Queen</div>
            <div class="hxCol hxSpan-4-xs hxSpan-3-md hxSpan-2-lg">The Prince</div>
            <div class="hxCol hxSpan-4-xs hxSpan-3-md hxSpan-2-lg">Happy</div>
            <div class="hxCol hxSpan-4-xs hxSpan-3-md hxSpan-2-lg">Sleepy</div>
            <div class="hxCol hxSpan-4-xs hxSpan-3-md hxSpan-2-lg">Sneezy</div>
            <div class="hxCol hxSpan-4-xs hxSpan-3-md hxSpan-2-lg">Grumpy</div>
            <div class="hxCol hxSpan-4-xs hxSpan-3-md hxSpan-2-lg">Bashful</div>
            <div class="hxCol hxSpan-4-xs hxSpan-3-md hxSpan-2-lg">Dopey</div>
            <div class="hxCol hxSpan-4-xs hxSpan-3-md hxSpan-2-lg">Doc</div>
          </div>
        </div>
      </div>

      <footer>
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxRow"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-4-xs hxSpan-3-md hxSpan-2-lg"</span>&gt;</span>Snow White<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-4-xs hxSpan-3-md hxSpan-2-lg"</span>&gt;</span>The Evil Queen<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-4-xs hxSpan-3-md hxSpan-2-lg"</span>&gt;</span>The Prince<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-4-xs hxSpan-3-md hxSpan-2-lg"</span>&gt;</span>Happy<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-4-xs hxSpan-3-md hxSpan-2-lg"</span>&gt;</span>Sleepy<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-4-xs hxSpan-3-md hxSpan-2-lg"</span>&gt;</span>Sneezy<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-4-xs hxSpan-3-md hxSpan-2-lg"</span>&gt;</span>Grumpy<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-4-xs hxSpan-3-md hxSpan-2-lg"</span>&gt;</span>Bashful<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-4-xs hxSpan-3-md hxSpan-2-lg"</span>&gt;</span>Dopey<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-4-xs hxSpan-3-md hxSpan-2-lg"</span>&gt;</span>Doc<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
</code></pre>      </footer>
    </div>
  </section>

  <section><!-- nesting containers -->
    <header>
      <h2 id="nesting-containers">Nesting Containers</h2>
      <hx-alert type="warning" status="warning" persist>
        Do not apply row and column container classes to the same element.
      </hx-alert>
      <p>Rows and columns can be nested as deep as needed.</p>
    </header>

    <div class="example">
      <div class="grid-demo">
        <div class="demo-container text-center">
          <div class="hxRow">
            <div class="hxCol hxSpan-12">12
              <div class="hxRow">
                <div class="hxCol hxSpan-6">6
                  <div class="hxRow">
                    <div class="hxCol hxSpan-4">4</div>
                    <div class="hxCol hxSpan-4">4</div>
                    <div class="hxCol hxSpan-4">4</div>
                  </div>
                </div>
                <div class="hxCol hxSpan-6">6
                  <div class="hxRow">
                    <div class="hxCol hxSpan-3">3</div>
                    <div class="hxCol hxSpan-9">9</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer>
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxRow"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-12"</span>&gt;</span>12
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxRow"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-6"</span>&gt;</span>6
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxRow"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-4"</span>&gt;</span>4<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-4"</span>&gt;</span>4<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-4"</span>&gt;</span>4<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-6"</span>&gt;</span>6
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxRow"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-3"</span>&gt;</span>3<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-9"</span>&gt;</span>9<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
</code></pre>      </footer>
    </div>
  </section>

  <section><!-- styling containers -->
    <header>
      <h2 id="styling-containers">Styling Containers</h2>
      <hx-alert type="warning" status="warning" persist>
        Do not attempt to style rows or columns directly.
      </hx-alert>
      <p>
        There are limitations to styling rows and columns.
      </p>
    </header>

    <ul class="hxList">
      <li>Rows have margins set to align the outer columns with surrounding content.</li>
      <li>Columns in a row have padding applied to them to simulate gutters.</li>
      <li>Wrap your content in a <code>&lt;div&gt;</code> to apply custom CSS.</li>
    </ul>

    <div class="example">
      <div class="grid-demo">
        <div class="hxRow">
          <div class="hxCol hxSpan-4">
            <p>
              As a user, I should be able to measure the flexible project
              management so that I can decide the alpha VOC relationships
              outside the big interactions. If we adjust upon the relationships,
              we can get the pair meeting outside the WIP commitment.
            </p>
          </div>
          <div class="hxCol hxSpan-4">
            <div class="example-styled-container">
              <p>
                This is a custom styled container! Notice how it fills the
                green areas of the column.
              </p>
            </div>
          </div>
          <div class="hxCol hxSpan-4">
            <p>
              As a user, I should be able to measure the flexible project
              management so that I can decide the alpha VOC relationships
              outside the big interactions. If we adjust upon the relationships,
              we can get the pair meeting outside the WIP commitment.
            </p>
          </div>
        </div>
      </div>

      <footer>
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxRow"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-4"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>...<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-4"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"example-styled-container"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>
        This is a custom styled container! Notice how it fills the
        green areas of the column.
      <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol hxSpan-4"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>...<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
</code></pre>      </footer>
    </div>
  </section>

  <section><!-- going gutterless -->
    <header>
      <h2 id="going-gutterless">Going Gutterless</h2>
      <p>
        Add the <code>.hxGutterless</code> CSS class to your row container
        to remove gutters from its immediate children.
      </p>
    </header>

    <p class="hxSubBody hxSubdued">
      <hx-icon type="info-circle"></hx-icon>
      Notice how the nested row in the second column still applies its gutters.
    </p>

    <div class="example">
      <div class="grid-demo">
        <div class="demo-container text-center">
          <div class="hxRow hxGutterless">
            <div class="hxCol">1/3</div>
            <div class="hxCol">1/3
              <div class="hxRow">
                <div class="hxCol">1/2</div>
                <div class="hxCol">1/2</div>
              </div>
            </div>
            <div class="hxCol">1/3</div>
          </div>
        </div>
      </div>

      <footer>
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxRow hxGutterless"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol"</span>&gt;</span>1/3<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol"</span>&gt;</span>1/3
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxRow"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol"</span>&gt;</span>1/2<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol"</span>&gt;</span>1/2<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxCol"</span>&gt;</span>1/3<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
</code></pre>      </footer>
    </div>
  </section>

  <section><!-- compatibility -->
    <header>
      <h2 id="compatibility">Compatibility</h2>
      
    </header>

    <ul class="hxList">
      <li>HelixUI Grid is not compatible with Bootstrap grid styles.</li>
    </ul>
  </section>

<section>
  <h2 id="see-also">See Also</h2>
  <ul class="hxList">
      <li><a href="components/box">Box</a></li>
      <li><a href="components/layout">Layout</a></li>
  </ul>
</section>
          </div>

            <aside class="hxSiderail">
                <nav class="toc" aria-label="table of contents">
                  
            <a href="#rows">Rows</a>
        

            <a href="#columns">Columns</a>
        

            <a href="#column-width">Column Width</a>
        

            <a href="#column-offset">Column Offset</a>
        

            <a href="#column-ordering">Column Ordering</a>
        

            <a href="#responsive-options">Responsive Options</a>
        

            <a href="#column-wrapping">Column Wrapping</a>
        

            <a href="#nesting-containers">Nesting Containers</a>
        

            <a href="#styling-containers">Styling Containers</a>
        

            <a href="#going-gutterless">Going Gutterless</a>
        

            <a href="#compatibility">Compatibility</a>
        
                    
                    <a href="#see-also">See Also</a>
                  <hr class="hxDivider" />
                  <a class="top-link" href="#top">Back to Top</a>
                </nav>
            </aside>
      </main>
    </div>
  </div>

  <footer id="foot" class="hxRow hxGutterless">
    <div class="hxCol">
      &copy; 2017-2020 Rackspace US, Inc.
      <nav>
        <a href="https://www.rackspace.com/information/legal/websiteterms">Website Terms</a>
        <a href="https://www.rackspace.com/information/legal/privacystatement">Privacy Policy</a>
      </nav>
    </div>

    <div class="hxCol hxRight">


      <small>
        Latest Release:
        (<a href="https://github.com/HelixDesignSystem/helix-ui/releases/v2.0.0-rc.0" target="_blank">
          v2.0.0-rc.0
        </a>)
      </small>
    </div>
  </footer>

  
  <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
  
  <script src="dist/js/helix-ui.js"></script>
  
  <script src="docs.js"></script>
</body>
</html>
