.DS_Store
node_modules
*.swp
debug.log
package-lock.json

# Generated Hexo Files/Directories
db.json
*.log
public/
.deploy*/
dist/
lib/

# Removing Coverage Reports folder created.
coverage
.nyc_output

# FIXME: remove these when 'build' task is updated to generate lib/* assets
src/icons/icons.json
src/elements/templates.json
