dist: xenial
os:
  - linux
language: node_js
node_js:
  - '12'
notifications:
  email: false
addons:
  firefox: latest
  chrome: stable
branches:
  only:
  - master
cache:
  yarn: true
jobs:
  include:
    - stage: component-tests
      script:
        - yarn lint
        - yarn generate
        - yarn compile --prod
        - |
          if [ $TRAVIS_PULL_REQUEST != false ] && [ $TRAVIS_SECURE_ENV_VARS == true ]; then
            echo "Running extended test suite...";
            yarn test;
            echo "Running Sauce tests...";
            yarn test:sauce || travis_terminate 1;
          else
            echo "Running standard test suite...";
            yarn test || travis_terminate 1;
          fi
