sudo: required
dist: trusty
language: node_js
node_js:
- '8'
addons:
  firefox: '56.0'
  chrome: stable
  sauce_connect: true
branch:
  only:
  - master
install:
- npm i -g yarn
- travis_retry yarn install
- cd test; travis_retry yarn install; yarn run webdriver:update; cd -;
before_script:
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
- jdk_switcher use oraclejdk8
- yarn start > /dev/null 2>&1 &
- while ! curl --silent http://localhost:4444/wd/hub > /dev/null 2>&1; do sleep 1; done
script:
- yarn test
