/* ==================================================== *\
 * Styles below are NOT distributed with HelixUI assets *
\* ==================================================== */
.homepage {
  background-image: linear-gradient(0deg, #b6e3eb, #ffffff 20%);
}
.brand-logo {
  align-items: center;
  display: flex;
  height: 3.5rem;
  justify-content: center;
  width: 15rem;
}
.brand-logo img {
  height: 2rem;
}
.demo {
  background-color: #fff;
  border: 1px solid #d8d8d8;
  padding: 1rem;
}
.article-toc {
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
}
.article-toc > a {
  display: block;
  font-weight: 500;
  margin-bottom: 0.5rem;
  text-decoration: none;
}
.article-toc .top-link {
  font-size: 0.875rem;
  font-weight: 300;
}
.article-toc hr {
  border-top-color: #d8d8d8;
}
main section + section {
  margin-top: 3rem;
}
hx-status.hxFill.hxDeprecated {
  background-color: #000000;
  border-color: #424242;
  color: #ffffff;
}
hx-status.hxFill.hxInProgress {
  background-color: #fbc02d;
  border-color: #ffeb3b;
  color: #000000;
}
hx-status.hxFill.hxStable {
  background-color: #2e7d32;
  border-color: #2e7d32;
  color: #ffffff;
}
.metadata {
  background-color: #e4f9f9;
  border: 1px solid #b6e3eb;
  box-shadow: inset 0.5rem 0 0 0 #b6e3eb;
}
.metadata hx-dt {
  flex: 0 0 25%;
  max-width: 25%;
}
.metadata hx-dd {
  flex: 0 0 75%;
  max-width: 75%;
}
.box-demo [class*="hxBox"] {
  border: 1px dashed #9e9e9e;
}
.box-demo p {
  margin: 0;
}
.box-demo .hxBox-xs {
  box-shadow: inset 0 0 0 0.5rem #f8bbd0;
}
.box-demo .hxBox-sm {
  box-shadow: inset 0 0 0 0.75rem #f8bbd0;
}
.box-demo .hxBox-md {
  box-shadow: inset 0 0 0 1rem #f8bbd0;
}
.box-demo .hxBox-lg {
  box-shadow: inset 0 0 0 1.25rem #f8bbd0;
}
.box-demo .hxBox-xl {
  box-shadow: inset 0 0 0 1.5rem #f8bbd0;
}
.hxBtn.pseudo-hover {
  background-color: #16b9d4;
  border-color: transparent;
  color: #ffffff;
}
.hxBtn.pseudo-active {
  background-color: #0e94a6;
  border-color: transparent;
  color: #ffffff;
}
.hxBtn.pseudo-focus {
  box-shadow: 0 0 4px 0 rgba(14, 148, 166, 0.5);
  outline: none;
}
.hxBtn.hxPrimary.pseudo-hover,
.hxBtnGroup.hxPrimary > .hxBtn.pseudo-hover,
.hxBtn--primary.pseudo-hover {
  background-color: #16b9d4;
  border-color: transparent;
  color: #ffffff;
}
.hxBtn.hxPrimary.pseudo-active,
.hxBtnGroup.hxPrimary > .hxBtn.pseudo-active,
.hxBtn--primary.pseudo-active {
  background-color: #0e94a6;
  border-color: transparent;
  color: #ffffff;
}
.hxBtn.hxPrimary.pseudo-focus,
.hxBtnGroup.hxPrimary > .hxBtn.pseudo-focus,
.hxBtn--primary.pseudo-focus {
  box-shadow: 0 0 4px 0 rgba(14, 148, 166, 0.5);
  outline: none;
}
.hxBtn.hxLink.pseudo-hover,
.hxBtnGroup.hxLink > .hxBtn.pseudo-hover,
.hxBtn--link.pseudo-hover {
  background-color: transparent;
  border-color: transparent;
  color: #16b9d4;
}
.hxBtn.hxLink.pseudo-active,
.hxBtnGroup.hxLink > .hxBtn.pseudo-active,
.hxBtn--link.pseudo-active {
  background-color: transparent;
  border-color: transparent;
  color: #0e94a6;
}
.button-demo {
  height: 6rem;
}
.hxBtn.pseudo-hover {
  pointer-events: none;
}
.hxBtn.pseudo-active {
  pointer-events: none;
}
.hxBtn.pseudo-focus {
  pointer-events: none;
}
.hxBtn.hxPrimary.pseudo-hover {
  pointer-events: none;
}
.hxBtn.hxPrimary.pseudo-active {
  pointer-events: none;
}
.hxBtn.hxPrimary.pseudo-focus {
  pointer-events: none;
}
.hxBtn.hxLink.pseudo-hover {
  pointer-events: none;
}
.hxBtn.hxLink.pseudo-active {
  pointer-events: none;
}
.choice-tile-demo label.hxChoice > input.pseudo-focus + hx-tile.hxSubdued,
.choice-tile-demo label.hxChoice > input + hx-tile.pseudo-hover.hxSubdued,
.choice-tile-demo label.hxChoice > input.pseudo-focus + hx-tile.hxSubdued,
.choice-tile-demo label.hxChoice > input + hx-tile.hxSubdued.pseudo-hover {
  opacity: 1;
}
.choice-tile-demo label.hxChoice > input + hx-tile.pseudo-hover {
  background-color: #e4f9f9;
  border-color: #16b9d4;
}
.choice-tile-demo label.hxChoice > input.pseudo-focus + hx-tile {
  box-shadow: 0 0 4px rgba(14, 148, 166, 0.5);
}
.choice-tile-demo label.hxChoice > input:checked + hx-tile.pseudo-hover {
  border-color: #16b9d4;
}
.choice-tile-demo label.hxChoice > input:checked.pseudo-focus + hx-tile {
  box-shadow: 0 0 4px rgba(14, 148, 166, 0.5);
}
.choice-tile-demo label.hxChoice > input[invalid] + hx-tile.pseudo-hover {
  background-color: #ffcdd2;
  border-color: #d32f2f;
  color: #424242;
}
.choice-tile-demo label.hxChoice > input[invalid].pseudo-focus + hx-tile {
  box-shadow: 0 0 4px rgba(211, 47, 47, 0.5);
}
.choice-tile-demo label.hxChoice > input[disabled] + hx-tile.pseudo-hover {
  background-color: #fafafa;
  border-color: #e0e0e0;
  border-width: 1px;
  color: #757575;
  cursor: not-allowed;
}
.choice-tile-demo label.hxChoice > input[disabled] + hx-tile.pseudo-hover hx-tile-description {
  color: inherit;
}
.choice-tile-demo label.hxChoice > input[disabled] + hx-tile.pseudo-hover hx-icon {
  color: #bdbdbd;
}
.choice-tile-demo label.hxChoice > input {
  /* Default (focus, hover) */
  /* Subdued (focus, hover) */
  /* Checked (focus, hover) */
  /* Invalid (focus, hover) */
  /* Invalid + Checked (focus, hover) */
  /* Disabled */
}
.grid-demo > .demo-container {
  border: 1px dashed #9e9e9e;
}
.grid-demo .hxCol {
  background-clip: content-box;
  background-color: rgba(245, 124, 0, 0.25);
  font-size: 0.75rem;
}
.grid-demo.showGutter .hxCol {
  box-shadow: inset 10px 0 0 0 #f8bbd0, inset -10px 0 0 0 #f8bbd0;
}
@media (min-width: 0em) {
  #querySize::before {
    content: 'Size: XS';
    display: block;
    font-weight: bold;
    font-variant: small-caps;
  }
  .demoCol.hxSpan-12-xs::before,
  .demoCol.hxSpan-12::before {
    content: '12-xs';
  }
  .demoCol.hxSpan-11-xs::before,
  .demoCol.hxSpan-11::before {
    content: '11-xs';
  }
  .demoCol.hxSpan-10-xs::before,
  .demoCol.hxSpan-10::before {
    content: '10-xs';
  }
  .demoCol.hxSpan-9-xs::before,
  .demoCol.hxSpan-9::before {
    content: '9-xs';
  }
  .demoCol.hxSpan-8-xs::before,
  .demoCol.hxSpan-8::before {
    content: '8-xs';
  }
  .demoCol.hxSpan-7-xs::before,
  .demoCol.hxSpan-7::before {
    content: '7-xs';
  }
  .demoCol.hxSpan-6-xs::before,
  .demoCol.hxSpan-6::before {
    content: '6-xs';
  }
  .demoCol.hxSpan-5-xs::before,
  .demoCol.hxSpan-5::before {
    content: '5-xs';
  }
  .demoCol.hxSpan-4-xs::before,
  .demoCol.hxSpan-4::before {
    content: '4-xs';
  }
  .demoCol.hxSpan-3-xs::before,
  .demoCol.hxSpan-3::before {
    content: '3-xs';
  }
  .demoCol.hxSpan-2-xs::before,
  .demoCol.hxSpan-2::before {
    content: '2-xs';
  }
  .demoCol.hxSpan-1-xs::before,
  .demoCol.hxSpan-1::before {
    content: '1-xs';
  }
}
@media (min-width: 40em) {
  #querySize::before {
    content: 'Size: SM';
  }
  .demoCol.hxSpan-12-sm::before {
    content: '12-sm';
  }
  .demoCol.hxSpan-11-sm::before {
    content: '11-sm';
  }
  .demoCol.hxSpan-10-sm::before {
    content: '10-sm';
  }
  .demoCol.hxSpan-9-sm::before {
    content: '9-sm';
  }
  .demoCol.hxSpan-8-sm::before {
    content: '8-sm';
  }
  .demoCol.hxSpan-7-sm::before {
    content: '7-sm';
  }
  .demoCol.hxSpan-6-sm::before {
    content: '6-sm';
  }
  .demoCol.hxSpan-5-sm::before {
    content: '5-sm';
  }
  .demoCol.hxSpan-4-sm::before {
    content: '4-sm';
  }
  .demoCol.hxSpan-3-sm::before {
    content: '3-sm';
  }
  .demoCol.hxSpan-2-sm::before {
    content: '2-sm';
  }
  .demoCol.hxSpan-1-sm::before {
    content: '1-sm';
  }
}
@media (min-width: 64em) {
  #querySize::before {
    content: 'Size: MD';
  }
  .demoCol.hxSpan-12-md::before {
    content: '12-md';
  }
  .demoCol.hxSpan-11-md::before {
    content: '11-md';
  }
  .demoCol.hxSpan-10-md::before {
    content: '10-md';
  }
  .demoCol.hxSpan-9-md::before {
    content: '9-md';
  }
  .demoCol.hxSpan-8-md::before {
    content: '8-md';
  }
  .demoCol.hxSpan-7-md::before {
    content: '7-md';
  }
  .demoCol.hxSpan-6-md::before {
    content: '6-md';
  }
  .demoCol.hxSpan-5-md::before {
    content: '5-md';
  }
  .demoCol.hxSpan-4-md::before {
    content: '4-md';
  }
  .demoCol.hxSpan-3-md::before {
    content: '3-md';
  }
  .demoCol.hxSpan-2-md::before {
    content: '2-md';
  }
  .demoCol.hxSpan-1-md::before {
    content: '1-md';
  }
}
@media (min-width: 75em) {
  #querySize::before {
    content: 'Size: LG';
  }
  .demoCol.hxSpan-12-lg::before {
    content: '12-lg';
  }
  .demoCol.hxSpan-11-lg::before {
    content: '11-lg';
  }
  .demoCol.hxSpan-10-lg::before {
    content: '10-lg';
  }
  .demoCol.hxSpan-9-lg::before {
    content: '9-lg';
  }
  .demoCol.hxSpan-8-lg::before {
    content: '8-lg';
  }
  .demoCol.hxSpan-7-lg::before {
    content: '7-lg';
  }
  .demoCol.hxSpan-6-lg::before {
    content: '6-lg';
  }
  .demoCol.hxSpan-5-lg::before {
    content: '5-lg';
  }
  .demoCol.hxSpan-4-lg::before {
    content: '4-lg';
  }
  .demoCol.hxSpan-3-lg::before {
    content: '3-lg';
  }
  .demoCol.hxSpan-2-lg::before {
    content: '2-lg';
  }
  .demoCol.hxSpan-1-lg::before {
    content: '1-lg';
  }
}
@media (min-width: 90em) {
  #querySize::before {
    content: 'Size: XL';
  }
  .demoCol.hxSpan-12-xl::before {
    content: '12-xl';
  }
  .demoCol.hxSpan-11-xl::before {
    content: '11-xl';
  }
  .demoCol.hxSpan-10-xl::before {
    content: '10-xl';
  }
  .demoCol.hxSpan-9-xl::before {
    content: '9-xl';
  }
  .demoCol.hxSpan-8-xl::before {
    content: '8-xl';
  }
  .demoCol.hxSpan-7-xl::before {
    content: '7-xl';
  }
  .demoCol.hxSpan-6-xl::before {
    content: '6-xl';
  }
  .demoCol.hxSpan-5-xl::before {
    content: '5-xl';
  }
  .demoCol.hxSpan-4-xl::before {
    content: '4-xl';
  }
  .demoCol.hxSpan-3-xl::before {
    content: '3-xl';
  }
  .demoCol.hxSpan-2-xl::before {
    content: '2-xl';
  }
  .demoCol.hxSpan-1-xl::before {
    content: '1-xl';
  }
}
.example-styled-container {
  background-color: #b6e3eb;
  border-radius: 0;
  border: 1px solid #16b9d4;
  height: 100%;
  padding: 1em 0.5em;
}
.icon-demo {
  text-align: center;
}
.icon-demo > p {
  margin: 0;
}
.icon-demo hx-icon {
  height: 2em;
  width: 2em;
}
hx-icon.size-2x {
  height: 2em;
  width: 2em;
}
hx-icon.size-3x {
  height: 3em;
  width: 3em;
}
hx-icon.danger {
  color: #d32f2f;
}
.nav-demo .hxNav {
  width: 15rem;
}
.panel-demo {
  height: 200px;
  max-height: 400px;
  min-height: 200px;
  overflow: hidden;
  resize: vertical;
}
.panel-demo hx-panel {
  border: 1px dashed #9e9e9e;
}
.panel-demo hx-panelhead {
  border-bottom: 1px dashed #9e9e9e;
}
.panel-demo hx-panelfoot {
  border-top: 1px dashed #9e9e9e;
}
.popover-demo {
  align-items: center;
  display: flex;
  height: 400px;
  justify-content: center;
}
.popover-appearance {
  display: flex;
  flex-wrap: wrap;
  z-index: 0;
}
.popover-appearance hx-popover {
  display: block;
  margin: 20px;
  position: relative;
}
.tabs-demo {
  display: flex;
  flex-direction: column;
  height: 400px;
  max-height: 600px;
  overflow: hidden;
  resize: vertical;
}
.tabs-demo hx-tabset {
  flex-grow: 1;
  min-height: 0;
}
.tooltip-examples hx-tooltip {
  display: inline-block;
  margin: 1em;
  position: relative;
}
.tooltip-demo {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 6rem;
}
.tooltip-demo > p {
  margin: 0;
  text-align: center;
}
a.pseudo-active {
  color: #3391ff;
  cursor: pointer;
  text-decoration: none;
}
.demo-typography .font-roboto {
  font-family: "Roboto", sans-serif;
}
.demo-typography .font-roboto-mono {
  font-family: "Roboto Mono", monospace;
}
.demo-typography .weight-thin {
  font-weight: 100;
}
.demo-typography .weight-light {
  font-weight: 300;
}
.demo-typography .weight-regular {
  font-weight: 400;
}
.demo-typography .weight-medium {
  font-weight: 500;
}
.demo-typography .weight-bold {
  font-weight: 700;
}
dd {
  margin-bottom: 0.5em;
  margin-left: 1em;
}
[v-cloak] {
  opacity: 0;
}
