/* HelixUI */
/* ===== CSS Imports ===== */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,100,100italic,300,300italic,400italic,700,700italic");
/* ===== RESETS ===== */
/*
  Reset the box-sizing
  https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* ===== SCAFFOLD ===== */
html {
  font-family: "Roboto", sans-serif;
}
pre,
code {
  font-family: "Roboto Mono", monospace;
}
.hxAlert {
  background-color: #bbdefb;
  color: #000000;
  display: flex;
  font-weight: 300;
  line-height: 1.25em;
}
.hxAlert > * {
  padding-bottom: 0.875em;
  padding-top: 0.875em;
}
.hxAlert--error {
  background-color: #d32f2f;
  color: #ffffff;
}
.hxAlert--warning {
  background-color: #ffeb3b;
}
.hxAlert--success {
  background-color: #4caf51;
  color: #ffffff;
}
.hxAlert__icon {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 1em;
  margin-left: 1em;
}
.hxAlert__text {
  flex-grow: 1;
  margin-left: 1em;
}
.hxAlert__status {
  font-weight: 500;
  text-transform: uppercase;
}
.hxAlert__status:after {
  content: ":";
}
.hxAlert__action {
  margin-left: 1em;
  text-align: right;
}
.hxAlert__action a {
  color: inherit;
  font-weight: 500;
  text-transform: uppercase;
}
.hxAlert__action a:hover {
  color: inherit;
  text-decoration: underline;
}
.hxAlert__dismiss {
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0.875em 1em;
}
.hxAlert__dismiss hx-icon {
  height: 0.75em;
  width: 0.75em;
}
/* ========== hxBreadcrumbs ========== */
.hxBreadcrumb {
  align-content: center;
  align-items: center;
  display: flex;
  font-size: 12px;
  font-weight: 500;
  height: 1.75rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.hxBreadcrumb > a {
  margin-right: 0.5rem;
}
.hxBreadcrumb > a:last-of-type {
  color: #9e9e9e;
  font-weight: 300;
  pointer-events: none;
}
.hxBreadcrumb .delimiter {
  color: #9e9e9e;
  font-size: 0.5rem;
  margin-right: 0.5rem;
}
.hxBreadcrumb .delimiter svg {
  fill: currentColor;
  stroke: none;
}
/* ===== GRID ===== */
.hxCol,
[class*="hxCol-"] {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.hxRow {
  border: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px -20px;
  padding: 0;
}
.hxRow + .hxRow {
  margin-top: 20px;
}
.hxRow .hxCol,
.hxRow [class*="hxCol-"] {
  padding: 0 10px;
  margin: 0 0 20px;
}
.hxRow.no-gutters {
  margin-left: 0;
  margin-right: 0;
}
.hxRow.no-gutters .hxCol,
.hxRow.no-gutters [class*="hxCol-"] {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 0em) {
  .hxCol-xs-12,
  .hxCol-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .hxCol-xs-11,
  .hxCol-11 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
  .hxCol-xs-10,
  .hxCol-10 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
  .hxCol-xs-9,
  .hxCol-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .hxCol-xs-8,
  .hxCol-8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  .hxCol-xs-7,
  .hxCol-7 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .hxCol-xs-6,
  .hxCol-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .hxCol-xs-5,
  .hxCol-5 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  .hxCol-xs-4,
  .hxCol-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .hxCol-xs-3,
  .hxCol-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .hxCol-xs-2,
  .hxCol-2 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .hxCol-xs-1,
  .hxCol-1 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
  .hxOffset-xs-12,
  .hxOffset-12 {
    margin-left: 100% !important;
  }
  .hxOffset-xs-11,
  .hxOffset-11 {
    margin-left: 91.66666667% !important;
  }
  .hxOffset-xs-10,
  .hxOffset-10 {
    margin-left: 83.33333333% !important;
  }
  .hxOffset-xs-9,
  .hxOffset-9 {
    margin-left: 75% !important;
  }
  .hxOffset-xs-8,
  .hxOffset-8 {
    margin-left: 66.66666667% !important;
  }
  .hxOffset-xs-7,
  .hxOffset-7 {
    margin-left: 58.33333333% !important;
  }
  .hxOffset-xs-6,
  .hxOffset-6 {
    margin-left: 50% !important;
  }
  .hxOffset-xs-5,
  .hxOffset-5 {
    margin-left: 41.66666667% !important;
  }
  .hxOffset-xs-4,
  .hxOffset-4 {
    margin-left: 33.33333333% !important;
  }
  .hxOffset-xs-3,
  .hxOffset-3 {
    margin-left: 25% !important;
  }
  .hxOffset-xs-2,
  .hxOffset-2 {
    margin-left: 16.66666667% !important;
  }
  .hxOffset-xs-1,
  .hxOffset-1 {
    margin-left: 8.33333333% !important;
  }
  .hxOffset-xs-0,
  .hxOffset-0 {
    margin-left: 0% !important;
  }
  .hxOrder-xs-12,
  .hxOrder-12 {
    order: 12;
  }
  .hxOrder-xs-11,
  .hxOrder-11 {
    order: 11;
  }
  .hxOrder-xs-10,
  .hxOrder-10 {
    order: 10;
  }
  .hxOrder-xs-9,
  .hxOrder-9 {
    order: 9;
  }
  .hxOrder-xs-8,
  .hxOrder-8 {
    order: 8;
  }
  .hxOrder-xs-7,
  .hxOrder-7 {
    order: 7;
  }
  .hxOrder-xs-6,
  .hxOrder-6 {
    order: 6;
  }
  .hxOrder-xs-5,
  .hxOrder-5 {
    order: 5;
  }
  .hxOrder-xs-4,
  .hxOrder-4 {
    order: 4;
  }
  .hxOrder-xs-3,
  .hxOrder-3 {
    order: 3;
  }
  .hxOrder-xs-2,
  .hxOrder-2 {
    order: 2;
  }
  .hxOrder-xs-1,
  .hxOrder-1 {
    order: 1;
  }
}
@media (min-width: 40em) {
  .hxCol-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .hxCol-sm-11 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
  .hxCol-sm-10 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
  .hxCol-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .hxCol-sm-8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  .hxCol-sm-7 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .hxCol-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .hxCol-sm-5 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  .hxCol-sm-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .hxCol-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .hxCol-sm-2 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .hxCol-sm-1 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
  .hxOffset-sm-12 {
    margin-left: 100% !important;
  }
  .hxOffset-sm-11 {
    margin-left: 91.66666667% !important;
  }
  .hxOffset-sm-10 {
    margin-left: 83.33333333% !important;
  }
  .hxOffset-sm-9 {
    margin-left: 75% !important;
  }
  .hxOffset-sm-8 {
    margin-left: 66.66666667% !important;
  }
  .hxOffset-sm-7 {
    margin-left: 58.33333333% !important;
  }
  .hxOffset-sm-6 {
    margin-left: 50% !important;
  }
  .hxOffset-sm-5 {
    margin-left: 41.66666667% !important;
  }
  .hxOffset-sm-4 {
    margin-left: 33.33333333% !important;
  }
  .hxOffset-sm-3 {
    margin-left: 25% !important;
  }
  .hxOffset-sm-2 {
    margin-left: 16.66666667% !important;
  }
  .hxOffset-sm-1 {
    margin-left: 8.33333333% !important;
  }
  .hxOffset-sm-0 {
    margin-left: 0% !important;
  }
  .hxOrder-sm-12 {
    order: 12;
  }
  .hxOrder-sm-11 {
    order: 11;
  }
  .hxOrder-sm-10 {
    order: 10;
  }
  .hxOrder-sm-9 {
    order: 9;
  }
  .hxOrder-sm-8 {
    order: 8;
  }
  .hxOrder-sm-7 {
    order: 7;
  }
  .hxOrder-sm-6 {
    order: 6;
  }
  .hxOrder-sm-5 {
    order: 5;
  }
  .hxOrder-sm-4 {
    order: 4;
  }
  .hxOrder-sm-3 {
    order: 3;
  }
  .hxOrder-sm-2 {
    order: 2;
  }
  .hxOrder-sm-1 {
    order: 1;
  }
}
@media (min-width: 64em) {
  .hxCol-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .hxCol-md-11 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
  .hxCol-md-10 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
  .hxCol-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .hxCol-md-8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  .hxCol-md-7 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .hxCol-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .hxCol-md-5 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  .hxCol-md-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .hxCol-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .hxCol-md-2 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .hxCol-md-1 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
  .hxOffset-md-12 {
    margin-left: 100% !important;
  }
  .hxOffset-md-11 {
    margin-left: 91.66666667% !important;
  }
  .hxOffset-md-10 {
    margin-left: 83.33333333% !important;
  }
  .hxOffset-md-9 {
    margin-left: 75% !important;
  }
  .hxOffset-md-8 {
    margin-left: 66.66666667% !important;
  }
  .hxOffset-md-7 {
    margin-left: 58.33333333% !important;
  }
  .hxOffset-md-6 {
    margin-left: 50% !important;
  }
  .hxOffset-md-5 {
    margin-left: 41.66666667% !important;
  }
  .hxOffset-md-4 {
    margin-left: 33.33333333% !important;
  }
  .hxOffset-md-3 {
    margin-left: 25% !important;
  }
  .hxOffset-md-2 {
    margin-left: 16.66666667% !important;
  }
  .hxOffset-md-1 {
    margin-left: 8.33333333% !important;
  }
  .hxOffset-md-0 {
    margin-left: 0% !important;
  }
  .hxOrder-md-12 {
    order: 12;
  }
  .hxOrder-md-11 {
    order: 11;
  }
  .hxOrder-md-10 {
    order: 10;
  }
  .hxOrder-md-9 {
    order: 9;
  }
  .hxOrder-md-8 {
    order: 8;
  }
  .hxOrder-md-7 {
    order: 7;
  }
  .hxOrder-md-6 {
    order: 6;
  }
  .hxOrder-md-5 {
    order: 5;
  }
  .hxOrder-md-4 {
    order: 4;
  }
  .hxOrder-md-3 {
    order: 3;
  }
  .hxOrder-md-2 {
    order: 2;
  }
  .hxOrder-md-1 {
    order: 1;
  }
}
@media (min-width: 75em) {
  .hxCol-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .hxCol-lg-11 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
  .hxCol-lg-10 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
  .hxCol-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .hxCol-lg-8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  .hxCol-lg-7 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .hxCol-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .hxCol-lg-5 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  .hxCol-lg-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .hxCol-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .hxCol-lg-2 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .hxCol-lg-1 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
  .hxOffset-lg-12 {
    margin-left: 100% !important;
  }
  .hxOffset-lg-11 {
    margin-left: 91.66666667% !important;
  }
  .hxOffset-lg-10 {
    margin-left: 83.33333333% !important;
  }
  .hxOffset-lg-9 {
    margin-left: 75% !important;
  }
  .hxOffset-lg-8 {
    margin-left: 66.66666667% !important;
  }
  .hxOffset-lg-7 {
    margin-left: 58.33333333% !important;
  }
  .hxOffset-lg-6 {
    margin-left: 50% !important;
  }
  .hxOffset-lg-5 {
    margin-left: 41.66666667% !important;
  }
  .hxOffset-lg-4 {
    margin-left: 33.33333333% !important;
  }
  .hxOffset-lg-3 {
    margin-left: 25% !important;
  }
  .hxOffset-lg-2 {
    margin-left: 16.66666667% !important;
  }
  .hxOffset-lg-1 {
    margin-left: 8.33333333% !important;
  }
  .hxOffset-lg-0 {
    margin-left: 0% !important;
  }
  .hxOrder-lg-12 {
    order: 12;
  }
  .hxOrder-lg-11 {
    order: 11;
  }
  .hxOrder-lg-10 {
    order: 10;
  }
  .hxOrder-lg-9 {
    order: 9;
  }
  .hxOrder-lg-8 {
    order: 8;
  }
  .hxOrder-lg-7 {
    order: 7;
  }
  .hxOrder-lg-6 {
    order: 6;
  }
  .hxOrder-lg-5 {
    order: 5;
  }
  .hxOrder-lg-4 {
    order: 4;
  }
  .hxOrder-lg-3 {
    order: 3;
  }
  .hxOrder-lg-2 {
    order: 2;
  }
  .hxOrder-lg-1 {
    order: 1;
  }
}
@media (min-width: 90em) {
  .hxCol-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .hxCol-xl-11 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
  .hxCol-xl-10 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
  .hxCol-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .hxCol-xl-8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  .hxCol-xl-7 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .hxCol-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .hxCol-xl-5 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  .hxCol-xl-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .hxCol-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .hxCol-xl-2 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .hxCol-xl-1 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
  .hxOffset-xl-12 {
    margin-left: 100% !important;
  }
  .hxOffset-xl-11 {
    margin-left: 91.66666667% !important;
  }
  .hxOffset-xl-10 {
    margin-left: 83.33333333% !important;
  }
  .hxOffset-xl-9 {
    margin-left: 75% !important;
  }
  .hxOffset-xl-8 {
    margin-left: 66.66666667% !important;
  }
  .hxOffset-xl-7 {
    margin-left: 58.33333333% !important;
  }
  .hxOffset-xl-6 {
    margin-left: 50% !important;
  }
  .hxOffset-xl-5 {
    margin-left: 41.66666667% !important;
  }
  .hxOffset-xl-4 {
    margin-left: 33.33333333% !important;
  }
  .hxOffset-xl-3 {
    margin-left: 25% !important;
  }
  .hxOffset-xl-2 {
    margin-left: 16.66666667% !important;
  }
  .hxOffset-xl-1 {
    margin-left: 8.33333333% !important;
  }
  .hxOffset-xl-0 {
    margin-left: 0% !important;
  }
  .hxOrder-xl-12 {
    order: 12;
  }
  .hxOrder-xl-11 {
    order: 11;
  }
  .hxOrder-xl-10 {
    order: 10;
  }
  .hxOrder-xl-9 {
    order: 9;
  }
  .hxOrder-xl-8 {
    order: 8;
  }
  .hxOrder-xl-7 {
    order: 7;
  }
  .hxOrder-xl-6 {
    order: 6;
  }
  .hxOrder-xl-5 {
    order: 5;
  }
  .hxOrder-xl-4 {
    order: 4;
  }
  .hxOrder-xl-3 {
    order: 3;
  }
  .hxOrder-xl-2 {
    order: 2;
  }
  .hxOrder-xl-1 {
    order: 1;
  }
}
/* ===== end:GRID ===== */
hx-icon {
  background-color: inherit;
  color: inherit;
  display: inline-block;
  height: 1em;
  width: 1em;
  /*
    if the requested icon type is not valid (nothing injected),
    make sure the element doesn't consume space on the page.
  */
}
hx-icon:empty {
  height: 0;
  width: 0;
}
hx-icon svg {
  fill: currentColor;
  stroke: none;
}
dd {
  margin-bottom: 0.5em;
  margin-left: 1em;
}
.hxApp__nav {
  background-color: #212121;
  color: #d8d8d8;
  font-size: 0.875rem;
  /* ~14px */
  letter-spacing: 0.75px;
  padding-top: 2rem;
  width: 15rem;
  /* ~240px */
}
.hxApp__nav header {
  color: inherit;
  padding: 0.5rem 0.75rem 0.5rem 0;
  text-transform: uppercase;
}
.hxApp__nav header:hover {
  background-color: #616161;
  color: #ffffff;
  cursor: pointer;
}
.hxApp__nav header .toggle-icon {
  float: right;
  font-size: 0.75em;
  pointer-events: none;
}
.hxApp__nav a {
  color: inherit;
  display: block;
  font-weight: 300;
  padding: 0.5rem 0.75rem 0.5rem 1.25rem;
  text-decoration: none;
  text-transform: capitalize;
}
.hxApp__nav a.current {
  background-color: #424242;
  color: #ffffff;
}
.hxApp__nav a:hover {
  background-color: #616161;
  color: #ffffff;
}
.hxApp__nav hx-reveal {
  /* Indentation */
}
.hxApp__nav hx-reveal[open] header .toggle-icon {
  transform: scaleY(-1);
}
.hxApp__nav hx-reveal header {
  padding-left: 1.25rem;
}
.hxApp__nav hx-reveal a {
  padding-left: 2.5rem;
}
.hxApp__nav hx-reveal hx-reveal header {
  padding-left: 2.5rem;
}
.hxApp__nav hx-reveal hx-reveal a {
  padding-left: 3.75rem;
}
.hxApp__nav hx-reveal hx-reveal hx-reveal header {
  padding-left: 3.75rem;
}
.hxApp__nav hx-reveal hx-reveal hx-reveal a {
  padding-left: 5rem;
}
/* prevent FOUC before element is upgraded */
hx-reveal:not([open]) > *:not([slot="summary"]) {
  display: none;
}
#toggle.hx-reveal {
  display: block;
}
a {
  color: #0d74d1;
  text-decoration: none;
}
a:hover,
a:active {
  color: #3391ff;
  cursor: pointer;
  text-decoration: none;
}
a.disabled {
  color: #9e9e9e;
  pointer-events: none;
}
/* ===== Text Helpers ===== */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
