<nav class="global-nav">
  <a class="brand-logo">
    <%- image_tag('images/helix-logo.svg', { alt: 'Helix Logo' }) %>
  </a>
  <div class="links">
    <a class="current">Components</a>
  </div>
</nav>
