@import "./config";

// ========== BASE ELEMENTS ==========
hx-checkbox {
  display: inline-block;
  height: 1rem;
  width: 1rem;
}

// ========== LAYOUT ==========
hx-checkbox-control {
  -ms-grid-column-align: start;
  -ms-grid-columns: auto 1fr;
  -ms-grid-rows: auto auto;
  display: -ms-grid;
  display: grid;
  grid-template-areas:
    "ctrl lbl"
    ".    help";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  justify-items: start;

  > * {
    margin: 0;
  }

  > label {
    // grid child
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    grid-area: lbl;

    // grid parent
    align-items: center;
    -ms-grid-columns: auto 1fr;
    -ms-grid-rows: auto;
    display: -ms-grid;
    display: grid;
    grid-template-areas: "facade .";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    grid-gap: 0.5rem;
    padding: 0;

    > hx-checkbox {
      -ms-grid-column: 1;
      -ms-grid-row: 1;
      display: none;
      grid-area: facade;
    }
  }

  > p {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
    grid-area: help;
  }

  > input[type="checkbox"] {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    display: inline-block;
    grid-area: ctrl;
    height: 1rem;
    margin: 0.25rem 0.5rem 0 0; // FIXME: fix with proper inline styling
    width: 1rem;

    &::-ms-check {
      box-sizing: border-box;
      display: block;
    }
  }
}

// ========== PRISTINE ==========
hx-checkbox {
  background-color: $gray-0;
  border-radius: 2px;
  border: 1px solid $gray-500;
}

hx-checkbox-control {
  > p {
    @include hxHelpText;
  }

  > input[type="checkbox"] {
    @include hxCheckboxControl;

    &:focus {
      @include hxCheckboxControl($pseudo-state: focus);

      ~ label > hx-checkbox {
        @include hxCheckboxFacade($pseudo-state: focus);
      }
    }

    &:hover {
      @include hxCheckboxControl($pseudo-state: hover);
    }

    ~ label > hx-checkbox:hover {
      @include hxCheckboxFacade($pseudo-state: hover);
    }

    &:checked {
      ~ label > hx-checkbox {
        --hxMinus-display: none;
        --hxTick-display: block;
      }
    }

    &:indeterminate {
      ~ label > hx-checkbox {
        --hxMinus-display: block;
        --hxTick-display: none;
      }
    }

    &:checked,
    &:indeterminate {
      color: $blue-700;

      ~ label > hx-checkbox {
        border-color: $blue-700;
        color: $blue-700;
      }
    }

    &:valid {
      ~ label > hx-checkbox:hover {
        @include hxCheckboxFacade($pseudo-state: hover);
      }
    }
  }
}

// ========== INVALID ==========
hx-checkbox-control[hx-dirty] > input[type="checkbox"]:invalid,
hx-checkbox-control.hxInvalid > input[type="checkbox"]:enabled {
  @include hxCheckboxControl(invalid);

  &:focus {
    @include hxCheckboxControl(invalid, focus);

    ~ label > hx-checkbox {
      @include hxCheckboxFacade(invalid, focus);
    }
  }

  &:hover {
    @include hxCheckboxControl(invalid, hover);
  }

  ~ label > hx-checkbox {
    @include hxCheckboxFacade(invalid);

    &:hover {
      @include hxCheckboxFacade(invalid, hover);
    }
  }
}

// ========== DISABLED ==========
hx-checkbox-control > input[type="checkbox"]:disabled {
  @include hxCheckboxControl(disabled);

  &:focus {
    @include hxCheckboxControl(disabled, focus);

    ~ label > hx-checkbox {
      @include hxCheckboxFacade(disabled, focus);
    }
  }

  &:hover {
    @include hxCheckboxControl(disabled, hover);
  }

  ~ label {
    color: $gray-600;

    > hx-checkbox {
      @include hxCheckboxFacade(disabled);

      &,
      &:hover {
        @include hxCheckboxFacade(disabled, hover);
      }
    }
  }
}

// ----- Modern Browsers -----
@supports (--modern: true) {
  hx-checkbox-control {
    position: relative;

    > label > hx-checkbox {
      display: inline-block;
    }

    > p {
      margin-left: 1.5rem;
    }

    > input[type="checkbox"] {
      @include hxInput(visuallyHidden);

      &::-ms-check {
        display: none;
      }
    }
  }
}
