@import "mixins";
@import "../config";

// -------- MIXINS --------
@import "./SearchFacade";

/// ----- LAYOUT -----
///
///    auto    1fr    auto
///  +-------+-------+-------+
///  | lbl   | lbl   | lbl   | auto
///  +-------+-------+-------+
///  | icon  | input | btn   | auto
///  +-------+-------+-------+
///  | extra | extra | extra | auto
///  +-------+-------+-------+

hx-search-control {
  -ms-grid-column-align: start;
  -ms-grid-columns: 2rem 1fr auto;
  -ms-grid-rows: auto auto auto;
  display: -ms-grid;
  display: grid;
  grid-template-areas:
    "lbl   lbl   lbl"
    ".     input btn"
    "extra extra extra";
  grid-template-columns: 2rem 1fr auto;
  grid-template-rows: auto auto auto;

  > input[type="search"] {
    appearance: textfield;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    -ms-grid-column: 2;
    -ms-grid-row: 2;
    background: none;
    border: none;
    font-size: 1rem;
    grid-area: input;
    height: 2rem;
    min-width: 8rem; // ~16 chars
    z-index: 1;

    &::-ms-clear {
      display: none;
      height: 0;
      width: 0;
    }

    // Removes default Safari cancel button
    &::-webkit-search-cancel-button {
      display: none;
    }

    &:focus {
      outline: 0;
    }
  }

  > input[type="search"]:focus ~ hx-search,
  > button.hxClear:focus ~ hx-search {
    border-color: $blue-700;
    border-color: var(--hxSearch-border-color, $blue-700);
    box-shadow: $focus-glow;
  }

  button {
    -ms-grid-column: 3;
    -ms-grid-row: 2;
    background-color: transparent;
    border: none;
    color: $gray-700;
    color: var(--hxSearch-button-color, $gray-700);
    cursor: pointer;
    font-size: 1rem;
    grid-area: btn;
    height: 100%;
    line-height: 1;
    outline: 0;
    padding: 0.5rem;
    z-index: 1;

    &:focus {
      outline: 1px dotted $gray-700;
      outline: 1px dotted var(--hxSearch-button-focus-outline, $gray-700);
      outline-offset: -6px;
    }

    &::-moz-focus-inner {
      border: 0;
      outline: 0;
    }
  }

  hx-search {
    -ms-grid-column-span: 3;
    -ms-grid-row: 2;
    background-color: $gray-0;
    background-color: var(--hxSearch-bgcolor, $gray-0);
    border-radius: 2px;
    border: 1px solid $gray-500;
    border: 1px solid var(--hxSearch-border, $gray-500);
    grid-column: 1 / span 3;
    grid-row: 2;
    z-index: 0;
  }

  > label {
    -ms-grid-column-align: start;
    -ms-grid-column-span: 3;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    color: $gray-950;
    color: var(--hxSearch-label-color, $gray-950);
    font-weight: 600;
    display: inline-block;
    font-size: 1rem;
    grid-area: lbl;
    justify-self: start;
  }
}

hx-search-assistance {
  @extend %hxComponent;
  @include is-positionable;

  background-color: $gray-0;
  background-color: var(--hxSearch-hxSearchAssistance-bgcolor, $gray-0);
  border-radius: 2px;
  border: 1px solid $gray-300;
  border: 1px solid var(--hxSearch-hxSearchAssistance-border, $gray-300);
  box-shadow: $layering-shadow;
  max-height: 20rem; // 320px
  max-width: 32rem; // 512px
  min-width: 25rem; // 400px
  overflow-x: hidden;
  overflow-y: auto;
  z-index: $search-assistance-z-index;

  > header {
    align-items: center;
    color: $gray-600;
    color: var(--hxSearch-hxSearchAssistance-header-color, $gray-600);
    display: flex;
    height: 2.5rem; // 40px
    padding: 0 0.75rem;
  }

  > section {
    border-top: 1px solid $gray-400;
    border-top: 1px solid var(--hxSearch-hxSearchAssistance-section-border-top, $gray-400);
    padding: 1rem 0;

    > * {
      padding: 0 0.75rem;
    }

    > header {
      color: $gray-600;
      color: var(--hxSearch-hxSearchAssistance-header-color, $gray-600);
      font-size: 0.875rem;
      font-weight: 500;
      text-transform: uppercase;

      + * {
        margin-top: 0.5rem;
      }
    }
  }

  &[open] {
    display: block;
  }
}

hx-search {
  display: block;
  height: 2rem;
}

// ----- PRISTINE ----------
hx-search-control > input[type="search"]:focus ~ hx-search {
  @include SearchFacadePristineFocus;
}

// ----- INVALID ----------
hx-search-control[hx-dirty] > input[type="search"]:enabled:invalid ~ hx-search,
hx-search-control.hxInvalid > input[type="search"]:enabled ~ hx-search {
  @include SearchFacadeInvalid;
}

hx-search-control[hx-dirty] > input[type="search"]:enabled:invalid:focus ~ hx-search,
hx-search-control.hxInvalid > input[type="search"]:enabled:focus ~ hx-search {
  @include SearchFacadeInvalidFocus;
}

input[type="search"]:-moz-ui-invalid { // removes Firefox invalid focus ring
  border: 0;
  box-shadow: none;
  outline: 0;
}

// ----- DISABLED ----------
hx-search-control > input[type="search"]:disabled ~ hx-search {
  @include SearchFacadeDisabled;

  cursor: not-allowed;

  &:focus {
    @include SearchFacadeDisabledFocus;
  }
}

hx-search-control > input[type="search"]:disabled ~ .hxClear {
  display: none;
}

// Hide <button> if <hx-search-control> hasn't upgraded
hx-search-control:not([hx-defined]) > button {
  display: none;
}

.hxSearchSuggestion {
  background-color: transparent; //polyfill browsers
  border: none;
  color: $gray-900;
  color: var(--hxSearch-hxSearchSuggestion-color, $gray-900);
  cursor: pointer;
  display: block;
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-align: left;
  width: 100%;

  &:hover {
    background-color: $blue-100;
    background-color: var(--hxSearch-hxSearchSuggestion-hover-bgcolor, $blue-100);
  }
}
