---
title: Code
---
<!-- explanation goes here -->

<section><!-- inline -->
  <header>
    <h2 id="inline">Inline</h2>
  </header>

  <!-- explanation goes here -->

  <div class="demo">
    <p>
      Inline code should be wrapped like <code>&lt;code&gt;...&lt;/code&gt;</code>.
    </p>
  </div>
</section>

<section><!-- block -->
  <header>
    <h2 id="block">Code Block</h2>
  </header>

  <!-- explanation goes here -->

  <div class="demo">
    <pre>&lt;pre&gt;Preserved content goes here ...&lt;/pre&gt;</pre>
  </div>
</section>

<section><!-- user input -->
  <header>
    <h2 id="user-input">User Input</h2>
  </header>

  <!-- explanation goes here -->
  <p>
    <i>a.k.a. Keyboard Shortcuts</i> using the <code>&lt;kbd&gt;</code> tag.
  </p>

  <div class="demo">
    <p>
      To switch directories, type <kbd>cd</kbd> followed
      by the name of the directory.<br />
      To edit settings, press <kbd>ctrl + ,</kbd>
    </p>
  </div>
</section>

<section><!-- variable -->
  <header>
    <h2 id="variables">Variables</h2>
  </header>

  <!-- explanation goes here -->

  <div class="demo">
    <p>
      <var>y</var> = <var>m</var><var>x</var> + <var>b</var>
    </p>
  </div>
</section>
