@import "vars";

// NOTE: be aware of changes needed in the base/typography.less
$header-height: 3.5rem; // 56px
$footer-height: 2.5rem; // 40px

/// =======================================
///  +-----------------------+
///  | "header" area         |
///  |                       |
///  | +-(#head)-----------+ |
///  | | global nav        | |
///  | +-------------------+ |
///  +-----------------------+
///  | "app" area            |
///  |                       |
///  | +-(#stage)----------+ |
///  | | +-(#nav)--------+ | |
///  | | | product nav   | | |
///  | | +---------------+ | |
///  | |                   | |
///  | | +-(#content)----+ | |
///  | | | ...           | | |
///  | | +---------------+ | |
///  | |                   | |
///  | | +-(.hxSiderail)-+ | |
///  | | | ...           | | |
///  | | +---------------+ | |
///  | +-------------------+ |
///  |                       |
///  +-----------------------+
///  | "footer" area         |
///  |                       |
///  | +-(#foot)-----------+ |
///  | | #foot             | |
///  | +-------------------+ |
///  +-----------------------+
/// =======================================

// ---------- Base/Common Styling ----------
html {
  height: 100%;
}

body {
  background-color: $gray-25;
  background-color: var(--hxLayout-bgcolor, $gray-25);
  height: 100%;
  margin: 0;
}

// Skip link
// visually hidden off screen until focused by keyboard
a[href="#content"] {
  left: 0;
  position: absolute;
  top: -100px;

  &:focus {
    background-color: $orange-100;
    background-color: var(--hxLayout-focused-bgcolor, $orange-100);
    border: 1px solid $orange-700;
    border: 1px solid var(--hxLayout-focused-border, $orange-700);
    color: $gray-1000;
    color: var(--hxLayout-focused-color, $gray-1000);
    left: 50%;
    padding: 0.5rem;
    top: 0.5rem;
    transform: translateX(-50%);
  }
}

#head {
  background-color: $gray-1000;
  background-color: var(--hxLayout-head-bgcolor, $gray-1000);
  flex-shrink: 0;
  height: $header-height;
}

#app {
  display: flex;
  flex-direction: column; // avoids layout bug in Chrome
  flex-grow: 1;
  flex-shrink: 0;
}

#stage {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
}

#nav { // Left Nav
  flex-shrink: 0;
  width: $app-nav-width;
}

#content {
  flex-grow: 1;
  min-width: 0;
  overflow: auto; // ...because IE
}

.hxSiderail {
  background-color: $gray-100;
  background-color: var(--hxLayout-sideRail-bgcolor, $gray-100);
  flex-shrink: 0;
  width: 25%; // 3 of 12 columns
}

#foot {
  align-items: center;
  background-color: $gray-950;
  background-color: var(--hxLayout-foot-bgcolor, $gray-950);
  color: $gray-300;
  color: var(--hxLayout-foot-color, $gray-300);
  display: flex;
  flex-shrink: 0;
  height: $footer-height;
  padding: 0 20px;

  nav {
    display: inline-block;

    a[href] {
      margin-left: 32px;
    }
  }

  a[href] {
    color: $cyan-500;
    color: var(--hxLayout-foot-anchor-color, $cyan-500);
  }
}//#foot

// ========== VERTICAL LAYOUT ==========
body.hxVertical {
  display: flex;
  flex-direction: column;
}

// ========== HORIZONTAL LAYOUT ==========
body.hxHorizontal {
  -ms-grid-columns: 1fr;
  -ms-grid-rows: $header-height 1fr $footer-height;
  display: -ms-grid; // Legacy Grid (IE)
  display: grid; // Modern Grid
  grid-template-areas:
    "header"
    "app"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: $header-height 1fr $footer-height;

  #head {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    grid-area: header;
  }

  #app {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    grid-area: app;
    overflow: hidden;
  }

  #stage {
    height: 100%;
    overflow: hidden;
    width: 100%;
  }

  #nav {
    overflow-y: auto;
  }

  #content {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;

    > hx-panel + hx-panel, // DEPRECATED, remove in v1.0.0
    > .hxPanel + .hxPanel {
      border-left: 1px solid $gray-300;
      border-left: 1px solid var(--hxLayout-content-color, $gray-300);
    }
  }

  #foot {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
    grid-area: footer;
  }
}//body.hxHorizontal
