---
title: Blockquotes
---
<!-- explanation goes here -->

<section>
  <header>
    <h2 id="default">Default Blockquotes</h2>
  </header>

  <!-- explanation goes here -->

  <div class="demo">
    <blockquote>
      This is a blockquote with a source. It's totally legit.
      <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
</section>

<section><!-- Blockquotes -->
  <header>
    <h2 id="right-aligned">Right-Aligned Blockquotes</h1>
  </header>

  <div class="demo">
    <blockquote class="blockquote-reverse">
      This is a reverse blockquote with a source. It's also legit.
      <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
</section>
