// Mixins for microsoft browsers (-ms- prefixed CSS)

/// ========================================
/// SET mixins require defining a content block
/// ========================================

// "X" displayed when focused and not blank
@mixin ms-set-clear { // less: #MS.set.clear(@rules)
  &::-ms-clear {
    @content;
  }
}

// drop-down button for <select>
@mixin ms-set-expand { // less: #MS.set.expand(@rules)
  &::-ms-expand {
    @content;
  }
}

@mixin ms-set-placeholder { // less: #MS.set.placeholder(@rules)
  &::-ms-input-placeholder {
    @content;
  }
}

// 1. user input for input[type="text"]
// 2. user input for input[type="password"]
// 3. chosen value for <select>
// ...
@mixin ms-set-value { // less: #MS.set.value(@rules)
  &::-ms-value {
    @content;
  }
}

/// ========================================
/// RESET mixins are applied within a ruleset
/// ========================================

@mixin ms-reset-clear { // less: #MS.reset.clear()
  @include ms-set-clear {
    display: none;
  }
}

@mixin ms-reset-input { // less: #MS.reset.input()
  @include ms-reset-clear;
  font: inherit; // text-like input (text, number, date, etc.)
}

@mixin ms-reset-placeholder { // less: #MS.reset.placeholder()
  @include ms-set-placeholder {
    color: inherit;
  }
}

@mixin ms-reset-select { // less: #MS.reset.select()
  @include ms-set-value {
    background-color: transparent;
    color: inherit;
    padding: 0;
  }

  @include ms-set-expand {
    background-color: transparent;
    border: 0;
    color: inherit;
    margin: 0;
  }
}
