// Mixins for browsers that are compliant with CSS specs (unprefixed CSS)

/// ========================================
/// SET mixins require defining a content block
/// ========================================

@mixin std-set-focus { // less: #Std.set.focus({})
  &:focus {
    @content;
  }
}

@mixin std-set-placeholder { // less: #Std.set.placeholder({})
  &::placeholder {
    @content;
  }
}

/// ========================================
/// RESET mixins are applied within a ruleset
/// ========================================

@mixin std-reset-appearance { // less: #Std.reset.appearance()
  appearance: none;
}

@mixin std-reset-focus { // less: #Std.reset.focus()
  @include std-set-focus {
    outline: none;
  }
}

@mixin std-reset-placeholder { // less: #Std.reset.placeholder()
  @include std-set-placeholder {
    color: inherit;
  }
}

@mixin std-reset-select { // less: #Std.reset.select()
  @include std-reset-apperance;
}
