<!DOCTYPE html>
<html lang="en">
<head>
  <title>Horizontal Layout Preview - HelixUI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/helix-ui/">

  <link rel="shortcut icon" href="images/favicon.png">

  
  <link
    crossorigin="anonymous"
    href="https://use.fontawesome.com/releases/v5.2.0/css/brands.css"
    integrity="sha384-nT8r1Kzllf71iZl81CdFzObMsaLOhqBU1JD2+XoAALbdtWaXDOlWOZTR4v1ktjPE"
    rel="stylesheet"
  />
  
  <link
    crossorigin="anonymous"
    href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css"
    integrity="sha384-HbmWTHay9psM8qyzEKPc8odH4DsOuzdejtnr+OFtDmOcIVnhgReQ4GZBH7uwcjf6"
    rel="stylesheet"
  />

  
  <link rel="stylesheet" href="dist/css/helix-ui.css">
  
  <link rel="stylesheet" href="docs.css">

  <!-- loader appends polyfills, if needed -->
  <script src="vendor/webcomponents-loader.js"></script>
</head>
<body class="hxHorizontal" id="top">
  <!-- This link should be the first item a user can tab to. -->
  <a href="#content">Skip to main content</a>

  <header id="head">
    <nav>
      <a class="brand-logo" href="">
        <img src="images/helix-logo.svg" alt="Logo" />
      </a>
    </nav>

    <div>
      <a
        class="hxBtn beta-hxDark"
        href="https://github.com/HelixDesignSystem/helix-ui/"
      >
        <i class="fab fa-github"></i>
        <span>View Source</span>
      </a>
      <a
        class="hxBtn beta-hxDark"
        href="https://github.com/HelixDesignSystem/helix-ui/issues/new?template=bug-report.md&labels=Bug:+Unconfirmed"
      >
        Report Bug
      </a>
    </div>
  </header>

  <div id="app">
    <div id="stage">
      <nav id="nav" class="hxNav">
<a href="#">Link 1</a>
<a href="#">Link 2</a>
<a href="#">Link 3</a>

<hx-disclosure aria-controls="section-1">
  Section 1
  <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
</hx-disclosure>
<hx-reveal id="section-1" open>
  <a href="#">Link 1-1</a>
  <a href="#">Link 1-2</a>
  <a href="#">Link 1-3</a>

  <hx-disclosure aria-controls="section-1-2">
    Section 2
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="section-1-2" open>
    <a href="#">Link 2-1</a>
    <a href="#">Link 2-2</a>
    <a href="#">Link 2-3</a>
  </hx-reveal>
</hx-reveal>

      </nav>

      <main role="main" id="content" class=" ">
  <div class="hxPanel hxSpan-7-xs">
    <header class="hxBox hxMd">
      <nav class="hxBreadcrumb">
        <a href="#">Home</a>
        <hx-icon class="delimiter" type="angle-right"></hx-icon>
        <a href="components/layout">Layout</a>
        <hx-icon class="delimiter" type="angle-right"></hx-icon>
        <a href="#">Horizontal Layout</a>
      </nav>
      <h1>Primary Panel</h1>
    </header>

    <hx-div class="hxMd">
      <ul class="hxList">
        <li>
          Horizontal layout enables two variable width panels, entitled
          "primary" and "secondary", to operate adjacent to one another.
          User selections or interactions with the primary panel
          facilitate information displayed on secondary panels.
        </li>
        <li>
          Although data is correlated between each panel, panels can
          scroll independently.
        </li>
        <li>
          Panel widths cannot be adjusted manually by the user.
        </li>
        <li>
          Columns can be adjusted based on the density of information
          displaying so each panel is optimized for readability.
        </li>
      </ul>

      <p>
        <a
          class="hxBtn hxLg hxPrimary"
          download="HelixUI-Horizontal-index.html"
          href="files/horizontal-layout-template.html"
        >
          <hx-icon type="download"></hx-icon>
          <span>Download Horizontal Template</span>
        </a>
      </p>
    </hx-div>

    <footer class="hxBox hxMd">
      Primary Panel Footer (optional)
    </footer>
  </div>

  <div class="hxPanel hxSpan-5-xs">
    <header class="hxBox hxMd">
      <h2>Secondary Panel Header</h2>
    </header>

    <hx-div class="hxMd">
      Secondary Panel Body
    </hx-div>

    <footer class="hxBox hxMd">
      Secondary Panel Footer (optional)
    </footer>
  </div>
      </main>
    </div>
  </div>

  <footer id="foot" class="hxRow hxGutterless">
    <div class="hxCol">
      &copy; 2017-2020 Rackspace US, Inc.
      <nav>
        <a href="https://www.rackspace.com/information/legal/websiteterms">Website Terms</a>
        <a href="https://www.rackspace.com/information/legal/privacystatement">Privacy Policy</a>
      </nav>
    </div>

    <div class="hxCol hxRight">


      <small>
        Latest Release:
        (<a href="https://github.com/HelixDesignSystem/helix-ui/releases/v2.0.0" target="_blank">
          v2.0.0
        </a>)
      </small>
    </div>
  </footer>

  
  <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
  
  <script src="dist/js/helix-ui.js"></script>
  
  <script src="docs.js"></script>
</body>
</html>
