<!DOCTYPE html>
<html lang="en">
<head>
  <title>Layout - HelixUI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/helix-ui/">

  <link rel="shortcut icon" href="images/favicon.png">

  
  <link
    crossorigin="anonymous"
    href="https://use.fontawesome.com/releases/v5.2.0/css/brands.css"
    integrity="sha384-nT8r1Kzllf71iZl81CdFzObMsaLOhqBU1JD2+XoAALbdtWaXDOlWOZTR4v1ktjPE"
    rel="stylesheet"
  />
  
  <link
    crossorigin="anonymous"
    href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css"
    integrity="sha384-HbmWTHay9psM8qyzEKPc8odH4DsOuzdejtnr+OFtDmOcIVnhgReQ4GZBH7uwcjf6"
    rel="stylesheet"
  />

  
  <link rel="stylesheet" href="dist/css/helix-ui.css">
  
  <link rel="stylesheet" href="docs.css">

  <!-- loader appends polyfills, if needed -->
  <script src="vendor/webcomponents-loader.js"></script>
</head>
<body class="hxVertical" id="top">
  <!-- This link should be the first item a user can tab to. -->
  <a href="#content">Skip to main content</a>

  <header id="head">
    <nav>
      <a class="brand-logo" href="">
        <img src="images/helix-logo.svg" alt="Logo" />
      </a>
    </nav>

    <div>
      <a
        class="hxBtn beta-hxDark"
        href="https://github.com/HelixDesignSystem/helix-ui/"
      >
        <i class="fab fa-github"></i>
        <span>View Source</span>
      </a>
      <a
        class="hxBtn beta-hxDark"
        href="https://github.com/HelixDesignSystem/helix-ui/issues/new?template=bug-report.md&labels=Bug:+Unconfirmed"
      >
        Report Bug
      </a>
    </div>
  </header>

  <div id="app">
    <div id="stage">
      <nav id="nav" class="hxNav">



  
    
  <hx-disclosure
    aria-controls="nav-guides"
>
    Guides
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-guides" >
      
      <a href="guides/getting-started" >
    Getting Started
  </a>


      
      <a href="guides/faq" >
    FAQ
  </a>


      
      <a href="guides/react-compatibility" >
    React Compatibility
  </a>


      
      <a href="guides/polyfills" >
    Polyfills
  </a>


  </hx-reveal>


  
    
  <hx-disclosure
    aria-controls="nav-components"
class="current">
    Components
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-components" open>
      
      <a href="components/accordion" >
    Accordion
  </a>


      
      <a href="components/alert" >
    Alert
  </a>


      
      <a href="components/badge" >
    Badge
  </a>


      
      <a href="components/box" >
    Box
  </a>


      
      <a href="components/breadcrumb" >
    Breadcrumb
  </a>


      
      <a href="components/button" >
    Button
  </a>


      
      <a href="components/checkbox" >
    Checkbox
  </a>


      
      <a href="components/choice-tile" >
    Choice Tile
  </a>


      
      <a href="components/drawer" >
    Drawer
  </a>


      
      <a href="components/dropdown-select" >
    Dropdown Select
  </a>


      
      <a href="components/email" >
    Email Input
  </a>


      
      <a href="components/file" >
    File
  </a>


      
      <a href="components/grid" >
    Grid
  </a>


      
      <a href="components/icon" >
    Icon
  </a>


      
      <a href="components/layout" class="current">
    Layout
  </a>


      
      <a href="components/list" >
    List
  </a>


      
      <a href="components/loader" >
    Loader
  </a>


      
      <a href="components/menu" >
    Menu
  </a>


      
      <a href="components/modal" >
    Modal
  </a>


      
      <a href="components/navigation" >
    Navigation
  </a>


      
      <a href="components/pagination" >
    Pagination
  </a>


      
      <a href="components/panel" >
    Panel
  </a>


      
      <a href="components/password" >
    Password Input
  </a>


      
      <a href="components/pill" >
    Pill
  </a>


      
      <a href="components/popover" >
    Popover
  </a>


      
      <a href="components/radio" >
    Radio
  </a>


      
      <a href="components/reveal" >
    Reveal
  </a>


      
      <a href="components/search" >
    Search
  </a>


      
      <a href="components/selector-strip" >
    Selector Strip
  </a>


      
      <a href="components/stepper" >
    Stepper
  </a>


      
      <a href="components/table" >
    Table
  </a>


      
      <a href="components/tabset" >
    Tabset
  </a>


      
      <a href="components/text-input" >
    Text Input
  </a>


      
      <a href="components/textarea" >
    Textarea
  </a>


      
      <a href="components/toast" >
    Toast
  </a>


      
      <a href="components/tooltip" >
    Tooltip
  </a>


      
      <a href="components/typography" >
    Typography
  </a>


  </hx-reveal>


  
    
  <hx-disclosure
    aria-controls="nav-elements"
>
    Custom Elements
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-elements" >
      
      <a href="elements/hx-accordion" >
    &lt;hx-accordion&gt;
  </a>


      
      <a href="elements/hx-accordion-panel" >
    &lt;hx-accordion-panel&gt;
  </a>


      
      <a href="elements/hx-alert" >
    &lt;hx-alert&gt;
  </a>


      
      <a href="elements/hx-busy" >
    &lt;hx-busy&gt;
  </a>


      
      <a href="elements/hx-checkbox" >
    &lt;hx-checkbox&gt;
  </a>


      
      <a href="elements/hx-checkbox-control" >
    &lt;hx-checkbox-control&gt;
  </a>


      
      <a href="elements/hx-disclosure" >
    &lt;hx-disclosure&gt;
  </a>


      
      <a href="elements/hx-div" >
    &lt;hx-div&gt;
  </a>


      
      <a href="elements/hx-drawer" >
    &lt;hx-drawer&gt;
  </a>


      
      <a href="elements/hx-drop-fence" >
    &lt;hx-drop-fence&gt;
  </a>


      
      <a href="elements/hx-drop-zone" >
    &lt;hx-drop-zone&gt;
  </a>


      
      <a href="elements/hx-error" >
    &lt;hx-error&gt;
  </a>


      
      <a href="elements/hx-email-control" >
    &lt;hx-email-control&gt;
  </a>


      
      <a href="elements/hx-file-icon" >
    &lt;hx-file-icon&gt;
  </a>


      
      <a href="elements/hx-file-input" >
    &lt;hx-file-input&gt;
  </a>


      
      <a href="elements/hx-file-tile" >
    &lt;hx-file-tile&gt;
  </a>


      
      <a href="elements/hx-icon" >
    &lt;hx-icon&gt;
  </a>


      
      <a href="elements/hx-menu" >
    &lt;hx-menu&gt;
  </a>


      
      <a href="elements/hx-menuitem" >
    &lt;hx-menuitem&gt;
  </a>


      
      <a href="elements/hx-modal" >
    &lt;hx-modal&gt;
  </a>


      
      <a href="elements/hx-password-control" >
    &lt;hx-password-control&gt;
  </a>


      
      <a href="elements/hx-pill" >
    &lt;hx-pill&gt;
  </a>


      
      <a href="elements/hx-popover" >
    &lt;hx-popover&gt;
  </a>


      
      <a href="elements/hx-progress" >
    &lt;hx-progress&gt;
  </a>


      
      <a href="elements/hx-radio" >
    &lt;hx-radio&gt;
  </a>


      
      <a href="elements/hx-radio-control" >
    &lt;hx-radio-control&gt;
  </a>


      
      <a href="elements/hx-radio-set" >
    &lt;hx-radio-set&gt;
  </a>


      
      <a href="elements/hx-reveal" >
    &lt;hx-reveal&gt;
  </a>


      
      <a href="elements/hx-search" >
    &lt;hx-search&gt;
  </a>


      
      <a href="elements/hx-search-assistance" >
    &lt;hx-search-assistance&gt;
  </a>


      
      <a href="elements/hx-search-control" >
    &lt;hx-search-control&gt;
  </a>


      
      <a href="elements/hx-select" >
    &lt;hx-select&gt;
  </a>


      
      <a href="elements/hx-select-control" >
    &lt;hx-select-control&gt;
  </a>


      
      <a href="elements/hx-status" >
    &lt;hx-status&gt;
  </a>


      
      <a href="elements/hx-tab" >
    &lt;hx-tab&gt;
  </a>


      
      <a href="elements/hx-tabcontent" >
    &lt;hx-tabcontent&gt;
  </a>


      
      <a href="elements/hx-tablist" >
    &lt;hx-tablist&gt;
  </a>


      
      <a href="elements/hx-tabpanel" >
    &lt;hx-tabpanel&gt;
  </a>


      
      <a href="elements/hx-tabset" >
    &lt;hx-tabset&gt;
  </a>


      
      <a href="elements/hx-text-control" >
    &lt;hx-text-control&gt;
  </a>


      
      <a href="elements/hx-textarea-control" >
    &lt;hx-textarea-control&gt;
  </a>


      
      <a href="elements/hx-tile" >
    &lt;hx-tile&gt;
  </a>


      
      <a href="elements/hx-toast" >
    &lt;hx-toast&gt;
  </a>


      
      <a href="elements/hx-tooltip" >
    &lt;hx-tooltip&gt;
  </a>


  </hx-reveal>


      </nav>

      <main role="main" id="content" class="component-content ">
          <header>
              


            <h1>
              Layout

<min-version id="page-min-version">
  v0.2.0+
</min-version>

<hx-tooltip for="page-min-version" position="right">
  HelixUI v0.2.0 or later required
</hx-tooltip>
            </h1>


  <p>
    The Layouts component provides information about Helix application anatomy
    for the purposes of advanced customization.
  </p>
          </header>

          <div>
  <section>
    <header>
      <h2 id="layout-templates">Layout Templates</h2>
      
    </header>

    <p>
      It is highly recommended that you use one of the pre-defined layout
      templates described below.
    </p>

    <p>
      If you find that the pre-defined templates do not meet your needs, please
      skip ahead to <a href="#prerequisites">Prerequisites</a> to review
      documentation needed to better understand how to customize your application.
    </p>

    <p class="hxSubBody hxSubdued">
      <hx-icon type="info-circle"></hx-icon>
      All layout templates are optimized for use in single-page applications (SPAs).
    </p>

    <hx-tabset class="beta-hxBound">
      <hx-tablist>
        <hx-tab>Vertical Layout</hx-tab>
        <hx-tab>Horizontal Layout</hx-tab>
      </hx-tablist>
      <hx-tabcontent>
        <hx-tabpanel class="hxBox hxLg">
          <p>
            Use a vertical layout if your application content needs to grow
            along the y-axis.
          </p>
          <p>
            <img src="images/thumbs/vertical-layout.png" alt="vertical layout thumbnail" />
          </p>
          <p class="hxSubdued hxSubBody">
            <hx-icon type="info-circle"></hx-icon>
            The footer may appear below the bottom of the viewport.
          </p>
          <p>
            <a
              class="hxBtn hxPrimary"
              download="HelixUI-Vertical-index.html"
              href="files/vertical-layout-template.html"
            >
              <hx-icon type="download"></hx-icon>
              <span>Download Vertical Template</span>
            </a>
            &nbsp;
            <a href="components/layout/vertical-layout.html">
              Preview Vertical Layout
            </a>
          </p>
        </hx-tabpanel>

        <hx-tabpanel class="hxBox hxLg">
          <p>
            Use a horizontal layout if your application content needs to grow
            across the x-axis.
          </p>
          <p>
            <img src="images/thumbs/horizontal-layout.png" alt="vertical layout thumbnail" />
          </p>
          <p class="hxSubdued hxSubBody">
            <hx-icon type="info-circle"></hx-icon>
            The footer is visible at all times.
          </p>

          <p>
            <a
              class="hxBtn hxPrimary"
              download="HelixUI-Horizontal-index.html"
              href="files/horizontal-layout-template.html"
            >
              <hx-icon type="download"></hx-icon>
              <span>Download Horizontal Template</span>
            </a>
            &nbsp;
            <a href="components/layout/horizontal-layout.html">
              Preview Horizontal Layout
            </a>
          </p>
        </hx-tabpanel>
      </hx-tabcontent>
    </hx-tabset>
  </section>

  <section>
    <header>
      <h2 id="prerequisites">Prerequisites</h2>
      
    </header>

    <p>
      To get the most out of Layout documentation,
      developers are expected to:
    </p>

    <ol class="hxList">
      <li>
        Review the instructions in the
        <a href="guides/getting-started">Getting Started</a> guide.
      </li>
      <li>
        Have a basic understanding of the features and limitations of
        each of the pre-defined layouts.
      </li>
    </ol>
  </section>

  <section>
    <header>
      <h2 id="layout-anatomy">Layout Anatomy</h2>
      <p>
        Layouts are composed of several different areas. Understanding the purpose
        for each area should help you locate the best place to add custom containers.
      </p>
    </header>

    <dl class="hxList">
      <div>
        <dt>
          <a href="#document-body">Document Body</a>
        </dt>
        <dd>
          <p>Houses all markup for a layout.</p>
          <p class="hxSubdued hxSubBody">
            <hx-icon type="info-circle"></hx-icon>
            <code>html &gt; body</code>
          </p>
        </dd>
      </div>
      <div>
        <dt>Head</dt>
        <dd>
          <p>
            Reserved for cross-product, global navigation.
          </p>
          <p class="hxSubdued hxSubBody">
            <hx-icon type="info-circle"></hx-icon>
            <code>body &gt; header#head</code>
          </p>
        </dd>
      </div>
      <div>
        <dt>Foot</dt>
        <dd>
          <p>
            Reserved for legal information.
          </p>
          <p class="hxSubdued hxSubBody">
            <hx-icon type="info-circle"></hx-icon>
            <code>body &gt; footer#foot</code>
          </p>
        </dd>
      </div>
      <div>
        <dt>
          <a href="#app-container">App Container</a>
        </dt>
        <dd>
          <p>
            Mount point for single-page applications.
          </p>
          <p class="hxSubdued hxSubBody">
            <hx-icon type="info-circle"></hx-icon>
            <code>body &gt; #app</code>
          </p>
        </dd>
      </div>
      <div>
        <dt>
          <a href="#stage-area">Stage</a>
        </dt>
        <dd>
          <p>Root element for single-page applications.</p>
          <p class="hxSubdued hxSubBody">
            <hx-icon type="info-circle"></hx-icon>
            <code>#app &gt; div#stage</code>
          </p>
        </dd>
      </div>
      <div>
        <dt>
          <a href="#nav-area">Nav</a>
        </dt>
        <dd>
          <p>Houses hyperlinks to pages within an application.</p>
          <p class="hxSubdued hxSubBody">
            <hx-icon type="info-circle"></hx-icon>
            <code>#stage &gt; nav#nav</code>
          </p>
        </dd>
      </div>
      <div>
        <dt>
          <a href="#main-content">Main Content</a>
        </dt>
        <dd>
          <p>Houses primary page content.</p>
          <p class="hxSubdued hxSubBody">
            <hx-icon type="info-circle"></hx-icon>
            <code>#stage &gt; main#content</code>
          </p>
        </dd>
      </div>
      <div>
        <dt>
          <a href="#side-rail">Side Rail</a>
        </dt>
        <dd>
          <p>Houses secondary page content.</p>
          <p class="hxSubdued hxSubBody">
            <hx-icon type="info-circle"></hx-icon>
            <code>#stage &gt; aside.hxSiderail</code>
          </p>
        </dd>
      </div>
    </dl>
  </section>

  <section><!-- Body -->
    <header>
      <h2 id="document-body">Document Body</h2>
      <p>
        The document <code>&lt;body&gt;</code> is the root element
        for applying CSS needed for any application layout.
      </p>
    </header>

    <p>
      Add one of the following CSS classes to the <code>&lt;body&gt;</code> element
      to begin with pre-defined layout styles.
    </p>

    <ul class="hxList">
      <li><code>hxVertical</code> for a vertical layout</li>
      <li><code>hxHorizontal</code> for a horizontal layout</li>
    </ul>
  </section>

  <section><!-- App Container -->
    <header>
      <h2 id="app-container">App Container</h2>
      <p>
        The app container serves as the mounting point
        for your single-page application.
      </p>
    </header>

    <ul class="hxList">
      <li>It must have an ID of <code>app</code>.</li>
      <li>It can be any block element.</li>
    </ul>

    <hx-tabset class="beta-hxBound">
      <hx-tablist>
        <hx-tab>HTML</hx-tab>
        <hx-tab>Angular 2+</hx-tab>
      </hx-tablist>
      <hx-tabcontent>
        <hx-tabpanel>
          <figure class="hxFigure">
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"app"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"stage"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
</code></pre>            <figcaption>App container markup using vanilla HTML</figcaption>
          </figure>
        </hx-tabpanel>
        <hx-tabpanel>
          <figure class="hxFigure">
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">app-root</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"app"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"stage"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">app-root</span>&gt;</span>
</code></pre>            <figcaption>App container markup using Angular</figcaption>
          </figure>
        </hx-tabpanel>
      </hx-tabcontent>
    </hx-tabset>
  </section>

  <section><!-- Stage -->
    <header>
      <h2 id="stage-area">Stage</h2>
      <p>
        The stage serves as the root element required by client-side frameworks
        that use virtual DOM technologies (e.g., hyperscript).
      </p>
    </header>

    <p>
      The Stage can be divided into three areas:
    </p>

    <ol class="hxList">
      <li><a href="#nav-area">Nav</a> (optional)</li>
      <li><a href="#main-content">Main Content</a></li>
      <li>left or right <a href="#side-rail">Side Rail</a> (optional)</li>
    </ol>

    <p>
      The stage container must have an ID of <code>stage</code>.
    </p>

    <figure class="hxFigure">
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"stage"</span>&gt;</span>
  <span class="hljs-comment">&lt;!-- (optional) Nav --&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">nav</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"nav"</span>&gt;</span>
    <span class="hljs-comment">&lt;!-- internal application links --&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">nav</span>&gt;</span>

  <span class="hljs-comment">&lt;!-- (optional) Left Side Rail --&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">aside</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxSiderail"</span>&gt;</span>
    <span class="hljs-comment">&lt;!-- secondary page content --&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">aside</span>&gt;</span>

  <span class="hljs-tag">&lt;<span class="hljs-name">main</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"content"</span>&gt;</span>
    <span class="hljs-comment">&lt;!-- primary page content --&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">main</span>&gt;</span>

  <span class="hljs-comment">&lt;!-- (optional) Right Side Rail --&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">aside</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxSiderail"</span>&gt;</span>
    <span class="hljs-comment">&lt;!-- secondary page content --&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">aside</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
</code></pre>      <figcaption>Skeleton HTML markup for the stage container</figcaption>
    </figure>
  </section>

  <section><!-- Nav -->
    <header>
      <h2 id="nav-area">Nav</h2>
      <p>
        The nav area houses hyperlinks to pages within your application.
      </p>
    </header>

    <ul class="hxList">
      <li>
        It must have an ID of <code>nav</code>.
      </li>
      <li>
        Use a <code>&lt;nav&gt;</code> element to provide the best support
        for accessible user agents.
      </li>
      <li>
        See the <a href="components/navigation">Navigation</a> component
        for content information.
      </li>
    </ul>

    <figure class="hxFigure">
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">nav</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"nav"</span>&gt;</span>
  <span class="hljs-comment">&lt;!-- links to pages within application --&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">nav</span>&gt;</span>
</code></pre>      <figcaption>HTML markup for the nav area</figcaption>
    </figure>
  </section>

  <section><!-- Main Content -->
    <header>
      <h2 id="main-content">Main Content</h2>
      <p>
        The main content area houses primary page content.
      </p>
    </header>

    <ul class="hxList">
      <li>
        It must have an ID of <code>content</code>.
      </li>
      <li>
        Use a <code>&lt;main&gt;</code> element to provide the best support
        for accessible user agents.
      </li>
      <li>
        Add the <code>role="main"</code> attribute to provide the best
        legacy support for accessible user agents.
      </li>
    </ul>

    <p class="hxSubdued hxSubBody">
      <hx-icon type="info-circle"></hx-icon>
      The main content area behaves like a non-wrapping grid row
      when used in a horizontal layout.
    </p>

    <p class="hxSubdued hxSubBody">
      <hx-icon type="info-circle"></hx-icon>
      Padding must be applied manually, using <a href="components/box">Box</a>
      component styles.
    </p>

    <figure class="hxFigure">
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">main</span> <span class="hljs-attr">role</span>=<span class="hljs-string">"main"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"content"</span>&gt;</span>
  <span class="hljs-comment">&lt;!-- primary page content --&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">main</span>&gt;</span>
</code></pre>      <figcaption>HTML markup for the main content area</figcaption>
    </figure>
  </section>

  <section><!-- Side Rail -->
    <header>
      <h2 id="side-rail">Side Rail</h2>
      <p>
        The side rail houses secondary page content.
      </p>
    </header>

    <ul class="hxList">
      <li>
        Use an <code>&lt;aside&gt;</code> element to provide the best support
        for accessible user agents.
      </li>
      <li>
        Add the <code>hxSiderail</code> CSS class to apply visual styling.
      </li>
    </ul>

    <p class="hxSubdued hxSubBody">
      <hx-icon type="exclamation-triangle"></hx-icon>
      Avoid using a side rail in a horizontal layout.
    </p>

    <p class="hxSubdued hxSubBody">
      <hx-icon type="exclamation-triangle"></hx-icon>
      Avoid adding multiple side rails on a single page.
    </p>

    <figure class="hxFigure">
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">aside</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxSiderail"</span>&gt;</span>
  <span class="hljs-comment">&lt;!-- secondary page content --&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">aside</span>&gt;</span>
</code></pre>      <figcaption>HTML markup for a side rail</figcaption>
    </figure>
  </section>

<section>
  <h2 id="see-also">See Also</h2>
  <ul class="hxList">
      <li><a href="guides/getting-started">Getting Started</a></li>
      <li><a href="components/box">Box</a></li>
      <li><a href="components/grid">Grid</a></li>
      <li><a href="components/navigation">Navigation</a></li>
  </ul>
</section>
          </div>

            <aside class="hxSiderail">
                <nav class="toc" aria-label="table of contents">
                  
            <a href="#layout-templates">Layout Templates</a>
        

            <a href="#prerequisites">Prerequisites</a>
        

            <a href="#layout-anatomy">Layout Anatomy</a>
        

            <a href="#document-body">Document Body</a>
        

            <a href="#app-container">App Container</a>
        

            <a href="#stage-area">Stage</a>
        

            <a href="#nav-area">Nav</a>
        

            <a href="#main-content">Main Content</a>
        

            <a href="#side-rail">Side Rail</a>
        
                    
                    <a href="#see-also">See Also</a>
                  <hr class="hxDivider" />
                  <a class="top-link" href="#top">Back to Top</a>
                </nav>
            </aside>
      </main>
    </div>
  </div>

  <footer id="foot" class="hxRow hxGutterless">
    <div class="hxCol">
      &copy; 2017-2020 Rackspace US, Inc.
      <nav>
        <a href="https://www.rackspace.com/information/legal/websiteterms">Website Terms</a>
        <a href="https://www.rackspace.com/information/legal/privacystatement">Privacy Policy</a>
      </nav>
    </div>

    <div class="hxCol hxRight">


      <small>
        Latest Release:
        (<a href="https://github.com/HelixDesignSystem/helix-ui/releases/v0.21.0" target="_blank">
          v0.21.0
        </a>)
      </small>
    </div>
  </footer>

  
  <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
  
  <script src="dist/js/helix-ui.js"></script>
  
  <script src="docs.js"></script>
</body>
</html>
