<script src="dist/scripts/helix-ui.polyfills.js"></script>
<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>

<!-- intelligently load ES5 Adapter (if needed) -->
<span id="ce-es5-adapter">
  <script>
    if (!window.customElements) {
      var elAdapter = document.querySelector('#ce-es5-adapter');
      elAdapter.parentElement.removeChild(elAdapter);
    }
  </script>
  <script src="vendor/scripts/custom-elements-es5-adapter.js"></script>
</span>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
<script src="dist/scripts/helix-ui.browser.js"></script>
<script src="docs.js"></script>
