<script src="vendor/vue/vue.min.js"></script>

<!-- Converts ES5 custom element constructor functions to ES6 classes -->
<script src="vendor/webcomponentsjs/custom-elements-es5-adapter.js"></script>

<script src="dist/scripts/helix-ui.browser.js"></script>
<script src="docs.js"></script>
