<div class="hxCol">
  {% include 'partials/footer_legal.njk' %}
</div>
<div class="hxCol text-right">
  {% if page.updated %}
    <small>
      Last Updated:
      {{ page.updated.format(site.dateFormat) }}
    </small>
  {% endif %}

  <small>
    (<a href="https://github.com/rackerlabs/helix-ui/releases/v{{VERSION}}" target="_blank">
      v{{VERSION}}
    </a>)
  </small>
</div>
