<div class="hxCol">
  {% include 'partials/footer_legal.njk' %}
</div>
<div class="hxCol text-right">
  {% if page.updated %}
    <small>
      Last Updated:
      {{ page.updated.format(site.dateFormat) }}
    </small>
  {% endif %}
</div>
