<div id="app-header">
  <nav>
    <a class="brand-logo" href="">
      <img src="images/helix-logo.svg" alt="Logo" />
    </a>
  </nav>
  <div>
    <a
      class="hxBtn beta-hxDark"
      target="_blank"
      href="https://github.com/rackerlabs/helix-ui/issues/new?template=bug-report.md&labels=Bug:+Unconfirmed"
    >
      Report Bug
    </a>
  </div>
</div>
