<head>
  <title>{% if page.title %}{{page.title}} - {% endif %}{{site.title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="images/favicon.png">

  <link rel="stylesheet" href="dist/styles/helix-ui.css">
  <link rel="stylesheet" href="docs.css">

  <!-- Polyfill Loader -->
  <script src="{{ data.cdn.webComponents }}/webcomponents-loader.js"></script>
</head>
