<a href="#">Link 1</a>
<a href="#">Link 2</a>
<a href="#">Link 3</a>

<hx-disclosure aria-controls="section-1">
  Section 1
  <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
</hx-disclosure>
<hx-reveal id="section-1" open>
  <a href="#">Link 1-1</a>
  <a href="#">Link 1-2</a>
  <a href="#">Link 1-3</a>

  <hx-disclosure aria-controls="section-1-2">
    Section 2
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="section-1-2" open>
    <a href="#">Link 2-1</a>
    <a href="#">Link 2-2</a>
    <a href="#">Link 2-3</a>
  </hx-reveal>
</hx-reveal>

