<min-version id="page-min-version">
  {% if page.minver %}
    v{{page.minver}}+
  {% else %}
    NEW
  {% endif %}
</min-version>

<hx-tooltip for="page-min-version" position="right">
  {% if page.minver %}
    HelixUI v{{page.minver}} or later required
  {% else %}
    Requires the latest version of HelixUI
  {% endif %}
</hx-tooltip>
