// ----- BASE ELEMENTS ---------------
@import "vars";
@import "./config";

/// * ============================= * ///
/// * ====== Top Navigation  ====== * ///
/// * ============================= * ///

#hxTopNav {
  background-color: $gray-0;
  overflow: hidden;
  width: 100vw;
  border-bottom: 0.125rem solid $gray-300;

  .hxNavGradient {
    width: 100vw;
    height: 4px;
    background: linear-gradient(90deg, rgb(235, 0, 0) 0%, rgb(149, 0, 186) 49%, rgb(51, 0, 252) 100%);
  }

  .img-left,          // deprecated
  .hxTopNavLogo {
    float: left;
    height: 3.5rem;
    padding: 1rem 1.25rem;
    width: 10rem;

    &[disabled] {
      @include hxTopNavControl(disabled);
    }
  }

  img {
    height: 1.5rem;
    width: 7.438rem;
  }

  a:hover {
    color: $gray-950;
  }

  .straightLine,      // deprecated
  .hxSpacer {
    background-color: $gray-300;
    height: 2.75rem;
    margin: 0.5rem 0 0.5rem 0.5rem;
    width: 1px;
  }

  .productMenu,       // deprecated
  .hxTopNavOptionMenu {
    display: flex;
    float: left;

    > hx-disclosure {
      padding: 0.625rem 1.25rem 0;
      border-bottom: 2px solid $purple-500;
      height: 3.5rem;
      width: auto;
    }
  }

  #right-menu,        // deprecated
  .hxTopNavIconMenu {
    display: flex;
    float: right;
    height: 3.5rem;

    a {
      color: $gray-0;
      float: left;
      font-size: 0.813rem;
      height: 3.5rem;
      line-height: 1;
      text-align: center;
      text-decoration: none;
      display: flex;
      padding: 0.625rem;
    }

    hx-icon {
      color: $gray-600;
      font-size: 0.938rem;
      height: 1.375rem;
      margin: 0.688rem 0 0.313rem;
      width: 1.25rem;
    }

    p {
      color: $gray-700;
      line-height: 1.5;
      font-size: 0.875rem;
      padding: 0.625rem;
    }

    a:hover {
      > hx-icon,
      p {
        color: $gray-950;
      }
    }

    a.disabled,       // deprecated
    a.hxDisabled {
      @include hxTopNavControl(disabled);
    }

    a.selected {
      > hx-icon,
      p {
        color: $gray-950;
      }
    }

    #topnav-menu:hover,                // deprecated
    #topnavMenuId hx-menuitem:hover {
      // deprecated
      color: $gray-950 !important;
    }
  }

  #topnav-menu,         // deprecated
  #topnav-productMenu,  // deprecated
  .hxTopNavMenu > hx-disclosure {
    height: 3.5rem;
    padding: 0.625rem 1.25rem 0;
    width: auto;

    > hx-icon {
      color: $gray-400;
      font-size: 0.875rem;
      margin-left: 0.75rem;
      margin-top: 0.75rem;
      width: 0.75rem;
    }

    .hxNavUser {
      color: $gray-700;
      height: 0.94rem;
      margin-right: 0.44rem;
      width: 0.81rem;
    }

    &[disabled] {
      @include hxTopNavControl(disabled);
    }

    &:hover {
      color: $gray-950 !important;
    }

    > span {
      color: $gray-700;
      font-size: 1rem;
    }
  }

  #topnavMenuId,            // deprecated
  #topnavProductDropdown,   // deprecated
  .hxTopNavMenu > hx-menu {
    background-color: $gray-0;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.5);
    color: $gray-1000;
    min-width: 10.5rem;
    padding: 0;
    top: 14.5rem;

    hx-menuitem {
      color: $gray-950;
      padding: 1rem 1.25rem;
    }

    hx-menuitem[disabled] {
      @include hxTopNavControl(disabled);

      color: $gray-600;
    }

    hx-menuitem:not(.hxMenuKey):hover {
      color: $purple-500;
    }

    .menuKey,         // deprecated
    .hxMenuKey {
      color: $gray-700;
      font-size: 0.75rem;
      line-height: 1;
      padding: 1.25rem 1.25rem 0;
      text-transform: none;

      &:hover {
        cursor: default;
      }
    }

    .menuValue,       // deprecated
    .hxMenuValue {
      color: $gray-950;
      line-height: 1;
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
      text-transform: none;
    }

    .divider,         // deprecated
    .hxDivider {
      border-color: $gray-300;
      height: 1px;
      margin: 0.5rem auto;
    }

    .sectionHeader,   // deprecated
    > section > header {
      padding-bottom: 0.5rem;
    }

    .sectionFooter,   // deprecated
    > section > footer {
      padding: 0.5rem 1.25rem 1.25rem;

      .hxBtn {
        background-color: $blue-500;
        border: 1px solid $blue-500;
        color: $gray-0;
        margin-left: auto;
        margin-right: auto;
        width: 100%;

        &:hover {
          background-color: $blue-700;
          color: $gray-0;
        }

        &:active {
          background-color: $blue-900;
          color: $gray-0;
        }
      }
    }
  }
}
