// NOTE: This implementation is known to be slightly buggy with IE11.
// In various scenarious, IE11 will render the element with a
// "squigglevision"-like appearance. We were unable to pinpoint what
// causes the bug, but factors contributing to it are sub-pixel calculations,
// display + animation property issues, and even border-radius of the parent.
//
// There's very little we can do about it, because the bug resides in the
// IE rendering engine (which is no longer receiving updates). Design is aware
// of the issue, and has noted that the issue is acceptable for IE compatibility.
//
// 1: explicitly set transform-box for IE/Edge compatibility
// 2: explicitly set transform-origin with full X/Y/Z values for IE/Edge compatibility
hx-busy {
  animation: hx-spin 0.8s linear infinite;
  border-color: transparent currentColor currentColor;
  border-radius: 1em;
  border-style: solid;
  border-width: 2px;
  box-sizing: border-box;
  display: inline-block;
  height: 1em;
  transform-box: border-box; // 1
  transform-origin: 0.5em 0.5em 0.5em; // 2
  vertical-align: middle;
  width: 1em;

  &[paused] {
    animation-play-state: paused;
  }
}
