// TODO: move everything in file to typography component
html {
  font-family: $font-sans-serif;
  font-size: 16px;
}

body {
  color: $gray-950;
  font-family: $font-sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

// HEADINGS
// 2.0 headings
h1, h2, h3, h4, h5, h6 {
  font-family: $font-sans-serif;
  margin: 0 0 0.5rem;

  & + * {
    margin-top: 0.5rem;
  }
}

// moved to src/scss/components/typography/_index.scss
// 2.0 specs
// h1 {
//   color: $gray-1000;
//   font-size: 2.625rem;
//   font-weight: 300;
//   line-height: 3.125rem;
// }

// h2 {
//   color: $gray-1000;
//   font-size: 2rem;
//   font-weight: 300;
//   line-height: 2.5rem;
// }

// h3 {
//   color: $gray-1000;
//   font-size: 1.5rem;
//   font-weight: 400;
//   line-height: 2rem;
// }

// h4 {
//   color: $gray-1000;
//   font-size: 1.25rem;
//   font-weight: 500;
//   line-height: 1.875rem;
// }

// h5 {
//   color: $gray-1000;
//   font-size: 1rem;
//   font-weight: 500;
//   line-height: 1.75rem;
// }

// // TODO: not to spec - verify h6 specs
// h6 {
//   color: $gray-1000;
//   font-size: 0.75rem;
//   font-weight: 500;
//   line-height: 1.625rem;
// }

kbd {
  background: none;
  border-radius: 0;
  box-shadow: none;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  font-weight: 700;
  padding: 0;
}

pre,
code {
  font-family: $font-sans-serif; // TODO: verify Open Sans Condensed = Roboto Mono in 2.0 specs
}

code {
  background-color: inherit;
  border-radius: 0;
  font-size: 0.75rem;
  font-weight: 300;
  padding: 0;
}

pre {
  background-color: $gray-50;
  border-radius: 2px;
  border: 1px solid $gray-300;
  box-shadow: inset 0.5rem 0 0 $gray-300;
  color: $gray-975;
  font-size: 0.75rem;
  font-weight: 400;
  margin: 0;
  overflow-x: auto;
  padding: 0.5rem 1rem;
  width: 100%;

  code {
    display: block;
    font-weight: inherit;
    text-shadow: none;
    white-space: pre;
  }
}
