@import "./HXElement";
@import "base/links";

:host {
  border: 4px dashed transparent;
  border-radius: 2px;

  #hxDropZone {
    background-color: chartreuse;
    height: 100%;
    top: 0;
  }
}

/*
:host([drag]) {
  border-color: @cyan-500;
}

:host([drag="over"]) {
  border-style: solid; 
  opacity: 0.6;
}

:host(.hxFence) {
  #hxDropZone {
    padding: 3px;
  }
}
*/
