.hxTextCtrl {
  background-color: @gray-0;
  border: 1px solid @gray-500;
  border-radius: 2px;
  color: @gray-800;
  display: block;
  font-size: 1rem; // 16px
  padding: 8px;
  width: 100%;

  textarea& {
    min-height: 5.75rem; // ~92px
    resize: vertical;
  }

  /*
    https://css-tricks.com/snippets/css/style-placeholder-text/
  */
  &::-webkit-input-placeholder { // Chrome
    color: @gray-600;
  }

  &::-moz-placeholder { // Firefox 19+
    color: @gray-600;
    opacity: 1;
  }

  &:-ms-input-placeholder { // IE 10+
    color: @gray-600;
  }

  &::placeholder { // w3c spec
    color: @gray-600;
  }

  &:focus {
    outline: 0;
    border-color: @cyan-700;
    box-shadow: @focus-glow;
    &.-hxInvalid {
      box-shadow: @focus-glow-invalid;
    }
  }

  &[invalid] {
    border: 2px solid @red-900;
  }

  &[disabled] {
    background-color: @gray-50;
    border-color: @gray-300;
    color: @gray-400;
    cursor: not-allowed;
    resize: none;
  }
}
