<nav class="app-nav">
    <section>
        <header>Components</header>
        <% for (var _item in theme.nav.components) {
            var items = theme.nav.components;
        %>
            <a
                class="hxNavItem theme-nav <%= is_current('components' + items[_item]) ? 'current' : '' %>"
                href="<%- url_for('/components/' + items[_item]) %>"
            >
                <%= _item %>
            </a>
        <% } %>
    </section>
</nav>
