<nav class="global-nav">
    <a class="brand-logo" href="<%- url_for('/') %>">
        <%- image_tag('images/helix-logo.svg', { alt: 'Helix Logo' }) %>
    </a>
    <div class="links">
        <% if (page.title) { %>
            <a class="current"><%- page.title %></a>
        <% } %>
    </div>
</nav>
