<!DOCTYPE html>
<html lang="{{site.language}}">
{% include 'partials/head.njk' %}
<body class="hxApp" id="top">
  <header class="hxApp__header">
    {% include 'partials/global_nav.njk' %}
  </header>

  <div class="hxApp__container">
    <main class="hxApp__content">
      {% block layout %}
        {# layouts can override this #}
        {% block content %}
          {# compiled content goes here #}
        {% endblock %}
      {% endblock %}
    </main>
    <nav class="hxApp__nav">
      {% include 'partials/app_nav.njk' %}
    </nav>
  </div>

  <footer class="hxApp__footer hxRow hxGutterless">
    {% include 'partials/footer_nav.njk' %}
  </footer>

  {% include 'partials/after_footer.njk' %}
</body>
</html>
