{% extends 'application.njk' %}

{% block layout %}
  <main id="content" class="hxBox-md">
    <h1 class="hxPageTitle">{{ page.title }}</h1>

    {% block content %}
      {# page content goes here #}
    {% endblock %}
  </main>
  <aside class="hxSiderail hxBox-xl">
    <h1 class="hxContainerTitle">On this page:</h1>
    <nav class="article-toc">
      {{ page.raw | toc | safe }}
      <hr />
      <a class="top-link" href="#top">Back to Top</a>
    </aside>
  </aside>
{% endblock %}
