{% extends 'application.njk' %}
{% set hasSiderail = true %}
{% set mainClass = 'element-content' %}

{% block toc %}
  <a href="#attributes">Attributes</a>
  <a href="#properties">Properties</a>
{% endblock %}

{% block main %}
  {{super()}}

  {# ATTRIBUTES #}
  <section>
    <header>
      <h2 id="attributes">Attributes</h2>
      <p>
        Attributes enable declarative configuration of an element,
        via HTML markup.
      </p>
    </header>

    {% block attributes %}
      <p class="hxSubdued hxSubBody">
        <hx-icon type="info-circle"></hx-icon>
        This element does not have any configurable attributes.
      </p>
    {% endblock %}
  </section>

  {# PROPERTIES #}
  <section>
    <header>
      <h2 id="properties">Properties</h2>
      <p>
        JavaScript properties enable programmatic access to an element's
        configuration and state.
      </p>
    </header>

    {% block properties %}
      <p class="hxSubdued hxSubBody">
        <hx-icon type="info-circle"></hx-icon>
        This element does not have any configurable properties.
      </p>
    {% endblock %}
  </section>
{% endblock %}
