{% extends 'application.njk' %}

{% block layout %}
  <main id="content" class="hxBox-md">
    <h1 class="hxPageTitle">{{ page.title }}</h1>

    {% block content %}
      {# freeform page content goes here #}
    {% endblock %}

    {# ATTRIBUTES #}
    <section>
      <h2 class="hxSectionTitle" id="attributes">Attributes</h2>
      <p>
        Attributes allow you to configure an element in a
        declarative manner via markup.
      </p>
      {% block attributes %}
        <p class="hxSubdued">
          <small>
            <hx-icon type="info-circle"></hx-icon>
            This element does not have any configurable attributes.
          </small>
        </p>
      {% endblock %}
    </section>

    {# PROPERTIES #}
    <section>
      <h2 class="hxSectionTitle" id="properties">Properties</h2>
      <p>
        Properties allow you to configure an element in an
        imperative manner via JavaScript.
      </p>
      {% block properties %}
        <p class="hxSubdued">
          <small>
            <hx-icon type="info-circle"></hx-icon>
            This element does not have any configurable properties.
          </small>
        </p>
      {% endblock %}
    </section>

    {% if page.also %}
      {% include 'partials/see-also.njk' %}
    {% endif %}
  </main>
  <aside class="hxSiderail hxBox-xl">
    <h1 class="hxContainerTitle">On this page:</h1>
    <nav class="article-toc">
      {{ page.raw | toc | safe }}
      <a href="#attributes">Attributes</a>
      <a href="#properties">Properties</a>
      {% if page.also %}
        <a href="#see-also">See Also</a>
      {% endif %}
      <hr />
      <a class="top-link" href="#top">Back to Top</a>
    </nav>
  </aside>
{% endblock %}
