{% extends 'application.njk' %}

{% block after_footer %}
  <script src="scripts/test-helpers.js"></script>
{% endblock %}

{% block layout %}
  <main id="content" class="hxBox hxLg test-content">
    <h1>{{ page.title }}</h1>

    {% block content %}
      {# freeform page content goes here #}
    {% endblock %}
  </main>
{% endblock %}
