{% extends 'application.njk' %}
{% set hasSiderail = true %}
{% set mainClass = 'test-content' %}

{% block banner %}
  {# WARNING BANNER #}
  <div class="banner warning">
    <hx-icon type="exclamation-triangle" class="banner__icon"></hx-icon>
    <div class="banner__body">
      <b>UI TESTING:</b>
      Do not replicate anything on this page within your application.
    </div>
  </div>
{% endblock %}
