<!DOCTYPE html>
<html lang="en">
<head>
  <title>Text Inputs - HelixUI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/helix-ui/">

  <link rel="shortcut icon" href="images/favicon.png">

  <link rel="stylesheet" href="dist/styles/helix-ui.css">
  <link rel="stylesheet" href="docs.css">

  <!-- Polyfill Loader -->
  <script src="https://ab2b55b0a26bb32fdc01-2c8b94bcec8e01c366189541a4035ea4.ssl.cf5.rackcdn.com/webcomponents-loader.js"></script>
</head>
<body class="hxVertical" id="top">
  <header id="head">
<nav class="global-nav">
  <a class="brand-logo" href="">
    <img src="images/helix-logo.svg" alt="Logo" />
  </a>
</nav>
  </header>

  <div id="stage">
    <nav id="nav" class="hxNav">



  
    

  <hx-disclosure
    aria-controls="nav-Guides"
>
    Guides
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-Guides" >
      
      <a href="guides/getting-started" >
    Getting Started
  </a>


  </hx-reveal>


  
    

  <hx-disclosure
    aria-controls="nav-Components"
class="current">
    Components
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-Components" open>
      
      <a href="components/alerts" >
    Alerts
  </a>


      
      <a href="components/box" >
    Box
  </a>


      
      <a href="components/breadcrumbs" >
    Breadcrumbs
  </a>


      
      <a href="components/buttons" >
    Buttons
  </a>


      
      <a href="components/checkboxes" >
    Checkboxes
  </a>


      
      <a href="components/grid" >
    Grid
  </a>


      
      <a href="components/icons" >
    Icons
  </a>


      
      <a href="components/layouts" >
    Layouts
  </a>


      
      <a href="components/lists" >
    Lists
  </a>


      
      <a href="components/menus" >
    Menus
  </a>


      
      <a href="components/modals" >
    Modals
  </a>


      
      <a href="components/panels" >
    Panels
  </a>


      
      <a href="components/popovers" >
    Popovers
  </a>


      
      <a href="components/reveals" >
    Reveals
  </a>


      
      <a href="components/status-pills" >
    Status Pills
  </a>


      
      <a href="components/tables" >
    Tables
  </a>


      
      <a href="components/tabs" >
    Tabs
  </a>


      
      <a href="components/text-inputs" class="current">
    Text Inputs
  </a>


      
      <a href="components/tooltips" >
    Tooltips
  </a>


      
      <a href="components/typography" >
    Typography
  </a>


  </hx-reveal>


  
    

  <hx-disclosure
    aria-controls="nav-Custom Elements"
>
    Custom Elements
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-Custom Elements" >
      
      <a href="elements/hx-checkbox" >
    &lt;hx-checkbox&gt;
  </a>


      
      <a href="elements/hx-dd" >
    &lt;hx-dd&gt;
  </a>


      
      <a href="elements/hx-def" >
    &lt;hx-def&gt;
  </a>


      
      <a href="elements/hx-disclosure" >
    &lt;hx-disclosure&gt;
  </a>


      
      <a href="elements/hx-dl" >
    &lt;hx-dl&gt;
  </a>


      
      <a href="elements/hx-dt" >
    &lt;hx-dt&gt;
  </a>


      
      <a href="elements/hx-icon" >
    &lt;hx-icon&gt;
  </a>


      
      <a href="elements/hx-menu" >
    &lt;hx-menu&gt;
  </a>


      
      <a href="elements/hx-menuitem" >
    &lt;hx-menuitem&gt;
  </a>


      
      <a href="elements/hx-menuitem-group" >
    &lt;hx-menuitem-group&gt;
  </a>


      
      <a href="elements/hx-modal" >
    &lt;hx-modal&gt;
  </a>


      
      <a href="elements/hx-modalbody" >
    &lt;hx-modalbody&gt;
  </a>


      
      <a href="elements/hx-modalfoot" >
    &lt;hx-modalfoot&gt;
  </a>


      
      <a href="elements/hx-modalhead" >
    &lt;hx-modalhead&gt;
  </a>


      
      <a href="elements/hx-panel" >
    &lt;hx-panel&gt;
  </a>


      
      <a href="elements/hx-panelbody" >
    &lt;hx-panelbody&gt;
  </a>


      
      <a href="elements/hx-panelfoot" >
    &lt;hx-panelfoot&gt;
  </a>


      
      <a href="elements/hx-panelhead" >
    &lt;hx-panelhead&gt;
  </a>


      
      <a href="elements/hx-popover" >
    &lt;hx-popover&gt;
  </a>


      
      <a href="elements/hx-reveal" >
    &lt;hx-reveal&gt;
  </a>


      
      <a href="elements/hx-status" >
    &lt;hx-status&gt;
  </a>


      
      <a href="elements/hx-tab" >
    &lt;hx-tab&gt;
  </a>


      
      <a href="elements/hx-tabcontent" >
    &lt;hx-tabcontent&gt;
  </a>


      
      <a href="elements/hx-tablist" >
    &lt;hx-tablist&gt;
  </a>


      
      <a href="elements/hx-tabpanel" >
    &lt;hx-tabpanel&gt;
  </a>


      
      <a href="elements/hx-tabset" >
    &lt;hx-tabset&gt;
  </a>


      
      <a href="elements/hx-tooltip" >
    &lt;hx-tooltip&gt;
  </a>


  </hx-reveal>


    </nav>
  <main id="content" class="hxBox-md">
    <h1>Text Inputs</h1>

  <section>
    <p>
      Use the <code>.hxTextCtrl</code> CSS class to apply styles to text-like form controls.
    </p>
  </section>

  <section>
    <h2 id="single-line-text">Single-Line Text</h2>
    <div class="demo">
      <input
        class="hxTextCtrl"
        placeholder="Default Text Input"
        type="text" />
      <br />

      <input
        class="hxTextCtrl"
        invalid
        placeholder="Invalid Text Input"
        type="text" />
      <br />

      <input
        class="hxTextCtrl"
        disabled
        placeholder="Disabled Text Input"
        type="text" />
    </div>
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">input</span>
  <span class="hljs-attr">class</span>=<span class="hljs-string">"hxTextCtrl"</span>
  <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Default Text Input"</span>
  <span class="hljs-attr">type</span>=<span class="hljs-string">"text"</span> /&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">input</span>
  <span class="hljs-attr">class</span>=<span class="hljs-string">"hxTextCtrl"</span>
  <span class="hljs-attr">invalid</span>
  <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Invalid Text Input"</span>
  <span class="hljs-attr">type</span>=<span class="hljs-string">"text"</span> /&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">input</span>
  <span class="hljs-attr">class</span>=<span class="hljs-string">"hxTextCtrl"</span>
  <span class="hljs-attr">disabled</span>
  <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Disabled Text Input"</span>
  <span class="hljs-attr">type</span>=<span class="hljs-string">"text"</span> /&gt;</span>
</code></pre>  </section>

  <section>
    <h2 id="multi-line-text">Multi-line Text</h2>
    <div class="demo">
      <textarea
        class="hxTextCtrl"
        placeholder="Default Text Area"></textarea>
      <br />

      <textarea
        class="hxTextCtrl"
        invalid
        placeholder="Invalid Text Area"></textarea>
      <br />

      <textarea
        class="hxTextCtrl"
        disabled
        placeholder="Disabled Text Area"></textarea>
    </div>
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">textarea</span>
  <span class="hljs-attr">class</span>=<span class="hljs-string">"hxTextCtrl"</span>
  <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Default Text Area"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">textarea</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">textarea</span>
  <span class="hljs-attr">class</span>=<span class="hljs-string">"hxTextCtrl"</span>
  <span class="hljs-attr">invalid</span>
  <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Invalid Text Area"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">textarea</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">textarea</span>
  <span class="hljs-attr">class</span>=<span class="hljs-string">"hxTextCtrl"</span>
  <span class="hljs-attr">disabled</span>
  <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Disabled Text Area"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">textarea</span>&gt;</span>
</code></pre>  </section>

  </main>
  <aside class="hxSiderail hxBox-md">
    <h1 class="hxHeading-4">On this page:</h1>
    <nav class="article-toc">
      
            <a href="#single-line-text">Single-Line Text</a>
        

            <a href="#multi-line-text">Multi-line Text</a>
        
      <hr />
      <a class="top-link" href="#top">Back to Top</a>
    </nav>
  </aside>
  </div>

  <footer id="foot" class="hxRow hxGutterless">
<div class="hxCol">
&copy; 2018 Rackspace US, Inc.
<nav>
  <a href="https://www.rackspace.com/information/legal/websiteterms">Website Terms</a>
  <a href="https://www.rackspace.com/information/legal/privacystatement">Privacy Policy</a>
</nav>
</div>
<div class="hxCol text-right">
    <small>
      Last Updated:
      2018-02-28
    </small>

  <small>(v0.3.0)</small>
</div>
  </footer>

<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>

<!-- intelligently load ES5 Adapter (if needed) -->
<span id="ce-es5-adapter">
  <script>
    if (!window.customElements) {
      var elAdapter = document.querySelector('#ce-es5-adapter');
      elAdapter.parentElement.removeChild(elAdapter);
    }
  </script>
  <script src="https://ab2b55b0a26bb32fdc01-2c8b94bcec8e01c366189541a4035ea4.ssl.cf5.rackcdn.com/custom-elements-es5-adapter.js"></script>
</span>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<script src="https://unpkg.com/vue@2.4.4/dist/vue.js"></script>
<script src="dist/scripts/helix-ui.browser.js"></script>
<script src="docs.js"></script>
</body>
</html>
