<!-- intelligently load ES5 Adapter (if needed) -->
<span id="ce-es5-adapter">
  <script>
    if (!window.customElements) {
      var elAdapter = document.querySelector('#ce-es5-adapter');
      elAdapter.parentElement.removeChild(elAdapter);
    }
  </script>
  <script src="https://ab2b55b0a26bb32fdc01-2c8b94bcec8e01c366189541a4035ea4.ssl.cf5.rackcdn.com/custom-elements-es5-adapter.js"></script>
</span>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<script src="https://unpkg.com/vue@2.4.4/dist/vue.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="helix-ui.js"></script>
<script src="docs.js"></script>
