<!DOCTYPE html>
<html lang="en">
<head>
  <title>Testing - Tooltip - HelixUI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/helix-ui/">

  <link rel="shortcut icon" href="images/favicon.png">

  
  <link
    crossorigin="anonymous"
    href="https://use.fontawesome.com/releases/v5.2.0/css/brands.css"
    integrity="sha384-nT8r1Kzllf71iZl81CdFzObMsaLOhqBU1JD2+XoAALbdtWaXDOlWOZTR4v1ktjPE"
    rel="stylesheet"
  />
  
  <link
    crossorigin="anonymous"
    href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css"
    integrity="sha384-HbmWTHay9psM8qyzEKPc8odH4DsOuzdejtnr+OFtDmOcIVnhgReQ4GZBH7uwcjf6"
    rel="stylesheet"
  />

  
  <link rel="stylesheet" href="dist/css/helix-ui.css">
  
  <link rel="stylesheet" href="docs.css">

  <!-- loader appends polyfills, if needed -->
  <script src="vendor/webcomponents-loader.js"></script>
</head>
<body class="hxVertical" id="top">
  <!-- This link should be the first item a user can tab to. -->
  <a href="#content">Skip to main content</a>

  <header id="head">
    <nav>
      <a class="brand-logo" href="">
        <img src="images/helix-logo.svg" alt="Logo" />
      </a>
    </nav>

    <div>
      <a
        class="hxBtn beta-hxDark"
        href="https://github.com/HelixDesignSystem/helix-ui/"
      >
        <i class="fab fa-github"></i>
        <span>View Source</span>
      </a>
      <a
        class="hxBtn beta-hxDark"
        href="https://github.com/HelixDesignSystem/helix-ui/issues/new?template=bug-report.md&labels=Bug:+Unconfirmed"
      >
        Report Bug
      </a>
    </div>
  </header>

  <div id="app">
    <div id="stage">
      <nav id="nav" class="hxNav">



  
    
  <hx-disclosure
    aria-controls="nav-guides"
>
    Guides
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-guides" >
      
      <a href="guides/getting-started" >
    Getting Started
  </a>


      
      <a href="guides/faq" >
    FAQ
  </a>


      
      <a href="guides/react-compatibility" >
    React Compatibility
  </a>


      
      <a href="guides/polyfills" >
    Polyfills
  </a>


  </hx-reveal>


  
    
  <hx-disclosure
    aria-controls="nav-components"
class="current">
    Components
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-components" open>
      
      <a href="components/accordion" >
    Accordion
  </a>


      
      <a href="components/alert" >
    Alert
  </a>


      
      <a href="components/badge" >
    Badge
  </a>


      
      <a href="components/beacon" >
    Beacon
  </a>


      
      <a href="components/box" >
    Box
  </a>


      
      <a href="components/breadcrumb" >
    Breadcrumb
  </a>


      
      <a href="components/button" >
    Button
  </a>


      
      <a href="components/checkbox" >
    Checkbox
  </a>


      
      <a href="components/choice-tile" >
    Choice Tile
  </a>


      
      <a href="components/drawer" >
    Drawer
  </a>


      
      <a href="components/dropdown-select" >
    Dropdown Select
  </a>


      
      <a href="components/email" >
    Email Input
  </a>


      
      <a href="components/file" >
    File
  </a>


      
      <a href="components/grid" >
    Grid
  </a>


      
      <a href="components/icon" >
    Icon
  </a>


      
      <a href="components/layout" >
    Layout
  </a>


      
      <a href="components/list" >
    List
  </a>


      
      <a href="components/loader" >
    Loader
  </a>


      
      <a href="components/menu" >
    Menu
  </a>


      
      <a href="components/modal" >
    Modal
  </a>


      
      <a href="components/navigation" >
    Navigation
  </a>


      
      <a href="components/pagination" >
    Pagination
  </a>


      
      <a href="components/panel" >
    Panel
  </a>


      
      <a href="components/password" >
    Password Input
  </a>


      
      <a href="components/pill" >
    Pill
  </a>


      
      <a href="components/popover" >
    Popover
  </a>


      
      <a href="components/radio" >
    Radio
  </a>


      
      <a href="components/reveal" >
    Reveal
  </a>


      
      <a href="components/search" >
    Search
  </a>


      
      <a href="components/selector-strip" >
    Selector Strip
  </a>


      
      <a href="components/stepper" >
    Stepper
  </a>


      
      <a href="components/switch" >
    Switch
  </a>


      
      <a href="components/table" >
    Table
  </a>


      
      <a href="components/tabset" >
    Tabset
  </a>


      
      <a href="components/text-input" >
    Text Input
  </a>


      
      <a href="components/textarea" >
    Textarea
  </a>


      
      <a href="components/toast" >
    Toast
  </a>


      
      <a href="components/tooltip" class="current">
    Tooltip
  </a>


      
      <a href="components/typography" >
    Typography
  </a>


  </hx-reveal>


  
    
  <hx-disclosure
    aria-controls="nav-elements"
>
    Custom Elements
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-elements" >
      
      <a href="elements/hx-accordion" >
    &lt;hx-accordion&gt;
  </a>


      
      <a href="elements/hx-accordion-panel" >
    &lt;hx-accordion-panel&gt;
  </a>


      
      <a href="elements/hx-alert" >
    &lt;hx-alert&gt;
  </a>


      
      <a href="elements/hx-beacon" >
    &lt;hx-beacon&gt;
  </a>


      
      <a href="elements/hx-busy" >
    &lt;hx-busy&gt;
  </a>


      
      <a href="elements/hx-checkbox" >
    &lt;hx-checkbox&gt;
  </a>


      
      <a href="elements/hx-checkbox-control" >
    &lt;hx-checkbox-control&gt;
  </a>


      
      <a href="elements/hx-disclosure" >
    &lt;hx-disclosure&gt;
  </a>


      
      <a href="elements/hx-div" >
    &lt;hx-div&gt;
  </a>


      
      <a href="elements/hx-drawer" >
    &lt;hx-drawer&gt;
  </a>


      
      <a href="elements/hx-drop-fence" >
    &lt;hx-drop-fence&gt;
  </a>


      
      <a href="elements/hx-drop-zone" >
    &lt;hx-drop-zone&gt;
  </a>


      
      <a href="elements/hx-error" >
    &lt;hx-error&gt;
  </a>


      
      <a href="elements/hx-email-control" >
    &lt;hx-email-control&gt;
  </a>


      
      <a href="elements/hx-file-icon" >
    &lt;hx-file-icon&gt;
  </a>


      
      <a href="elements/hx-file-input" >
    &lt;hx-file-input&gt;
  </a>


      
      <a href="elements/hx-file-tile" >
    &lt;hx-file-tile&gt;
  </a>


      
      <a href="elements/hx-icon" >
    &lt;hx-icon&gt;
  </a>


      
      <a href="elements/hx-menu" >
    &lt;hx-menu&gt;
  </a>


      
      <a href="elements/hx-menuitem" >
    &lt;hx-menuitem&gt;
  </a>


      
      <a href="elements/hx-modal" >
    &lt;hx-modal&gt;
  </a>


      
      <a href="elements/hx-password-control" >
    &lt;hx-password-control&gt;
  </a>


      
      <a href="elements/hx-pill" >
    &lt;hx-pill&gt;
  </a>


      
      <a href="elements/hx-popover" >
    &lt;hx-popover&gt;
  </a>


      
      <a href="elements/hx-progress" >
    &lt;hx-progress&gt;
  </a>


      
      <a href="elements/hx-radio" >
    &lt;hx-radio&gt;
  </a>


      
      <a href="elements/hx-radio-control" >
    &lt;hx-radio-control&gt;
  </a>


      
      <a href="elements/hx-radio-set" >
    &lt;hx-radio-set&gt;
  </a>


      
      <a href="elements/hx-reveal" >
    &lt;hx-reveal&gt;
  </a>


      
      <a href="elements/hx-search" >
    &lt;hx-search&gt;
  </a>


      
      <a href="elements/hx-search-assistance" >
    &lt;hx-search-assistance&gt;
  </a>


      
      <a href="elements/hx-search-control" >
    &lt;hx-search-control&gt;
  </a>


      
      <a href="elements/hx-select" >
    &lt;hx-select&gt;
  </a>


      
      <a href="elements/hx-select-control" >
    &lt;hx-select-control&gt;
  </a>


      
      <a href="elements/hx-status" >
    &lt;hx-status&gt;
  </a>


      
      <a href="elements/hx-switch" >
    &lt;hx-switch&gt;
  </a>


      
      <a href="elements/hx-tab" >
    &lt;hx-tab&gt;
  </a>


      
      <a href="elements/hx-tabcontent" >
    &lt;hx-tabcontent&gt;
  </a>


      
      <a href="elements/hx-tablist" >
    &lt;hx-tablist&gt;
  </a>


      
      <a href="elements/hx-tabpanel" >
    &lt;hx-tabpanel&gt;
  </a>


      
      <a href="elements/hx-tabset" >
    &lt;hx-tabset&gt;
  </a>


      
      <a href="elements/hx-text-control" >
    &lt;hx-text-control&gt;
  </a>


      
      <a href="elements/hx-textarea-control" >
    &lt;hx-textarea-control&gt;
  </a>


      
      <a href="elements/hx-tile" >
    &lt;hx-tile&gt;
  </a>


      
      <a href="elements/hx-toast" >
    &lt;hx-toast&gt;
  </a>


      
      <a href="elements/hx-tooltip" >
    &lt;hx-tooltip&gt;
  </a>


  </hx-reveal>


      </nav>

      <main role="main" id="content" class="test-content ">
          <header>
  
  <div class="banner warning">
    <hx-icon type="exclamation-triangle" class="banner__icon"></hx-icon>
    <div class="banner__body">
      <b>UI TESTING:</b>
      Do not replicate anything on this page within your application.
    </div>
  </div>

              <nav class="hxBreadcrumb">
                  <a href="components/tooltip">Tooltip</a>
                  <hx-icon class="delimiter" type="angle-right"></hx-icon>
                <a href="#">Testing - Tooltip</a>
              </nav>

            <h1>
              Testing - Tooltip

            </h1>


              
          </header>

          <div>
  <section>
    <h2>Appearance (simple)</h2>
    <div class="tooltip-appearance">
      <hx-tooltip open>
        Default
      </hx-tooltip>

        <hx-tooltip open position="top-left">
          top-left
        </hx-tooltip>
        <hx-tooltip open position="top">
          top
        </hx-tooltip>
        <hx-tooltip open position="top-right">
          top-right
        </hx-tooltip>
        <hx-tooltip open position="bottom-left">
          bottom-left
        </hx-tooltip>
        <hx-tooltip open position="bottom">
          bottom
        </hx-tooltip>
        <hx-tooltip open position="bottom-right">
          bottom-right
        </hx-tooltip>
        <hx-tooltip open position="right-top">
          right-top
        </hx-tooltip>
        <hx-tooltip open position="right">
          right
        </hx-tooltip>
        <hx-tooltip open position="right-bottom">
          right-bottom
        </hx-tooltip>
        <hx-tooltip open position="left-top">
          left-top
        </hx-tooltip>
        <hx-tooltip open position="left">
          left
        </hx-tooltip>
        <hx-tooltip open position="left-bottom">
          left-bottom
        </hx-tooltip>
    </div>
  </section>

  <section>
    <h2>Appearance (formatted)</h2>
    <div class="tooltip-appearance">
      <hx-tooltip open position="right-bottom">
        <header>Tooltip Header</header>
        <p>
          After inspecting the rear, driver-side battery injector,
          we discovered that the <b>AC condenser</b> of the previous
          gear isn't activating near the horn.
        </p>
      </hx-tooltip>
    </div>
  </section>

  <section>
    <h2>HTML5-compatible IDs</h2>

    <div class="hxRow hxAuto">
      <div class="hxCol">
        <h3>ID on Target</h3>
        <p>
          <span id="000c075715ed46eb61242f85e80aaaa1">Hover Here</span>
          <hx-tooltip for="000c075715ed46eb61242f85e80aaaa1">
            Do you like my hat?
          </hx-tooltip>
        </p>
      </div>
      <div class="hxCol">
        <h3>ID on Tooltip</h3>
        <p>
          <span id="html-tip-2">Hover Here</span>
          <hx-tooltip
            id="100d90208e58f24216be64de517bbbb2"
            for="html-tip-2"
          >
            Do you like my hat?
          </hx-tooltip>
        </p>
      </div>
      <div class="hxCol">
        <h3>ID on Both Tooltip and Target</h3>
        <p>
          <span id="200c075715ed46eb61242f85e80cccc3">Hover Here</span>
          <hx-tooltip
            for="200c075715ed46eb61242f85e80cccc3"
            id="200d90208e58f24216be64de517dddd3"
          >
            Do you like my hat?
          </hx-tooltip>
        </p>
      </div>
    </div>
  </section>

  <section>
    <h2>Various Target Elements</h2>
    <div class="hxRow hxAuto">
      <div class="hxCol">
        <h3>Heading Target</h3>

        <h4 id="heading-target" class="skip-toc">
          #heading-target
        </h4>
        <hx-tooltip for="heading-target" position="bottom">
          #heading-target
        </hx-tooltip>
      </div>

      <div class="hxCol">
        <h3>Button</h3>

        <button class="hxBtn" id="button-target">
          #button-target
        </button>
        <hx-tooltip for="button-target">
          #button-target
        </hx-tooltip>
      </div>

      <div class="hxCol">
        <h3>Span</h3>

        <p>
          <span id="span-target">
            #span-target
          </span>
        </p>
        <hx-tooltip for="span-target">
          #span-target
        </hx-tooltip>
      </div>

      <div class="hxCol">
        <h3>Anchor</h3>

        <p>
          <a id="anchor-target">
            #anchor-target
          </a>
        </p>
        <hx-tooltip for="anchor-target">
          #anchor-target
        </hx-tooltip>
        <p class="hxSubdued hxSubBody">Shouldn't show via keyboard focus.</p>
      </div>

      <div class="hxCol">
        <h3>Link</h3>

        <p>
          <a href="#" id="link-target">
            #link-target
          </a>
        </p>
        <hx-tooltip for="link-target">
          #link-target
        </hx-tooltip>
      </div>

      <div class="hxCol">
        <h3>Disclosure</h3>

        <hx-disclosure id="disclosure-target">
          #disclosure-target
        </hx-disclosure>
        <hx-tooltip for="disclosure-target">
          #disclosure-target
        </hx-tooltip>
      </div>

      <div class="hxCol">
        <h3>Icon</h3>

        <p>
          <hx-icon type="info-circle" id="icon-target"></hx-icon>
        </p>
        <hx-tooltip for="icon-target">
          hx-icon#icon-target
        </hx-tooltip>
      </div>

      <div class="hxCol">
        <h3>Pill</h3>

        <hx-pill id="pill-target">#pill-target</hx-pill>
        <hx-tooltip for="pill-target">
          #pill-target
        </hx-tooltip>
      </div>

      <div class="hxCol">
        <h3>File Input (wrapped)</h3>

        <hx-file-input
          icon="upload"
          label="#file-input-target"
        >
          <input id="file-input-target" type="file" />
        </hx-file-input>
        <p class="hxSubdued hxSubBody">Shouldn't show.</p>

        <hx-tooltip for="file-input-target">
          #file-input-target
        </hx-tooltip>
      </div>

      <div class="hxCol">
        <h3>File Input (hx-file-input)</h3>

        <hx-file-input
          icon="upload"
          id="hx-file-input-target"
          label="#hx-file-input-target"
        >
          <input type="file" />
        </hx-file-input>

        <hx-tooltip for="hx-file-input-target">
          #hx-file-input-target
        </hx-tooltip>
        <p>
          <hx-error>Adds double tab stop</hx-error>
        </p>
      </div>

      <div class="hxCol">
        <h3>Text Input</h3>

        <input
           type="text"
           class="hxTextCtrl"
           placeholder="#text-input-target"
           id="text-input-target"
        />

        <hx-tooltip for="text-input-target">
          #text-input-target
        </hx-tooltip>
      </div>
    </div>
  </section>

  <section>
    <h2>Multiple Targets in Near Proximity</h2>
    <table class="hxTable hxTable--condensed">
      <tbody>
<tr>
          <td>
            <hx-icon type="info-circle" id="tgtProximity0"></hx-icon>
            <hx-tooltip for="tgtProximity0" position="right">Tooltip Message</hx-tooltip>
          </td>
        </tr><tr>
          <td>
            <hx-icon type="info-circle" id="tgtProximity1"></hx-icon>
            <hx-tooltip for="tgtProximity1" position="right">Tooltip Message</hx-tooltip>
          </td>
        </tr><tr>
          <td>
            <hx-icon type="info-circle" id="tgtProximity2"></hx-icon>
            <hx-tooltip for="tgtProximity2" position="right">Tooltip Message</hx-tooltip>
          </td>
        </tr><tr>
          <td>
            <hx-icon type="info-circle" id="tgtProximity3"></hx-icon>
            <hx-tooltip for="tgtProximity3" position="right">Tooltip Message</hx-tooltip>
          </td>
        </tr><tr>
          <td>
            <hx-icon type="info-circle" id="tgtProximity4"></hx-icon>
            <hx-tooltip for="tgtProximity4" position="right">Tooltip Message</hx-tooltip>
          </td>
        </tr>      </tbody>
    </table>
  </section>

  <section>
    <header>
      <h2 id="tooltip-in-table-header">Tooltip Inside a Table Header</h2>
    </header>
    <table class="hxTable">
      <thead>
        <tr>
          <th>
            Rank
            <p>
              <hx-icon id="testIcon1" type="help-circle"></hx-icon>
            </p>
            <hx-tooltip for="testIcon1" open position="bottom-center">
              Bottom Center Tooltip
            </hx-tooltip>
          </th>
        </tr>
      </thead>
    </table>
 </section>

          </div>

            <aside class="hxSiderail">
                <nav class="toc" aria-label="table of contents">
                  
            <a href="#tooltip-in-table-header">Tooltip Inside a Table Header</a>
        
                    
                  <hr class="hxDivider" />
                  <a class="top-link" href="#top">Back to Top</a>
                </nav>
            </aside>
      </main>
    </div>
  </div>

  <footer id="foot" class="hxRow hxGutterless">
    <div class="hxCol">
      &copy; 2017-2020 Rackspace US, Inc.
      <nav>
        <a href="https://www.rackspace.com/information/legal/websiteterms">Website Terms</a>
        <a href="https://www.rackspace.com/information/legal/privacystatement">Privacy Policy</a>
      </nav>
    </div>

    <div class="hxCol hxRight">


      <small>
        Latest Release:
        (<a href="https://github.com/HelixDesignSystem/helix-ui/releases/v0.24.0" target="_blank">
          v0.24.0
        </a>)
      </small>
    </div>
  </footer>

  
  <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
  
  <script src="dist/js/helix-ui.js"></script>
  
  <script src="docs.js"></script>
</body>
</html>
