hx-disclosure {
  &[aria-expanded="true"] {
    .menu-icon {
      transform: scaleY(-1);
    }
  }
}

hx-menu {
  background-color: @gray-0;
  box-shadow: 0px 3px 3px 0 @shadow-color;
  display: none;
  position: absolute;
  width: 15rem;
  z-index: @menu-z-index;

  &[open] {
    display: block;
  }

  & > &item-group + &item-group {
    margin-top: 0.5rem;
  }

  hx-menuitem-group header {
    color: @gray-600;
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  .hxBtn--link {
    padding: 0.25rem 0;
  }
}

hx-menuitem-group {
  display: block;
}

hx-menuitem {
  display: block;
}

.btn-cog {
  border: none;

  hx-icon {
    color: @gray-1000;
  }
}
