<!DOCTYPE html>
<html lang="en">
<head>
  <title>Box - HelixUI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/helix-ui/">

  <link rel="shortcut icon" href="images/favicon.png">

  
  <link
    crossorigin="anonymous"
    href="https://use.fontawesome.com/releases/v5.2.0/css/brands.css"
    integrity="sha384-nT8r1Kzllf71iZl81CdFzObMsaLOhqBU1JD2+XoAALbdtWaXDOlWOZTR4v1ktjPE"
    rel="stylesheet"
  />
  
  <link
    crossorigin="anonymous"
    href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css"
    integrity="sha384-HbmWTHay9psM8qyzEKPc8odH4DsOuzdejtnr+OFtDmOcIVnhgReQ4GZBH7uwcjf6"
    rel="stylesheet"
  />

  
  <link rel="stylesheet" href="dist/css/helix-ui.css">
  
  <link rel="stylesheet" href="docs.css">

  <!-- loader appends polyfills, if needed -->
  <script src="vendor/webcomponents-loader.js"></script>
</head>
<body class="hxVertical" id="top">
  <!-- This link should be the first item a user can tab to. -->
  <a href="#content">Skip to main content</a>

  <header id="head">
    <nav>
      <a class="brand-logo" href="">
        <img src="images/helix-logo.svg" alt="Logo" />
      </a>
    </nav>

    <div>
      <a
        class="hxBtn beta-hxDark"
        href="https://github.com/HelixDesignSystem/helix-ui/"
      >
        <i class="fab fa-github"></i>
        <span>View Source</span>
      </a>
      <a
        class="hxBtn beta-hxDark"
        href="https://github.com/HelixDesignSystem/helix-ui/issues/new?template=bug-report.md&labels=Bug:+Unconfirmed"
      >
        Report Bug
      </a>
    </div>
  </header>

  <div id="app">
    <div id="stage">
      <nav id="nav" class="hxNav">



  
    
  <hx-disclosure
    aria-controls="nav-guides"
>
    Guides
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-guides" >
      
      <a href="guides/getting-started" >
    Getting Started
  </a>


      
      <a href="guides/faq" >
    FAQ
  </a>


      
      <a href="guides/react-compatibility" >
    React Compatibility
  </a>


      
      <a href="guides/polyfills" >
    Polyfills
  </a>


  </hx-reveal>


  
    
  <hx-disclosure
    aria-controls="nav-components"
class="current">
    Components
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-components" open>
      
      <a href="components/accordion" >
    Accordion
  </a>


      
      <a href="components/alert" >
    Alert
  </a>


      
      <a href="components/badge" >
    Badge
  </a>


      
      <a href="components/beacon" >
    Beacon
  </a>


      
      <a href="components/box" class="current">
    Box
  </a>


      
      <a href="components/breadcrumb" >
    Breadcrumb
  </a>


      
      <a href="components/button" >
    Button
  </a>


      
      <a href="components/checkbox" >
    Checkbox
  </a>


      
      <a href="components/choice-tile" >
    Choice Tile
  </a>


      
      <a href="components/drawer" >
    Drawer
  </a>


      
      <a href="components/dropdown-select" >
    Dropdown Select
  </a>


      
      <a href="components/email" >
    Email Input
  </a>


      
      <a href="components/file" >
    File
  </a>


      
      <a href="components/grid" >
    Grid
  </a>


      
      <a href="components/icon" >
    Icon
  </a>


      
      <a href="components/layout" >
    Layout
  </a>


      
      <a href="components/list" >
    List
  </a>


      
      <a href="components/loader" >
    Loader
  </a>


      
      <a href="components/menu" >
    Menu
  </a>


      
      <a href="components/modal" >
    Modal
  </a>


      
      <a href="components/navigation" >
    Navigation
  </a>


      
      <a href="components/pagination" >
    Pagination
  </a>


      
      <a href="components/panel" >
    Panel
  </a>


      
      <a href="components/password" >
    Password Input
  </a>


      
      <a href="components/pill" >
    Pill
  </a>


      
      <a href="components/popover" >
    Popover
  </a>


      
      <a href="components/radio" >
    Radio
  </a>


      
      <a href="components/reveal" >
    Reveal
  </a>


      
      <a href="components/search" >
    Search
  </a>


      
      <a href="components/selector-strip" >
    Selector Strip
  </a>


      
      <a href="components/stepper" >
    Stepper
  </a>


      
      <a href="components/switch" >
    Switch
  </a>


      
      <a href="components/table" >
    Table
  </a>


      
      <a href="components/tabset" >
    Tabset
  </a>


      
      <a href="components/text-input" >
    Text Input
  </a>


      
      <a href="components/textarea" >
    Textarea
  </a>


      
      <a href="components/toast" >
    Toast
  </a>


      
      <a href="components/tooltip" >
    Tooltip
  </a>


      
      <a href="components/typography" >
    Typography
  </a>


  </hx-reveal>


  
    
  <hx-disclosure
    aria-controls="nav-elements"
>
    Custom Elements
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-elements" >
      
      <a href="elements/hx-accordion" >
    &lt;hx-accordion&gt;
  </a>


      
      <a href="elements/hx-accordion-panel" >
    &lt;hx-accordion-panel&gt;
  </a>


      
      <a href="elements/hx-alert" >
    &lt;hx-alert&gt;
  </a>


      
      <a href="elements/hx-beacon" >
    &lt;hx-beacon&gt;
  </a>


      
      <a href="elements/hx-busy" >
    &lt;hx-busy&gt;
  </a>


      
      <a href="elements/hx-checkbox" >
    &lt;hx-checkbox&gt;
  </a>


      
      <a href="elements/hx-checkbox-control" >
    &lt;hx-checkbox-control&gt;
  </a>


      
      <a href="elements/hx-disclosure" >
    &lt;hx-disclosure&gt;
  </a>


      
      <a href="elements/hx-div" >
    &lt;hx-div&gt;
  </a>


      
      <a href="elements/hx-drawer" >
    &lt;hx-drawer&gt;
  </a>


      
      <a href="elements/hx-drop-fence" >
    &lt;hx-drop-fence&gt;
  </a>


      
      <a href="elements/hx-drop-zone" >
    &lt;hx-drop-zone&gt;
  </a>


      
      <a href="elements/hx-error" >
    &lt;hx-error&gt;
  </a>


      
      <a href="elements/hx-email-control" >
    &lt;hx-email-control&gt;
  </a>


      
      <a href="elements/hx-file-icon" >
    &lt;hx-file-icon&gt;
  </a>


      
      <a href="elements/hx-file-input" >
    &lt;hx-file-input&gt;
  </a>


      
      <a href="elements/hx-file-tile" >
    &lt;hx-file-tile&gt;
  </a>


      
      <a href="elements/hx-icon" >
    &lt;hx-icon&gt;
  </a>


      
      <a href="elements/hx-menu" >
    &lt;hx-menu&gt;
  </a>


      
      <a href="elements/hx-menuitem" >
    &lt;hx-menuitem&gt;
  </a>


      
      <a href="elements/hx-modal" >
    &lt;hx-modal&gt;
  </a>


      
      <a href="elements/hx-password-control" >
    &lt;hx-password-control&gt;
  </a>


      
      <a href="elements/hx-pill" >
    &lt;hx-pill&gt;
  </a>


      
      <a href="elements/hx-popover" >
    &lt;hx-popover&gt;
  </a>


      
      <a href="elements/hx-progress" >
    &lt;hx-progress&gt;
  </a>


      
      <a href="elements/hx-radio" >
    &lt;hx-radio&gt;
  </a>


      
      <a href="elements/hx-radio-control" >
    &lt;hx-radio-control&gt;
  </a>


      
      <a href="elements/hx-radio-set" >
    &lt;hx-radio-set&gt;
  </a>


      
      <a href="elements/hx-reveal" >
    &lt;hx-reveal&gt;
  </a>


      
      <a href="elements/hx-search" >
    &lt;hx-search&gt;
  </a>


      
      <a href="elements/hx-search-assistance" >
    &lt;hx-search-assistance&gt;
  </a>


      
      <a href="elements/hx-search-control" >
    &lt;hx-search-control&gt;
  </a>


      
      <a href="elements/hx-select" >
    &lt;hx-select&gt;
  </a>


      
      <a href="elements/hx-select-control" >
    &lt;hx-select-control&gt;
  </a>


      
      <a href="elements/hx-status" >
    &lt;hx-status&gt;
  </a>


      
      <a href="elements/hx-switch" >
    &lt;hx-switch&gt;
  </a>


      
      <a href="elements/hx-tab" >
    &lt;hx-tab&gt;
  </a>


      
      <a href="elements/hx-tabcontent" >
    &lt;hx-tabcontent&gt;
  </a>


      
      <a href="elements/hx-tablist" >
    &lt;hx-tablist&gt;
  </a>


      
      <a href="elements/hx-tabpanel" >
    &lt;hx-tabpanel&gt;
  </a>


      
      <a href="elements/hx-tabset" >
    &lt;hx-tabset&gt;
  </a>


      
      <a href="elements/hx-text-control" >
    &lt;hx-text-control&gt;
  </a>


      
      <a href="elements/hx-textarea-control" >
    &lt;hx-textarea-control&gt;
  </a>


      
      <a href="elements/hx-tile" >
    &lt;hx-tile&gt;
  </a>


      
      <a href="elements/hx-toast" >
    &lt;hx-toast&gt;
  </a>


      
      <a href="elements/hx-tooltip" >
    &lt;hx-tooltip&gt;
  </a>


  </hx-reveal>


      </nav>

      <main role="main" id="content" class="component-content ">
          <header>
              


            <h1>
              Box

<min-version id="page-min-version">
  v0.2.0+
</min-version>

<hx-tooltip for="page-min-version" position="right">
  HelixUI v0.2.0 or later required
</hx-tooltip>
            </h1>


  <p>
    The box component provides a set of CSS classes to apply
    padding evenly around the inside of an element.
  </p>
          </header>

          <div>
  <section>
    <header>
      <h2 id="containers">Containers</h2>
      
    </header>

    <p>
      Containers can be defined in one of two ways:
    </p>

    <ol class="hxList">
      <li>Using an <code>&lt;hx-div&gt;</code> element <em class="hxSubBody">(recommended)</em></li>
      <li>Adding the <code>.hxBox</code> CSS class to any block element</li>
    </ol>

    <div class="example">
      <div class="box-demo">
        <hx-div>hx-div</hx-div>
        <div class="hxBox">div.hxBox</div>
      </div>

      <footer>
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">hx-div</span>&gt;</span>hx-div<span class="hljs-tag">&lt;/<span class="hljs-name">hx-div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxBox"</span>&gt;</span>div.hxBox<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
</code></pre>      </footer>
    </div>

    <p class="hxSubdued hxSubBody">
      <hx-icon type="info-circle"></hx-icon>
      Visual styling added for demonstration purposes.
    </p>
  </section>

  <section>
    <header>
      <h2 id="spacing">Spacing</h2>
      <p>
        Spacing is applied evenly around the inside of a container by
        adding one of the supported CSS classes to your container element.
      </p>
    </header>

    <div class="example" id="vue-boxDemo" v-cloak>
      <header>
        <form class="beta-hxForm">
          <hx-select-control>
            <select id="selSpacing" v-model="spacing">
              <option v-for="_spacing in spacings" :value="_spacing">
{{_spacing.label}}
              </option>
            </select>
            <hx-select></hx-select>
            <label for="selSpacing">
              Spacing
            </label>
          </hx-select-control>
        </form>
      </header>

      <div class="box-demo">
        <hx-div :class="spacing.value">
          <p>
            There was a young lady of Wight,<br />
            Who traveled much faster than light,<br />
            She departed one day,<br />
            In a relative way,<br />
            And arrived on the previous night.
          </p>
        </hx-div>
      </div>

      <footer>
        <pre><code v-text="snippet"></code></pre>
        <template v-if="spacing.value !== ''">
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxBox {{spacing.value}}"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
</code></pre>        </template>
        <template v-else>
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxBox"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
</code></pre>        </template>
      </footer>
    </div>

    <p class="hxSubdued hxSubBody">
      <hx-icon type="info-circle"></hx-icon>
      Visual styling added for demonstration purposes.
    </p>

    <table class="hxTable hxTable--condensed">
      <thead>
        <tr>
          <th>Spacing</th>
          <th>CSS Class</th>
          <th>REM</th>
          <th>PX</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Flush</th>
          <td><code>.hxFlush</code></td>
          <td><code>0rem</code></td>
          <td><code>0px<code></td>
        </tr>
        <tr>
          <th scope="row">Extra Small</th>
          <td><code>.hxXs</code></td>
          <td><code>0.5rem</code></td>
          <td><code>8px<code></td>
        </tr>
        <tr>
          <th scope="row">Small</th>
          <td><code>.hxSm</code></td>
          <td><code>0.75rem<code></td>
          <td><code>12px<code></td>
        </tr>
        <tr>
          <th scope="row">Medium</th>
          <td><code>.hxMd</code></td>
          <td><code>1.25rem<code></td>
          <td><code>20px<code></td>
        </tr>
        <tr>
          <th scope="row">Large</th>
          <td><code>.hxLg</code></td>
          <td><code>2rem<code></td>
          <td><code>32px<code></td>
        </tr>
        <tr>
          <th scope="row">Extra Large</th>
          <td><code>.hxXl</code></td>
          <td><code>3rem<code></td>
          <td><code>48px<code></td>
        </tr>
        <tr>
          <th scope="row">Extra Extra Large</th>
          <td><code>.hx2x</code></td>
          <td><code>4.5rem<code></td>
          <td><code>72px<code></td>
        </tr>
      </tbody>
    </table>
  </section>

  <section>
    <header>
      <h2 id="scrolling-containers">Scrolling Containers</h2>
      
    </header>

    <hx-alert type="warning" persist>
      Scrolling containers must be implemented using the
      <code>&lt;hx-div&gt;</code> element in order to reliably calculate
      coordinates of absolutely positioned elements.
    </hx-alert>

    <p>
      Scrolling containers are defined by setting the value of an
      <code>&lt;hx-div&gt;</code> element's <code>scroll</code> attribute
      to one of the directions demonstrated below.
    </p>

    <div class="example" id="vue-scrollBoxDemo" v-cloak>
      <header>
        <form class="beta-hxForm">
          <fieldset>
            <legend class="beta-hxFieldName">Scroll Direction</legend>
            <hx-radio-set>
              <hx-radio-control v-for="(_direction, idx) in directions">
                <input
                  :id="'radDirection' + idx"
                  :value="_direction"
                  name="direction"
                  type="radio"
                  v-model="direction"
                />
                <label :for="'radDirection' + idx">
                  <hx-radio></hx-radio>
{{_direction}}
                </label>
              </hx-radio-control>
            </hx-radio-set>
          </fieldset>

          <fieldset>
            <legend class="beta-hxFieldName">Options</legend>
            <hx-checkbox-control>
              <input
                id="chkLogEvents"
                type="checkbox"
                v-model="isListening"
              />
              <label for="chkLogEvents">
                <hx-checkbox></hx-checkbox>
                Log events to console
              </label>
            </hx-checkbox-control>
          </fieldset>
        </form>
      </header>

      <div class="scroll-box-demo">
        <hx-div class="hxMd" :scroll="direction">
          <p>
            Try to decide the major scrum, maybe it will help join the VOC
            impediments. A simple blocker always takes less time than a minor
            one. As a user, I should be able to burn out the pirate size so
            that I can satify the prioritized MVP models within the backlog
            branches. If we detail above the methodologies, we can get the
            monthly work in progress before the XP branch.
          </p>

          <p>
            Given viable relationships, always refactoring the steady velocity
            until the cross-functional user story will almost test the big
            standard. If we close inside the stories, we can get the ranked
            documentation around the MVP model. Try to adapt the monthly
            stakeholder, maybe it will help satify the XP deadlines. It was
            discovered that by rarely reviewing the VOC trends, we can refactor
            the acceptance VOC model inside the rapid test. If it takes you too
            long to review the certified WIP bug, then you are not opening
            enough. Given standup items, successfully preventing the ranked
            project management in front of the sustainable release planning
            will typically practice the continuous ScrumMaster.
          </p>

          <p>
            A simple spec always takes less time than a minimum one. We must
            typically open the adaptive VOC pace! Given maintainable
            requirements, quickly adjusting the multiple stakeholder off the
            pair sequence will appropriately plan the single methodology. It was
            discovered that by efficiently learning the MVP interactions, we can
            spike the alpha WIP cycle time by the pirate project management.
            Given predictable charts, elegantly practicing the standup sprint to
            the rapid product owner will perfectly work the cross-functional
            feedback.
          </p>

          <p>
            We must finally block the flexible PR spec! It was discovered that
            by usually picking up the WIP tasks, we can pick up the incremental
            PR release plan beyond the steady standup. Learning the bottlenecks
            should allow our wiki to rank the burndown product owner to the
            production release. The best way to adjust aggressive lifecycle is
            to usually reach their task. As a user, I should be able to adjust
            the adaptive error so that I can practice the agile PR employees
            across the marketable employees.
          </p>

          <p>
            Given extended relationships, perfectly measuring the measured
            branching near the sustainable chart will appropriately select the
            test-driven automation. Given monthly tests, easily detailing the
            pirate customer beneath the design kanban will rarely select the
            incremental stakeholder. Try to rank the pair cycle time, maybe it
            will help groom the VOC applications. A simple lifecycle always
            takes less time than a measured one. We must perfectly estimate
            the numerous WIP test!
          </p>

          <p>
            Try to decide the major scrum, maybe it will help join the VOC
            impediments. A simple blocker always takes less time than a minor
            one. As a user, I should be able to burn out the pirate size so
            that I can satify the prioritized MVP models within the backlog
            branches. If we detail above the methodologies, we can get the
            monthly work in progress before the XP branch.
          </p>

          <p>
            Given viable relationships, always refactoring the steady velocity
            until the cross-functional user story will almost test the big
            standard. If we close inside the stories, we can get the ranked
            documentation around the MVP model. Try to adapt the monthly
            stakeholder, maybe it will help satify the XP deadlines. It was
            discovered that by rarely reviewing the VOC trends, we can refactor
            the acceptance VOC model inside the rapid test. If it takes you too
            long to review the certified WIP bug, then you are not opening
            enough. Given standup items, successfully preventing the ranked
            project management in front of the sustainable release planning
            will typically practice the continuous ScrumMaster.
          </p>

          <p>
            A simple spec always takes less time than a minimum one. We must
            typically open the adaptive VOC pace! Given maintainable
            requirements, quickly adjusting the multiple stakeholder off the
            pair sequence will appropriately plan the single methodology. It was
            discovered that by efficiently learning the MVP interactions, we can
            spike the alpha WIP cycle time by the pirate project management.
            Given predictable charts, elegantly practicing the standup sprint to
            the rapid product owner will perfectly work the cross-functional
            feedback.
          </p>

          <p>
            We must finally block the flexible PR spec! It was discovered that
            by usually picking up the WIP tasks, we can pick up the incremental
            PR release plan beyond the steady standup. Learning the bottlenecks
            should allow our wiki to rank the burndown product owner to the
            production release. The best way to adjust aggressive lifecycle is
            to usually reach their task. As a user, I should be able to adjust
            the adaptive error so that I can practice the agile PR employees
            across the marketable employees.
          </p>

          <p>
            Given extended relationships, perfectly measuring the measured
            branching near the sustainable chart will appropriately select the
            test-driven automation. Given monthly tests, easily detailing the
            pirate customer beneath the design kanban will rarely select the
            incremental stakeholder. Try to rank the pair cycle time, maybe it
            will help groom the VOC applications. A simple lifecycle always
            takes less time than a measured one. We must perfectly estimate
            the numerous WIP test!
          </p>
        </hx-div>
      </div>

      <footer>
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">hx-div</span> <span class="hljs-attr">scroll</span>=<span class="hljs-string">"{{direction}}"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">hx-div</span>&gt;</span>
</code></pre>      </footer>
    </div>
  </section>

<section>
  <h2 id="see-also">See Also</h2>
  <ul class="hxList">
      <li><a href="components/box/test.html">Testing - Box</a></li>
      <li><a href="components/grid">Grid</a></li>
      <li><a href="components/layout">Layout</a></li>
      <li><a href="elements/hx-div">&lt;hx-div&gt;</a></li>
  </ul>
</section>
          </div>

            <aside class="hxSiderail">
                <nav class="toc" aria-label="table of contents">
                  
            <a href="#containers">Containers</a>
        

            <a href="#spacing">Spacing</a>
        

            <a href="#scrolling-containers">Scrolling Containers</a>
        
                    
                    <a href="#see-also">See Also</a>
                  <hr class="hxDivider" />
                  <a class="top-link" href="#top">Back to Top</a>
                </nav>
            </aside>
      </main>
    </div>
  </div>

  <footer id="foot" class="hxRow hxGutterless">
    <div class="hxCol">
      &copy; 2017-2020 Rackspace US, Inc.
      <nav>
        <a href="https://www.rackspace.com/information/legal/websiteterms">Website Terms</a>
        <a href="https://www.rackspace.com/information/legal/privacystatement">Privacy Policy</a>
      </nav>
    </div>

    <div class="hxCol hxRight">


      <small>
        Latest Release:
        (<a href="https://github.com/HelixDesignSystem/helix-ui/releases/v0.24.0" target="_blank">
          v0.24.0
        </a>)
      </small>
    </div>
  </footer>

  
  <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
  
  <script src="dist/js/helix-ui.js"></script>
  
  <script src="docs.js"></script>
</body>
</html>
