@import 'vars';

// DEPRECATED! Use SCSS, instead!
.hxComponent {
  color: @gray-900;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.5;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}

/* ========== COMPONENTS ========== *\
    - Complex CSS Selectors
    - NO !important
\* ========== COMPONENTS ========== */
@import 'components/button/index';
@import 'components/form/index';
