@import "base/links";

.demo-typography {
  .font-open-sans {
    font-family: "Open Sans", "Roboto", sans-serif;
  }

  .font-open-sans-condensed {
    font-family: "Open Sans Condensed", "Roboto Mono", monospace;
  }

  .weight-thin { font-weight: 100; }
  .weight-light { font-weight: 300; }
  .weight-regular { font-weight: 400; }
  .weight-medium { font-weight: 500; }
  .weight-bold { font-weight: 700; }
}

a {
  &.pseudo-active {
    @extend a[href]:active;
  }
}
