// ----- DEPRECATED ----------
//remove in v1.0.0
@import "./mixins/placeholder";

.hxTextCtrl {
  @include hxPlaceholder;

  background-color: $gray-0;
  border-radius: 2px;
  border: 1px solid $gray-500;
  color: $gray-900;
  display: block;
  font-size: 1rem; // 16px
  height: 2rem;
  padding: 0 0.75rem;
  width: 100%;

  textarea {
    min-height: 5.75rem; // ~92px
    resize: vertical;
    padding: 0.5rem;
  }

  &:focus {
    border-color: $cyan-700;
    box-shadow: $focus-glow;
    outline: 0;

    &[invalid] {
      box-shadow: $focus-glow-invalid;
    }
  }

  &[invalid] {
    border: 2px solid $red-status-500;
  }

  &[disabled] {
    @include hxPlaceholder(disabled);

    background-color: $gray-50;
    border-color: $gray-300;
    border-width: 1px;
    color: $gray-400;
    cursor: not-allowed;
    resize: none;
  }
}
