@import "config";

// for Firefox
@import "reset"; // ./_reset.scss

// ---------- CONFIGURATION ----------
$form-asterisk-size: 8px; // OK by design, 2019-04-09
$form-asterisk-gap: 4px;
$form-asterisk-offset: $form-asterisk-size + $form-asterisk-gap;

// ---------- RESETS ----------
.beta-hxForm {
  fieldset {
    border: none;
    padding: 0;
  }

  input {
    @include hxInput(reset);
  }

  // [011] .beta-hxForm label
  //label {
  //  color: inherit;
  //  font-size: inherit;
  //  font-weight: inherit;
  //  padding: 0;
  //}

  // TODO: Is a <legend> always a field name?
  legend {
    border: none;
    color: inherit;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    padding: 0;
    width: 100%;
  }

  select {
    // TODO: Is this still needed? #Moz.reset.invalid();
    box-shadow: none;
    border: 0;
    outline: 0;
  }

  textarea {
    font: inherit;
  }
}
//end:RESETS

// ---------- BASE ----------
*:disabled {
  cursor: not-allowed;
}
//end:BASE

// ---------- FORM COMPONENTS ----------
.hxPrefix, // $[100]
.hxInfix, // [12]:[45]
.hxSuffix { // [65]lbs
  font-size: 1rem;
  color: $gray-900;
}

.beta-hxForm {
  > * {
    margin: 1rem 0; // FIXME: solve with spacing system

    &:first-child {
      margin-top: 0; // FIXME: solve with spacing system
    }

    &:last-child {
      margin-bottom: 0; // FIXME: solve with spacing system
    }
  }

  fieldset {
    > * {
      margin: 0.25rem 0; // FIXME: solve with spacing system

      &:first-child {
        margin-top: 0; // FIXME: solve with spacing system
      }

      &:last-child {
        margin-bottom: 0; // FIXME: solve with spacing system
      }
    }

    > legend {
      color: $gray-800;
      font-size: 0.875rem; // ~14px
    }

    > label {
      display: block;
      font-size: 1rem; // NOTE: this may change with checkboxes and radios
    }
  }

  select,
  input[type="range"] {
    display: block;
    width: 100%;
  }
}

.beta-hxField {
  // placeholder for potential styles
}

.beta-hxFieldName {
  @include hxFieldName;
}
//end:COMPONENT

/// ----------  FORM LAYOUT  ---------- ///

.hxForm.beta {
  > * {
    margin: 1rem 0; // FIXME: solve with spacing system

    &:first-child {
      margin-top: 0; // FIXME: solve with spacing system
    }

    &:last-child {
      margin-bottom: 0; // FIXME: solve with spacing system
    }
  }

  fieldset {
    > * {
      margin: 0.25rem 0; // FIXME: solve with spacing system

      &:first-child {
        margin-top: 0; // FIXME: solve with spacing system
      }

      &:last-child {
        margin-bottom: 0; // FIXME: solve with spacing system
      }
    }

    > legend {
      color: $gray-800;
      font-size: 0.875rem; // ~14px
    }

    > label {
      display: block;
      font-size: 1rem; // NOTE: this may change with checkboxes and radios
    }
  }

  select,
  input[type="range"] {
    display: block;
    width: 100%;
  }
}

// ----------  PAGE FORM LAYOUT  ---------- //
form.hxForm.beta {
  > header {
    background-color: 1px solid $gray-50;
    border-color: $gray-100;
    border-style: solid;
    border-width: 0 0 1px;
    padding: $container-padding;
    border-bottom: 1px solid $gray-100;
  }

  > section {
    > header {
      border-top: 1px solid;
      border-color: $gray-100;
    }
  }

  > footer {
    background: transparent;
    border-top: 1px solid;
    border-color: $gray-100;
  }
}
//end:LAYOUT

/// ---------- FORM HELPERS ----------
///
///  Screen readers already announce if a field is required, but we need
///  to display a required asterisk to sighted users in a way that avoids
///  unnecessary text announcements by a screen reader.
///
///  If we apply `content: '*'` to `::before`, a screen reader would
///  announce "star" as if it were part of the coded label text.
///
///  Obviously, this is underiable.
///
///  By inlining an SVG of the asterisk into `background-image`, we can
///  provide sighted users an indicator while allowing screen readers to
///  correctly announce text content (as they already do).
///
.hxRequired {
  // TODO: see if there is a better option than inlining Base64 (for IE11 support)
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+CiAgPHBhdGggZmlsbD0iI0QzMkYyRiIgZD0iTTUuNjU4IDguOTQxTDAgNy4zM2wxLjA2My0zLjI3NiA1LjYwNCAyLjI2M0w2LjMwNiAwaDMuNTMybC0uMzYxIDYuNDQzIDUuNDYtMi4yMjZMMTYgNy41MjkgMTAuMjM0IDkuMTRsMy43ODQgNC44MTVMMTEuMTUzIDE2bC0zLjI3OS01LjI4NS0zLjI0MyA1LjEwNC0yLjg2NS0xLjk1NXoiLz4KPC9zdmc+Cg==");
  background-position: 0 25%;
  background-repeat: no-repeat;
  background-size: $form-asterisk-size $form-asterisk-size; // IE needs both values
  margin-left: -($form-asterisk-offset);
  padding-left: $form-asterisk-offset;
}

.hxOptional {
  &::after {
    color: $gray-700;
    content: " (optional)";
  }
}

// DEPRECATED
@import "./deprecated"; // remove in v1.0.0
