body {
  background-color: #fafafa;
}

.nav {
  &.crumbs {
    background-color: blue;
    color: white;
  }
  &.eyebrow {
    background-color: #333;
    color: #fff;
  }
  &.primary {
    background-color: red;
    color: white;
  }
  &.left {
    background-color: #333;
    color: #fff;
    width: 15rem;
  }
}

/* Table of Contents */
.sticky-top {
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
}

.toc,
.toc-child {
  list-style: disc;
  padding-left: 2em;
}

// Bootstrap Theme Example
.dropdown-example {
  .dropdown-menu {
    display: block;
    margin-bottom: 1.25em;
    position: static;
  }
}

.tooltip-example {
  &::before {
    content: '';
  }

  .tooltip {
    display: inline-block;
    margin: 10px;
    opacity: 1;
    padding: 5px;
    position: relative;
  }
}

.popover-example {
  z-index: 0;
  display: flex;
  flex-wrap: wrap;

  &::before {
    content: '';
  }

  .popover {
    display: block;
    flex: 0 0 260px;
    margin: 20px;
    position: relative;
    z-index: auto;
  }
}
