// ----- BASE ELEMENTS ---------------

.navbar {
  overflow: hidden;
  width: 100%;
  height: 56px;
  background-color: #000000;
}

.img-left {
  float: left;
  width: 159px;
  height: 56px;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar a img {
  width: 119px;
  height: 24px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  line-height: 1;
  height: 56px;
}

.navbar p {
  color: #ffffff;
  line-height: 1;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  height: 56px;
}

.circle {
  height: 15px;
  width: 15px;
  // margin-top: 0px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #242424;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #242424;
  min-width: 160px;
  // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #ffffff !important;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #242424 !important;
  color: #e6dddd !important;
}

.dropdown:hover .dropdown-content {
  display: block;
}
