<!DOCTYPE html>
<html lang="en">
<head>
  <title>Testing - Dropdown Select - HelixUI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/helix-ui/">

  <link rel="shortcut icon" href="images/favicon.png">

  
  <link
    crossorigin="anonymous"
    href="https://use.fontawesome.com/releases/v5.2.0/css/brands.css"
    integrity="sha384-nT8r1Kzllf71iZl81CdFzObMsaLOhqBU1JD2+XoAALbdtWaXDOlWOZTR4v1ktjPE"
    rel="stylesheet"
  />
  
  <link
    crossorigin="anonymous"
    href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css"
    integrity="sha384-HbmWTHay9psM8qyzEKPc8odH4DsOuzdejtnr+OFtDmOcIVnhgReQ4GZBH7uwcjf6"
    rel="stylesheet"
  />

  
  <link rel="stylesheet" href="dist/css/helix-ui.css">
  
  <link rel="stylesheet" href="docs.css">

  <!-- loader appends polyfills, if needed -->
  <script src="vendor/webcomponents-loader.js"></script>
</head>
<body class="hxVertical" id="top">
  <!-- This link should be the first item a user can tab to. -->
  <a href="#content">Skip to main content</a>

  <header id="head">
    <nav>
      <a class="brand-logo" href="">
        <img src="images/helix-logo.svg" alt="Logo" />
      </a>
    </nav>

    <div>
      <a
        class="hxBtn beta-hxDark"
        href="https://github.com/HelixDesignSystem/helix-ui/"
      >
        <i class="fab fa-github"></i>
        <span>View Source</span>
      </a>
      <a
        class="hxBtn beta-hxDark"
        href="https://github.com/HelixDesignSystem/helix-ui/issues/new?template=bug-report.md&labels=Bug:+Unconfirmed"
      >
        Report Bug
      </a>
    </div>
  </header>

  <div id="app">
    <div id="stage">
      <nav id="nav" class="hxNav">



  
    
  <hx-disclosure
    aria-controls="nav-guides"
>
    Guides
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-guides" >
      
      <a href="guides/getting-started" >
    Getting Started
  </a>


      
      <a href="guides/faq" >
    FAQ
  </a>


      
      <a href="guides/react-compatibility" >
    React Compatibility
  </a>


      
      <a href="guides/polyfills" >
    Polyfills
  </a>


  </hx-reveal>


  
    
  <hx-disclosure
    aria-controls="nav-components"
class="current">
    Components
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-components" open>
      
      <a href="components/accordion" >
    Accordion
  </a>


      
      <a href="components/stepper" >
    Accordion - Stepper
  </a>


      
      <a href="components/alert" >
    Alert
  </a>


      
      <a href="components/badge" >
    Badge
  </a>


      
      <a href="components/beacon" >
    Beacon
  </a>


      
      <a href="components/box" >
    Box
  </a>


      
      <a href="components/breadcrumb" >
    Breadcrumb
  </a>


      
      <a href="components/button" >
    Button
  </a>


      
      <a href="components/checkbox" >
    Checkbox
  </a>


      
      <a href="components/choice-tile" >
    Choice Tile
  </a>


      
      <a href="components/drawer" >
    Drawer
  </a>


      
      <a href="components/dropdown-select" class="current">
    Dropdown Select
  </a>


      
      <a href="components/email" >
    Email Input
  </a>


      
      <a href="components/file" >
    File
  </a>


      
      <a href="components/grid" >
    Grid
  </a>


      
      <a href="components/icon" >
    Icon
  </a>


      
      <a href="components/layout" >
    Layout
  </a>


      
      <a href="components/list" >
    List
  </a>


      
      <a href="components/loader" >
    Loader - Busy | Progress
  </a>


      
      <a href="components/menu" >
    Menu
  </a>


      
      <a href="components/modal" >
    Modal
  </a>


      
      <a href="components/topnav" >
    Navigation - Top Nav
  </a>


      
      <a href="components/secnav" >
    Navigation - Sec Nav
  </a>


      
      <a href="components/navigation" >
    Navigation - Left Nav
  </a>


      
      <a href="components/pagination" >
    Pagination
  </a>


      
      <a href="components/panel" >
    Panel
  </a>


      
      <a href="components/password" >
    Password Input
  </a>


      
      <a href="components/pill" >
    Pill
  </a>


      
      <a href="components/popover" >
    Popover
  </a>


      
      <a href="components/radio" >
    Radio
  </a>


      
      <a href="components/reveal" >
    Reveal
  </a>


      
      <a href="components/search" >
    Search
  </a>


      
      <a href="components/selector-strip" >
    Selector Strip
  </a>


      
      <a href="components/switch" >
    Switch
  </a>


      
      <a href="components/table" >
    Table
  </a>


      
      <a href="components/tabset" >
    Tabset
  </a>


      
      <a href="components/text-input" >
    Text Input
  </a>


      
      <a href="components/textarea" >
    Textarea
  </a>


      
      <a href="components/toast" >
    Toast
  </a>


      
      <a href="components/toggle" >
    Toggle
  </a>


      
      <a href="components/tooltip" >
    Tooltip
  </a>


      
      <a href="components/typography" >
    Typography
  </a>


  </hx-reveal>


  
    
  <hx-disclosure
    aria-controls="nav-elements"
>
    Custom Elements
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-elements" >
      
      <a href="elements/hx-accordion" >
    &lt;hx-accordion&gt;
  </a>


      
      <a href="elements/hx-accordion-panel" >
    &lt;hx-accordion-panel&gt;
  </a>


      
      <a href="elements/hx-alert" >
    &lt;hx-alert&gt;
  </a>


      
      <a href="elements/hx-beacon" >
    &lt;hx-beacon&gt;
  </a>


      
      <a href="elements/hx-busy" >
    &lt;hx-busy&gt;
  </a>


      
      <a href="elements/hx-checkbox" >
    &lt;hx-checkbox&gt;
  </a>


      
      <a href="elements/hx-checkbox-control" >
    &lt;hx-checkbox-control&gt;
  </a>


      
      <a href="elements/hx-disclosure" >
    &lt;hx-disclosure&gt;
  </a>


      
      <a href="elements/hx-div" >
    &lt;hx-div&gt;
  </a>


      
      <a href="elements/hx-drawer" >
    &lt;hx-drawer&gt;
  </a>


      
      <a href="elements/hx-drop-fence" >
    &lt;hx-drop-fence&gt;
  </a>


      
      <a href="elements/hx-drop-zone" >
    &lt;hx-drop-zone&gt;
  </a>


      
      <a href="elements/hx-error" >
    &lt;hx-error&gt;
  </a>


      
      <a href="elements/hx-email-control" >
    &lt;hx-email-control&gt;
  </a>


      
      <a href="elements/hx-file-icon" >
    &lt;hx-file-icon&gt;
  </a>


      
      <a href="elements/hx-file-input" >
    &lt;hx-file-input&gt;
  </a>


      
      <a href="elements/hx-file-tile" >
    &lt;hx-file-tile&gt;
  </a>


      
      <a href="elements/hx-icon" >
    &lt;hx-icon&gt;
  </a>


      
      <a href="elements/hx-menu" >
    &lt;hx-menu&gt;
  </a>


      
      <a href="elements/hx-menuitem" >
    &lt;hx-menuitem&gt;
  </a>


      
      <a href="elements/hx-modal" >
    &lt;hx-modal&gt;
  </a>


      
      <a href="elements/hx-password-control" >
    &lt;hx-password-control&gt;
  </a>


      
      <a href="elements/hx-pill" >
    &lt;hx-pill&gt;
  </a>


      
      <a href="elements/hx-popover" >
    &lt;hx-popover&gt;
  </a>


      
      <a href="elements/hx-progress" >
    &lt;hx-progress&gt;
  </a>


      
      <a href="elements/hx-radio" >
    &lt;hx-radio&gt;
  </a>


      
      <a href="elements/hx-radio-control" >
    &lt;hx-radio-control&gt;
  </a>


      
      <a href="elements/hx-radio-set" >
    &lt;hx-radio-set&gt;
  </a>


      
      <a href="elements/hx-reveal" >
    &lt;hx-reveal&gt;
  </a>


      
      <a href="elements/hx-search" >
    &lt;hx-search&gt;
  </a>


      
      <a href="elements/hx-search-assistance" >
    &lt;hx-search-assistance&gt;
  </a>


      
      <a href="elements/hx-search-control" >
    &lt;hx-search-control&gt;
  </a>


      
      <a href="elements/hx-select" >
    &lt;hx-select&gt;
  </a>


      
      <a href="elements/hx-select-control" >
    &lt;hx-select-control&gt;
  </a>


      
      <a href="elements/hx-status" >
    &lt;hx-status&gt;
  </a>


      
      <a href="elements/hx-switch" >
    &lt;hx-switch&gt;
  </a>


      
      <a href="elements/hx-switch-control" >
    &lt;hx-switch-control&gt;
  </a>


      
      <a href="elements/hx-tab" >
    &lt;hx-tab&gt;
  </a>


      
      <a href="elements/hx-tabcontent" >
    &lt;hx-tabcontent&gt;
  </a>


      
      <a href="elements/hx-tablist" >
    &lt;hx-tablist&gt;
  </a>


      
      <a href="elements/hx-tabpanel" >
    &lt;hx-tabpanel&gt;
  </a>


      
      <a href="elements/hx-tabset" >
    &lt;hx-tabset&gt;
  </a>


      
      <a href="elements/hx-text-control" >
    &lt;hx-text-control&gt;
  </a>


      
      <a href="elements/hx-textarea-control" >
    &lt;hx-textarea-control&gt;
  </a>


      
      <a href="elements/hx-tile" >
    &lt;hx-tile&gt;
  </a>


      
      <a href="elements/hx-toast" >
    &lt;hx-toast&gt;
  </a>


      
      <a href="elements/hx-toggle" >
    &lt;hx-toggle&gt;
  </a>


      
      <a href="elements/hx-toggle-control" >
    &lt;hx-toggle-control&gt;
  </a>


      
      <a href="elements/hx-tooltip" >
    &lt;hx-tooltip&gt;
  </a>


  </hx-reveal>


      </nav>

      <main role="main" id="content" class="test-content dropdown-select-spec">
          <header>
  
  <div class="banner warning">
    <hx-icon type="exclamation-triangle" class="banner__icon"></hx-icon>
    <div class="banner__body">
      <b>UI TESTING:</b>
      Do not replicate anything on this page within your application.
    </div>
  </div>

              <nav class="hxBreadcrumb">
                  <a href="components/dropdown-select">Dropdown Select</a>
                  <hx-icon class="delimiter" type="angle-right"></hx-icon>
                <a href="#">Testing - Dropdown Select</a>
              </nav>

            <h1>
              Testing - Dropdown Select

            </h1>


              
          </header>

          <div>
  <section>
    <header>
      <h2 id="test-pristine">Pristine</h2>
      <code>&lt;hx-select-control&gt;</code>
    </header>
      <section id="pristine-optional-states">
    <header>
      <h3>Optional</h3>
      <code>&lt;select&gt;</code>
    </header>
      <table>
    <thead>
      <tr>
        <th>:valid</th>
        <th>:invalid*</th>
      </tr>
    </thead>
    <tbody>
      <tr><!-- select:enabled -->
        <td>

  <hx-select-control
  >
    <select
      id="hxSelect-pOEV-b-pristine"
    >
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-pOEV-b-pristine">
        Pristine,
      Optional,
      Enabled,
      Valid
      (blur)
    </label>
  </hx-select-control>
</td>
        <td>

  <hx-select-control
  >
    <select
      id="hxSelect-pOEI-b-pristine"
        data-mock-invalid
    >
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-pOEI-b-pristine">
        Pristine,
      Optional,
      Enabled,
      Invalid
      (blur)
    </label>
  </hx-select-control>
</td>
      </tr>
      <tr><!-- select:enabled:focus -->
        <td>

  <hx-select-control
  >
    <select
      id="hxSelect-pOEV-f-pristine"
class="mock-focus"     >
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-pOEV-f-pristine">
        Pristine,
      Optional,
      Enabled,
      Valid
      (focus)
    </label>
  </hx-select-control>
</td>
        <td>

  <hx-select-control
  >
    <select
      id="hxSelect-pOEI-f-pristine"
class="mock-focus"         data-mock-invalid
    >
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-pOEI-f-pristine">
        Pristine,
      Optional,
      Enabled,
      Invalid
      (focus)
    </label>
  </hx-select-control>
</td>
      </tr>
      <tr><!-- select:disabled -->
        <td>

  <hx-select-control
  >
    <select
      id="hxSelect-pODV-b-pristine"
disabled     >
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-pODV-b-pristine">
        Pristine,
      Optional,
      Disabled,
      Valid
      (blur)
    </label>
  </hx-select-control>
</td>
        <td>

  <hx-select-control
  >
    <select
      id="hxSelect-pODI-b-pristine"
disabled         data-mock-invalid
    >
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-pODI-b-pristine">
        Pristine,
      Optional,
      Disabled,
      Invalid
      (blur)
    </label>
  </hx-select-control>
</td>
      </tr>
      <tr><!-- select:disabled:focus -->
        <td>

  <hx-select-control
  >
    <select
      id="hxSelect-pODV-f-pristine"
class="mock-focus" disabled     >
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-pODV-f-pristine">
        Pristine,
      Optional,
      Disabled,
      Valid
      (focus)
    </label>
  </hx-select-control>
</td>
        <td>

  <hx-select-control
  >
    <select
      id="hxSelect-pODI-f-pristine"
class="mock-focus" disabled         data-mock-invalid
    >
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-pODI-f-pristine">
        Pristine,
      Optional,
      Disabled,
      Invalid
      (focus)
    </label>
  </hx-select-control>
</td>
      </tr>
    </tbody>
  </table>
    <p class="hxSubBody hxSubdued">
      <hx-icon type="info-circle"></hx-icon>
      JavaScript required to match <code>:optional:invalid</code>
    </p>

  </section>

  <section id="pristine-required-states">
    <header>
      <h3>Required</h3>
      <code>&lt;select required&gt;</code>
    </header>
      <table>
    <thead>
      <tr>
        <th>:valid</th>
        <th>:invalid</th>
      </tr>
    </thead>
    <tbody>
      <tr><!-- select:enabled -->
        <td>

  <hx-select-control
  >
    <select
      id="hxSelect-pREV-b-pristine"
        required
    >
          <option value="">Invalid Option</option>
          <option value="valid" selected>Valid Option</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-pREV-b-pristine">
        Pristine,
      Required,
      Enabled,
      Valid
      (blur)
    </label>
  </hx-select-control>
</td>
        <td>

  <hx-select-control
  >
    <select
      id="hxSelect-pREI-b-pristine"
        required
    >
          <option value="" selected>Invalid Option</option>
          <option value="valid">Valid Option</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-pREI-b-pristine">
        Pristine,
      Required,
      Enabled,
      Invalid
      (blur)
    </label>
  </hx-select-control>
</td>
      </tr>
      <tr><!-- select:enabled:focus -->
        <td>

  <hx-select-control
  >
    <select
      id="hxSelect-pREV-f-pristine"
class="mock-focus"         required
    >
          <option value="">Invalid Option</option>
          <option value="valid" selected>Valid Option</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-pREV-f-pristine">
        Pristine,
      Required,
      Enabled,
      Valid
      (focus)
    </label>
  </hx-select-control>
</td>
        <td>

  <hx-select-control
  >
    <select
      id="hxSelect-pREI-f-pristine"
class="mock-focus"         required
    >
          <option value="" selected>Invalid Option</option>
          <option value="valid">Valid Option</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-pREI-f-pristine">
        Pristine,
      Required,
      Enabled,
      Invalid
      (focus)
    </label>
  </hx-select-control>
</td>
      </tr>
      <tr><!-- select:disabled -->
        <td>

  <hx-select-control
  >
    <select
      id="hxSelect-pRDV-b-pristine"
disabled         required
    >
          <option value="">Invalid Option</option>
          <option value="valid" selected>Valid Option</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-pRDV-b-pristine">
        Pristine,
      Required,
      Disabled,
      Valid
      (blur)
    </label>
  </hx-select-control>
</td>
        <td>

  <hx-select-control
  >
    <select
      id="hxSelect-pRDI-b-pristine"
disabled         required
    >
          <option value="" selected>Invalid Option</option>
          <option value="valid">Valid Option</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-pRDI-b-pristine">
        Pristine,
      Required,
      Disabled,
      Invalid
      (blur)
    </label>
  </hx-select-control>
</td>
      </tr>
      <tr><!-- select:disabled:focus -->
        <td>

  <hx-select-control
  >
    <select
      id="hxSelect-pRDV-f-pristine"
class="mock-focus" disabled         required
    >
          <option value="">Invalid Option</option>
          <option value="valid" selected>Valid Option</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-pRDV-f-pristine">
        Pristine,
      Required,
      Disabled,
      Valid
      (focus)
    </label>
  </hx-select-control>
</td>
        <td>

  <hx-select-control
  >
    <select
      id="hxSelect-pRDI-f-pristine"
class="mock-focus" disabled         required
    >
          <option value="" selected>Invalid Option</option>
          <option value="valid">Valid Option</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-pRDI-f-pristine">
        Pristine,
      Required,
      Disabled,
      Invalid
      (focus)
    </label>
  </hx-select-control>
</td>
      </tr>
    </tbody>
  </table>

  </section>

  </section>

  <section>
    <header>
      <h2 id="test-dirty">Dirty</h2>
      <code>&lt;hx-select-control hx-dirty&gt;</code>
    </header>
      <section id="changed-optional-states">
    <header>
      <h3>Optional</h3>
      <code>&lt;select&gt;</code>
    </header>
      <table>
    <thead>
      <tr>
        <th>:valid</th>
        <th>:invalid*</th>
      </tr>
    </thead>
    <tbody>
      <tr><!-- select:enabled -->
        <td>

  <hx-select-control
hx-dirty   >
    <select
      id="hxSelect-dOEV-b-changed"
    >
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-dOEV-b-changed">
Dirty,      Optional,
      Enabled,
      Valid
      (blur)
    </label>
  </hx-select-control>
</td>
        <td>

  <hx-select-control
hx-dirty   >
    <select
      id="hxSelect-dOEI-b-changed"
        data-mock-invalid
    >
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-dOEI-b-changed">
Dirty,      Optional,
      Enabled,
      Invalid
      (blur)
    </label>
  </hx-select-control>
</td>
      </tr>
      <tr><!-- select:enabled:focus -->
        <td>

  <hx-select-control
hx-dirty   >
    <select
      id="hxSelect-dOEV-f-changed"
class="mock-focus"     >
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-dOEV-f-changed">
Dirty,      Optional,
      Enabled,
      Valid
      (focus)
    </label>
  </hx-select-control>
</td>
        <td>

  <hx-select-control
hx-dirty   >
    <select
      id="hxSelect-dOEI-f-changed"
class="mock-focus"         data-mock-invalid
    >
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-dOEI-f-changed">
Dirty,      Optional,
      Enabled,
      Invalid
      (focus)
    </label>
  </hx-select-control>
</td>
      </tr>
      <tr><!-- select:disabled -->
        <td>

  <hx-select-control
hx-dirty   >
    <select
      id="hxSelect-dODV-b-changed"
disabled     >
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-dODV-b-changed">
Dirty,      Optional,
      Disabled,
      Valid
      (blur)
    </label>
  </hx-select-control>
</td>
        <td>

  <hx-select-control
hx-dirty   >
    <select
      id="hxSelect-dODI-b-changed"
disabled         data-mock-invalid
    >
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-dODI-b-changed">
Dirty,      Optional,
      Disabled,
      Invalid
      (blur)
    </label>
  </hx-select-control>
</td>
      </tr>
      <tr><!-- select:disabled:focus -->
        <td>

  <hx-select-control
hx-dirty   >
    <select
      id="hxSelect-dODV-f-changed"
class="mock-focus" disabled     >
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-dODV-f-changed">
Dirty,      Optional,
      Disabled,
      Valid
      (focus)
    </label>
  </hx-select-control>
</td>
        <td>

  <hx-select-control
hx-dirty   >
    <select
      id="hxSelect-dODI-f-changed"
class="mock-focus" disabled         data-mock-invalid
    >
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-dODI-f-changed">
Dirty,      Optional,
      Disabled,
      Invalid
      (focus)
    </label>
  </hx-select-control>
</td>
      </tr>
    </tbody>
  </table>
    <p class="hxSubBody hxSubdued">
      <hx-icon type="info-circle"></hx-icon>
      JavaScript required to match <code>:optional:invalid</code>
    </p>

  </section>

  <section id="changed-required-states">
    <header>
      <h3>Required</h3>
      <code>&lt;select required&gt;</code>
    </header>
      <table>
    <thead>
      <tr>
        <th>:valid</th>
        <th>:invalid</th>
      </tr>
    </thead>
    <tbody>
      <tr><!-- select:enabled -->
        <td>

  <hx-select-control
hx-dirty   >
    <select
      id="hxSelect-dREV-b-changed"
        required
    >
          <option value="">Invalid Option</option>
          <option value="valid" selected>Valid Option</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-dREV-b-changed">
Dirty,      Required,
      Enabled,
      Valid
      (blur)
    </label>
  </hx-select-control>
</td>
        <td>

  <hx-select-control
hx-dirty   >
    <select
      id="hxSelect-dREI-b-changed"
        required
    >
          <option value="" selected>Invalid Option</option>
          <option value="valid">Valid Option</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-dREI-b-changed">
Dirty,      Required,
      Enabled,
      Invalid
      (blur)
    </label>
  </hx-select-control>
</td>
      </tr>
      <tr><!-- select:enabled:focus -->
        <td>

  <hx-select-control
hx-dirty   >
    <select
      id="hxSelect-dREV-f-changed"
class="mock-focus"         required
    >
          <option value="">Invalid Option</option>
          <option value="valid" selected>Valid Option</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-dREV-f-changed">
Dirty,      Required,
      Enabled,
      Valid
      (focus)
    </label>
  </hx-select-control>
</td>
        <td>

  <hx-select-control
hx-dirty   >
    <select
      id="hxSelect-dREI-f-changed"
class="mock-focus"         required
    >
          <option value="" selected>Invalid Option</option>
          <option value="valid">Valid Option</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-dREI-f-changed">
Dirty,      Required,
      Enabled,
      Invalid
      (focus)
    </label>
  </hx-select-control>
</td>
      </tr>
      <tr><!-- select:disabled -->
        <td>

  <hx-select-control
hx-dirty   >
    <select
      id="hxSelect-dRDV-b-changed"
disabled         required
    >
          <option value="">Invalid Option</option>
          <option value="valid" selected>Valid Option</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-dRDV-b-changed">
Dirty,      Required,
      Disabled,
      Valid
      (blur)
    </label>
  </hx-select-control>
</td>
        <td>

  <hx-select-control
hx-dirty   >
    <select
      id="hxSelect-dRDI-b-changed"
disabled         required
    >
          <option value="" selected>Invalid Option</option>
          <option value="valid">Valid Option</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-dRDI-b-changed">
Dirty,      Required,
      Disabled,
      Invalid
      (blur)
    </label>
  </hx-select-control>
</td>
      </tr>
      <tr><!-- select:disabled:focus -->
        <td>

  <hx-select-control
hx-dirty   >
    <select
      id="hxSelect-dRDV-f-changed"
class="mock-focus" disabled         required
    >
          <option value="">Invalid Option</option>
          <option value="valid" selected>Valid Option</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-dRDV-f-changed">
Dirty,      Required,
      Disabled,
      Valid
      (focus)
    </label>
  </hx-select-control>
</td>
        <td>

  <hx-select-control
hx-dirty   >
    <select
      id="hxSelect-dRDI-f-changed"
class="mock-focus" disabled         required
    >
          <option value="" selected>Invalid Option</option>
          <option value="valid">Valid Option</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-dRDI-f-changed">
Dirty,      Required,
      Disabled,
      Invalid
      (focus)
    </label>
  </hx-select-control>
</td>
      </tr>
    </tbody>
  </table>

  </section>

  </section>

  <section>
    <header>
      <h2 id="test-visually-invalid">Visually Invalid</h2>
      <code>&lt;hx-select-control class="hxInvalid"&gt;</code>
    </header>
      <section id="invalid-optional-states">
    <header>
      <h3>Optional</h3>
      <code>&lt;select&gt;</code>
    </header>
      <table>
    <thead>
      <tr>
        <th>:valid</th>
        <th>:invalid*</th>
      </tr>
    </thead>
    <tbody>
      <tr><!-- select:enabled -->
        <td>

  <hx-select-control
class="hxInvalid"   >
    <select
      id="hxSelect-pOEV-b-invalid"
    >
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-pOEV-b-invalid">
.hxInvalid,      Optional,
      Enabled,
      Valid
      (blur)
    </label>
  </hx-select-control>
</td>
        <td>

  <hx-select-control
class="hxInvalid"   >
    <select
      id="hxSelect-pOEI-b-invalid"
        data-mock-invalid
    >
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-pOEI-b-invalid">
.hxInvalid,      Optional,
      Enabled,
      Invalid
      (blur)
    </label>
  </hx-select-control>
</td>
      </tr>
      <tr><!-- select:enabled:focus -->
        <td>

  <hx-select-control
class="hxInvalid"   >
    <select
      id="hxSelect-pOEV-f-invalid"
class="mock-focus"     >
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-pOEV-f-invalid">
.hxInvalid,      Optional,
      Enabled,
      Valid
      (focus)
    </label>
  </hx-select-control>
</td>
        <td>

  <hx-select-control
class="hxInvalid"   >
    <select
      id="hxSelect-pOEI-f-invalid"
class="mock-focus"         data-mock-invalid
    >
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-pOEI-f-invalid">
.hxInvalid,      Optional,
      Enabled,
      Invalid
      (focus)
    </label>
  </hx-select-control>
</td>
      </tr>
      <tr><!-- select:disabled -->
        <td>

  <hx-select-control
class="hxInvalid"   >
    <select
      id="hxSelect-pODV-b-invalid"
disabled     >
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-pODV-b-invalid">
.hxInvalid,      Optional,
      Disabled,
      Valid
      (blur)
    </label>
  </hx-select-control>
</td>
        <td>

  <hx-select-control
class="hxInvalid"   >
    <select
      id="hxSelect-pODI-b-invalid"
disabled         data-mock-invalid
    >
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-pODI-b-invalid">
.hxInvalid,      Optional,
      Disabled,
      Invalid
      (blur)
    </label>
  </hx-select-control>
</td>
      </tr>
      <tr><!-- select:disabled:focus -->
        <td>

  <hx-select-control
class="hxInvalid"   >
    <select
      id="hxSelect-pODV-f-invalid"
class="mock-focus" disabled     >
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-pODV-f-invalid">
.hxInvalid,      Optional,
      Disabled,
      Valid
      (focus)
    </label>
  </hx-select-control>
</td>
        <td>

  <hx-select-control
class="hxInvalid"   >
    <select
      id="hxSelect-pODI-f-invalid"
class="mock-focus" disabled         data-mock-invalid
    >
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-pODI-f-invalid">
.hxInvalid,      Optional,
      Disabled,
      Invalid
      (focus)
    </label>
  </hx-select-control>
</td>
      </tr>
    </tbody>
  </table>
    <p class="hxSubBody hxSubdued">
      <hx-icon type="info-circle"></hx-icon>
      JavaScript required to match <code>:optional:invalid</code>
    </p>

  </section>

  <section id="invalid-required-states">
    <header>
      <h3>Required</h3>
      <code>&lt;select required&gt;</code>
    </header>
      <table>
    <thead>
      <tr>
        <th>:valid</th>
        <th>:invalid</th>
      </tr>
    </thead>
    <tbody>
      <tr><!-- select:enabled -->
        <td>

  <hx-select-control
class="hxInvalid"   >
    <select
      id="hxSelect-pREV-b-invalid"
        required
    >
          <option value="">Invalid Option</option>
          <option value="valid" selected>Valid Option</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-pREV-b-invalid">
.hxInvalid,      Required,
      Enabled,
      Valid
      (blur)
    </label>
  </hx-select-control>
</td>
        <td>

  <hx-select-control
class="hxInvalid"   >
    <select
      id="hxSelect-pREI-b-invalid"
        required
    >
          <option value="" selected>Invalid Option</option>
          <option value="valid">Valid Option</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-pREI-b-invalid">
.hxInvalid,      Required,
      Enabled,
      Invalid
      (blur)
    </label>
  </hx-select-control>
</td>
      </tr>
      <tr><!-- select:enabled:focus -->
        <td>

  <hx-select-control
class="hxInvalid"   >
    <select
      id="hxSelect-pREV-f-invalid"
class="mock-focus"         required
    >
          <option value="">Invalid Option</option>
          <option value="valid" selected>Valid Option</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-pREV-f-invalid">
.hxInvalid,      Required,
      Enabled,
      Valid
      (focus)
    </label>
  </hx-select-control>
</td>
        <td>

  <hx-select-control
class="hxInvalid"   >
    <select
      id="hxSelect-pREI-f-invalid"
class="mock-focus"         required
    >
          <option value="" selected>Invalid Option</option>
          <option value="valid">Valid Option</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-pREI-f-invalid">
.hxInvalid,      Required,
      Enabled,
      Invalid
      (focus)
    </label>
  </hx-select-control>
</td>
      </tr>
      <tr><!-- select:disabled -->
        <td>

  <hx-select-control
class="hxInvalid"   >
    <select
      id="hxSelect-pRDV-b-invalid"
disabled         required
    >
          <option value="">Invalid Option</option>
          <option value="valid" selected>Valid Option</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-pRDV-b-invalid">
.hxInvalid,      Required,
      Disabled,
      Valid
      (blur)
    </label>
  </hx-select-control>
</td>
        <td>

  <hx-select-control
class="hxInvalid"   >
    <select
      id="hxSelect-pRDI-b-invalid"
disabled         required
    >
          <option value="" selected>Invalid Option</option>
          <option value="valid">Valid Option</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-pRDI-b-invalid">
.hxInvalid,      Required,
      Disabled,
      Invalid
      (blur)
    </label>
  </hx-select-control>
</td>
      </tr>
      <tr><!-- select:disabled:focus -->
        <td>

  <hx-select-control
class="hxInvalid"   >
    <select
      id="hxSelect-pRDV-f-invalid"
class="mock-focus" disabled         required
    >
          <option value="">Invalid Option</option>
          <option value="valid" selected>Valid Option</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-pRDV-f-invalid">
.hxInvalid,      Required,
      Disabled,
      Valid
      (focus)
    </label>
  </hx-select-control>
</td>
        <td>

  <hx-select-control
class="hxInvalid"   >
    <select
      id="hxSelect-pRDI-f-invalid"
class="mock-focus" disabled         required
    >
          <option value="" selected>Invalid Option</option>
          <option value="valid">Valid Option</option>
    </select>
    <hx-select></hx-select>
    <label for="hxSelect-pRDI-f-invalid">
.hxInvalid,      Required,
      Disabled,
      Invalid
      (focus)
    </label>
  </hx-select-control>
</td>
      </tr>
    </tbody>
  </table>

  </section>

  </section>

  <section>
    <header>
      <h2 id="test-layout">Layout</h2>
      <p class="hxSubdued hxSubBody">
        <hx-icon type="info-circle"></hx-icon>
        Extra elements should not be visible.
      </p>
    </header>

    <div class="hxRow">
      <div class="hxCol hxSpan-4">
        <code>select + hx-select</code>
        <hx-select-control>
          <select>
            <option>select</option>
          </select>
          <hx-select></hx-select>
        </hx-select-control>
      </div>
      <div class="hxCol hxSpan-4">
        <code>select + hx-select + label</code>
        <hx-select-control>
          <select>
            <option>select</option>
          </select>
          <hx-select></hx-select>
          <label>label</label>
        </hx-select-control>
      </div>
      <div class="hxCol hxSpan-4">
        <code>select + label + hx-select</code>
        <hx-select-control>
          <select>
            <option>select</option>
          </select>
          <label>label</label>
          <hx-select></hx-select>
        </hx-select-control>
      </div>
      <div class="hxCol hxSpan-4">
        <code>select + div + hx-select + label</code>
        <hx-select-control>
          <select>
            <option>select</option>
          </select>
          <div>div</div>
          <hx-select></hx-select>
          <label>label</label>
        </hx-select-control>
      </div>
      <div class="hxCol hxSpan-4">
        <code>select + label + div + hx-select</code>
        <hx-select-control>
          <select>
            <option>select</option>
          </select>
          <label>label</label>
          <div>div</div>
          <hx-select></hx-select>
        </hx-select-control>
      </div>
      <div class="hxCol hxSpan-4">
        <code>div + select + label + hx-select</code>
        <hx-select-control>
          <div>div</div>
          <select>
            <option>select</option>
          </select>
          <label>label</label>
          <hx-select></hx-select>
        </hx-select-control>
      </div>
      <div class="hxCol hxSpan-4">
        <code>div + select + hx-error + label + hx-select</code>
        <hx-select-control>
          <div>div</div>
          <select>
            <option>select</option>
          </select>
          <hx-error>hx-error</hx-error>
          <label>label</label>
          <hx-select></hx-select>
        </hx-select-control>
      </div>
    </div>
  </section>

  <section>
    <header>
      <h2 id="test-misc">Miscellaneous</h2>
    </header>

    <div class="hxRow">
      <div class="hxCol hxSpan-4">
        <label for="selLongOption-enabled">
          lengthy option - enabled
        </label>
        <hx-select-control>
          <select id="selLongOption-enabled">
            <option value="1">
              Option 1 with a long description. I bet you think this description
              is longer than it actually is, but it's only long enough to show
              how the arrow obscures the value.
            </option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
          <hx-select></hx-select>
        </hx-select-control>
      </div>
      <div class="hxCol hxSpan-4">
        <label for="selLongOption-disabled">
          lengthy option - disabled
        </label>
        <hx-select-control>
          <select id="selLongOption-disabled" disabled>
            <option value="1">
              Option 1 with a long description. I bet you think this description
              is longer than it actually is, but it's only long enough to show
              how the arrow obscures the value.
            </option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
          <hx-select></hx-select>
        </hx-select-control>
      </div>
    </div>
  </section>

          </div>

            <aside class="hxSiderail">
                <nav class="toc" aria-label="table of contents">
                  
            <a href="#test-pristine">Pristine</a>
        

            <a href="#test-dirty">Dirty</a>
        

            <a href="#test-visually-invalid">Visually Invalid</a>
        

            <a href="#test-layout">Layout</a>
        

            <a href="#test-misc">Miscellaneous</a>
        
                    
                  <hr class="hxDivider" />
                  <a class="top-link" href="#top">Back to Top</a>
                </nav>
            </aside>
      </main>
    </div>
  </div>

  <footer id="foot" class="hxRow hxGutterless">
    <div class="hxCol">
      &copy; 2017-2020 Rackspace US, Inc.
      <nav>
        <a href="https://www.rackspace.com/information/legal/websiteterms">Website Terms</a>
        <a href="https://www.rackspace.com/information/legal/privacystatement">Privacy Policy</a>
      </nav>
    </div>

    <div class="hxCol hxRight">


      <small>
        Latest Release:
        (<a href="https://github.com/HelixDesignSystem/helix-ui/releases/v2.0.0-rc.1" target="_blank">
          v2.0.0-rc.1
        </a>)
      </small>
    </div>
  </footer>

  
  <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
  
  <script src="dist/js/helix-ui.js"></script>
  
  <script src="docs.js"></script>
</body>
</html>
