@import "config";
@import "../config";

hx-tooltip {
  @extend %hxComponent;
  @include is-positionable;

  font-size: 0.875rem;
  max-width: 25rem; // 400px
  z-index: $tooltip-z-index;

  &[open] {
    display: inline-block;
  }
}

#hxTooltip.hx-tooltip,
hx-tooltip {
  > header {
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
}
