<!DOCTYPE html>
<html lang="en">
<head>
  <title>Testing - Textarea - HelixUI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/helix-ui/">

  <link rel="shortcut icon" href="images/favicon.png">

  
  <link
    crossorigin="anonymous"
    href="https://use.fontawesome.com/releases/v5.2.0/css/brands.css"
    integrity="sha384-nT8r1Kzllf71iZl81CdFzObMsaLOhqBU1JD2+XoAALbdtWaXDOlWOZTR4v1ktjPE"
    rel="stylesheet"
  />
  
  <link
    crossorigin="anonymous"
    href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css"
    integrity="sha384-HbmWTHay9psM8qyzEKPc8odH4DsOuzdejtnr+OFtDmOcIVnhgReQ4GZBH7uwcjf6"
    rel="stylesheet"
  />

  
  <link rel="stylesheet" href="dist/css/helix-ui.css">
  
  <link rel="stylesheet" href="docs.css">

  <!-- loader appends polyfills, if needed -->
  <script src="vendor/webcomponents-loader.js"></script>
</head>
<body class="hxVertical" id="top">
  <!-- This link should be the first item a user can tab to. -->
  <a href="#content">Skip to main content</a>

  <header id="head">
    <nav>
      <a class="brand-logo" href="">
        <img src="images/helix-logo.svg" alt="Logo" />
      </a>
    </nav>

    <div>
      <a
        class="hxBtn beta-hxDark"
        href="https://github.com/HelixDesignSystem/helix-ui/"
      >
        <i class="fab fa-github"></i>
        <span>View Source</span>
      </a>
      <a
        class="hxBtn beta-hxDark"
        href="https://github.com/HelixDesignSystem/helix-ui/issues/new?template=bug-report.md&labels=Bug:+Unconfirmed"
      >
        Report Bug
      </a>
    </div>
  </header>

  <div id="app">
    <div id="stage">
      <nav id="nav" class="hxNav">



  
    
  <hx-disclosure
    aria-controls="nav-guides"
>
    Guides
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-guides" >
      
      <a href="guides/getting-started" >
    Getting Started
  </a>


      
      <a href="guides/faq" >
    FAQ
  </a>


      
      <a href="guides/react-compatibility" >
    React Compatibility
  </a>


      
      <a href="guides/polyfills" >
    Polyfills
  </a>


  </hx-reveal>


  
    
  <hx-disclosure
    aria-controls="nav-components"
class="current">
    Components
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-components" open>
      
      <a href="components/accordion" >
    Accordion
  </a>


      
      <a href="components/stepper" >
    Accordion - Stepper
  </a>


      
      <a href="components/alert" >
    Alert
  </a>


      
      <a href="components/badge" >
    Badge
  </a>


      
      <a href="components/beacon" >
    Beacon
  </a>


      
      <a href="components/box" >
    Box
  </a>


      
      <a href="components/breadcrumb" >
    Breadcrumb
  </a>


      
      <a href="components/button" >
    Button
  </a>


      
      <a href="components/checkbox" >
    Checkbox
  </a>


      
      <a href="components/choice-tile" >
    Choice Tile
  </a>


      
      <a href="components/drawer" >
    Drawer
  </a>


      
      <a href="components/dropdown-select" >
    Dropdown Select
  </a>


      
      <a href="components/email" >
    Email Input
  </a>


      
      <a href="components/file" >
    File
  </a>


      
      <a href="components/grid" >
    Grid
  </a>


      
      <a href="components/icon" >
    Icon
  </a>


      
      <a href="components/layout" >
    Layout
  </a>


      
      <a href="components/list" >
    List
  </a>


      
      <a href="components/loader" >
    Loader - Busy | Progress
  </a>


      
      <a href="components/menu" >
    Menu
  </a>


      
      <a href="components/modal" >
    Modal
  </a>


      
      <a href="components/topnav" >
    Navigation - Top Nav
  </a>


      
      <a href="components/secnav" >
    Navigation - Sec Nav
  </a>


      
      <a href="components/navigation" >
    Navigation - Left Nav
  </a>


      
      <a href="components/pagination" >
    Pagination
  </a>


      
      <a href="components/panel" >
    Panel
  </a>


      
      <a href="components/password" >
    Password Input
  </a>


      
      <a href="components/pill" >
    Pill
  </a>


      
      <a href="components/popover" >
    Popover
  </a>


      
      <a href="components/radio" >
    Radio
  </a>


      
      <a href="components/reveal" >
    Reveal
  </a>


      
      <a href="components/search" >
    Search
  </a>


      
      <a href="components/selector-strip" >
    Selector Strip
  </a>


      
      <a href="components/switch" >
    Switch
  </a>


      
      <a href="components/table" >
    Table
  </a>


      
      <a href="components/tabset" >
    Tabset
  </a>


      
      <a href="components/text-input" >
    Text Input
  </a>


      
      <a href="components/textarea" class="current">
    Textarea
  </a>


      
      <a href="components/toast" >
    Toast
  </a>


      
      <a href="components/toggle" >
    Toggle
  </a>


      
      <a href="components/tooltip" >
    Tooltip
  </a>


      
      <a href="components/typography" >
    Typography
  </a>


  </hx-reveal>


  
    
  <hx-disclosure
    aria-controls="nav-elements"
>
    Custom Elements
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-elements" >
      
      <a href="elements/hx-accordion" >
    &lt;hx-accordion&gt;
  </a>


      
      <a href="elements/hx-accordion-panel" >
    &lt;hx-accordion-panel&gt;
  </a>


      
      <a href="elements/hx-alert" >
    &lt;hx-alert&gt;
  </a>


      
      <a href="elements/hx-beacon" >
    &lt;hx-beacon&gt;
  </a>


      
      <a href="elements/hx-busy" >
    &lt;hx-busy&gt;
  </a>


      
      <a href="elements/hx-checkbox" >
    &lt;hx-checkbox&gt;
  </a>


      
      <a href="elements/hx-checkbox-control" >
    &lt;hx-checkbox-control&gt;
  </a>


      
      <a href="elements/hx-disclosure" >
    &lt;hx-disclosure&gt;
  </a>


      
      <a href="elements/hx-div" >
    &lt;hx-div&gt;
  </a>


      
      <a href="elements/hx-drawer" >
    &lt;hx-drawer&gt;
  </a>


      
      <a href="elements/hx-drop-fence" >
    &lt;hx-drop-fence&gt;
  </a>


      
      <a href="elements/hx-drop-zone" >
    &lt;hx-drop-zone&gt;
  </a>


      
      <a href="elements/hx-error" >
    &lt;hx-error&gt;
  </a>


      
      <a href="elements/hx-email-control" >
    &lt;hx-email-control&gt;
  </a>


      
      <a href="elements/hx-file-icon" >
    &lt;hx-file-icon&gt;
  </a>


      
      <a href="elements/hx-file-input" >
    &lt;hx-file-input&gt;
  </a>


      
      <a href="elements/hx-file-tile" >
    &lt;hx-file-tile&gt;
  </a>


      
      <a href="elements/hx-icon" >
    &lt;hx-icon&gt;
  </a>


      
      <a href="elements/hx-menu" >
    &lt;hx-menu&gt;
  </a>


      
      <a href="elements/hx-menuitem" >
    &lt;hx-menuitem&gt;
  </a>


      
      <a href="elements/hx-modal" >
    &lt;hx-modal&gt;
  </a>


      
      <a href="elements/hx-password-control" >
    &lt;hx-password-control&gt;
  </a>


      
      <a href="elements/hx-pill" >
    &lt;hx-pill&gt;
  </a>


      
      <a href="elements/hx-popover" >
    &lt;hx-popover&gt;
  </a>


      
      <a href="elements/hx-progress" >
    &lt;hx-progress&gt;
  </a>


      
      <a href="elements/hx-radio" >
    &lt;hx-radio&gt;
  </a>


      
      <a href="elements/hx-radio-control" >
    &lt;hx-radio-control&gt;
  </a>


      
      <a href="elements/hx-radio-set" >
    &lt;hx-radio-set&gt;
  </a>


      
      <a href="elements/hx-reveal" >
    &lt;hx-reveal&gt;
  </a>


      
      <a href="elements/hx-search" >
    &lt;hx-search&gt;
  </a>


      
      <a href="elements/hx-search-assistance" >
    &lt;hx-search-assistance&gt;
  </a>


      
      <a href="elements/hx-search-control" >
    &lt;hx-search-control&gt;
  </a>


      
      <a href="elements/hx-select" >
    &lt;hx-select&gt;
  </a>


      
      <a href="elements/hx-select-control" >
    &lt;hx-select-control&gt;
  </a>


      
      <a href="elements/hx-status" >
    &lt;hx-status&gt;
  </a>


      
      <a href="elements/hx-switch" >
    &lt;hx-switch&gt;
  </a>


      
      <a href="elements/hx-switch-control" >
    &lt;hx-switch-control&gt;
  </a>


      
      <a href="elements/hx-tab" >
    &lt;hx-tab&gt;
  </a>


      
      <a href="elements/hx-tabcontent" >
    &lt;hx-tabcontent&gt;
  </a>


      
      <a href="elements/hx-tablist" >
    &lt;hx-tablist&gt;
  </a>


      
      <a href="elements/hx-tabpanel" >
    &lt;hx-tabpanel&gt;
  </a>


      
      <a href="elements/hx-tabset" >
    &lt;hx-tabset&gt;
  </a>


      
      <a href="elements/hx-text-control" >
    &lt;hx-text-control&gt;
  </a>


      
      <a href="elements/hx-textarea-control" >
    &lt;hx-textarea-control&gt;
  </a>


      
      <a href="elements/hx-tile" >
    &lt;hx-tile&gt;
  </a>


      
      <a href="elements/hx-toast" >
    &lt;hx-toast&gt;
  </a>


      
      <a href="elements/hx-toggle" >
    &lt;hx-toggle&gt;
  </a>


      
      <a href="elements/hx-toggle-control" >
    &lt;hx-toggle-control&gt;
  </a>


      
      <a href="elements/hx-tooltip" >
    &lt;hx-tooltip&gt;
  </a>


  </hx-reveal>


      </nav>

      <main role="main" id="content" class="test-content textarea-spec">
          <header>
  
  <div class="banner warning">
    <hx-icon type="exclamation-triangle" class="banner__icon"></hx-icon>
    <div class="banner__body">
      <b>UI TESTING:</b>
      Do not replicate anything on this page within your application.
    </div>
  </div>

              <nav class="hxBreadcrumb">
                  <a href="components/textarea">Textarea</a>
                  <hx-icon class="delimiter" type="angle-right"></hx-icon>
                <a href="#">Testing - Textarea</a>
              </nav>

            <h1>
              Testing - Textarea

            </h1>


              
          </header>

          <div>
  <section>
    <header>
      <h2 id="test-pristine">Pristine</h2>
      <code>&lt;hx-textarea-control&gt;</code>
    </header>

    <section>
      <header>
        <h3>Optional</h3>
        <code>&lt;textarea&gt;</code>
      </header>
      <table>
        <thead>
          <tr>
            <th>:valid</th>
            <th>:invalid</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              

  <hx-textarea-control
  >
    <textarea
      id="textarea-pOEV-b-pristine"
    ></textarea>
    <label for="textarea-pOEV-b-pristine">
        Pristine,
      Optional,
      Enabled,
      Valid
      (blur)
    </label>
  </hx-textarea-control>

              

  <hx-textarea-control
  >
    <textarea
      id="textarea-pOEV-f-pristine"
class="mock-focus"     ></textarea>
    <label for="textarea-pOEV-f-pristine">
        Pristine,
      Optional,
      Enabled,
      Valid
      (focus)
    </label>
  </hx-textarea-control>

            </td>
            <td>
              

  <hx-textarea-control
  >
    <textarea
      id="textarea-pOEI-b-pristine"
        data-mock-invalid
    ></textarea>
    <label for="textarea-pOEI-b-pristine">
        Pristine,
      Optional,
      Enabled,
      Invalid
      (blur)
    </label>
  </hx-textarea-control>

              

  <hx-textarea-control
  >
    <textarea
      id="textarea-pOEI-f-pristine"
class="mock-focus"         data-mock-invalid
    ></textarea>
    <label for="textarea-pOEI-f-pristine">
        Pristine,
      Optional,
      Enabled,
      Invalid
      (focus)
    </label>
  </hx-textarea-control>

            </td>
          </tr>
          <tr>
            <td>
              

  <hx-textarea-control
  >
    <textarea
      id="textarea-pODV-b-pristine"
disabled     ></textarea>
    <label for="textarea-pODV-b-pristine">
        Pristine,
      Optional,
      Disabled,
      Valid
      (blur)
    </label>
  </hx-textarea-control>

              

  <hx-textarea-control
  >
    <textarea
      id="textarea-pODV-f-pristine"
class="mock-focus" disabled     ></textarea>
    <label for="textarea-pODV-f-pristine">
        Pristine,
      Optional,
      Disabled,
      Valid
      (focus)
    </label>
  </hx-textarea-control>

            </td>
            <td>
              

  <hx-textarea-control
  >
    <textarea
      id="textarea-pODI-b-pristine"
disabled         data-mock-invalid
    ></textarea>
    <label for="textarea-pODI-b-pristine">
        Pristine,
      Optional,
      Disabled,
      Invalid
      (blur)
    </label>
  </hx-textarea-control>

              

  <hx-textarea-control
  >
    <textarea
      id="textarea-pODI-f-pristine"
class="mock-focus" disabled         data-mock-invalid
    ></textarea>
    <label for="textarea-pODI-f-pristine">
        Pristine,
      Optional,
      Disabled,
      Invalid
      (focus)
    </label>
  </hx-textarea-control>

            </td>
          </tr>
        </tbody>
      </table>
    </section>

    <section>
      <header>
        <h3>Required</h3>
        <code>&lt;textarea required&gt;</code>
      </header>
      <table>
        <thead>
          <tr>
            <th>:valid</th>
            <th>:invalid</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              

  <hx-textarea-control
  >
    <textarea
      id="textarea-pREV-b-pristine"
        required
    >Value</textarea>
    <label for="textarea-pREV-b-pristine">
        Pristine,
      Required,
      Enabled,
      Valid
      (blur)
    </label>
  </hx-textarea-control>

              

  <hx-textarea-control
  >
    <textarea
      id="textarea-pREV-f-pristine"
class="mock-focus"         required
    >Value</textarea>
    <label for="textarea-pREV-f-pristine">
        Pristine,
      Required,
      Enabled,
      Valid
      (focus)
    </label>
  </hx-textarea-control>

            </td>
            <td>
              

  <hx-textarea-control
  >
    <textarea
      id="textarea-pREI-b-pristine"
        required
    ></textarea>
    <label for="textarea-pREI-b-pristine">
        Pristine,
      Required,
      Enabled,
      Invalid
      (blur)
    </label>
  </hx-textarea-control>

              

  <hx-textarea-control
  >
    <textarea
      id="textarea-pREI-f-pristine"
class="mock-focus"         required
    ></textarea>
    <label for="textarea-pREI-f-pristine">
        Pristine,
      Required,
      Enabled,
      Invalid
      (focus)
    </label>
  </hx-textarea-control>

            </td>
          </tr>
          <tr>
            <td>
              

  <hx-textarea-control
  >
    <textarea
      id="textarea-pRDV-b-pristine"
disabled         required
    >Value</textarea>
    <label for="textarea-pRDV-b-pristine">
        Pristine,
      Required,
      Disabled,
      Valid
      (blur)
    </label>
  </hx-textarea-control>

              

  <hx-textarea-control
  >
    <textarea
      id="textarea-pRDV-f-pristine"
class="mock-focus" disabled         required
    >Value</textarea>
    <label for="textarea-pRDV-f-pristine">
        Pristine,
      Required,
      Disabled,
      Valid
      (focus)
    </label>
  </hx-textarea-control>

            </td>
            <td>
              

  <hx-textarea-control
  >
    <textarea
      id="textarea-pRDI-b-pristine"
disabled         required
    ></textarea>
    <label for="textarea-pRDI-b-pristine">
        Pristine,
      Required,
      Disabled,
      Invalid
      (blur)
    </label>
  </hx-textarea-control>

              

  <hx-textarea-control
  >
    <textarea
      id="textarea-pRDI-f-pristine"
class="mock-focus" disabled         required
    ></textarea>
    <label for="textarea-pRDI-f-pristine">
        Pristine,
      Required,
      Disabled,
      Invalid
      (focus)
    </label>
  </hx-textarea-control>

            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </section>

  <section>
    <header>
      <h2 id="test-dirty">Dirty</h2>
      <code>&lt;hx-textarea-control hx-dirty&gt;</code>
    </header>

    <section>
      <header>
        <h3>Optional</h3>
        <code>&lt;textarea&gt;</code>
      </header>
      <table>
        <thead>
          <tr>
            <th>:valid</th>
            <th>:invalid</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              

  <hx-textarea-control
hx-dirty   >
    <textarea
      id="textarea-dOEV-b-dirty"
    ></textarea>
    <label for="textarea-dOEV-b-dirty">
Dirty,      Optional,
      Enabled,
      Valid
      (blur)
    </label>
  </hx-textarea-control>

              

  <hx-textarea-control
hx-dirty   >
    <textarea
      id="textarea-dOEV-f-dirty"
class="mock-focus"     ></textarea>
    <label for="textarea-dOEV-f-dirty">
Dirty,      Optional,
      Enabled,
      Valid
      (focus)
    </label>
  </hx-textarea-control>

            </td>
            <td>
              

  <hx-textarea-control
hx-dirty   >
    <textarea
      id="textarea-dOEI-b-dirty"
        data-mock-invalid
    ></textarea>
    <label for="textarea-dOEI-b-dirty">
Dirty,      Optional,
      Enabled,
      Invalid
      (blur)
    </label>
  </hx-textarea-control>

              

  <hx-textarea-control
hx-dirty   >
    <textarea
      id="textarea-dOEI-f-dirty"
class="mock-focus"         data-mock-invalid
    ></textarea>
    <label for="textarea-dOEI-f-dirty">
Dirty,      Optional,
      Enabled,
      Invalid
      (focus)
    </label>
  </hx-textarea-control>

            </td>
          </tr>
          <tr>
            <td>
              

  <hx-textarea-control
hx-dirty   >
    <textarea
      id="textarea-dODV-b-dirty"
disabled     ></textarea>
    <label for="textarea-dODV-b-dirty">
Dirty,      Optional,
      Disabled,
      Valid
      (blur)
    </label>
  </hx-textarea-control>

              

  <hx-textarea-control
hx-dirty   >
    <textarea
      id="textarea-dODV-f-dirty"
class="mock-focus" disabled     ></textarea>
    <label for="textarea-dODV-f-dirty">
Dirty,      Optional,
      Disabled,
      Valid
      (focus)
    </label>
  </hx-textarea-control>

            </td>
            <td>
              

  <hx-textarea-control
hx-dirty   >
    <textarea
      id="textarea-dODI-b-dirty"
disabled         data-mock-invalid
    ></textarea>
    <label for="textarea-dODI-b-dirty">
Dirty,      Optional,
      Disabled,
      Invalid
      (blur)
    </label>
  </hx-textarea-control>

              

  <hx-textarea-control
hx-dirty   >
    <textarea
      id="textarea-dODI-f-dirty"
class="mock-focus" disabled         data-mock-invalid
    ></textarea>
    <label for="textarea-dODI-f-dirty">
Dirty,      Optional,
      Disabled,
      Invalid
      (focus)
    </label>
  </hx-textarea-control>

            </td>
          </tr>
        </tbody>
      </table>
    </section>

    <section>
      <header>
        <h3>Required</h3>
        <code>&lt;textarea required&gt;</code>
      </header>
      <table>
        <thead>
          <tr>
            <th>:valid</th>
            <th>:invalid</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              

  <hx-textarea-control
hx-dirty   >
    <textarea
      id="textarea-dREV-b-dirty"
        required
    >Value</textarea>
    <label for="textarea-dREV-b-dirty">
Dirty,      Required,
      Enabled,
      Valid
      (blur)
    </label>
  </hx-textarea-control>

              

  <hx-textarea-control
hx-dirty   >
    <textarea
      id="textarea-dREV-f-dirty"
class="mock-focus"         required
    >Value</textarea>
    <label for="textarea-dREV-f-dirty">
Dirty,      Required,
      Enabled,
      Valid
      (focus)
    </label>
  </hx-textarea-control>

            </td>
            <td>
              

  <hx-textarea-control
hx-dirty   >
    <textarea
      id="textarea-dREI-b-dirty"
        required
    ></textarea>
    <label for="textarea-dREI-b-dirty">
Dirty,      Required,
      Enabled,
      Invalid
      (blur)
    </label>
  </hx-textarea-control>

              

  <hx-textarea-control
hx-dirty   >
    <textarea
      id="textarea-dREI-f-dirty"
class="mock-focus"         required
    ></textarea>
    <label for="textarea-dREI-f-dirty">
Dirty,      Required,
      Enabled,
      Invalid
      (focus)
    </label>
  </hx-textarea-control>

            </td>
          </tr>
          <tr>
            <td>
              

  <hx-textarea-control
hx-dirty   >
    <textarea
      id="textarea-dRDV-b-dirty"
disabled         required
    >Value</textarea>
    <label for="textarea-dRDV-b-dirty">
Dirty,      Required,
      Disabled,
      Valid
      (blur)
    </label>
  </hx-textarea-control>

              

  <hx-textarea-control
hx-dirty   >
    <textarea
      id="textarea-dRDV-f-dirty"
class="mock-focus" disabled         required
    >Value</textarea>
    <label for="textarea-dRDV-f-dirty">
Dirty,      Required,
      Disabled,
      Valid
      (focus)
    </label>
  </hx-textarea-control>

            </td>
            <td>
              

  <hx-textarea-control
hx-dirty   >
    <textarea
      id="textarea-dRDI-b-dirty"
disabled         required
    ></textarea>
    <label for="textarea-dRDI-b-dirty">
Dirty,      Required,
      Disabled,
      Invalid
      (blur)
    </label>
  </hx-textarea-control>

              

  <hx-textarea-control
hx-dirty   >
    <textarea
      id="textarea-dRDI-f-dirty"
class="mock-focus" disabled         required
    ></textarea>
    <label for="textarea-dRDI-f-dirty">
Dirty,      Required,
      Disabled,
      Invalid
      (focus)
    </label>
  </hx-textarea-control>

            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </section>

  <section>
    <header>
      <h2 id="test-visually-invalid">Visually Invalid</h2>
      <code>&lt;hx-textarea-control class="hxInvalid"&gt;</code>
    </header>

    <section>
      <header>
        <h3>Optional</h3>
        <code>&lt;textarea&gt;</code>
      </header>
      <table>
        <thead>
          <tr>
            <th>:valid</th>
            <th>:invalid</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              

  <hx-textarea-control
class="hxInvalid"   >
    <textarea
      id="textarea-pOEV-b-invalid"
    ></textarea>
    <label for="textarea-pOEV-b-invalid">
.hxInvalid,      Optional,
      Enabled,
      Valid
      (blur)
    </label>
  </hx-textarea-control>

              

  <hx-textarea-control
class="hxInvalid"   >
    <textarea
      id="textarea-pOEV-f-invalid"
class="mock-focus"     ></textarea>
    <label for="textarea-pOEV-f-invalid">
.hxInvalid,      Optional,
      Enabled,
      Valid
      (focus)
    </label>
  </hx-textarea-control>

            </td>
            <td>
              

  <hx-textarea-control
class="hxInvalid"   >
    <textarea
      id="textarea-pOEI-b-invalid"
        data-mock-invalid
    ></textarea>
    <label for="textarea-pOEI-b-invalid">
.hxInvalid,      Optional,
      Enabled,
      Invalid
      (blur)
    </label>
  </hx-textarea-control>

              

  <hx-textarea-control
class="hxInvalid"   >
    <textarea
      id="textarea-pOEI-f-invalid"
class="mock-focus"         data-mock-invalid
    ></textarea>
    <label for="textarea-pOEI-f-invalid">
.hxInvalid,      Optional,
      Enabled,
      Invalid
      (focus)
    </label>
  </hx-textarea-control>

            </td>
          </tr>
          <tr>
            <td>
              

  <hx-textarea-control
class="hxInvalid"   >
    <textarea
      id="textarea-pODV-b-invalid"
disabled     ></textarea>
    <label for="textarea-pODV-b-invalid">
.hxInvalid,      Optional,
      Disabled,
      Valid
      (blur)
    </label>
  </hx-textarea-control>

              

  <hx-textarea-control
class="hxInvalid"   >
    <textarea
      id="textarea-pODV-f-invalid"
class="mock-focus" disabled     ></textarea>
    <label for="textarea-pODV-f-invalid">
.hxInvalid,      Optional,
      Disabled,
      Valid
      (focus)
    </label>
  </hx-textarea-control>

            </td>
            <td>
              

  <hx-textarea-control
class="hxInvalid"   >
    <textarea
      id="textarea-pODI-b-invalid"
disabled         data-mock-invalid
    ></textarea>
    <label for="textarea-pODI-b-invalid">
.hxInvalid,      Optional,
      Disabled,
      Invalid
      (blur)
    </label>
  </hx-textarea-control>

              

  <hx-textarea-control
class="hxInvalid"   >
    <textarea
      id="textarea-pODI-f-invalid"
class="mock-focus" disabled         data-mock-invalid
    ></textarea>
    <label for="textarea-pODI-f-invalid">
.hxInvalid,      Optional,
      Disabled,
      Invalid
      (focus)
    </label>
  </hx-textarea-control>

            </td>
          </tr>
        </tbody>
      </table>
    </section>

    <section>
      <header>
        <h3>Required</h3>
        <code>&lt;textarea required&gt;</code>
      </header>
      <table>
        <thead>
          <tr>
            <th>:valid</th>
            <th>:invalid</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              

  <hx-textarea-control
class="hxInvalid"   >
    <textarea
      id="textarea-pREV-b-invalid"
        required
    >Value</textarea>
    <label for="textarea-pREV-b-invalid">
.hxInvalid,      Required,
      Enabled,
      Valid
      (blur)
    </label>
  </hx-textarea-control>

              

  <hx-textarea-control
class="hxInvalid"   >
    <textarea
      id="textarea-pREV-f-invalid"
class="mock-focus"         required
    >Value</textarea>
    <label for="textarea-pREV-f-invalid">
.hxInvalid,      Required,
      Enabled,
      Valid
      (focus)
    </label>
  </hx-textarea-control>

            </td>
            <td>
              

  <hx-textarea-control
class="hxInvalid"   >
    <textarea
      id="textarea-pREI-b-invalid"
        required
    ></textarea>
    <label for="textarea-pREI-b-invalid">
.hxInvalid,      Required,
      Enabled,
      Invalid
      (blur)
    </label>
  </hx-textarea-control>

              

  <hx-textarea-control
class="hxInvalid"   >
    <textarea
      id="textarea-pREI-f-invalid"
class="mock-focus"         required
    ></textarea>
    <label for="textarea-pREI-f-invalid">
.hxInvalid,      Required,
      Enabled,
      Invalid
      (focus)
    </label>
  </hx-textarea-control>

            </td>
          </tr>
          <tr>
            <td>
              

  <hx-textarea-control
class="hxInvalid"   >
    <textarea
      id="textarea-pRDV-b-invalid"
disabled         required
    >Value</textarea>
    <label for="textarea-pRDV-b-invalid">
.hxInvalid,      Required,
      Disabled,
      Valid
      (blur)
    </label>
  </hx-textarea-control>

              

  <hx-textarea-control
class="hxInvalid"   >
    <textarea
      id="textarea-pRDV-f-invalid"
class="mock-focus" disabled         required
    >Value</textarea>
    <label for="textarea-pRDV-f-invalid">
.hxInvalid,      Required,
      Disabled,
      Valid
      (focus)
    </label>
  </hx-textarea-control>

            </td>
            <td>
              

  <hx-textarea-control
class="hxInvalid"   >
    <textarea
      id="textarea-pRDI-b-invalid"
disabled         required
    ></textarea>
    <label for="textarea-pRDI-b-invalid">
.hxInvalid,      Required,
      Disabled,
      Invalid
      (blur)
    </label>
  </hx-textarea-control>

              

  <hx-textarea-control
class="hxInvalid"   >
    <textarea
      id="textarea-pRDI-f-invalid"
class="mock-focus" disabled         required
    ></textarea>
    <label for="textarea-pRDI-f-invalid">
.hxInvalid,      Required,
      Disabled,
      Invalid
      (focus)
    </label>
  </hx-textarea-control>

            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </section>

  <section>
    <header>
      <h2 id="test-with-placeholder">With Placeholder</h2>
      <code>&lt;textarea placeholder="Once upon a time..."&gt;</code>
    </header>

    <div class="hxRow">
      <div class="hxCol hxSpan-4">
        <hx-textarea-control>
          <textarea
            placeholder="Once upon a time..."
          ></textarea>
          <label>Valid w/ Placeholder</label>
        </hx-textarea-control>
      </div>
      <div class="hxCol hxSpan-4">
        <hx-textarea-control class="hxInvalid">
          <textarea
            placeholder="Once upon a time..."
          ></textarea>
          <label>Invalid w/ Placeholder</label>
        </hx-textarea-control>
      </div>
      <div class="hxCol hxSpan-4">
        <hx-textarea-control>
          <textarea
            disabled
            placeholder="Once upon a time..."
          ></textarea>
          <label>Disabled w/ Placeholder</label>
        </hx-textarea-control>
      </div>
    </div>
  </section>

  <section>
    <header>
      <h2 id="test-layout">Layout</h2>
      <p class="hxSubdued hxSubBody">
        <hx-icon type="info-circle"></hx-icon>
        Extra elements should not be visible.
      </p>
    </header>

    <div class="hxRow">
      <div class="hxCol hxSpan-4">
        <code>textarea + label</code>
        <hx-textarea-control>
          <textarea></textarea>
          <label>Label</label>
        </hx-textarea-control>
      </div>
      <div class="hxCol hxSpan-4">
        <code>textarea + label.hxRequired</code>
        <hx-textarea-control>
          <textarea></textarea>
          <label class="hxRequired">Label</label>
        </hx-textarea-control>
      </div>
      <div class="hxCol hxSpan-4">
        <code>textarea + label.hxOptional</code>
        <hx-textarea-control>
          <textarea></textarea>
          <label class="hxOptional">Label</label>
        </hx-textarea-control>
      </div>
      <div class="hxCol hxSpan-4">
        <code>textarea + label.hxRequired.hxOptional</code>
        <hx-textarea-control>
          <textarea></textarea>
          <label class="hxRequired hxOptional">Label</label>
        </hx-textarea-control>
      </div>
      <div class="hxCol hxSpan-4">
        <code>textarea + label + .hxPrefix</code>
        <hx-textarea-control>
          <textarea></textarea>
          <label>Label</label>
          <span class="hxPrefix">prefix</span>
        </hx-textarea-control>
      </div>
      <div class="hxCol hxSpan-4">
        <code>textarea + label + .hxSuffix</code>
        <hx-textarea-control>
          <textarea></textarea>
          <label>Label</label>
          <span class="hxSuffix">suffix</span>
        </hx-textarea-control>
      </div>
      <div class="hxCol hxSpan-4">
        <code>textarea + label + .hxPrefix + .hxSuffix</code>
        <hx-textarea-control>
          <textarea></textarea>
          <label>Label</label>
          <span class="hxPrefix">prefix</span>
          <span class="hxSuffix">suffix</span>
        </hx-textarea-control>
      </div>
      <div class="hxCol hxSpan-4">
        <code>textarea + label + p</code>
        <hx-textarea-control>
          <textarea></textarea>
          <label>Label</label>
          <p>Paragraph of text</p>
        </hx-textarea-control>
      </div>
    </div>
  </section>

          </div>

            <aside class="hxSiderail">
                <nav class="toc" aria-label="table of contents">
                  
            <a href="#test-pristine">Pristine</a>
        

            <a href="#test-dirty">Dirty</a>
        

            <a href="#test-visually-invalid">Visually Invalid</a>
        

            <a href="#test-with-placeholder">With Placeholder</a>
        

            <a href="#test-layout">Layout</a>
        
                    
                  <hr class="hxDivider" />
                  <a class="top-link" href="#top">Back to Top</a>
                </nav>
            </aside>
      </main>
    </div>
  </div>

  <footer id="foot" class="hxRow hxGutterless">
    <div class="hxCol">
      &copy; 2017-2020 Rackspace US, Inc.
      <nav>
        <a href="https://www.rackspace.com/information/legal/websiteterms">Website Terms</a>
        <a href="https://www.rackspace.com/information/legal/privacystatement">Privacy Policy</a>
      </nav>
    </div>

    <div class="hxCol hxRight">


      <small>
        Latest Release:
        (<a href="https://github.com/HelixDesignSystem/helix-ui/releases/v2.0.0-rc.0" target="_blank">
          v2.0.0-rc.0
        </a>)
      </small>
    </div>
  </footer>

  
  <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
  
  <script src="dist/js/helix-ui.js"></script>
  
  <script src="docs.js"></script>
</body>
</html>
