<!DOCTYPE html>
<html lang="en">
<head>
  
  <title>Popovers | HelixUI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="/helix-ui/images/favicon.png">

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">

  <link rel="stylesheet" href="/helix-ui/styles/bootstrap.helix.css">
  <link rel="stylesheet" href="/helix-ui/styles/helix-ui.css">
  <link rel="stylesheet" href="/helix-ui/styles/explorer.css">

  <!-- ES5 Adapter -->
  <script src="https://ab2b55b0a26bb32fdc01-2c8b94bcec8e01c366189541a4035ea4.ssl.cf5.rackcdn.com/custom-elements-es5-adapter.js"></script>
  <!-- Polyfill Loader -->
  <script src="https://ab2b55b0a26bb32fdc01-2c8b94bcec8e01c366189541a4035ea4.ssl.cf5.rackcdn.com/webcomponents-loader.js"></script>
</head>

<body id="top">
  <header id="global-header">
    <nav class="global-nav">
    <a class="brand-logo" href="/helix-ui/">
        <img src="/helix-ui/images/helix-logo.svg" alt="Helix Logo">
    </a>
    <div class="links">
        
            <a class="current">Popovers</a>
        
    </div>
</nav>

  </header>

  <div id="app-container">
    <div class="app-nav-container">
      <nav class="hx-app-nav">
  <hx-reveal >
    <header slot="summary">
      Guides
      <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
    </header>
    
      
      <a
        class=""
        href="/helix-ui/guides/install"
      >
        Installing
      </a>
    
  </hx-reveal>

  <hx-reveal open>
    <header slot="summary">
      Components
      <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
    </header>
    
      
      <a
        class=""
        href="/helix-ui/components/alerts"
      >
        Alerts
      </a>
    
      
      <a
        class=""
        href="/helix-ui/components/badges"
      >
        Badges
      </a>
    
      
      <a
        class=""
        href="/helix-ui/components/blockquotes"
      >
        Blockquotes
      </a>
    
      
      <a
        class=""
        href="/helix-ui/components/breadcrumbs"
      >
        Breadcrumbs
      </a>
    
      
      <a
        class=""
        href="/helix-ui/components/buttons"
      >
        Buttons
      </a>
    
      
      <a
        class=""
        href="/helix-ui/components/code"
      >
        Code
      </a>
    
      
      <a
        class=""
        href="/helix-ui/components/dropdowns"
      >
        Dropdowns
      </a>
    
      
      <a
        class=""
        href="/helix-ui/components/forms"
      >
        Forms
      </a>
    
      
      <a
        class=""
        href="/helix-ui/components/grid"
      >
        Grid
      </a>
    
      
      <a
        class=""
        href="/helix-ui/components/icons"
      >
        Icons
      </a>
    
      
      <a
        class=""
        href="/helix-ui/components/lists"
      >
        Lists
      </a>
    
      
      <a
        class=""
        href="/helix-ui/components/modals"
      >
        Modals
      </a>
    
      
      <a
        class=""
        href="/helix-ui/components/navigation"
      >
        Navigation
      </a>
    
      
      <a
        class=""
        href="/helix-ui/components/pagination"
      >
        Pagination
      </a>
    
      
      <a
        class="current"
        href="/helix-ui/components/popovers"
      >
        Popovers
      </a>
    
      
      <a
        class=""
        href="/helix-ui/components/progressbars"
      >
        Progress Bars
      </a>
    
      
      <a
        class=""
        href="/helix-ui/components/reveal"
      >
        Reveal
      </a>
    
      
      <a
        class=""
        href="/helix-ui/components/tables"
      >
        Tables
      </a>
    
      
      <a
        class=""
        href="/helix-ui/components/tabs"
      >
        Tabs
      </a>
    
      
      <a
        class=""
        href="/helix-ui/components/tooltips"
      >
        Tooltips
      </a>
    
      
      <a
        class=""
        href="/helix-ui/components/typography"
      >
        Typography
      </a>
    
  </hx-reveal>
</nav>

    </div>

    <main id="app-content">
      <article>
    <header class="page-header">
        <span class="page-title">
            Popovers
            
        </span>
    </header>

    <div class="hxRow">
        <div class="hxCol-xs-12 hxCol-md-3 hxOrder-md-2">
            

<aside>
    <dl>
        <dt>Last Updated:</dt>
        <dd>2017-09-06</dd>

        
            <dt>Assets:</dt>
            
                <dd><code>bootstrap.helix.css</code></dd>
            
        
    </dl>
</aside>

<aside class="article-toc" role="navigation">
    <header class="article-toc-title">Content</header>
    
    
        <p>
            <em>Unavailable</em>
        </p>
    
</aside>

        </div>
        <div class="hxCol-xs-12 hxCol-md-9 hxOrder-1">
            <!-- explanation goes here -->

<div class="demo">
  <div class="popover-example">
    <div class="popover top">
      <div class="arrow"></div>
      <h3 class="popover-title">h3 popover title</h3>
      <div class="popover-content">
        <p>
          <code>.popover-content</code>
          Sed posuere consectetur est at lobortis. Aenean eu leo quam.
          Pellentesque ornare sem lacinia quam venenatis vestibulum.
        </p>
      </div>
    </div>
    <div class="popover right">
      <div class="arrow"></div>
      <h3 class="popover-title">h3 popover title</h3>
      <div class="popover-content">
        <p>
          <code>.popover-content</code>
          Sed posuere consectetur est at lobortis. Aenean eu leo quam.
          Pellentesque ornare sem lacinia quam venenatis vestibulum.
        </p>
      </div>
    </div>
    <div class="popover bottom">
      <div class="arrow"></div>
      <h3 class="popover-title">h3 popover title</h3>
      <div class="popover-content">
        <p>
          <code>.popover-content</code>
          Sed posuere consectetur est at lobortis. Aenean eu leo quam.
          Pellentesque ornare sem lacinia quam venenatis vestibulum.
        </p>
      </div>
    </div>
    <div class="popover left">
      <div class="arrow"></div>
      <h3 class="popover-title">h3 popover title</h3>
      <div class="popover-content">
        <p>
          <code>.popover-content</code>
          Sed posuere consectetur est at lobortis. Aenean eu leo quam.
          Pellentesque ornare sem lacinia quam venenatis vestibulum.
        </p>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>


        </div>
    </div>
</article>

    </main>
  </div>

  <footer id="global-footer">
    <nav class="footer-nav">
  <div class="links">
    
    <a href="/helix-ui/2000/01/01/v0000-00-00/">
        v0000-00-00
    </a>
  </div>
</nav>

  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/helix-ui/scripts/helix-ui.js"></script>
<script src="/helix-ui/scripts/explorer.js"></script>

</body>
</html>
