@import "vars";

/// ========== HEADINGS ==========
h1,
.hxHeading-1 {
  color: $gray-900;
  font-size: 3rem;
  font-weight: 100;
  text-transform: none;
}

h2,
.hxHeading-2 {
  color: $gray-900;
  font-size: 2rem;
  font-weight: 300;
  text-transform: none;
}

h3,
.hxHeading-3 {
  color: $gray-900;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: none;
}

h4,
.hxHeading-4 {
  color: $gray-900;
  font-size: 1rem;
  font-weight: 500;
  text-transform: none;
}

h5,
.hxHeading-5 {
  color: $gray-800;
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: uppercase;
}

h6 {
  color: inherit;
  font-size: 1rem;
  font-weight: 500;
  text-transform: none;
}

// Error Custom Element
hx-error {
  color: $red-900;
}

// Additional Helper Classes
.hxSubdued {
  color: $gray-750;
}

.hxFigure figcaption,
.hxCaption {
  color: $gray-800;
  font-size: 0.875rem;
  font-weight: 300;
}

.hxSubBody {
  font-size: 0.75rem;
}

@import "hljs";

/// ===== DEPRECATED Remove in v1.0.0 =====
.hxPageTitle {
  @extend .hxHeading-1;
}

.hxSectionTitle {
  @extend .hxHeading-2;
}

.hxSubSectionTitle {
  @extend .hxHeading-3;
}

.hxContainerTitle {
  @extend .hxHeading-4;
}

.hxLabel {
  color: $gray-750;
  font-size: 1rem;
  font-weight: 500;
}
