@mixin hxButton($weight: secondary, $size: medium) {
  border-radius: $corner-radius;
  display: inline-flex;
  justify-content: center;

  > * + * {
    // ensure white space between children
    margin-left: 0.5rem;
  }

  &:focus {
    outline: none;
  }

  &[disabled] {
    cursor: not-allowed;

    &:focus {
      box-shadow: none;
    }
  }

  @include hxButton-size($size);
  @include hxButton-weight($weight);
}

/// =========================== ///
/// ========== RESET ========== ///
/// =========================== ///

@mixin hxButton--reset {
  background-color: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  font-size: 0.875rem;
  font-weight: 700; // bold
  line-height: 1;
  margin: 0;
  padding: 0;
}

/// ============================= ///
/// ========== WEIGHTS ========== ///
/// ============================= ///

@mixin hxButton-weight($weight) {
  @if $weight == primary {
    @include hxButton--primary;
  }
  @else if $weight == secondary {
    @include hxButton--secondary;
  }
  @else if $weight == tertiary {
    @include hxButton--tertiary;
  }
  @else {
    // weightless (no additional styles)
  }
}

/// =========================== ///
/// ========== SIZES ========== ///
/// =========================== ///

@mixin hxButton-size($size) {
  @if $size == small {
    padding: 0.125rem 0.5rem;
  }
  @else if $size == medium {
    font-size: 0.875rem;
    padding: 0.5rem 0.75rem;
  }
  @else if $size == large {
    font-size: 1rem;
    padding: 1rem;
  }
  @else {
    // no additional styles
  }
}

/// ------------------------------------ ///
/// ---------- PRIMARY BUTTON ---------- ///
/// ------------------------------------ ///

@mixin hxButton--primary {
  background-color: $blue-500;
  border: none;
  color: $gray-0;

  &:hover {
    @include hxButton-hover--primary;
  }

  &:active {
    @include hxButton-active--primary;
  }

  &:focus {
    @include hxButton-focus--primary;
  }

  &[disabled] {
    @include hxButton-disabled--primary;
  }
}

@mixin hxButton-active--primary {
  background-color: $blue-900;
  border-color: transparent;
  color: $gray-0;
}

@mixin hxButton-disabled--primary {
  background-color: $gray-500;
  border-color: transparent;
  color: $gray-0;
}

@mixin hxButton-focus--primary {
  box-shadow: 0 0 4px rgba($blue-700, 0.5);
  outline: none;
}

@mixin hxButton-hover--primary {
  background-color: $blue-700;
  border-color: transparent;
  color: $gray-0;
}

/// -------------------------------------- ///
/// ---------- SECONDARY BUTTON ---------- ///
/// -------------------------------------- ///

@mixin hxButton--secondary {
  background-color: transparent;
  border: 1px solid $blue-500;
  color: $blue-500;

  &:hover {
    @include hxButton-hover--secondary;
  }

  &:active {
    @include hxButton-active--secondary;
  }

  &:focus {
    @include hxButton-focus--secondary;
  }

  &[disabled] {
    @include hxButton-disabled--secondary;
  }
}

@mixin hxButton-active--secondary {
  background-color: transparent;
  border: 1px solid $blue-900;
  color: $blue-900;
}

@mixin hxButton-disabled--secondary {
  background-color: transparent;
  border: 1px solid $gray-500;
  color: $gray-500;
}

@mixin hxButton-focus--secondary {
  box-shadow: 0 0 4px rgba($blue-700, 0.5);
}

@mixin hxButton-hover--secondary {
  background-color: transparent;
  border: 1px solid $blue-700;
  color: $blue-700;
}


/// ------------------------------------- ///
/// ---------- TERTIARY BUTTON ---------- ///
/// ------------------------------------- ///

@mixin hxButton--tertiary {
  background-color: transparent;
  border: none;
  color: $blue-500;

  // TODO: deprecated Button and Button Bar styles
  &.hxDeprecated {
    padding-left: 0;
    padding-right: 0;
  }

  &:hover {
    @include hxButton-hover--tertiary;
  }

  &:active {
    @include hxButton-active--tertiary;
  }

  &:focus {
    @include hxButton-focus--tertiary;
  }

  &[disabled] {
    @include hxButton-disabled--tertiary;
  }
}

@mixin hxButton-active--tertiary {
  background-color: transparent;
  border-color: transparent;
  color: $blue-900;
}

@mixin hxButton-disabled--tertiary {
  background-color: transparent;
  border-color: transparent;
  color: $gray-500;
}

@mixin hxButton-focus--tertiary {
  box-shadow: 0 0 4px rgba($blue-700, 0.5);
  outline: none;
}

@mixin hxButton-hover--tertiary {
  background-color: transparent;
  border-color: transparent;
  color: $blue-700;
}
