@mixin hxButtonBar {
  display: inline-flex;

  > .hxBtn {
    border-radius: 0;

    &:first-child {
      border-radius: 0;  // Removed - v2.0 Specs
    }

    &:last-child {
      border-radius: 0; // Removed - v2.0 Specs
    }

    + .hxBtn {
      border-left: 0;
    }
  }

  // ----- WEIGHT VARIANTS -----
  &.hxPrimary {
    > .hxBtn {
      @include hxButton-weight(primary);

      + .hxBtn {
        border-left: 1px solid currentColor;
      }
    }
  }

  &.hxTertiary {
    > .hxBtn {
      @include hxButton-weight(tertiary);

      + .hxBtn {
        margin-left: map-get($space, md);
      }
    }
  }

  // ----- SIZE VARIANTS -----
  &.hxLg {
    > .hxBtn {
      @include hxButton-size(large);
    }
  }

  &.hxSm {
    > .hxBtn {
      @include hxButton-size(small);
    }
  }
}
