<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tabset - HelixUI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/helix-ui/">

  <link rel="shortcut icon" href="images/favicon.png">

  
  <link
    crossorigin="anonymous"
    href="https://use.fontawesome.com/releases/v5.2.0/css/brands.css"
    integrity="sha384-nT8r1Kzllf71iZl81CdFzObMsaLOhqBU1JD2+XoAALbdtWaXDOlWOZTR4v1ktjPE"
    rel="stylesheet"
  />
  
  <link
    crossorigin="anonymous"
    href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css"
    integrity="sha384-HbmWTHay9psM8qyzEKPc8odH4DsOuzdejtnr+OFtDmOcIVnhgReQ4GZBH7uwcjf6"
    rel="stylesheet"
  />

  
  <link rel="stylesheet" href="dist/css/helix-ui.css">
  
  <link rel="stylesheet" href="docs.css">

  <!-- loader appends polyfills, if needed -->
  <script src="vendor/webcomponents-loader.js"></script>
</head>
<body class="hxVertical" id="top">
  <!-- This link should be the first item a user can tab to. -->
  <a href="#content">Skip to main content</a>

  <header id="head">
    <nav>
      <a class="brand-logo" href="">
        <img src="images/helix-logo.svg" alt="Logo" />
      </a>
    </nav>

    <div>
      <a
        class="hxBtn beta-hxDark"
        href="https://github.com/HelixDesignSystem/helix-ui/"
      >
        <i class="fab fa-github"></i>
        <span>View Source</span>
      </a>
      <a
        class="hxBtn beta-hxDark"
        href="https://github.com/HelixDesignSystem/helix-ui/issues/new?template=bug-report.md&labels=Bug:+Unconfirmed"
      >
        Report Bug
      </a>
    </div>
  </header>

  <div id="app">
    <div id="stage">
      <nav id="nav" class="hxNav">



  
    
  <hx-disclosure
    aria-controls="nav-guides"
>
    Guides
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-guides" >
      
      <a href="guides/getting-started" >
    Getting Started
  </a>


      
      <a href="guides/faq" >
    FAQ
  </a>


      
      <a href="guides/react-compatibility" >
    React Compatibility
  </a>


      
      <a href="guides/polyfills" >
    Polyfills
  </a>


  </hx-reveal>


  
    
  <hx-disclosure
    aria-controls="nav-components"
class="current">
    Components
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-components" open>
      
      <a href="components/accordion" >
    Accordion
  </a>


      
      <a href="components/alert" >
    Alert
  </a>


      
      <a href="components/badge" >
    Badge
  </a>


      
      <a href="components/box" >
    Box
  </a>


      
      <a href="components/breadcrumb" >
    Breadcrumb
  </a>


      
      <a href="components/button" >
    Button
  </a>


      
      <a href="components/checkbox" >
    Checkbox
  </a>


      
      <a href="components/choice-tile" >
    Choice Tile
  </a>


      
      <a href="components/drawer" >
    Drawer
  </a>


      
      <a href="components/dropdown-select" >
    Dropdown Select
  </a>


      
      <a href="components/file" >
    File
  </a>


      
      <a href="components/grid" >
    Grid
  </a>


      
      <a href="components/icon" >
    Icon
  </a>


      
      <a href="components/layout" >
    Layout
  </a>


      
      <a href="components/list" >
    List
  </a>


      
      <a href="components/loader" >
    Loader
  </a>


      
      <a href="components/menu" >
    Menu
  </a>


      
      <a href="components/modal" >
    Modal
  </a>


      
      <a href="components/navigation" >
    Navigation
  </a>


      
      <a href="components/pagination" >
    Pagination
  </a>


      
      <a href="components/panel" >
    Panel
  </a>


      
      <a href="components/pill" >
    Pill
  </a>


      
      <a href="components/popover" >
    Popover
  </a>


      
      <a href="components/radio" >
    Radio
  </a>


      
      <a href="components/reveal" >
    Reveal
  </a>


      
      <a href="components/search" >
    Search
  </a>


      
      <a href="components/selector-strip" >
    Selector Strip
  </a>


      
      <a href="components/table" >
    Table
  </a>


      
      <a href="components/tabset" class="current">
    Tabset
  </a>


      
      <a href="components/text-input" >
    Text Input
  </a>


      
      <a href="components/textarea" >
    Textarea
  </a>


      
      <a href="components/toast" >
    Toast
  </a>


      
      <a href="components/tooltip" >
    Tooltip
  </a>


      
      <a href="components/typography" >
    Typography
  </a>


  </hx-reveal>


  
    
  <hx-disclosure
    aria-controls="nav-elements"
>
    Custom Elements
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-elements" >
      
      <a href="elements/hx-accordion" >
    &lt;hx-accordion&gt;
  </a>


      
      <a href="elements/hx-accordion-panel" >
    &lt;hx-accordion-panel&gt;
  </a>


      
      <a href="elements/hx-alert" >
    &lt;hx-alert&gt;
  </a>


      
      <a href="elements/hx-busy" >
    &lt;hx-busy&gt;
  </a>


      
      <a href="elements/hx-checkbox" >
    &lt;hx-checkbox&gt;
  </a>


      
      <a href="elements/hx-checkbox-control" >
    &lt;hx-checkbox-control&gt;
  </a>


      
      <a href="elements/hx-disclosure" >
    &lt;hx-disclosure&gt;
  </a>


      
      <a href="elements/hx-div" >
    &lt;hx-div&gt;
  </a>


      
      <a href="elements/hx-drawer" >
    &lt;hx-drawer&gt;
  </a>


      
      <a href="elements/hx-drop-fence" >
    &lt;hx-drop-fence&gt;
  </a>


      
      <a href="elements/hx-drop-zone" >
    &lt;hx-drop-zone&gt;
  </a>


      
      <a href="elements/hx-error" >
    &lt;hx-error&gt;
  </a>


      
      <a href="elements/hx-file-icon" >
    &lt;hx-file-icon&gt;
  </a>


      
      <a href="elements/hx-file-input" >
    &lt;hx-file-input&gt;
  </a>


      
      <a href="elements/hx-file-tile" >
    &lt;hx-file-tile&gt;
  </a>


      
      <a href="elements/hx-icon" >
    &lt;hx-icon&gt;
  </a>


      
      <a href="elements/hx-menu" >
    &lt;hx-menu&gt;
  </a>


      
      <a href="elements/hx-menuitem" >
    &lt;hx-menuitem&gt;
  </a>


      
      <a href="elements/hx-modal" >
    &lt;hx-modal&gt;
  </a>


      
      <a href="elements/hx-pill" >
    &lt;hx-pill&gt;
  </a>


      
      <a href="elements/hx-popover" >
    &lt;hx-popover&gt;
  </a>


      
      <a href="elements/hx-progress" >
    &lt;hx-progress&gt;
  </a>


      
      <a href="elements/hx-radio" >
    &lt;hx-radio&gt;
  </a>


      
      <a href="elements/hx-radio-control" >
    &lt;hx-radio-control&gt;
  </a>


      
      <a href="elements/hx-radio-set" >
    &lt;hx-radio-set&gt;
  </a>


      
      <a href="elements/hx-reveal" >
    &lt;hx-reveal&gt;
  </a>


      
      <a href="elements/hx-search" >
    &lt;hx-search&gt;
  </a>


      
      <a href="elements/hx-search-assistance" >
    &lt;hx-search-assistance&gt;
  </a>


      
      <a href="elements/hx-search-control" >
    &lt;hx-search-control&gt;
  </a>


      
      <a href="elements/hx-select" >
    &lt;hx-select&gt;
  </a>


      
      <a href="elements/hx-select-control" >
    &lt;hx-select-control&gt;
  </a>


      
      <a href="elements/hx-status" >
    &lt;hx-status&gt;
  </a>


      
      <a href="elements/hx-tab" >
    &lt;hx-tab&gt;
  </a>


      
      <a href="elements/hx-tabcontent" >
    &lt;hx-tabcontent&gt;
  </a>


      
      <a href="elements/hx-tablist" >
    &lt;hx-tablist&gt;
  </a>


      
      <a href="elements/hx-tabpanel" >
    &lt;hx-tabpanel&gt;
  </a>


      
      <a href="elements/hx-tabset" >
    &lt;hx-tabset&gt;
  </a>


      
      <a href="elements/hx-text-control" >
    &lt;hx-text-control&gt;
  </a>


      
      <a href="elements/hx-textarea-control" >
    &lt;hx-textarea-control&gt;
  </a>


      
      <a href="elements/hx-tile" >
    &lt;hx-tile&gt;
  </a>


      
      <a href="elements/hx-toast" >
    &lt;hx-toast&gt;
  </a>


      
      <a href="elements/hx-tooltip" >
    &lt;hx-tooltip&gt;
  </a>


  </hx-reveal>


      </nav>

      <main role="main" id="content" class="component-content docs-tabset">
          <header>
              


            <h1>
              Tabset

<min-version id="page-min-version">
  v0.1.11+
</min-version>

<hx-tooltip for="page-min-version" position="right">
  HelixUI v0.1.11 or later required
</hx-tooltip>
            </h1>


  
          </header>

          <div>
  <section>
    <header>
      <h2 id="basic-tabset">Basic Tabset</h2>
      
    </header>

    <div class="example resizable">
      <div id="demo-basic">
        <hx-tabset id="android-desserts">
          <hx-tablist>
            <hx-tab>Cupcake Ipsum</hx-tab>
            <hx-tab id="marshmallow">Biscuit Marshmallow</hx-tab>
            <hx-tab>Caramels Marzipan</hx-tab>
          </hx-tablist>
          <hx-tabcontent>
            <hx-tabpanel>
              <h3>First Panel</h3>
              <div class="hxRow">
                <div class="hxCol hxSpan-6">
                  <p>
                    Cupcake ipsum dolor sit amet bonbon topping caramels. Sesame snaps
                    gummi bears liquorice cookie chupa chups fruitcake croissant
                    chocolate topping. Brownie biscuit wafer marshmallow liquorice
                    soufflé powder jelly.
                  </p>
                </div>
                <div class="hxCol hxSpan-6">
                  <p>
                    Sweet roll sesame snaps danish I love jelly wafer dragée soufflé
                    cake. Cookie chocolate cake gingerbread powder icing. Ice cream
                    cotton candy gummi bears oat cake sweet pastry.
                  </p>
                </div>
              </div>
            </hx-tabpanel>
            <hx-tabpanel>
              <h3>Second Panel</h3>
              <p>
                Cupcake ipsum dolor sit. Amet danish jelly gummi bears. Danish
                caramels danish candy canes macaroon donut icing. Cupcake tiramisu
                soufflé fruitcake. Caramels muffin tootsie roll lemon drops bear claw
                cotton candy tootsie roll tootsie roll chupa chups. Pudding fruitcake
                ice cream marshmallow. Candy sugar plum chupa chups cotton candy
                gingerbread pastry gingerbread marshmallow wafer. Jelly-o bonbon
                dessert donut.
              </p>
              <p><a href="#">Link inside the panel</a></p>
              <p>
                Sweet toffee pie icing croissant halvah chupa chups. Cotton candy pie
                sesame snaps. Muffin sesame snaps cake toffee liquorice apple pie
                apple pie chupa chups. Lemon drops caramels sugar plum. Sweet oat cake
                chocolate pudding cake toffee chocolate topping. Caramels caramels
                candy muffin topping toffee. Topping candy canes sesame snaps carrot
                cake dragée wafer jelly beans. Macaroon gummies tootsie roll cookie
                chocolate cake chocolate cake dragée cupcake. Wafer bonbon sweet roll
                sweet roll.
              </p>
              <p>
                Sugar plum bonbon tiramisu tart candy canes sesame snaps tiramisu.
                Soufflé chocolate bar macaroon sweet bear claw dragée muffin dragée
                jelly. Apple pie gummies cake tiramisu dessert ice cream sweet roll.
                Pie fruitcake dragée. Gummi bears pudding muffin tart. Cake liquorice
                cheesecake donut. Cake chocolate marshmallow marshmallow dragée cupcake
                chocolate cake chocolate. Candy canes chocolate sweet roll apple pie
                icing danish chocolate bar. Jujubes toffee gummies powder cupcake
                topping chocolate. Cake sugar plum fruitcake brownie.
              </p>
            </hx-tabpanel>
            <hx-tabpanel id="id-should-not-be-overwritten">
              <h3>Third Panel</h3>
                <img src="images/200x150.png" />
                <img src="images/200x150.png" />
                <img src="images/200x150.png" />
                <img src="images/200x150.png" />
                <img src="images/200x150.png" />
                <img src="images/200x150.png" />
                <img src="images/200x150.png" />
                <img src="images/200x150.png" />
                <img src="images/200x150.png" />
                <img src="images/200x150.png" />
                <img src="images/200x150.png" />
                <img src="images/200x150.png" />
            </hx-tabpanel>
          </hx-tabcontent>
        </hx-tabset>
      </div>

      <footer>
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">hx-tabset</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">hx-tablist</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">hx-tab</span>&gt;</span>First<span class="hljs-tag">&lt;/<span class="hljs-name">hx-tab</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">hx-tab</span>&gt;</span>Second<span class="hljs-tag">&lt;/<span class="hljs-name">hx-tab</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">hx-tab</span>&gt;</span>Third<span class="hljs-tag">&lt;/<span class="hljs-name">hx-tab</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">hx-tablist</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">hx-tabcontent</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">hx-tabpanel</span>&gt;</span>...<span class="hljs-tag">&lt;/<span class="hljs-name">hx-tabpanel</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">hx-tabpanel</span>&gt;</span>...<span class="hljs-tag">&lt;/<span class="hljs-name">hx-tabpanel</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">hx-tabpanel</span>&gt;</span>...<span class="hljs-tag">&lt;/<span class="hljs-name">hx-tabpanel</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">hx-tabcontent</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">hx-tabset</span>&gt;</span>
</code></pre>      </footer>
    </div>
  </section>

  <section>
    <header>
      <h2 id="dynamic-tabset">Dynamic Tabset</h2>
      
    </header>

    <div class="example" id="vue-dynamicTabsetDemo" v-cloak>
      <header>
        <form class="beta-hxForm" @submit.prevent>
          <div>
            <label for="numCurrentTab" class="beta-hxFieldName">
              Current Tab
            </label>
            <br />
            <input
              class="hxTextCtrl"
              id="numCurrentTab"
              min="0"
              step="1"
              type="number"
              v-model.number="currentTab"
              :max="tabs.length - 1"
            />
          </div>

          <section>
            <p class="beta-hxFieldName">
              Increase Tab Count
            </p>
            <p class="hxBtnGroup">
              <button
                class="hxBtn"
                type="button"
                @click="addTab('start')"
              >
                <hx-icon type="plus"></hx-icon>
                <span>Prepend New</span>
              </button>

              <button
               class="hxBtn"
               type="button"
               @click="addTab('end')"
              >
                <hx-icon type="plus"></hx-icon>
                <span>Append New</span>
              </button>
            </p>
          </section>

          <section>
            <p class="beta-hxFieldName">
              Decrease Tab Count
            </p>
            <p class="hxBtnGroup">
              <button
                class="hxBtn"
                type="button"
                @click="removeTab('start')"
              >
                <hx-icon type="minus"></hx-icon>
                <span>Remove First</span>
              </button>

              <button
                class="hxBtn"
                type="button"
                @click="removeTab('end')"
              >
                <hx-icon type="minus"></hx-icon>
                <span>Remove Last</span>
              </button>
            </p>
          </section>

          <fieldset>
            <legend>Options</legend>
            <hx-checkbox-control>
              <input
                id="chkAutoUpdate"
                type="checkbox"
                v-model="autoUpdate"
              />
              <label for="chkAutoUpdate">
                <hx-checkbox></hx-checkbox>
                Update on change
              </label>
            </hx-checkbox-control>
          </fieldset>

          <hr class="hxDivider" />

          <footer>
            <p class="beta-hxButtonSet">
              <button
                class="hxBtn hxPrimary"
                type="button"
                :disabled="autoUpdate"
                @click="update"
              >
                Update Tabset
              </button>

              <button
                class="hxBtn hxTertiary"
                type="button"
                @click="reset"
              >
                <span>Reset Tabset</span>
                <hx-icon type="undo"></hx-icon>
              </button>
            </p>
          </footer>
        </form>
      </header>

      <div>
        <hx-tabset
          ref="tabset"
          :current-tab="currentTab"
          @tabchange="onTabchange"
        >
          <hx-tablist>
            <hx-tab v-for="tab in tabs" :key="tab.id">
              Tab #{{tab.id}}
            </hx-tab>
          </hx-tablist>

          <hx-tabcontent>
            <hx-tabpanel v-for="tab in tabs" :key="tab.id">
              Tab Panel #{{tab.id}}
            </hx-tabpanel>
          </hx-tabcontent>
        </hx-tabset>
      </div>
      

      <footer>
        <pre><code v-text="snippet"></code></pre>
      </footer>
    </div>

    <footer>
      <p class="hxSubBody hxSubdued">
        <hx-icon type="info-circle"></hx-icon>
        Refer to <a href="elements/hx-tabset#managing-state">"Managing State"</a>
        in <code>&lt;hx-tabset&gt;</code> documentation, for more details.
      </p>
    </footer>
  </section>

<section>
  <h2 id="see-also">See Also</h2>
  <ul class="hxList">
      <li><a href="components/tabset/test.html">Testing - Tabset</a></li>
      <li><a href="elements/hx-tab">&lt;hx-tab&gt;</a></li>
      <li><a href="elements/hx-tabcontent">&lt;hx-tabcontent&gt;</a></li>
      <li><a href="elements/hx-tablist">&lt;hx-tablist&gt;</a></li>
      <li><a href="elements/hx-tabpanel">&lt;hx-tabpanel&gt;</a></li>
      <li><a href="elements/hx-tabset">&lt;hx-tabset&gt;</a></li>
  </ul>
</section>
          </div>

            <aside class="hxSiderail">
                <nav class="toc" aria-label="table of contents">
                  
            <a href="#basic-tabset">Basic Tabset</a>
        

            <a href="#dynamic-tabset">Dynamic Tabset</a>
        
                    
                    <a href="#see-also">See Also</a>
                  <hr class="hxDivider" />
                  <a class="top-link" href="#top">Back to Top</a>
                </nav>
            </aside>
      </main>
    </div>
  </div>

  <footer id="foot" class="hxRow hxGutterless">
    <div class="hxCol">
      &copy; 2017-2019 Rackspace US, Inc.
      <nav>
        <a href="https://www.rackspace.com/information/legal/websiteterms">Website Terms</a>
        <a href="https://www.rackspace.com/information/legal/privacystatement">Privacy Policy</a>
      </nav>
    </div>

    <div class="hxCol hxRight">
        <small>
          Last Updated:
          2019-11-18
        </small>

      <small>
        (<a href="https://github.com/HelixDesignSystem/helix-ui/releases/v0.18.0" target="_blank">
          v0.18.0
        </a>)
      </small>
    </div>
  </footer>

  
  <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
  
  <script src="dist/js/helix-ui.js"></script>
  
  <script src="docs.js"></script>
</body>
</html>
