/// ---------------------------- ///
/// ---------- TABSET ---------- ///
/// ---------------------------- ///

// ===== LAYOUT & APPEARANCE ===============
hx-tab {
  border-bottom: $rax-component-tab-base-border-width solid transparent;
  color: $rax-component-tab-default-color;
  color: var(--hxTabset-hxTab-color, $rax-component-tab-default-color);
  cursor: pointer;
  font-size: $rax-font-size-75;

  &:hover {
    color: $rax-component-tab-hover-color;
    color: var(--hxTabset-hxTab-hover-color, $rax-component-tab-hover-color);
  }

  // v2.0 spec - TBD: new focus states
  // v2.0 spec - remove browser default focus-ring
  &:focus {
    box-shadow: none;
    outline: none;
    z-index: 1; // keeps focus ring in front of adjacent tabs
  }

  &[current] {
    background-color: inherit;
    border-bottom: 2px solid $rax-component-tab-active-border-color; // in token $teal-500 is used
    border-bottom: 2px solid var(--hxTabset-hxTab-current-border-bottom, $rax-component-tab-active-border-color);
    color: $rax-component-tab-active-color;
    color: var(--hxTabset-hxTab-current-color, $rax-component-tab-active-color);
    font-weight: $rax-component-tab-active-font-weight;
    outline: none;
  }

  > * + * {
    margin-left: $rax-spacing-unit;
  }
}

hx-tabcontent {
  -ms-grid-columns: 1fr;
  -ms-grid-rows: 1fr;
  background-color: inherit;
  border-color: $rax-color-gray-300 transparent;
  border-color: var(--hxTabset-hxTabcontent-border-color, $rax-color-gray-300) transparent;
  border-style: $rax-component-tab-base-border-style;
  border-width: $rax-component-tab-base-border-width; //in token border-with is 2px
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  min-height: 14rem; // 224px
  overflow-x: hidden;
  overflow-y: auto;
}

hx-tablist {
  background-color: inherit;
  display: flex;
  padding: 0 $rax-spacing-200;

  > hx-tab {
    bottom: -1px;
    display: inline-flex;
    flex-shrink: 0;
    padding: $rax-spacing-200 $rax-spacing-300;
    position: relative;
  }
}

hx-tabpanel {
  display: none;
  padding: $rax-spacing-600 $rax-spacing-500;

  &[open] {
    display: block;
    overflow-y: auto;

    // IE11 overflow bug
    @media all and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      height: 20rem;
    }

    // Chrome86/FF85 focus-ring
    &:focus-visible {
      outline: none;
    }
  }
}

hx-tabset {
  -ms-grid-columns: 1fr;
  -ms-grid-rows: auto 1fr;
  background-color: inherit;
  display: -ms-grid;
  display: grid;
  grid-template-areas:
    "list"
    "content";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  max-height: 100%;
  overflow: hidden;
  padding-top: $rax-spacing-100; // reserve space to render tab glow

  > hx-tablist {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    grid-area: list;
  }

  > hx-tabcontent {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    grid-area: content;
  }
}

// ===== UNDEFINED ===============

// Ensure that at least one tab/panel pair appears to be open,
// before <hx-tabset> upgrades.
hx-tabset:not([hx-defined]) {
  hx-tab:first-of-type {
    background-color: $rax-color-gray-0;
    background-color: var(--hxTabset-hxTab-first-of-type-bgcolor, $rax-color-gray-0); //there is no token for bg color
  }

  hx-tabpanel:first-of-type {
    display: block;
  }
}

// ===== OVERRIDES ===============

hx-tabset.beta-hxBound {
  hx-tab[current] {
    background-color: $rax-color-gray-0;
    background-color: var(--hxTabset-hxTab-current-bgcolor, $rax-color-gray-0); //there is no token for bg color
  }

  hx-tabcontent {
    background-color: $rax-color-gray-0;
    background-color: var(--hxTabset-hxTabcontent-bgcolor, $rax-color-gray-0); //there is no token for bg color
    border-color: $rax-color-gray-300;
    border-color: var(--hxTabset-hxTabcontent-border-color, $rax-color-gray-300); // there is no token for border color
  }
}
