<!DOCTYPE html>
<html lang="en">
<head>
  <title>File - HelixUI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/helix-ui/">

  <link rel="shortcut icon" href="images/favicon.png">

  
  <link
    crossorigin="anonymous"
    href="https://use.fontawesome.com/releases/v5.2.0/css/brands.css"
    integrity="sha384-nT8r1Kzllf71iZl81CdFzObMsaLOhqBU1JD2+XoAALbdtWaXDOlWOZTR4v1ktjPE"
    rel="stylesheet"
  />
  
  <link
    crossorigin="anonymous"
    href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css"
    integrity="sha384-HbmWTHay9psM8qyzEKPc8odH4DsOuzdejtnr+OFtDmOcIVnhgReQ4GZBH7uwcjf6"
    rel="stylesheet"
  />

  
  <link rel="stylesheet" href="dist/styles/helix-ui.css">
  
  <link rel="stylesheet" href="docs.css">

  <!-- Converts ES5 custom element constructor functions to ES6 classes -->
  <script src="vendor/custom-elements-es5-adapter.js"></script>

  <!-- loader appends polyfills, if needed -->
  <script src="vendor/webcomponents-loader.js"></script>
</head>
<body class="hxVertical" id="top">
  <!-- This link should be the first item a user can tab to. -->
  <a href="#content">Skip to main content</a>

  <header id="head">
    <nav>
      <a class="brand-logo" href="">
        <img src="images/helix-logo.svg" alt="Logo" />
      </a>
    </nav>

    <div>
      <a
        class="hxBtn beta-hxDark"
        href="https://github.com/HelixDesignSystem/helix-ui/"
      >
        <i class="fab fa-github"></i>
        <span>View Source</span>
      </a>
      <a
        class="hxBtn beta-hxDark"
        href="https://github.com/HelixDesignSystem/helix-ui/issues/new?template=bug-report.md&labels=Bug:+Unconfirmed"
      >
        Report Bug
      </a>
    </div>
  </header>

  <div id="app">
    <div id="stage">
      <nav id="nav" class="hxNav">



  
    
  <hx-disclosure
    aria-controls="nav-guides"
>
    Guides
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-guides" >
      
      <a href="guides/getting-started" >
    Getting Started
  </a>


      
      <a href="guides/faq" >
    FAQ
  </a>


      
      <a href="guides/react-compatibility" >
    React Compatibility
  </a>


      
      <a href="guides/polyfills" >
    Polyfills
  </a>


  </hx-reveal>


  
    
  <hx-disclosure
    aria-controls="nav-components"
class="current">
    Components
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-components" open>
      
      <a href="components/accordion" >
    Accordion
  </a>


      
      <a href="components/alert" >
    Alert
  </a>


      
      <a href="components/badge" >
    Badge
  </a>


      
      <a href="components/box" >
    Box
  </a>


      
      <a href="components/breadcrumb" >
    Breadcrumb
  </a>


      
      <a href="components/button" >
    Button
  </a>


      
      <a href="components/checkbox" >
    Checkbox
  </a>


      
      <a href="components/choice-tile" >
    Choice Tile
  </a>


      
      <a href="components/drawer" >
    Drawer
  </a>


      
      <a href="components/dropdown-select" >
    Dropdown Select
  </a>


      
      <a href="components/file" class="current">
    File
  </a>


      
      <a href="components/grid" >
    Grid
  </a>


      
      <a href="components/icon" >
    Icon
  </a>


      
      <a href="components/layout" >
    Layout
  </a>


      
      <a href="components/list" >
    List
  </a>


      
      <a href="components/loader" >
    Loader
  </a>


      
      <a href="components/menu" >
    Menu
  </a>


      
      <a href="components/modal" >
    Modal
  </a>


      
      <a href="components/navigation" >
    Navigation
  </a>


      
      <a href="components/pagination" >
    Pagination
  </a>


      
      <a href="components/panel" >
    Panel
  </a>


      
      <a href="components/pill" >
    Pill
  </a>


      
      <a href="components/popover" >
    Popover
  </a>


      
      <a href="components/radio" >
    Radio
  </a>


      
      <a href="components/reveal" >
    Reveal
  </a>


      
      <a href="components/search" >
    Search
  </a>


      
      <a href="components/selector-strip" >
    Selector Strip
  </a>


      
      <a href="components/table" >
    Table
  </a>


      
      <a href="components/tabset" >
    Tabset
  </a>


      
      <a href="components/text-input" >
    Text Input
  </a>


      
      <a href="components/textarea" >
    Textarea
  </a>


      
      <a href="components/toast" >
    Toast
  </a>


      
      <a href="components/tooltip" >
    Tooltip
  </a>


      
      <a href="components/typography" >
    Typography
  </a>


  </hx-reveal>


  
    
  <hx-disclosure
    aria-controls="nav-elements"
>
    Custom Elements
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-elements" >
      
      <a href="elements/hx-accordion" >
    &lt;hx-accordion&gt;
  </a>


      
      <a href="elements/hx-accordion-panel" >
    &lt;hx-accordion-panel&gt;
  </a>


      
      <a href="elements/hx-alert" >
    &lt;hx-alert&gt;
  </a>


      
      <a href="elements/hx-busy" >
    &lt;hx-busy&gt;
  </a>


      
      <a href="elements/hx-checkbox" >
    &lt;hx-checkbox&gt;
  </a>


      
      <a href="elements/hx-checkbox-control" >
    &lt;hx-checkbox-control&gt;
  </a>


      
      <a href="elements/hx-disclosure" >
    &lt;hx-disclosure&gt;
  </a>


      
      <a href="elements/hx-div" >
    &lt;hx-div&gt;
  </a>


      
      <a href="elements/hx-drawer" >
    &lt;hx-drawer&gt;
  </a>


      
      <a href="elements/hx-drop-fence" >
    &lt;hx-drop-fence&gt;
  </a>


      
      <a href="elements/hx-drop-zone" >
    &lt;hx-drop-zone&gt;
  </a>


      
      <a href="elements/hx-error" >
    &lt;hx-error&gt;
  </a>


      
      <a href="elements/hx-file-icon" >
    &lt;hx-file-icon&gt;
  </a>


      
      <a href="elements/hx-file-input" >
    &lt;hx-file-input&gt;
  </a>


      
      <a href="elements/hx-file-tile" >
    &lt;hx-file-tile&gt;
  </a>


      
      <a href="elements/hx-icon" >
    &lt;hx-icon&gt;
  </a>


      
      <a href="elements/hx-menu" >
    &lt;hx-menu&gt;
  </a>


      
      <a href="elements/hx-menuitem" >
    &lt;hx-menuitem&gt;
  </a>


      
      <a href="elements/hx-modal" >
    &lt;hx-modal&gt;
  </a>


      
      <a href="elements/hx-pill" >
    &lt;hx-pill&gt;
  </a>


      
      <a href="elements/hx-popover" >
    &lt;hx-popover&gt;
  </a>


      
      <a href="elements/hx-progress" >
    &lt;hx-progress&gt;
  </a>


      
      <a href="elements/hx-radio" >
    &lt;hx-radio&gt;
  </a>


      
      <a href="elements/hx-radio-control" >
    &lt;hx-radio-control&gt;
  </a>


      
      <a href="elements/hx-radio-set" >
    &lt;hx-radio-set&gt;
  </a>


      
      <a href="elements/hx-reveal" >
    &lt;hx-reveal&gt;
  </a>


      
      <a href="elements/hx-search" >
    &lt;hx-search&gt;
  </a>


      
      <a href="elements/hx-search-assistance" >
    &lt;hx-search-assistance&gt;
  </a>


      
      <a href="elements/hx-select" >
    &lt;hx-select&gt;
  </a>


      
      <a href="elements/hx-select-control" >
    &lt;hx-select-control&gt;
  </a>


      
      <a href="elements/hx-status" >
    &lt;hx-status&gt;
  </a>


      
      <a href="elements/hx-tab" >
    &lt;hx-tab&gt;
  </a>


      
      <a href="elements/hx-tabcontent" >
    &lt;hx-tabcontent&gt;
  </a>


      
      <a href="elements/hx-tablist" >
    &lt;hx-tablist&gt;
  </a>


      
      <a href="elements/hx-tabpanel" >
    &lt;hx-tabpanel&gt;
  </a>


      
      <a href="elements/hx-tabset" >
    &lt;hx-tabset&gt;
  </a>


      
      <a href="elements/hx-text-control" >
    &lt;hx-text-control&gt;
  </a>


      
      <a href="elements/hx-textarea-control" >
    &lt;hx-textarea-control&gt;
  </a>


      
      <a href="elements/hx-tile" >
    &lt;hx-tile&gt;
  </a>


      
      <a href="elements/hx-toast" >
    &lt;hx-toast&gt;
  </a>


      
      <a href="elements/hx-tooltip" >
    &lt;hx-tooltip&gt;
  </a>


  </hx-reveal>


      </nav>

      <main role="main" id="content" class="component-content ">
          

          <header>

            <h1>
              File

<min-version id="page-min-version">
  v0.12.0+
</min-version>

<hx-tooltip for="page-min-version" position="right">
  HelixUI v0.12.0 or later required
</hx-tooltip>
            </h1>


  
          </header>

  <section>
    <header>
      <h2 id="drop-zone">Drop Zone</h2>
      <p class="hxSubBody">Added: v0.14.0</p>
      
    </header>

    <p>
      A container that provides a visual overlay when dragging a file, marking
      the boundaries of where a user can drop.
    </p>

    <p class="hxSubdued hxSubBody">
      <hx-icon type="info-circle"></hx-icon>
      The drop zone ignores any padding applied to it.
    </p>

    <div class="example" id="vue-dropZoneDemo">
      <div>
        <hx-drop-zone @drop.prevent="onDrop">
          <hx-drop-fence>
            <p>
              Drop files here or
              <hx-file-control>
                <input
                  id="fileInputDropZoneDemo"
                  type="file"
                />
                <label for="fileInputDropZoneDemo">
                  <hx-file-input class="hxBtn hxTertiary">
                    browse your files
                  </hx-file-input>
                </label>
              </hx-file-control>
            </p>
          </hx-drop-fence>
        </hx-drop-zone>
      </div>

      <footer>
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">hx-drop-zone</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">hx-drop-fence</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>
      Drop files here or
      <span class="hljs-tag">&lt;<span class="hljs-name">hx-file-control</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">input</span>
          <span class="hljs-attr">id</span>=<span class="hljs-string">"fileInputDropZoneDemo"</span>
          <span class="hljs-attr">type</span>=<span class="hljs-string">"file"</span>
        /&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"fileInputDropZoneDemo"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-name">hx-file-input</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxBtn hxTertiary"</span>&gt;</span>
            browse your files
          <span class="hljs-tag">&lt;/<span class="hljs-name">hx-file-input</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">hx-file-control</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">hx-drop-fence</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">hx-drop-zone</span>&gt;</span>
</code></pre>      </footer>
    </div>
  </section>

  <section>
    <header>
      <h2 id="file-input">File Input</h2>
      <p class="hxSubBody">Added: v0.13.0</p>
      
    </header>

    <div class="example" id="vue-fileInputDemo" v-cloak>
      <header>
        <form class="beta-hxForm">
          <hx-text-control>
            <input
              id="txtLabel"
              type="text"
              v-model="label"
            />
            <label for="txtLabel">
              Label
            </label>
          </hx-text-control>

          <fieldset>
            <legend class="beta-hxFieldName">Button Variant</legend>
            <hx-radio-set>
              <hx-radio-control v-for="(_variant, idx) in variants">
                <input
                  :id="'radSelectorVariant' + idx"
                  :value="_variant"
                  name="variant"
                  type="radio"
                  v-model="variant"
                />
                <label :for="'radSelectorVariant' + idx">
                  <hx-radio></hx-radio>
{{_variant.label}}
                </label>
                <p v-if="_variant.default">(default)</p>
              </hx-radio-control>
            </hx-radio-set>
          </fieldset>

          <fieldset>
            <legend class="beta-hxFieldName">Icon</legend>
            <hx-radio-set>
              <hx-radio-control v-for="(_icon, idx) in icons">
                <input
                  :id="'radSelectorIcon' + idx"
                  :value="_icon"
                  name="icon"
                  type="radio"
                  v-model="icon"
                />
                <label :for="'radSelectorIcon' + idx">
                  <hx-radio></hx-radio>
{{_icon}}
                </label>
              </hx-radio-control>
            </hx-radio-set>
          </fieldset>

          <fieldset>
            <legend class="beta-hxFieldName">Control Options</legend>
            <hx-checkbox-control>
              <input
                id="chkIsDisabled"
                type="checkbox"
                v-model="isDisabled"
              />
              <label for="chkIsDisabled">
                <hx-checkbox></hx-checkbox>
                Disabled
              </label>
            </hx-checkbox-control>

            <hx-checkbox-control>
              <input
                id="chkIsMultiple"
                type="checkbox"
                v-model="isMultiple"
              />
              <label for="chkIsMultiple">
                <hx-checkbox></hx-checkbox>
                Multiple
              </label>
            </hx-checkbox-control>
          </fieldset>
        </form>
      </header>

      <div>
        <hx-file-control>
          <input
            id="fileInputDemo"
            type="file"
            :disabled="isDisabled"
            :multiple="isMultiple"
          />
          <label for="fileInputDemo">
            <hx-file-input
              :class="variant.val"
              :icon="icon"
            >
{{label}}
            </hx-file-input>
          </label>
        </hx-file-control>
      </div>

      <footer>
        <pre><code v-text="snippet"></code></pre>
      </footer>
    </div>
    <p class="hxSubdued hxSubBody">
      <hx-icon type="exclamation-triangle"></hx-icon>
      Microsoft browsers never match the <code>input[type="file"]:active</code> CSS selector.
    </p>
    <p class="hxSubdued hxSubBody">
      <hx-icon type="exclamation-triangle"></hx-icon>
      Microsoft browsers apply two tab stops on <code>&lt;input type="file"&gt;</code> elements.
    </p>
  </section>

  <section>
    <header>
      <h2 id="file-tile">File Tile</h2>
      <p class="hxSubBody">Added: v0.12.0</p>
      
    </header>

    <div class="example" id="vue-fileTileDemo" v-cloak>
      <header>
        <form class="beta-hxForm">
          <hx-text-control>
            <input
              id="txtName"
              type="text"
              v-model="name"
            />
            <label for="txtName">
              Name
            </label>
          </hx-text-control>

          <hx-select-control>
            <select id="selIcon" v-model="icon">
              <option v-for="_icon in icons" :value="_icon">
{{_icon}}
              </option>
            </select>
            <hx-select></hx-select>
            <label for="selIcon">
              Icon
            </label>
          </hx-select-control>

          <fieldset>
            <legend class="beta-hxFieldName">State</legend>
            <hx-radio-set>
              <hx-radio-control>
                <input
                  id="radTileDownloadable"
                  name="file-state"
                  type="radio"
                  v-model="state"
                  value="downloadable"
                />
                <label for="radTileDownloadable">
                  <hx-radio></hx-radio>
                  Downloadable
                </label>
              </hx-radio-control>

              <hx-radio-control>
                <input
                  id="radTileLoading"
                  name="file-state"
                  type="radio"
                  v-model="state"
                  value="loading"
                />
                <label for="radTileLoading">
                  <hx-radio></hx-radio>
                  Loading
                </label>
              </hx-radio-control>

              <hx-radio-control>
                <input
                  id="radTileInvalid"
                  name="file-state"
                  type="radio"
                  v-model="state"
                  value="invalid"
                />
                <label for="radTileInvalid">
                  <hx-radio></hx-radio>
                  Invalid
                </label>
              </hx-radio-control>
            </hx-radio-set>
          </fieldset>

          <template v-if="isDownloadable">
            <hx-text-control>
              <input
                id="txtHref"
                type="text"
                v-model="href"
              />
              <label for="txtHref">
                HREF
              </label>
            </hx-text-control>

            <hx-text-control>
              <input
                id="txtDetails"
                type="text"
                v-model="details"
              />
              <label for="txtDetails">
                Details
              </label>
            </hx-text-control>

            <fieldset>
              <legend class="beta-hxFieldName">Tile Options</legend>
              <hx-checkbox-control>
                <input
                  id="chkTileReadOnly"
                  type="checkbox"
                  v-model="readonly"
                />
                <label for="chkTileReadOnly">
                  <hx-checkbox></hx-checkbox>
                  Readonly
                </label>
              </hx-checkbox-control>
            </fieldset>
          </template>

          <template v-if="isLoading">
            <div>
              <label for="rngProgress" class="beta-hxFieldName">Progress</label>
              <input id="rngProgress" type="range" v-model="progress"/>
            </div>
          </template>
        </form>
      </header>

      <template v-if="isDownloadable">
        <div>
          <hx-file-tile
            :details="details"
            :href="href"
            :icon="icon"
            :name="name"
            :readonly="readonly"
            @cancel="onEvent"
            @delete="onEvent"
          ></hx-file-tile>
        </div>

        <footer>
          <pre><code v-text="downloadableSnippet"></code></pre>
        </footer>
      </template>

      <template v-if="isLoading">
        <div>
          <hx-file-tile
            :icon="icon"
            :name="name"
            :progress="progress"
            @cancel="onEvent"
          ></hx-file-tile>
        </div>

        <footer>
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">hx-file-tile</span>
  <span class="hljs-attr">icon</span>=<span class="hljs-string">"{{icon}}"</span>
  <span class="hljs-attr">name</span>=<span class="hljs-string">"{{name}}"</span>
  <span class="hljs-attr">progress</span>=<span class="hljs-string">"{{progress}}"</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">hx-file-tile</span>&gt;</span>
</code></pre>        </footer>
      </template>

      <template v-if="isInvalid">
        <div>
          <hx-file-tile
            :icon="icon"
            :name="name"
            @cancel="onEvent"
            @retry="onEvent"
            invalid
          ></hx-file-tile>
        </div>

        <footer>
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">hx-file-tile</span>
  <span class="hljs-attr">icon</span>=<span class="hljs-string">"{{icon}}"</span>
  <span class="hljs-attr">invalid</span>
  <span class="hljs-attr">name</span>=<span class="hljs-string">"{{name}}"</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">hx-file-tile</span>&gt;</span>
</code></pre>        </footer>
      </template>
    </div>
  </section>

<section>
  <h2 id="see-also">See Also</h2>
  <ul class="hxList">
      <li><a href="components/file/test-drop-fence.html">Testing - Drop Fence</a></li>
      <li><a href="components/file/test-drop-zone.html">Testing - Drop Zone</a></li>
      <li><a href="components/file/test-file-input.html">Testing - File Input</a></li>
      <li><a href="components/file/test-file-tile.html">Testing - File Tile</a></li>
      <li><a href="components/icon">Icon</a></li>
      <li><a href="elements/hx-drop-fence">&lt;hx-drop-fence&gt;</a></li>
      <li><a href="elements/hx-drop-zone">&lt;hx-drop-zone&gt;</a></li>
      <li><a href="elements/hx-file-input">&lt;hx-file-input&gt;</a></li>
      <li><a href="elements/hx-file-tile">&lt;hx-file-tile&gt;</a></li>
  </ul>
</section>
      </main>

        <aside class="hxSiderail">
            <header>
              <h1 class="hxHeading-4">On this page:</h1>
            </header>

            <nav class="article-toc">
              
            <a href="#drop-zone">Drop Zone</a>
        

            <a href="#file-input">File Input</a>
        

            <a href="#file-tile">File Tile</a>
        
                
                <a href="#see-also">See Also</a>
              <hr class="hxDivider" />
              <a class="top-link" href="#top">Back to Top</a>
            </nav>
        </aside>
    </div>
  </div>

  <footer id="foot" class="hxRow hxGutterless">
    <div class="hxCol">
      &copy; 2019 Rackspace US, Inc.
      <nav>
        <a href="https://www.rackspace.com/information/legal/websiteterms">Website Terms</a>
        <a href="https://www.rackspace.com/information/legal/privacystatement">Privacy Policy</a>
      </nav>
    </div>

    <div class="hxCol hxRight">
        <small>
          Last Updated:
          2019-08-23
        </small>

      <small>
        (<a href="https://github.com/HelixDesignSystem/helix-ui/releases/v0.17.2" target="_blank">
          v0.17.2
        </a>)
      </small>
    </div>
  </footer>

  

  
  <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
  
  <script src="dist/scripts/helix-ui.browser.js"></script>
  
  <script src="docs.js"></script>
</body>
</html>
