<!DOCTYPE html>
<html lang="en">
<head>
  <title>Testing - Search - HelixUI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/helix-ui/">

  <link rel="shortcut icon" href="images/favicon.png">

  
  <link
    crossorigin="anonymous"
    href="https://use.fontawesome.com/releases/v5.2.0/css/brands.css"
    integrity="sha384-nT8r1Kzllf71iZl81CdFzObMsaLOhqBU1JD2+XoAALbdtWaXDOlWOZTR4v1ktjPE"
    rel="stylesheet"
  />
  
  <link
    crossorigin="anonymous"
    href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css"
    integrity="sha384-HbmWTHay9psM8qyzEKPc8odH4DsOuzdejtnr+OFtDmOcIVnhgReQ4GZBH7uwcjf6"
    rel="stylesheet"
  />

  
  <link rel="stylesheet" href="dist/css/helix-ui.css">
  
  <link rel="stylesheet" href="docs.css">

  <!-- loader appends polyfills, if needed -->
  <script src="vendor/webcomponents-loader.js"></script>
</head>
<body class="hxVertical" id="top">
  <!-- This link should be the first item a user can tab to. -->
  <a href="#content">Skip to main content</a>

  <header id="head">
    <nav>
      <a class="brand-logo" href="">
        <img src="images/helix-logo.svg" alt="Logo" />
      </a>
    </nav>

    <div>
      <a
        class="hxBtn beta-hxDark"
        href="https://github.com/HelixDesignSystem/helix-ui/"
      >
        <i class="fab fa-github"></i>
        <span>View Source</span>
      </a>
      <a
        class="hxBtn beta-hxDark"
        href="https://github.com/HelixDesignSystem/helix-ui/issues/new?template=bug-report.md&labels=Bug:+Unconfirmed"
      >
        Report Bug
      </a>
    </div>
  </header>

  <div id="app">
    <div id="stage">
      <nav id="nav" class="hxNav">



  
    
  <hx-disclosure
    aria-controls="nav-guides"
>
    Guides
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-guides" >
      
      <a href="guides/getting-started" >
    Getting Started
  </a>


      
      <a href="guides/faq" >
    FAQ
  </a>


      
      <a href="guides/react-compatibility" >
    React Compatibility
  </a>


      
      <a href="guides/polyfills" >
    Polyfills
  </a>


  </hx-reveal>


  
    
  <hx-disclosure
    aria-controls="nav-components"
class="current">
    Components
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-components" open>
      
      <a href="components/accordion" >
    Accordion
  </a>


      
      <a href="components/alert" >
    Alert
  </a>


      
      <a href="components/badge" >
    Badge
  </a>


      
      <a href="components/beacon" >
    Beacon
  </a>


      
      <a href="components/box" >
    Box
  </a>


      
      <a href="components/breadcrumb" >
    Breadcrumb
  </a>


      
      <a href="components/button" >
    Button
  </a>


      
      <a href="components/checkbox" >
    Checkbox
  </a>


      
      <a href="components/choice-tile" >
    Choice Tile
  </a>


      
      <a href="components/drawer" >
    Drawer
  </a>


      
      <a href="components/dropdown-select" >
    Dropdown Select
  </a>


      
      <a href="components/email" >
    Email Input
  </a>


      
      <a href="components/file" >
    File
  </a>


      
      <a href="components/grid" >
    Grid
  </a>


      
      <a href="components/icon" >
    Icon
  </a>


      
      <a href="components/layout" >
    Layout
  </a>


      
      <a href="components/list" >
    List
  </a>


      
      <a href="components/loader" >
    Loader
  </a>


      
      <a href="components/menu" >
    Menu
  </a>


      
      <a href="components/modal" >
    Modal
  </a>


      
      <a href="components/navigation" >
    Navigation
  </a>


      
      <a href="components/pagination" >
    Pagination
  </a>


      
      <a href="components/panel" >
    Panel
  </a>


      
      <a href="components/password" >
    Password Input
  </a>


      
      <a href="components/pill" >
    Pill
  </a>


      
      <a href="components/popover" >
    Popover
  </a>


      
      <a href="components/radio" >
    Radio
  </a>


      
      <a href="components/reveal" >
    Reveal
  </a>


      
      <a href="components/search" class="current">
    Search
  </a>


      
      <a href="components/selector-strip" >
    Selector Strip
  </a>


      
      <a href="components/stepper" >
    Stepper
  </a>


      
      <a href="components/switch" >
    Switch
  </a>


      
      <a href="components/table" >
    Table
  </a>


      
      <a href="components/tabset" >
    Tabset
  </a>


      
      <a href="components/text-input" >
    Text Input
  </a>


      
      <a href="components/textarea" >
    Textarea
  </a>


      
      <a href="components/toast" >
    Toast
  </a>


      
      <a href="components/tooltip" >
    Tooltip
  </a>


      
      <a href="components/typography" >
    Typography
  </a>


  </hx-reveal>


  
    
  <hx-disclosure
    aria-controls="nav-elements"
>
    Custom Elements
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-elements" >
      
      <a href="elements/hx-accordion" >
    &lt;hx-accordion&gt;
  </a>


      
      <a href="elements/hx-accordion-panel" >
    &lt;hx-accordion-panel&gt;
  </a>


      
      <a href="elements/hx-alert" >
    &lt;hx-alert&gt;
  </a>


      
      <a href="elements/hx-beacon" >
    &lt;hx-beacon&gt;
  </a>


      
      <a href="elements/hx-busy" >
    &lt;hx-busy&gt;
  </a>


      
      <a href="elements/hx-checkbox" >
    &lt;hx-checkbox&gt;
  </a>


      
      <a href="elements/hx-checkbox-control" >
    &lt;hx-checkbox-control&gt;
  </a>


      
      <a href="elements/hx-disclosure" >
    &lt;hx-disclosure&gt;
  </a>


      
      <a href="elements/hx-div" >
    &lt;hx-div&gt;
  </a>


      
      <a href="elements/hx-drawer" >
    &lt;hx-drawer&gt;
  </a>


      
      <a href="elements/hx-drop-fence" >
    &lt;hx-drop-fence&gt;
  </a>


      
      <a href="elements/hx-drop-zone" >
    &lt;hx-drop-zone&gt;
  </a>


      
      <a href="elements/hx-error" >
    &lt;hx-error&gt;
  </a>


      
      <a href="elements/hx-email-control" >
    &lt;hx-email-control&gt;
  </a>


      
      <a href="elements/hx-file-icon" >
    &lt;hx-file-icon&gt;
  </a>


      
      <a href="elements/hx-file-input" >
    &lt;hx-file-input&gt;
  </a>


      
      <a href="elements/hx-file-tile" >
    &lt;hx-file-tile&gt;
  </a>


      
      <a href="elements/hx-icon" >
    &lt;hx-icon&gt;
  </a>


      
      <a href="elements/hx-menu" >
    &lt;hx-menu&gt;
  </a>


      
      <a href="elements/hx-menuitem" >
    &lt;hx-menuitem&gt;
  </a>


      
      <a href="elements/hx-modal" >
    &lt;hx-modal&gt;
  </a>


      
      <a href="elements/hx-password-control" >
    &lt;hx-password-control&gt;
  </a>


      
      <a href="elements/hx-pill" >
    &lt;hx-pill&gt;
  </a>


      
      <a href="elements/hx-popover" >
    &lt;hx-popover&gt;
  </a>


      
      <a href="elements/hx-progress" >
    &lt;hx-progress&gt;
  </a>


      
      <a href="elements/hx-radio" >
    &lt;hx-radio&gt;
  </a>


      
      <a href="elements/hx-radio-control" >
    &lt;hx-radio-control&gt;
  </a>


      
      <a href="elements/hx-radio-set" >
    &lt;hx-radio-set&gt;
  </a>


      
      <a href="elements/hx-reveal" >
    &lt;hx-reveal&gt;
  </a>


      
      <a href="elements/hx-search" >
    &lt;hx-search&gt;
  </a>


      
      <a href="elements/hx-search-assistance" >
    &lt;hx-search-assistance&gt;
  </a>


      
      <a href="elements/hx-search-control" >
    &lt;hx-search-control&gt;
  </a>


      
      <a href="elements/hx-select" >
    &lt;hx-select&gt;
  </a>


      
      <a href="elements/hx-select-control" >
    &lt;hx-select-control&gt;
  </a>


      
      <a href="elements/hx-status" >
    &lt;hx-status&gt;
  </a>


      
      <a href="elements/hx-switch" >
    &lt;hx-switch&gt;
  </a>


      
      <a href="elements/hx-tab" >
    &lt;hx-tab&gt;
  </a>


      
      <a href="elements/hx-tabcontent" >
    &lt;hx-tabcontent&gt;
  </a>


      
      <a href="elements/hx-tablist" >
    &lt;hx-tablist&gt;
  </a>


      
      <a href="elements/hx-tabpanel" >
    &lt;hx-tabpanel&gt;
  </a>


      
      <a href="elements/hx-tabset" >
    &lt;hx-tabset&gt;
  </a>


      
      <a href="elements/hx-text-control" >
    &lt;hx-text-control&gt;
  </a>


      
      <a href="elements/hx-textarea-control" >
    &lt;hx-textarea-control&gt;
  </a>


      
      <a href="elements/hx-tile" >
    &lt;hx-tile&gt;
  </a>


      
      <a href="elements/hx-toast" >
    &lt;hx-toast&gt;
  </a>


      
      <a href="elements/hx-tooltip" >
    &lt;hx-tooltip&gt;
  </a>


  </hx-reveal>


      </nav>

      <main role="main" id="content" class="test-content search-spec">
          <header>
  
  <div class="banner warning">
    <hx-icon type="exclamation-triangle" class="banner__icon"></hx-icon>
    <div class="banner__body">
      <b>UI TESTING:</b>
      Do not replicate anything on this page within your application.
    </div>
  </div>

              <nav class="hxBreadcrumb">
                  <a href="components/search">Search</a>
                  <hx-icon class="delimiter" type="angle-right"></hx-icon>
                <a href="#">Testing - Search</a>
              </nav>

            <h1>
              Testing - Search

            </h1>


              
          </header>

          <div>
  <section>
    <header>
      <h2 id="test-pristine">Pristine</h2>
      <code>&lt;hx-search-control&gt;</code>
    </header>

    <section>
      <header>
        <h3>Optional</h3>
        <code>&lt;input type="search"&gt;</code>
      </header>
      <table>
        <thead>
          <tr>
            <th>:valid</th>
            <th>:invalid</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              

  <hx-search-control
  >
    <input
      type="search"
      id="searchInput-pOEV-b-pristine"
    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-pOEV-b-pristine">
        Pristine,
      Optional,
      Enabled,
      Valid
        (blur)
    </label>
  </hx-search-control>

              

  <hx-search-control
  >
    <input
      type="search"
      id="searchInput-pOEV-f-pristine"
class="mock-focus"     />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-pOEV-f-pristine">
        Pristine,
      Optional,
      Enabled,
      Valid
        (focus)
    </label>
  </hx-search-control>

            </td>
            <td>
              

  <hx-search-control
  >
    <input
      type="search"
      id="searchInput-pOEI-b-pristine"
        data-mock-invalid
    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-pOEI-b-pristine">
        Pristine,
      Optional,
      Enabled,
      Invalid
        (blur)
    </label>
  </hx-search-control>

              

  <hx-search-control
  >
    <input
      type="search"
      id="searchInput-pOEI-f-pristine"
class="mock-focus"         data-mock-invalid
    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-pOEI-f-pristine">
        Pristine,
      Optional,
      Enabled,
      Invalid
        (focus)
    </label>
  </hx-search-control>

            </td>
          </tr>
          <tr>
            <td>
              

  <hx-search-control
  >
    <input
      type="search"
      id="searchInput-pODV-b-pristine"
disabled     />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-pODV-b-pristine">
        Pristine,
      Optional,
      Disabled,
      Valid
        (blur)
    </label>
  </hx-search-control>

              

  <hx-search-control
  >
    <input
      type="search"
      id="searchInput-pODV-f-pristine"
class="mock-focus" disabled     />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-pODV-f-pristine">
        Pristine,
      Optional,
      Disabled,
      Valid
        (focus)
    </label>
  </hx-search-control>

            </td>
            <td>
              

  <hx-search-control
  >
    <input
      type="search"
      id="searchInput-pODI-b-pristine"
disabled         data-mock-invalid
    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-pODI-b-pristine">
        Pristine,
      Optional,
      Disabled,
      Invalid
        (blur)
    </label>
  </hx-search-control>

              

  <hx-search-control
  >
    <input
      type="search"
      id="searchInput-pODI-f-pristine"
class="mock-focus" disabled         data-mock-invalid
    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-pODI-f-pristine">
        Pristine,
      Optional,
      Disabled,
      Invalid
        (focus)
    </label>
  </hx-search-control>

            </td>
          </tr>
        </tbody>
      </table>
    </section>

    <section>
      <header>
        <h3>Required</h3>
        <code>&lt;input type="search" required&gt;</code>
      </header>
      <table>
        <thead>
          <tr>
            <th>:valid</th>
            <th>:invalid</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              

  <hx-search-control
  >
    <input
      type="search"
      id="searchInput-pREV-b-pristine"
        required
value="value"    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-pREV-b-pristine">
        Pristine,
      Required,
      Enabled,
      Valid
        (blur)
    </label>
  </hx-search-control>

              

  <hx-search-control
  >
    <input
      type="search"
      id="searchInput-pREV-f-pristine"
class="mock-focus"         required
value="value"    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-pREV-f-pristine">
        Pristine,
      Required,
      Enabled,
      Valid
        (focus)
    </label>
  </hx-search-control>

              

  <hx-search-control
  >
    <input
      type="search"
      id="searchInput-pREV-bs-pristine"
        required
value="value"    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear mock-focus"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-pREV-bs-pristine">
        Pristine,
      Required,
      Enabled,
      Valid
        (sub-focus)
    </label>
  </hx-search-control>

            </td>
            <td>
              

  <hx-search-control
  >
    <input
      type="search"
      id="searchInput-pREI-b-pristine"
        required
    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-pREI-b-pristine">
        Pristine,
      Required,
      Enabled,
      Invalid
        (blur)
    </label>
  </hx-search-control>

              

  <hx-search-control
  >
    <input
      type="search"
      id="searchInput-pREI-f-pristine"
class="mock-focus"         required
    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-pREI-f-pristine">
        Pristine,
      Required,
      Enabled,
      Invalid
        (focus)
    </label>
  </hx-search-control>

            </td>
          </tr>
          <tr>
            <td>
              

  <hx-search-control
  >
    <input
      type="search"
      id="searchInput-pRDV-b-pristine"
disabled         required
value="value"    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-pRDV-b-pristine">
        Pristine,
      Required,
      Disabled,
      Valid
        (blur)
    </label>
  </hx-search-control>

              

  <hx-search-control
  >
    <input
      type="search"
      id="searchInput-pRDV-f-pristine"
class="mock-focus" disabled         required
value="value"    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-pRDV-f-pristine">
        Pristine,
      Required,
      Disabled,
      Valid
        (focus)
    </label>
  </hx-search-control>

            </td>
            <td>
              

  <hx-search-control
  >
    <input
      type="search"
      id="searchInput-pRDI-b-pristine"
disabled         required
    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-pRDI-b-pristine">
        Pristine,
      Required,
      Disabled,
      Invalid
        (blur)
    </label>
  </hx-search-control>

              

  <hx-search-control
  >
    <input
      type="search"
      id="searchInput-pRDI-f-pristine"
class="mock-focus" disabled         required
    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-pRDI-f-pristine">
        Pristine,
      Required,
      Disabled,
      Invalid
        (focus)
    </label>
  </hx-search-control>

            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </section>

  <section>
    <header>
      <h2 id="test-dirty">Dirty</h2>
      <code>&lt;hx-search-control hx-dirty&gt;</code>
    </header>

    <section>
      <header>
        <h3>Optional</h3>
        <code>&lt;input type="search"&gt;</code>
      </header>
      <table>
        <thead>
          <tr>
            <th>:valid</th>
            <th>:invalid</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              

  <hx-search-control
hx-dirty   >
    <input
      type="search"
      id="searchInput-dOEV-b-dirty"
    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-dOEV-b-dirty">
Dirty,      Optional,
      Enabled,
      Valid
        (blur)
    </label>
  </hx-search-control>

              

  <hx-search-control
hx-dirty   >
    <input
      type="search"
      id="searchInput-dOEV-f-dirty"
class="mock-focus"     />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-dOEV-f-dirty">
Dirty,      Optional,
      Enabled,
      Valid
        (focus)
    </label>
  </hx-search-control>

            </td>
            <td>
              

  <hx-search-control
hx-dirty   >
    <input
      type="search"
      id="searchInput-dOEI-b-dirty"
        data-mock-invalid
    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-dOEI-b-dirty">
Dirty,      Optional,
      Enabled,
      Invalid
        (blur)
    </label>
  </hx-search-control>

              

  <hx-search-control
hx-dirty   >
    <input
      type="search"
      id="searchInput-dOEI-f-dirty"
class="mock-focus"         data-mock-invalid
    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-dOEI-f-dirty">
Dirty,      Optional,
      Enabled,
      Invalid
        (focus)
    </label>
  </hx-search-control>

            </td>
          </tr>
          <tr>
            <td>
              

  <hx-search-control
hx-dirty   >
    <input
      type="search"
      id="searchInput-dODV-b-dirty"
disabled     />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-dODV-b-dirty">
Dirty,      Optional,
      Disabled,
      Valid
        (blur)
    </label>
  </hx-search-control>

              

  <hx-search-control
hx-dirty   >
    <input
      type="search"
      id="searchInput-dODV-f-dirty"
class="mock-focus" disabled     />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-dODV-f-dirty">
Dirty,      Optional,
      Disabled,
      Valid
        (focus)
    </label>
  </hx-search-control>

            </td>
            <td>
              

  <hx-search-control
hx-dirty   >
    <input
      type="search"
      id="searchInput-dODI-b-dirty"
disabled         data-mock-invalid
    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-dODI-b-dirty">
Dirty,      Optional,
      Disabled,
      Invalid
        (blur)
    </label>
  </hx-search-control>

              

  <hx-search-control
hx-dirty   >
    <input
      type="search"
      id="searchInput-dODI-f-dirty"
class="mock-focus" disabled         data-mock-invalid
    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-dODI-f-dirty">
Dirty,      Optional,
      Disabled,
      Invalid
        (focus)
    </label>
  </hx-search-control>

            </td>
          </tr>
        </tbody>
      </table>
    </section>

    <section>
      <header>
        <h3>Required</h3>
        <code>&lt;input type="search" required&gt;</code>
      </header>
      <table>
        <thead>
          <tr>
            <th>:valid</th>
            <th>:invalid</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              

  <hx-search-control
hx-dirty   >
    <input
      type="search"
      id="searchInput-dREV-b-dirty"
        required
value="value"    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-dREV-b-dirty">
Dirty,      Required,
      Enabled,
      Valid
        (blur)
    </label>
  </hx-search-control>

              

  <hx-search-control
hx-dirty   >
    <input
      type="search"
      id="searchInput-dREV-f-dirty"
class="mock-focus"         required
value="value"    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-dREV-f-dirty">
Dirty,      Required,
      Enabled,
      Valid
        (focus)
    </label>
  </hx-search-control>

              

  <hx-search-control
hx-dirty   >
    <input
      type="search"
      id="searchInput-dREV-bs-dirty"
        required
value="value"    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear mock-focus"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-dREV-bs-dirty">
Dirty,      Required,
      Enabled,
      Valid
        (sub-focus)
    </label>
  </hx-search-control>

            </td>
            <td>
              

  <hx-search-control
hx-dirty   >
    <input
      type="search"
      id="searchInput-dREI-b-dirty"
        required
    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-dREI-b-dirty">
Dirty,      Required,
      Enabled,
      Invalid
        (blur)
    </label>
  </hx-search-control>

              

  <hx-search-control
hx-dirty   >
    <input
      type="search"
      id="searchInput-dREI-f-dirty"
class="mock-focus"         required
    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-dREI-f-dirty">
Dirty,      Required,
      Enabled,
      Invalid
        (focus)
    </label>
  </hx-search-control>

            </td>
          </tr>
          <tr>
            <td>
              

  <hx-search-control
hx-dirty   >
    <input
      type="search"
      id="searchInput-dRDV-b-dirty"
disabled         required
value="value"    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-dRDV-b-dirty">
Dirty,      Required,
      Disabled,
      Valid
        (blur)
    </label>
  </hx-search-control>

              

  <hx-search-control
hx-dirty   >
    <input
      type="search"
      id="searchInput-dRDV-f-dirty"
class="mock-focus" disabled         required
value="value"    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-dRDV-f-dirty">
Dirty,      Required,
      Disabled,
      Valid
        (focus)
    </label>
  </hx-search-control>

            </td>
            <td>
              

  <hx-search-control
hx-dirty   >
    <input
      type="search"
      id="searchInput-dRDI-b-dirty"
disabled         required
    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-dRDI-b-dirty">
Dirty,      Required,
      Disabled,
      Invalid
        (blur)
    </label>
  </hx-search-control>

              

  <hx-search-control
hx-dirty   >
    <input
      type="search"
      id="searchInput-dRDI-f-dirty"
class="mock-focus" disabled         required
    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-dRDI-f-dirty">
Dirty,      Required,
      Disabled,
      Invalid
        (focus)
    </label>
  </hx-search-control>

            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </section>

  <section>
    <header>
      <h2 id="test-visually-invalid">Visually Invalid</h2>
      <code>&lt;hx-search-control class="hxInvalid"&gt;</code>
    </header>

    <section>
      <header>
        <h3>Optional</h3>
        <code>&lt;input type="search"&gt;</code>
      </header>
      <table>
        <thead>
          <tr>
            <th>:valid</th>
            <th>:invalid</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              

  <hx-search-control
class="hxInvalid"   >
    <input
      type="search"
      id="searchInput-pOEV-b-invalid"
    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-pOEV-b-invalid">
.hxInvalid,      Optional,
      Enabled,
      Valid
        (blur)
    </label>
  </hx-search-control>

              

  <hx-search-control
class="hxInvalid"   >
    <input
      type="search"
      id="searchInput-pOEV-f-invalid"
class="mock-focus"     />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-pOEV-f-invalid">
.hxInvalid,      Optional,
      Enabled,
      Valid
        (focus)
    </label>
  </hx-search-control>

            </td>
            <td>
              

  <hx-search-control
class="hxInvalid"   >
    <input
      type="search"
      id="searchInput-pOEI-b-invalid"
        data-mock-invalid
    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-pOEI-b-invalid">
.hxInvalid,      Optional,
      Enabled,
      Invalid
        (blur)
    </label>
  </hx-search-control>

              

  <hx-search-control
class="hxInvalid"   >
    <input
      type="search"
      id="searchInput-pOEI-f-invalid"
class="mock-focus"         data-mock-invalid
    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-pOEI-f-invalid">
.hxInvalid,      Optional,
      Enabled,
      Invalid
        (focus)
    </label>
  </hx-search-control>

            </td>
          </tr>
          <tr>
            <td>
              

  <hx-search-control
class="hxInvalid"   >
    <input
      type="search"
      id="searchInput-pODV-b-invalid"
disabled     />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-pODV-b-invalid">
.hxInvalid,      Optional,
      Disabled,
      Valid
        (blur)
    </label>
  </hx-search-control>

              

  <hx-search-control
class="hxInvalid"   >
    <input
      type="search"
      id="searchInput-pODV-f-invalid"
class="mock-focus" disabled     />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-pODV-f-invalid">
.hxInvalid,      Optional,
      Disabled,
      Valid
        (focus)
    </label>
  </hx-search-control>

            </td>
            <td>
              

  <hx-search-control
class="hxInvalid"   >
    <input
      type="search"
      id="searchInput-pODI-b-invalid"
disabled         data-mock-invalid
    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-pODI-b-invalid">
.hxInvalid,      Optional,
      Disabled,
      Invalid
        (blur)
    </label>
  </hx-search-control>

              

  <hx-search-control
class="hxInvalid"   >
    <input
      type="search"
      id="searchInput-pODI-f-invalid"
class="mock-focus" disabled         data-mock-invalid
    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-pODI-f-invalid">
.hxInvalid,      Optional,
      Disabled,
      Invalid
        (focus)
    </label>
  </hx-search-control>

            </td>
          </tr>
        </tbody>
      </table>
    </section>

    <section>
      <header>
        <h3>Required</h3>
        <code>&lt;input type="search" required&gt;</code>
      </header>
      <table>
        <thead>
          <tr>
            <th>:valid</th>
            <th>:invalid</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              

  <hx-search-control
class="hxInvalid"   >
    <input
      type="search"
      id="searchInput-pREV-b-invalid"
        required
value="value"    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-pREV-b-invalid">
.hxInvalid,      Required,
      Enabled,
      Valid
        (blur)
    </label>
  </hx-search-control>

              

  <hx-search-control
class="hxInvalid"   >
    <input
      type="search"
      id="searchInput-pREV-f-invalid"
class="mock-focus"         required
value="value"    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-pREV-f-invalid">
.hxInvalid,      Required,
      Enabled,
      Valid
        (focus)
    </label>
  </hx-search-control>

              

  <hx-search-control
class="hxInvalid"   >
    <input
      type="search"
      id="searchInput-pREV-bs-invalid"
        required
value="value"    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear mock-focus"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-pREV-bs-invalid">
.hxInvalid,      Required,
      Enabled,
      Valid
        (sub-focus)
    </label>
  </hx-search-control>

            </td>
            <td>
              

  <hx-search-control
class="hxInvalid"   >
    <input
      type="search"
      id="searchInput-pREI-b-invalid"
        required
    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-pREI-b-invalid">
.hxInvalid,      Required,
      Enabled,
      Invalid
        (blur)
    </label>
  </hx-search-control>

              

  <hx-search-control
class="hxInvalid"   >
    <input
      type="search"
      id="searchInput-pREI-f-invalid"
class="mock-focus"         required
    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-pREI-f-invalid">
.hxInvalid,      Required,
      Enabled,
      Invalid
        (focus)
    </label>
  </hx-search-control>

            </td>
          </tr>
          <tr>
            <td>
              

  <hx-search-control
class="hxInvalid"   >
    <input
      type="search"
      id="searchInput-pRDV-b-invalid"
disabled         required
value="value"    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-pRDV-b-invalid">
.hxInvalid,      Required,
      Disabled,
      Valid
        (blur)
    </label>
  </hx-search-control>

              

  <hx-search-control
class="hxInvalid"   >
    <input
      type="search"
      id="searchInput-pRDV-f-invalid"
class="mock-focus" disabled         required
value="value"    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-pRDV-f-invalid">
.hxInvalid,      Required,
      Disabled,
      Valid
        (focus)
    </label>
  </hx-search-control>

            </td>
            <td>
              

  <hx-search-control
class="hxInvalid"   >
    <input
      type="search"
      id="searchInput-pRDI-b-invalid"
disabled         required
    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-pRDI-b-invalid">
.hxInvalid,      Required,
      Disabled,
      Invalid
        (blur)
    </label>
  </hx-search-control>

              

  <hx-search-control
class="hxInvalid"   >
    <input
      type="search"
      id="searchInput-pRDI-f-invalid"
class="mock-focus" disabled         required
    />
    <button
      type="button"
      aria-label="Clear search"
        class="hxClear"
      hidden
    >
      <hx-icon type="times"></hx-icon>
    </button>
    <hx-search></hx-search>
    <label for="searchInput-pRDI-f-invalid">
.hxInvalid,      Required,
      Disabled,
      Invalid
        (focus)
    </label>
  </hx-search-control>

            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </section>

  <section>
    <header>
      <h2 id="test-extra-long-value">Extra Long Value</h2>
      <code>&lt;input type="search"&gt;</code>
    </header>

    <div class="hxRow">
      <div class="hxCol hxSpan-4">
        <hx-search-control>
          <input
            id="search-with-extra-long-value"
            type="search"
            value="This is an extra long search value that tests its rendered appearance"
          />
          <button
            type="button"
            class="hxClear"
            aria-label="Clear search"
            hidden
          >
            <hx-icon type="times"></hx-icon>
          </button>
          <hx-search></hx-search>
          <label
            for="search-with-extra-long-value"
          >
            Search with Extra Long Value
          </label>
        </hx-search-control>
      </div>
      <div class="hxCol hxSpan-4">
        <hx-search-control class="hxInvalid">
          <input
            id="search-with-extra-long-value-hxinvalid"
            type="search"
            value="This is an extra long search value that tests its rendered appearance"
          />
          <button
            type="button"
            class="hxClear"
            aria-label="Clear search"
            hidden
          >
            <hx-icon type="times"></hx-icon>
          </button>
          <hx-search></hx-search>
          <label
            for="search-with-extra-long-value-hxinvalid"
          >
            Search with Extra Long Value
          </label>
        </hx-search-control>
      </div>
        <div class="hxCol hxSpan-4">
          <hx-search-control>
            <input
              id="search-with-extra-long-value-disabled"
              type="search"
              value="This is an extra long search value that tests its rendered appearance"
              disabled
            />
            <button
              type="button"
              class="hxClear"
              aria-label="Clear search"
              hidden
            >
              <hx-icon type="times"></hx-icon>
            </button>
            <hx-search></hx-search>
            <label
              for="search-with-extra-long-value-disabled"
            >
              Search with Extra Long Value
            </label>
          </hx-search-control>
        </div>
    </div>
  </section>

          </div>

            <aside class="hxSiderail">
                <nav class="toc" aria-label="table of contents">
                  
            <a href="#test-pristine">Pristine</a>
        

            <a href="#test-dirty">Dirty</a>
        

            <a href="#test-visually-invalid">Visually Invalid</a>
        

            <a href="#test-extra-long-value">Extra Long Value</a>
        
                    
                  <hr class="hxDivider" />
                  <a class="top-link" href="#top">Back to Top</a>
                </nav>
            </aside>
      </main>
    </div>
  </div>

  <footer id="foot" class="hxRow hxGutterless">
    <div class="hxCol">
      &copy; 2017-2020 Rackspace US, Inc.
      <nav>
        <a href="https://www.rackspace.com/information/legal/websiteterms">Website Terms</a>
        <a href="https://www.rackspace.com/information/legal/privacystatement">Privacy Policy</a>
      </nav>
    </div>

    <div class="hxCol hxRight">


      <small>
        Latest Release:
        (<a href="https://github.com/HelixDesignSystem/helix-ui/releases/v0.24.0" target="_blank">
          v0.24.0
        </a>)
      </small>
    </div>
  </footer>

  
  <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
  
  <script src="dist/js/helix-ui.js"></script>
  
  <script src="docs.js"></script>
</body>
</html>
