<div class="hxRow">
  <div class="hxCol-xs-12 hxCol-md-3 hxOrder-md-2">
    <%- partial('_partials/sidebar') %>
  </div>
  <div class="hxCol-xs-12 hxCol-md-9 hxOrder-1">
    <%- page.content %>
  </div>
</div>
