hx-accordion-panel {
  display: block;

  // Hide content if closed (ignore header)
  //
  // Both :not() selectors have to be combined, because
  // they cannot be selected in isolation.
  // - :not([slot="header"]) is for modern browsers
  // - :not(#hxToggle) is for polyfilled browsers
  &:not([open]) > *:not([slot="header"]):not(#hxToggle) {
    display: none;
  }

  > #hxToggle.hx-accordion-panel, // polyfill rewrite
  > [slot="header"] {
    padding: 0.5rem 0;
  }
}

hx-accordion {
  display: block;
}

// VARIATIONS
@import "stepper"; // BETA
