---
title: Table
assets:
  - bootstrap.helix.css
---
{% extends 'component.njk' %}
{% block content %}
<section>
  <h2 class="hxSectionTitle" id="default-table">Default Table</h2>

  <p>
    <em>a.k.a. "Unbound Table"</em>
  </p>

  <div class="demo">
    <table class="table">
      <caption>Most popular Twitter accounts</caption>
      <thead>
        <tr>
          <th class="col-control"><input type="checkbox" /></th>
          <th class="col-control"></th>
          <th>Rank</th>
          <th>Name</th>
          <th>Handle</th>
          <th class="text-right">Followers</th>
          <th class="col-control"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="col-control"><input type="checkbox" /></td>
          <td class="col-control">
            <hx-icon type="cog"></hx-icon>
          </td>
          <td>1</td>
          <td>Katy Perry</td>
          <td>
            <a href="https://twitter.com/katyperry" target="_blank">@katyperry</a>
          </td>
          <td class="text-right">100,381,853</td>
          <td class="col-control">
            <hx-icon type="angle-down"></hx-icon>
          </td>
        </tr>
        <tr>
          <td class="col-control"><input type="checkbox" /></td>
          <td class="col-control">
            <hx-icon type="cog"></hx-icon>
          </td>
          <td>2</td>
          <td>Justin Beiber</td>
          <td>
            <a href="https://twitter.com/justinbeiber" target="_blank">@justinbeiber</a>
          </td>
          <td class="text-right">97,350,145</td>
          <td class="col-control">
            <hx-icon type="angle-down"></hx-icon>
          </td>
        </tr>
        <tr>
          <td class="col-control"><input type="checkbox" /></td>
          <td class="col-control">
            <hx-icon type="cog"></hx-icon>
          </td>
          <td>3</td>
          <td>Barack Obama</td>
          <td>
            <a href="https://twitter.com/BarackObama" target="_blank">@BarackObama</a>
          </td>
          <td class="text-right">91,387,642</td>
          <td class="col-control">
            <hx-icon type="angle-down"></hx-icon>
          </td>
        </tr>
      </tbody>
      <!--
      <tfoot>
        <tr>
          <td colspan="5" class="text-right">Total</td>
          <td class="text-right">289,119,640</td>
        </tr>
      </tfoot>
      -->
    </table>
  </div>
</section>

<section>
  <h2 class="hxSectionTitle" id="condensed-table">Condensed Table</h2>

  <!-- explanation goes here -->

  <div class="demo">
    <table class="table table-condensed">
      <caption>Most popular Twitter accounts</caption>
      <thead>
        <tr>
          <th class="col-control"><input type="checkbox" /></th>
          <th class="col-control"></th>
          <th>Rank</th>
          <th>Name</th>
          <th>Handle</th>
          <th class="text-right">Followers</th>
          <th class="col-control"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="col-control"><input type="checkbox" /></td>
          <td class="col-control">
            <hx-icon type="cog"></hx-icon>
          </td>
          <td>1</td>
          <td>Katy Perry</td>
          <td>
            <a href="https://twitter.com/katyperry" target="_blank">@katyperry</a>
          </td>
          <td class="text-right">100,381,853</td>
          <td class="col-control">
            <hx-icon type="angle-down"></hx-icon>
          </td>
        </tr>
        <tr>
          <td class="col-control"><input type="checkbox" /></td>
          <td class="col-control">
            <hx-icon type="cog"></hx-icon>
          </td>
          <td>2</td>
          <td>Justin Beiber</td>
          <td>
            <a href="https://twitter.com/justinbeiber" target="_blank">@justinbeiber</a>
          </td>
          <td class="text-right">97,350,145</td>
          <td class="col-control">
            <hx-icon type="angle-down"></hx-icon>
          </td>
        </tr>
        <tr>
          <td class="col-control"><input type="checkbox" /></td>
          <td class="col-control">
            <hx-icon type="cog"></hx-icon>
          </td>
          <td>3</td>
          <td>Barack Obama</td>
          <td>
            <a href="https://twitter.com/BarackObama" target="_blank">@BarackObama</a>
          </td>
          <td class="text-right">91,387,642</td>
          <td class="col-control">
            <hx-icon type="angle-down"></hx-icon>
          </td>
        </tr>
      </tbody>
      <!--
      <tfoot>
        <tr>
          <td colspan="5" class="text-right">Total</td>
          <td class="text-right">289,119,640</td>
        </tr>
      </tfoot>
      -->
    </table>
  </div>
</section>

<section>
  <h2 class="hxSectionTitle" id="bound-table">Bound Table</h2>

  <!-- explanation goes here -->

  <div class="demo">
    <table class="table table-bordered">
      <caption>Most popular Twitter accounts</caption>
      <thead>
        <tr>
          <th class="col-control"><input type="checkbox" /></th>
          <th class="col-control"></th>
          <th>Rank</th>
          <th>Name</th>
          <th>Handle</th>
          <th class="text-right">Followers</th>
          <th class="col-control"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="col-control"><input type="checkbox" /></td>
          <td class="col-control">
            <hx-icon type="cog"></hx-icon>
          </td>
          <td>1</td>
          <td>Katy Perry</td>
          <td>
            <a href="https://twitter.com/katyperry" target="_blank">@katyperry</a>
          </td>
          <td class="text-right">100,381,853</td>
          <td class="col-control">
            <hx-icon type="angle-down"></hx-icon>
          </td>
        </tr>
        <tr>
          <td class="col-control"><input type="checkbox" /></td>
          <td class="col-control">
            <hx-icon type="cog"></hx-icon>
          </td>
          <td>2</td>
          <td>Justin Beiber</td>
          <td>
            <a href="https://twitter.com/justinbeiber" target="_blank">@justinbeiber</a>
          </td>
          <td class="text-right">97,350,145</td>
          <td class="col-control">
            <hx-icon type="angle-down"></hx-icon>
          </td>
        </tr>
        <tr>
          <td class="col-control"><input type="checkbox" /></td>
          <td class="col-control">
            <hx-icon type="cog"></hx-icon>
          </td>
          <td>3</td>
          <td>Barack Obama</td>
          <td>
            <a href="https://twitter.com/BarackObama" target="_blank">@BarackObama</a>
          </td>
          <td class="text-right">91,387,642</td>
          <td class="col-control">
            <hx-icon type="angle-down"></hx-icon>
          </td>
        </tr>
      </tbody>
      <!--
      <tfoot>
        <tr>
          <td colspan="5" class="text-right">Total</td>
          <td class="text-right">289,119,640</td>
        </tr>
      </tfoot>
      -->
    </table>
  </div>
</section>

<section>
  <h2 class="hxSectionTitle" id="hoverable-table">Hoverable Table</h2>

  <!-- explanation goes here -->

  <div class="demo">
    <table class="table table-hover">
      <caption>Most popular Twitter accounts</caption>
      <thead>
        <tr>
          <th class="col-control"><input type="checkbox" /></th>
          <th class="col-control"></th>
          <th>Rank</th>
          <th>Name</th>
          <th>Handle</th>
          <th class="text-right">Followers</th>
          <th class="col-control"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="col-control"><input type="checkbox" /></td>
          <td class="col-control">
            <hx-icon type="cog"></hx-icon>
          </td>
          <td>1</td>
          <td>Katy Perry</td>
          <td>
            <a href="https://twitter.com/katyperry" target="_blank">@katyperry</a>
          </td>
          <td class="text-right">100,381,853</td>
          <td class="col-control">
            <hx-icon type="angle-down"></hx-icon>
          </td>
        </tr>
        <tr>
          <td class="col-control"><input type="checkbox" /></td>
          <td class="col-control">
            <hx-icon type="cog"></hx-icon>
          </td>
          <td>2</td>
          <td>Justin Beiber</td>
          <td>
            <a href="https://twitter.com/justinbeiber" target="_blank">@justinbeiber</a>
          </td>
          <td class="text-right">97,350,145</td>
          <td class="col-control">
            <hx-icon type="angle-down"></hx-icon>
          </td>
        </tr>
        <tr>
          <td class="col-control"><input type="checkbox" /></td>
          <td class="col-control">
            <hx-icon type="cog"></hx-icon>
          </td>
          <td>3</td>
          <td>Barack Obama</td>
          <td>
            <a href="https://twitter.com/BarackObama" target="_blank">@BarackObama</a>
          </td>
          <td class="text-right">91,387,642</td>
          <td class="col-control">
            <hx-icon type="angle-down"></hx-icon>
          </td>
        </tr>
      </tbody>
      <!--
      <tfoot>
        <tr>
          <td colspan="5">Total</td>
          <td class="text-right">289,119,640</td>
        </tr>
      </tfoot>
      -->
    </table>
  </div>
</section>

<section>
  <h2 class="hxSectionTitle" id="contextual-classes">Contextual Classes</h2>

  <!-- explanation goes here -->

  <div class="demo">
    <table class="table">
      <thead>
        <tr>
          <th>Class</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><em>n/a</em></td>
          <td>Normal table row</td>
        </tr>
        <tr class="active">
          <td><code>.active</code></td>
          <td>Applies the hover color to a particular row or cell.</td>
        </tr>
        <tr class="success">
          <td><code>.success</code></td>
          <td>Indicates a successful or positive action</td>
        </tr>
        <tr class="info">
          <td><code>.info</code></td>
          <td>Indicates a neutral informative change or action</td>
        </tr>
        <tr class="warning">
          <td><code>.warning</code></td>
          <td>Indicates a warning that might need attention</td>
        </tr>
        <tr class="danger">
          <td><code>.danger</code></td>
          <td>Indicates a dangerous or potential negative action</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
{% endblock %}
