---
title: Table
assets:
  - helix-ui.css
---
{% extends 'component.njk' %}
{% block content %}
<section>
  <h2 class="hxSectionTitle" id="default-table">Default Table</h2>

  <p>
    <em>a.k.a. "Unbound Table"</em>
  </p>

  <div class="demo">
    <table class="hxTable">
      <caption>Most popular Twitter accounts</caption>
      <thead>
        <tr>
          <th class="hxTable__control-col"><input type="checkbox" /></th>
          <th class="hxTable__control-col"></th>
          <th>Rank</th>
          <th>Name</th>
          <th>Handle</th>
          <th class="text-right">Followers</th>
          <th class="hxTable__control-col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="hxTable__control-col"><input type="checkbox" /></td>
          <td class="hxTable__control-col">
            <hx-icon type="cog"></hx-icon>
          </td>
          <td>1</td>
          <td>Katy Perry</td>
          <td>
            <a href="https://twitter.com/katyperry" target="_blank">@katyperry</a>
          </td>
          <td class="text-right">100,381,853</td>
          <td class="hxTable__control-col">
            <hx-icon type="angle-down"></hx-icon>
          </td>
        </tr>
        <tr>
          <td class="hxTable__control-col"><input type="checkbox" /></td>
          <td class="hxTable__control-col">
            <hx-icon type="cog"></hx-icon>
          </td>
          <td>2</td>
          <td>Justin Beiber</td>
          <td>
            <a href="https://twitter.com/justinbeiber" target="_blank">@justinbeiber</a>
          </td>
          <td class="text-right">97,350,145</td>
          <td class="hxTable__control-col">
            <hx-icon type="angle-down"></hx-icon>
          </td>
        </tr>
        <tr>
          <td class="hxTable__control-col"><input type="checkbox" /></td>
          <td class="hxTable__control-col">
            <hx-icon type="cog"></hx-icon>
          </td>
          <td>3</td>
          <td>Barack Obama</td>
          <td>
            <a href="https://twitter.com/BarackObama" target="_blank">@BarackObama</a>
          </td>
          <td class="text-right">91,387,642</td>
          <td class="hxTable__control-col">
            <hx-icon type="angle-down"></hx-icon>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5" class="text-right">Total</td>
          <td class="text-right">289,119,640</td>
        </tr>
      </tfoot>
    </table>
  </div>
  {% code 'html' %}
    <table class="hxTable">
      <caption>Most popular Twitter accounts</caption>
      <thead>
        <tr>
          <th class="hxTable__control-col"><input type="checkbox" /></th>
          <th class="hxTable__control-col"></th>
          <th>Rank</th>
          <th>Name</th>
          <th>Handle</th>
          <th class="text-right">Followers</th>
          <th class="hxTable__control-col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="hxTable__control-col"><input type="checkbox" /></td>
          <td class="hxTable__control-col">
            <hx-icon type="cog"></hx-icon>
          </td>
          <td>1</td>
          <td>Katy Perry</td>
          <td>
            <a href="https://twitter.com/katyperry" target="_blank">@katyperry</a>
          </td>
          <td class="text-right">100,381,853</td>
          <td class="hxTable__control-col">
            <hx-icon type="angle-down"></hx-icon>
          </td>
        </tr>
        <tr>
          <td class="hxTable__control-col"><input type="checkbox" /></td>
          <td class="hxTable__control-col">
            <hx-icon type="cog"></hx-icon>
          </td>
          <td>2</td>
          <td>Justin Beiber</td>
          <td>
            <a href="https://twitter.com/justinbeiber" target="_blank">@justinbeiber</a>
          </td>
          <td class="text-right">97,350,145</td>
          <td class="hxTable__control-col">
            <hx-icon type="angle-down"></hx-icon>
          </td>
        </tr>
        <tr>
          <td class="hxTable__control-col"><input type="checkbox" /></td>
          <td class="hxTable__control-col">
            <hx-icon type="cog"></hx-icon>
          </td>
          <td>3</td>
          <td>Barack Obama</td>
          <td>
            <a href="https://twitter.com/BarackObama" target="_blank">@BarackObama</a>
          </td>
          <td class="text-right">91,387,642</td>
          <td class="hxTable__control-col">
            <hx-icon type="angle-down"></hx-icon>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5" class="text-right">Total</td>
          <td class="text-right">289,119,640</td>
        </tr>
      </tfoot>
    </table>
  {% endcode %}
</section>

<section>
  <h2 class="hxSectionTitle" id="condensed-table">Condensed Table</h2>

  <!-- explanation goes here -->

  <div class="demo">
    <table class="hxTable hxTable--condensed">
      <caption>Most popular Twitter accounts</caption>
      <thead>
        <tr>
          <th class="hxTable__control-col"><input type="checkbox" /></th>
          <th class="hxTable__control-col"></th>
          <th>Rank</th>
          <th>Name</th>
          <th>Handle</th>
          <th class="text-right">Followers</th>
          <th class="hxTable__control-col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="hxTable__control-col"><input type="checkbox" /></td>
          <td class="hxTable__control-col">
            <hx-icon type="cog"></hx-icon>
          </td>
          <td>1</td>
          <td>Katy Perry</td>
          <td>
            <a href="https://twitter.com/katyperry" target="_blank">@katyperry</a>
          </td>
          <td class="text-right">100,381,853</td>
          <td class="hxTable__control-col">
            <hx-icon type="angle-down"></hx-icon>
          </td>
        </tr>
        <tr>
          <td class="hxTable__control-col"><input type="checkbox" /></td>
          <td class="hxTable__control-col">
            <hx-icon type="cog"></hx-icon>
          </td>
          <td>2</td>
          <td>Justin Beiber</td>
          <td>
            <a href="https://twitter.com/justinbeiber" target="_blank">@justinbeiber</a>
          </td>
          <td class="text-right">97,350,145</td>
          <td class="hxTable__control-col">
            <hx-icon type="angle-down"></hx-icon>
          </td>
        </tr>
        <tr>
          <td class="hxTable__control-col"><input type="checkbox" /></td>
          <td class="hxTable__control-col">
            <hx-icon type="cog"></hx-icon>
          </td>
          <td>3</td>
          <td>Barack Obama</td>
          <td>
            <a href="https://twitter.com/BarackObama" target="_blank">@BarackObama</a>
          </td>
          <td class="text-right">91,387,642</td>
          <td class="hxTable__control-col">
            <hx-icon type="angle-down"></hx-icon>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5" class="text-right">Total</td>
          <td class="text-right">289,119,640</td>
        </tr>
      </tfoot>
    </table>
  </div>
  {% code 'html' %}
    <table class="hxTable hxTable--condensed">
      <caption>Most popular Twitter accounts</caption>
      <thead>
        <tr>
          <th class="hxTable__control-col"><input type="checkbox" /></th>
          <th class="hxTable__control-col"></th>
          <th>Rank</th>
          <th>Name</th>
          <th>Handle</th>
          <th class="text-right">Followers</th>
          <th class="hxTable__control-col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="hxTable__control-col"><input type="checkbox" /></td>
          <td class="hxTable__control-col">
            <hx-icon type="cog"></hx-icon>
          </td>
          <td>1</td>
          <td>Katy Perry</td>
          <td>
            <a href="https://twitter.com/katyperry" target="_blank">@katyperry</a>
          </td>
          <td class="text-right">100,381,853</td>
          <td class="hxTable__control-col">
            <hx-icon type="angle-down"></hx-icon>
          </td>
        </tr>
        <tr>
          <td class="hxTable__control-col"><input type="checkbox" /></td>
          <td class="hxTable__control-col">
            <hx-icon type="cog"></hx-icon>
          </td>
          <td>2</td>
          <td>Justin Beiber</td>
          <td>
            <a href="https://twitter.com/justinbeiber" target="_blank">@justinbeiber</a>
          </td>
          <td class="text-right">97,350,145</td>
          <td class="hxTable__control-col">
            <hx-icon type="angle-down"></hx-icon>
          </td>
        </tr>
        <tr>
          <td class="hxTable__control-col"><input type="checkbox" /></td>
          <td class="hxTable__control-col">
            <hx-icon type="cog"></hx-icon>
          </td>
          <td>3</td>
          <td>Barack Obama</td>
          <td>
            <a href="https://twitter.com/BarackObama" target="_blank">@BarackObama</a>
          </td>
          <td class="text-right">91,387,642</td>
          <td class="hxTable__control-col">
            <hx-icon type="angle-down"></hx-icon>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5" class="text-right">Total</td>
          <td class="text-right">289,119,640</td>
        </tr>
      </tfoot>
    </table>
  {% endcode %}
</section>

<section>
  <h2 class="hxSectionTitle" id="bound-table">Bound Table</h2>

  <!-- explanation goes here -->

  <div class="demo">
    <table class="hxTable hxTable--bordered">
      <caption>Most popular Twitter accounts</caption>
      <thead>
        <tr>
          <th class="hxTable__control-col"><input type="checkbox" /></th>
          <th class="hxTable__control-col"></th>
          <th>Rank</th>
          <th>Name</th>
          <th>Handle</th>
          <th class="text-right">Followers</th>
          <th class="hxTable__control-col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="hxTable__control-col"><input type="checkbox" /></td>
          <td class="hxTable__control-col">
            <hx-icon type="cog"></hx-icon>
          </td>
          <td>1</td>
          <td>Katy Perry</td>
          <td>
            <a href="https://twitter.com/katyperry" target="_blank">@katyperry</a>
          </td>
          <td class="text-right">100,381,853</td>
          <td class="hxTable__control-col">
            <hx-icon type="angle-down"></hx-icon>
          </td>
        </tr>
        <tr>
          <td class="hxTable__control-col"><input type="checkbox" /></td>
          <td class="hxTable__control-col">
            <hx-icon type="cog"></hx-icon>
          </td>
          <td>2</td>
          <td>Justin Beiber</td>
          <td>
            <a href="https://twitter.com/justinbeiber" target="_blank">@justinbeiber</a>
          </td>
          <td class="text-right">97,350,145</td>
          <td class="hxTable__control-col">
            <hx-icon type="angle-down"></hx-icon>
          </td>
        </tr>
        <tr>
          <td class="hxTable__control-col"><input type="checkbox" /></td>
          <td class="hxTable__control-col">
            <hx-icon type="cog"></hx-icon>
          </td>
          <td>3</td>
          <td>Barack Obama</td>
          <td>
            <a href="https://twitter.com/BarackObama" target="_blank">@BarackObama</a>
          </td>
          <td class="text-right">91,387,642</td>
          <td class="hxTable__control-col">
            <hx-icon type="angle-down"></hx-icon>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5" class="text-right">Total</td>
          <td class="text-right">289,119,640</td>
        </tr>
      </tfoot>
    </table>
  </div>
  {% code 'html' %}
    <table class="hxTable hxTable--bordered">
      <caption>Most popular Twitter accounts</caption>
      <thead>
        <tr>
          <th class="hxTable__control-col"><input type="checkbox" /></th>
          <th class="hxTable__control-col"></th>
          <th>Rank</th>
          <th>Name</th>
          <th>Handle</th>
          <th class="text-right">Followers</th>
          <th class="hxTable__control-col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="hxTable__control-col"><input type="checkbox" /></td>
          <td class="hxTable__control-col">
            <hx-icon type="cog"></hx-icon>
          </td>
          <td>1</td>
          <td>Katy Perry</td>
          <td>
            <a href="https://twitter.com/katyperry" target="_blank">@katyperry</a>
          </td>
          <td class="text-right">100,381,853</td>
          <td class="hxTable__control-col">
            <hx-icon type="angle-down"></hx-icon>
          </td>
        </tr>
        <tr>
          <td class="hxTable__control-col"><input type="checkbox" /></td>
          <td class="hxTable__control-col">
            <hx-icon type="cog"></hx-icon>
          </td>
          <td>2</td>
          <td>Justin Beiber</td>
          <td>
            <a href="https://twitter.com/justinbeiber" target="_blank">@justinbeiber</a>
          </td>
          <td class="text-right">97,350,145</td>
          <td class="hxTable__control-col">
            <hx-icon type="angle-down"></hx-icon>
          </td>
        </tr>
        <tr>
          <td class="hxTable__control-col"><input type="checkbox" /></td>
          <td class="hxTable__control-col">
            <hx-icon type="cog"></hx-icon>
          </td>
          <td>3</td>
          <td>Barack Obama</td>
          <td>
            <a href="https://twitter.com/BarackObama" target="_blank">@BarackObama</a>
          </td>
          <td class="text-right">91,387,642</td>
          <td class="hxTable__control-col">
            <hx-icon type="angle-down"></hx-icon>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5" class="text-right">Total</td>
          <td class="text-right">289,119,640</td>
        </tr>
      </tfoot>
    </table>
  {% endcode %}
</section>

<section>
  <h2 class="hxSectionTitle" id="hoverable-table">Hoverable Table</h2>

  <!-- explanation goes here -->

  <div class="demo">
    <table class="hxTable hxTable--hover">
      <caption>Most popular Twitter accounts</caption>
      <thead>
        <tr>
          <th class="hxTable__control-col"><input type="checkbox" /></th>
          <th class="hxTable__control-col"></th>
          <th>Rank</th>
          <th>Name</th>
          <th>Handle</th>
          <th class="text-right">Followers</th>
          <th class="hxTable__control-col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="hxTable__control-col"><input type="checkbox" /></td>
          <td class="hxTable__control-col">
            <hx-icon type="cog"></hx-icon>
          </td>
          <td>1</td>
          <td>Katy Perry</td>
          <td>
            <a href="https://twitter.com/katyperry" target="_blank">@katyperry</a>
          </td>
          <td class="text-right">100,381,853</td>
          <td class="hxTable__control-col">
            <hx-icon type="angle-down"></hx-icon>
          </td>
        </tr>
        <tr>
          <td class="hxTable__control-col"><input type="checkbox" /></td>
          <td class="hxTable__control-col">
            <hx-icon type="cog"></hx-icon>
          </td>
          <td>2</td>
          <td>Justin Beiber</td>
          <td>
            <a href="https://twitter.com/justinbeiber" target="_blank">@justinbeiber</a>
          </td>
          <td class="text-right">97,350,145</td>
          <td class="hxTable__control-col">
            <hx-icon type="angle-down"></hx-icon>
          </td>
        </tr>
        <tr>
          <td class="hxTable__control-col"><input type="checkbox" /></td>
          <td class="hxTable__control-col">
            <hx-icon type="cog"></hx-icon>
          </td>
          <td>3</td>
          <td>Barack Obama</td>
          <td>
            <a href="https://twitter.com/BarackObama" target="_blank">@BarackObama</a>
          </td>
          <td class="text-right">91,387,642</td>
          <td class="hxTable__control-col">
            <hx-icon type="angle-down"></hx-icon>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5" class="text-right">Total</td>
          <td class="text-right">289,119,640</td>
        </tr>
      </tfoot>
    </table>
  </div>
  {% code 'html' %}
    <table class="hxTable hxTable--hover">
      <caption>Most popular Twitter accounts</caption>
      <thead>
        <tr>
          <th class="hxTable__control-col"><input type="checkbox" /></th>
          <th class="hxTable__control-col"></th>
          <th>Rank</th>
          <th>Name</th>
          <th>Handle</th>
          <th class="text-right">Followers</th>
          <th class="hxTable__control-col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="hxTable__control-col"><input type="checkbox" /></td>
          <td class="hxTable__control-col">
            <hx-icon type="cog"></hx-icon>
          </td>
          <td>1</td>
          <td>Katy Perry</td>
          <td>
            <a href="https://twitter.com/katyperry" target="_blank">@katyperry</a>
          </td>
          <td class="text-right">100,381,853</td>
          <td class="hxTable__control-col">
            <hx-icon type="angle-down"></hx-icon>
          </td>
        </tr>
        <tr>
          <td class="hxTable__control-col"><input type="checkbox" /></td>
          <td class="hxTable__control-col">
            <hx-icon type="cog"></hx-icon>
          </td>
          <td>2</td>
          <td>Justin Beiber</td>
          <td>
            <a href="https://twitter.com/justinbeiber" target="_blank">@justinbeiber</a>
          </td>
          <td class="text-right">97,350,145</td>
          <td class="hxTable__control-col">
            <hx-icon type="angle-down"></hx-icon>
          </td>
        </tr>
        <tr>
          <td class="hxTable__control-col"><input type="checkbox" /></td>
          <td class="hxTable__control-col">
            <hx-icon type="cog"></hx-icon>
          </td>
          <td>3</td>
          <td>Barack Obama</td>
          <td>
            <a href="https://twitter.com/BarackObama" target="_blank">@BarackObama</a>
          </td>
          <td class="text-right">91,387,642</td>
          <td class="hxTable__control-col">
            <hx-icon type="angle-down"></hx-icon>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5" class="text-right">Total</td>
          <td class="text-right">289,119,640</td>
        </tr>
      </tfoot>
    </table>
  {% endcode %}
</section>

<section>
  <h2 class="hxSectionTitle" id="contextual-classes">Contextual Classes</h2>

  <!-- explanation goes here -->

  <div class="demo">
    <table class="hxTable">
      <thead>
        <tr>
          <th>Class</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><em>n/a</em></td>
          <td>Normal table row</td>
        </tr>
        <tr class="selected">
          <td><code>.selected</code></td>
          <td>Indicates a row that has a selected input or that has been used as navigation</td>
        </tr>
      </tbody>
    </table>
  </div>
  {% code 'html' %}
    <table class="hxTable">
      <thead>
        <tr>
          <th>Class</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><em>n/a</em></td>
          <td>Normal table row</td>
        </tr>
        <tr class="selected">
          <td><code>.selected</code></td>
          <td>Indicates a row that has a selected input or that has been used as navigation</td>
        </tr>
      </tbody>
    </table>
  {% endcode %}
</section>
{% endblock %}
