// ========== hxBreadcrumbs ========== //
.hxBreadcrumb {
  align-content: center;
  align-items: center;
  color: $blue-500;
  display: flex;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1;

  & > a {
    margin-right: 0.5rem;
    text-transform: capitalize;

    &:last-of-type {
      color: var(--hxBreadcrumb-last-type-color, $gray-800);
      font-weight: 600;
      pointer-events: none;
    }
  }

  .delimiter {
    color: var(--hxBreadcrumb-delimiter-color, $gray-600);
    font-size: 0.5rem;
    margin-right: 0.5rem;
  }
}
