---
title: Tabset
assets:
  - helix-ui.css
  - helix-ui.js
---
{% extends 'component.njk' %}
{% block content %}
<!-- explanation goes here -->

<section>
<h2 class="hxSectionTitle" id="tabset">Tabset</h2>
<div class="demo demo-tabset">
  <hx-tabset>
    <div slot="tabs">
      <a href="#" role="tab" class="hxTab">Cupcake Ipsum</a>
      <a href="#" role="tab" class="hxTab">Biscuit Marshmallow</a>
      <a href="#" role="tab" class="hxTab">Caramels Marzipan</a>
    </div>
    <hx-tabpanel id="cupcake">
      <div class="hxRow">
        <div class="hxCol-6">
          <p>
            Cupcake ipsum dolor sit amet bonbon topping caramels. Sesame snaps
            gummi bears liquorice cookie chupa chups fruitcake croissant
            chocolate topping. Brownie biscuit wafer marshmallow liquorice
            soufflé powder jelly.
          </p>
        </div>
        <div class="hxCol-6">
          <p>
            Sweet roll sesame snaps danish I love jelly wafer dragée soufflé
            cake. Cookie chocolate cake gingerbread powder icing. Ice cream
            cotton candy gummi bears oat cake sweet pastry.
          </p>
        </div>
      </div>
    </hx-tabpanel>
    <hx-tabpanel id="biscuit">
      <p>
        Cupcake ipsum dolor. Sit amet soufflé croissant topping cotton candy.
        Chocolate cake candy bear claw sweet roll tootsie roll apple pie
        halvah marshmallow. Dragée lemon drops cake gingerbread chocolate.
        Jujubes croissant sesame snaps oat cake tiramisu jujubes brownie.
        Candy canes fruitcake chocolate cake topping. Pudding gummi bears
        candy. Sweet soufflé macaroon tiramisu fruitcake. Sugar plum biscuit
        chocolate bar dessert sesame snaps carrot cake candy canes gummies.
        Sugar plum macaroon chocolate cake gummies chupa chups cupcake tootsie
        roll. Candy canes tootsie roll tootsie roll tart chocolate lemon drops
        cake danish chocolate cake. Chocolate jelly tart lemon drops chocolate
        bar fruitcake candy canes marzipan chupa chups. Cake chupa chups sweet
        macaroon tootsie roll cupcake tootsie roll.
      </p>
      <p>
        Bear claw sweet roll topping. Danish cake powder muffin pastry. Bonbon
        cake marzipan oat cake bear claw cookie. Cake icing jelly beans sugar
        plum cheesecake tootsie roll marzipan. Powder donut halvah danish
        gingerbread gummies chocolate candy. Donut wafer topping caramels
        bonbon cake halvah pudding cupcake. Ice cream powder chocolate cake
        chupa chups chocolate cake. Jujubes caramels sesame snaps cotton candy
        sesame snaps caramels. Marshmallow bonbon bear claw candy canes
        cheesecake cupcake. Gummies soufflé apple pie. Gummi bears tart
        chocolate croissant cupcake. Bear claw biscuit oat cake gummies
        fruitcake brownie. Marzipan jujubes carrot cake.
      </p>
      <p>
        Jelly beans carrot cake oat cake. Toffee dessert macaroon candy bear
        claw. Muffin pudding carrot cake lollipop biscuit lollipop cake wafer.
        Bonbon lemon drops candy pie jelly-o candy canes sweet. Jelly-o
        chocolate bar pie croissant ice cream. Sweet ice cream gummi bears
        sweet soufflé ice cream donut soufflé croissant. Jujubes dessert danish
        jelly beans liquorice sweet roll sweet fruitcake wafer. Tootsie roll
        jelly-o halvah. Cotton candy lollipop chocolate cake macaroon toffee
        cookie brownie. Dessert cheesecake chocolate cake chocolate bonbon
        jelly-o lemon drops. Jujubes sesame snaps dessert lollipop carrot cake.
        Caramels pie candy sesame snaps chocolate bar chocolate cake.
      </p>
    </hx-tabpanel>
    <hx-tabpanel id="caramel">
      <p>
        Caramels marzipan gummi bears. Cake chocolate bar cake jelly-o tart topping. Jelly sweet jelly soufflé jelly toffee fruitcake. Toffee tart pastry liquorice bonbon sugar plum sweet. Jelly-o tiramisu cotton candy candy canes jelly beans dragée macaroon dessert toffee. Sesame snaps danish jujubes gummies marshmallow sesame snaps chocolate cake bonbon dessert. Candy canes cupcake sugar plum jelly beans bear claw icing candy canes bear claw. Marshmallow gingerbread biscuit jelly-o.
      </p>
    </hx-tabpanel>
  </hx-tabset>
</div>
{% code 'html' %}
  <hx-tabset>
    <div slot="tabs">
      <a href="#" role="tab" class="hxTab">Cupcake Ipsum</a>
      <a href="#" role="tab" class="hxTab">Biscuit Marshmallow</a>
      <a href="#" role="tab" class="hxTab">Caramel Marzipan</a>
    </div>
    <hx-tabpanel id="cupcake">
      <div class="hxRow">
        <div class="hxCol-6">...</div>
        <div class="hxCol-6">...</div>
      </div>
    </hx-tabpanel>
    <hx-tabpanel id="biscuit">...</hx-tabpanel>
    <hx-tabpanel id="caramel">...</hx-tabpanel>
  </hx-tabset>
{% endcode %}
</section>

<section>
  <h2 class="hxSectionTitle" id="attributes">Attributes</h2>
  <dl>
    <dt>selected</dt>
    <dd>Selects the tab and panel</dd>
  </dl>
</section>

<section>
  <h2 class="hxSectionTitle" id="properties">Properties</h2>
  <dl>
    <dt>panels <small>(read-only) Array&lt;Element&gt;</small></dt>
    <dt>selected</dt>
    <dd>Determines if tab and panel is selected</dd>
    <dt>tabs <small>(read-only) Array&lt;Element&gt;</small></dt>
  </dl>
</section>
{% endblock %}
