<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tooltips - HelixUI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/helix-ui/">

  <link rel="shortcut icon" href="images/favicon.png">

  <link rel="stylesheet" href="dist/styles/helix-ui.css">
  <link rel="stylesheet" href="docs.css">

  <!-- Polyfill Loader -->
  <script src="https://ab2b55b0a26bb32fdc01-2c8b94bcec8e01c366189541a4035ea4.ssl.cf5.rackcdn.com/webcomponents-loader.js"></script>
</head>
<body class="hxVertical" id="top">
  <!-- This link should be the first item a user can tab to. -->
  <a href="#content">Skip to main content</a>

  <header id="head">
<nav class="global-nav">
  <a class="brand-logo" href="">
    <img src="images/helix-logo.svg" alt="Logo" />
  </a>
</nav>
  </header>

  <div id="app">
    <div id="stage">
      <nav id="nav" class="hxNav">



  
    

  <hx-disclosure
    aria-controls="nav-Guides"
>
    Guides
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-Guides" >
      
      <a href="guides/getting-started" >
    Getting Started
  </a>


  </hx-reveal>


  
    

  <hx-disclosure
    aria-controls="nav-Components"
class="current">
    Components
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-Components" open>
      
      <a href="components/accordions" >
    Accordions
  </a>


      
      <a href="components/alerts" >
    Alerts
  </a>


      
      <a href="components/box" >
    Box
  </a>


      
      <a href="components/breadcrumbs" >
    Breadcrumbs
  </a>


      
      <a href="components/busy" >
    Busy
  </a>


      
      <a href="components/buttons" >
    Buttons
  </a>


      
      <a href="components/checkboxes" >
    Checkboxes
  </a>


      
      <a href="components/choice-tiles" >
    Choice Tiles
  </a>


      
      <a href="components/grid" >
    Grid
  </a>


      
      <a href="components/icons" >
    Icons
  </a>


      
      <a href="components/layouts" >
    Layouts
  </a>


      
      <a href="components/lists" >
    Lists
  </a>


      
      <a href="components/menus" >
    Menus
  </a>


      
      <a href="components/modals" >
    Modals
  </a>


      
      <a href="components/panels" >
    Panels
  </a>


      
      <a href="components/pagination" >
    Pagination
  </a>


      
      <a href="components/popovers" >
    Popovers
  </a>


      
      <a href="components/reveals" >
    Reveals
  </a>


      
      <a href="components/search" >
    Search
  </a>


      
      <a href="components/status-pills" >
    Status Pills
  </a>


      
      <a href="components/tables" >
    Tables
  </a>


      
      <a href="components/tabs" >
    Tabs
  </a>


      
      <a href="components/text-inputs" >
    Text Inputs
  </a>


      
      <a href="components/tooltips" class="current">
    Tooltips
  </a>


      
      <a href="components/typography" >
    Typography
  </a>


  </hx-reveal>


  
    

  <hx-disclosure
    aria-controls="nav-Custom Elements"
>
    Custom Elements
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-Custom Elements" >
      
      <a href="elements/hx-accordion" >
    &lt;hx-accordion&gt;
  </a>


      
      <a href="elements/hx-accordion-panel" >
    &lt;hx-accordion-panel&gt;
  </a>


      
      <a href="elements/hx-busy" >
    &lt;hx-busy&gt;
  </a>


      
      <a href="elements/hx-checkbox" >
    &lt;hx-checkbox&gt;
  </a>


      
      <a href="elements/hx-dd" >
    &lt;hx-dd&gt;
  </a>


      
      <a href="elements/hx-def" >
    &lt;hx-def&gt;
  </a>


      
      <a href="elements/hx-disclosure" >
    &lt;hx-disclosure&gt;
  </a>


      
      <a href="elements/hx-dl" >
    &lt;hx-dl&gt;
  </a>


      
      <a href="elements/hx-dt" >
    &lt;hx-dt&gt;
  </a>


      
      <a href="elements/hx-icon" >
    &lt;hx-icon&gt;
  </a>


      
      <a href="elements/hx-menu" >
    &lt;hx-menu&gt;
  </a>


      
      <a href="elements/hx-menuitem" >
    &lt;hx-menuitem&gt;
  </a>


      
      <a href="elements/hx-menuitem-group" >
    &lt;hx-menuitem-group&gt;
  </a>


      
      <a href="elements/hx-modal" >
    &lt;hx-modal&gt;
  </a>


      
      <a href="elements/hx-modalbody" >
    &lt;hx-modalbody&gt;
  </a>


      
      <a href="elements/hx-modalfoot" >
    &lt;hx-modalfoot&gt;
  </a>


      
      <a href="elements/hx-modalhead" >
    &lt;hx-modalhead&gt;
  </a>


      
      <a href="elements/hx-panel" >
    &lt;hx-panel&gt;
  </a>


      
      <a href="elements/hx-panelbody" >
    &lt;hx-panelbody&gt;
  </a>


      
      <a href="elements/hx-panelfoot" >
    &lt;hx-panelfoot&gt;
  </a>


      
      <a href="elements/hx-panelhead" >
    &lt;hx-panelhead&gt;
  </a>


      
      <a href="elements/hx-popover" >
    &lt;hx-popover&gt;
  </a>


      
      <a href="elements/hx-popover-body" >
    &lt;hx-popover-body&gt;
  </a>


      
      <a href="elements/hx-popover-foot" >
    &lt;hx-popover-foot&gt;
  </a>


      
      <a href="elements/hx-popover-head" >
    &lt;hx-popover-head&gt;
  </a>


      
      <a href="elements/hx-reveal" >
    &lt;hx-reveal&gt;
  </a>


      
      <a href="elements/hx-search" >
    &lt;hx-search&gt;
  </a>


      
      <a href="elements/hx-status" >
    &lt;hx-status&gt;
  </a>


      
      <a href="elements/hx-tab" >
    &lt;hx-tab&gt;
  </a>


      
      <a href="elements/hx-tabcontent" >
    &lt;hx-tabcontent&gt;
  </a>


      
      <a href="elements/hx-tablist" >
    &lt;hx-tablist&gt;
  </a>


      
      <a href="elements/hx-tabpanel" >
    &lt;hx-tabpanel&gt;
  </a>


      
      <a href="elements/hx-tabset" >
    &lt;hx-tabset&gt;
  </a>


      
      <a href="elements/hx-tile" >
    &lt;hx-tile&gt;
  </a>


      
      <a href="elements/hx-tile-description" >
    &lt;hx-tile-description&gt;
  </a>


      
      <a href="elements/hx-tile-title" >
    &lt;hx-tile-title&gt;
  </a>


      
      <a href="elements/hx-tooltip" >
    &lt;hx-tooltip&gt;
  </a>


  </hx-reveal>


      </nav>

  <main id="content" class="hxBox-md">
    <h1>Tooltips</h1>

  <section>
    <h2 id="tooltip">Basic Tooltip</h2>
    <div id="vue-tooltipDemo" class="hxRow" v-cloak>
      <div class="hxCol hxSpan-12-xs hxSpan-3-lg hxOrder-2-lg">
        <h3>Options</h3>
        <p>
          <b>Position:</b><br />
          <select v-model="position">
            <option v-for="_position in positions" :value="_position">
{{ _position.label }}
            </option>
          </select>
        </p>
      </div>
      <div class="hxCol hxSpan-12-xs hxSpan-9-lg hxOrder-1-lg">
        <section>
          <h3>Trigger on Hover</h3>
          <div class="demo tooltip-demo">
            <p>
              Hover over icon to trigger tooltip
              <hx-icon data-tooltip="tooltip1" type="help-circle"></hx-icon>
            </p>
            <hx-tooltip
              :key="_position.id"
              :position="_position.value"
              id="tooltip1"
              v-for="_position in positions"
              v-if="_position.value === position.value">
{{ position.label }}
            </hx-tooltip>
          </div>
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>
  Hover over icon to trigger tooltip
  <span class="hljs-tag">&lt;<span class="hljs-name">hx-icon</span> <span class="hljs-attr">data-tooltip</span>=<span class="hljs-string">"tooltip1"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"help-circle"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">hx-icon</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">hx-tooltip</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"tooltip1"</span> <span class="hljs-attr">position</span>=<span class="hljs-string">"{{position.value}}"</span>&gt;</span>
  {{position.label}}
<span class="hljs-tag">&lt;/<span class="hljs-name">hx-tooltip</span>&gt;</span>
</code></pre>        </section>

        <section>
          <h3>Trigger on Click</h3>
          <div class="demo tooltip-demo">
            <button class="hxBtn" data-tooltip="tooltip2">
              Click to toggle tooltip
            </button>
            <hx-tooltip
              :key="_position.id"
              :position="_position.value"
              id="tooltip2"
              trigger-event="click"
              v-for="_position in positions"
              v-if="_position.value === position.value">
{{ position.label }}
            </hx-tooltip>
          </div>
<pre><code class="html"><span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxBtn"</span> <span class="hljs-attr">data-tooltip</span>=<span class="hljs-string">"tooltip2"</span>&gt;</span>
  Click to toggle tooltip
<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">hx-tooltip</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"tooltip2"</span> <span class="hljs-attr">position</span>=<span class="hljs-string">"{{position.value}}"</span> <span class="hljs-attr">trigger-event</span>=<span class="hljs-string">"click"</span>&gt;</span>
  {{position.label}}
<span class="hljs-tag">&lt;/<span class="hljs-name">hx-tooltip</span>&gt;</span>
</code></pre>        </section>
      </div>
    </div>
  </section>

  <section class="tooltip-examples">
    <h2 id="appearance">Appearance</h2>
    <table class="hxTable">
      <tbody>
        <tr>
          <td>Top</td>
          <td>
            <hx-tooltip position="top" open>
              top
            </hx-tooltip>
          </td>
          <td>
            <hx-tooltip position="top-right" open>
              top-right
            </hx-tooltip>
          </td>
          <td>
            <hx-tooltip position="top-left" open>
              top-left
            </hx-tooltip>
          </td>
        </tr>
        <tr>
          <td>Bottom</td>
          <td>
            <hx-tooltip position="bottom" open>
              bottom
            </hx-tooltip>
          </td>
          <td>
            <hx-tooltip position="bottom-right" open>
              bottom-right
            </hx-tooltip>
          </td>
          <td>
            <hx-tooltip position="bottom-left" open>
              bottom-left
            </hx-tooltip>
          </td>
        </tr>
        <tr>
          <td>Right</td>
          <td>
            <hx-tooltip position="right" open>
              right
            </hx-tooltip>
          </td>
          <td>
            <hx-tooltip position="right-top" open>
              right-top
            </hx-tooltip>
          </td>
          <td>
            <hx-tooltip position="right-bottom" open>
              right-bottom
            </hx-tooltip>
          </td>
        </tr>
        <tr>
          <td>Left</td>
          <td>
            <hx-tooltip position="left" open>
              left
            </hx-tooltip>
          </td>
          <td>
            <hx-tooltip position="left-top" open>
              left-top
            </hx-tooltip>
          </td>
          <td>
            <hx-tooltip position="left-bottom" open>
              left-bottom
            </hx-tooltip>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

<section>
  <h2 id="see-also">See Also</h2>
  <ul>
      <li><a href="elements/hx-tooltip">&lt;hx-tooltip&gt;</a></li>
  </ul>
</section>
  </main>
  <aside class="hxSiderail hxBox-md">
    <h1 class="hxHeading-4">On this page:</h1>
    <nav class="article-toc">
      
            <a href="#tooltip">Basic Tooltip</a>
        

            <a href="#appearance">Appearance</a>
        
        <a href="#see-also">See Also</a>
      <hr />
      <a class="top-link" href="#top">Back to Top</a>
    </nav>
  </aside>
    </div>
  </div>

  <footer id="foot" class="hxRow hxGutterless">
<div class="hxCol">
&copy; 2018 Rackspace US, Inc.
<nav>
  <a href="https://www.rackspace.com/information/legal/websiteterms">Website Terms</a>
  <a href="https://www.rackspace.com/information/legal/privacystatement">Privacy Policy</a>
</nav>
</div>
<div class="hxCol text-right">
    <small>
      Last Updated:
      2018-03-29
    </small>

  <small>(v0.5.2)</small>
</div>
  </footer>

<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>

<!-- intelligently load ES5 Adapter (if needed) -->
<span id="ce-es5-adapter">
  <script>
    if (!window.customElements) {
      var elAdapter = document.querySelector('#ce-es5-adapter');
      elAdapter.parentElement.removeChild(elAdapter);
    }
  </script>
  <script src="https://ab2b55b0a26bb32fdc01-2c8b94bcec8e01c366189541a4035ea4.ssl.cf5.rackcdn.com/custom-elements-es5-adapter.js"></script>
</span>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<script src="https://unpkg.com/vue@2.4.4/dist/vue.js"></script>
<script src="dist/scripts/helix-ui.browser.js"></script>
<script src="docs.js"></script>
</body>
</html>
