---
title: Typography
assets:
  - bootstrap.helix.css
---
<section><!-- Font -->
  <h2 id="font-weight">Font Weight</h2>

  <div class="demo">
    <div class="hxRow">
      <div class="hxCol font-roboto">
        <p class="weight-thin">Roboto Thin (100)</p>
        <p class="weight-light">Roboto Light (300)</p>
        <p class="weight-regular">Roboto Regular (400)</p>
        <p class="weight-medium">Roboto Medium (500)</p>
        <p class="weight-bold">Roboto Bold (700)</p>
      </div>
      <div class="hxCol font-roboto-mono">
        <p class="weight-thin">Roboto Mono Thin (100)</p>
        <p class="weight-light">Roboto Mono Light (300)</p>
        <p class="weight-regular">Roboto Mono Regular (400)</p>
        <p class="weight-medium">Roboto Mono Medium (500)</p>
        <p class="weight-bold">Roboto Mono Bold (700)</p>
      </div>
    </div>
  </div>
</section>

<section><!-- Address -->
  <header>
    <h2 id="addresses">Addresses</h2>
  </header>

  <!-- explanation goes here -->

  <div class="demo">
    <address>
      <strong>Rackspace</strong><br />
      1 Fanatical Place<br />
      City of Windcrest<br />
      San Antonio, TX 78218<br />
      <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>

    <address>
      <strong>Full Name</strong><br />
      <a href="mailto:#">first.last@example.com</a>
    </address>
  </div>
</section>

<section><!-- Headings -->
  <header>
    <h2 id="headings">Headings</h2>
  </header>

  <!-- explanation goes here -->

  <div class="demo">
    <h1>
      Heading 1 <small>Secondary Text</small>
    </h1>
    <p class="lead">
      Lead body copy. Try to review the acceptance bug,
      maybe it will help groom the MVP bottlenecks.
    </p>
    <p>
      Body copy. Reviewing the story points should allow our unit testing to
      prevent the burndown planning poker till the collaboration. A simple
      deadline always takes less time than a prioritized one. We must
      periodically open the monthly PR manifesto! If we spike without the
      methodologies, we can get the certified trend upon the VOC bug. As a user,
      I should be able to adapt the beta pair programming so that I can work the
      quarterly XP blockers around the upward wikis.
    </p>

    <h2>Heading 2 <small>Secondary Text</small></h2>
    <h3>Heading 3 <small>Secondary Text</small></h3>
    <h4>Heading 4 <small>Secondary Text</small></h4>
    <h5>Heading 5 <small>Secondary Text</small></h5>
    <h6>Heading 6 <small>Secondary Text</small></h6>
  </div>
</section>

<section><!-- Inline -->
  <header class="page-header">
    <h2 id="inline-text-elements">Inline Text Elements</h1>
  </header>

  <!-- explanation goes here -->

  <div class="demo">
    <div class="row">
      <div class="col-xs-6">
        <p>
          <strong>Marked</strong>: <code>&lt;mark&gt;</code><br />
          You can use the mark tag to <mark>highlight</mark> text.
        </p>
        <p>
          <strong>Deleted</strong>: <code>&lt;del&gt;</code><br />
          <del>This line of text is meant to be treated as deleted text.</del>
        </p>
        <p>
          <strong>Strikethrough</strong>: <code>&lt;s&gt;</code><br />
          <s>This line of text is meant to be treated as no longer accurate.</s>
        </p>
        <p>
          <strong>Inserted</strong>: <code>&lt;ins&gt;</code><br />
          <ins>This line of text is meant to be treated as an addition to the document.</ins>
        </p>
        <p>
          <strong>Underlined</strong>: <code>&lt;u&gt;</code><br />
          <u>This line of text will render as underlined</u>
        </p>
      </div>

      <div class="col-xs-6">
        <p>
          <strong>Small</strong>: <code>&lt;small&gt;</code><br />
          <small>This line of text is meant to be treated as fine print.</small>
        </p>
        <p>
          <strong>Bold</strong>: <code>&lt;strong&gt;</code>, <code>&lt;b&gt;</code><br />
          <strong>This line rendered as bold text.</strong><br />
          <b>This line also rendered as bold text.</b>
        </p>
        <p>
          <strong>Italics</strong>: <code>&lt;em&gt;</code>, <code>&lt;i&gt;</code><br />
          <em>This line rendered as italicized text.</em>
          <i>This line also rendered as italicized text.</i>
        </p>
        <p>
          <strong>Abbreviation</strong>: <code>&lt;abbr&gt;</code><br />
          <abbr title="attribute">attr</abbr>
        </p>
        <p>
          <strong>Initialism</strong>: <code>abbr.initialism</code><br />
          <abbr title="HyperText Markup Language" class="initialism">HTML</abbr>
        </p>
      </div>
    </div>

    <b>Muted:</b>
    <p class="text-muted">
      If it takes you too long to detail the flexible XP spec, then you are not spiking enough. A simple lifecycle management always takes less time than a burnup one. The best way to detail minimum sequence is to almost satify their application. If it takes you too long to measure the major VOC sprint, then you are not working enough.
    </p>

    <b>Primary:</b>
    <p class="text-primary">
      If it takes you too long to detail the flexible XP spec, then you are not spiking enough. A simple lifecycle management always takes less time than a burnup one. The best way to detail minimum sequence is to almost satify their application. If it takes you too long to measure the major VOC sprint, then you are not working enough.
    </p>
  </div>
</section>

<section><!-- Links -->
  <h2 id="links">Links</h2>

  <!-- explanation goes here -->

  <div class="demo">
    <p>
      <strong>Reference Links</strong><br />
      Reference links are super common and typically used to, well, refer, you
      to something and somewhere else, whether that's in our interface or not.
      For Rackspace, this likely means to help and support articles. If you
      want to ask someone to do something, use a <a href="#">button.</a>
    </p>
    <p>
      <strong>Pressed State</strong><br />
      <a href="#" class="pseudo-active">Pressed Link</a>
    </p>
  </div>
</section>
