---
title: Navigation
---
<div class="alert alert-info">
  <ul>
    <li>
      Avoid using <code>.container</code> within a Helix grid. It will cause a
      <code>.hxRow</code> to expand beyond what is expected.
    </li>
    <li>
      If you have strange layout issues, try wrapping in a <code>&lt;p&gt;</code>.
    </li>
  </ul>
</div>

<section>
  <header>
    <h2 id="global-nav">Global Navigation</h2>
  </header>
  <p>
    Styles the <a href="http://getbootstrap.com/components/#navbar">Navbar Component</a> from Bootstrap.
    <ul>
      <li>Eyebrow:
        <ul>
          <li>CSS Class: <code>.navbar-eyebrow</code></li>
          <li>Rackspace Logo:
            <ul>
              <li>
                HTTP: (
                <a href="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/rs-logo-white.svg" target="_blank">SVG</a> /
                <a href="http://c1ee333499ed5f44e56a-fa12562cfe810d69bedcc36a0ac289ef.r55.cf1.rackcdn.com/img/rs-logo-white.png" target="_blank">PNG</a>
                )
              </li>
              <li>
                HTTPS: (
                <a href="https://2d2bf231b82dfe76fe36-fa12562cfe810d69bedcc36a0ac289ef.ssl.cf1.rackcdn.com/img/rs-logo-white.svg" target="_blank">SVG</a> /
                <a href="https://2d2bf231b82dfe76fe36-fa12562cfe810d69bedcc36a0ac289ef.ssl.cf1.rackcdn.com/img/rs-logo-white.png" target="_blank">PNG</a>
                )
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>Top Nav:
        <ul>
          <li>CSS Class: <code>.navbar-inverse</code></li>
        </ul>
      </li>
    </ul>
  </p>

  <div class="demo">
    <nav class="navbar navbar-eyebrow">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#eyebrow-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img src="https://2d2bf231b82dfe76fe36-fa12562cfe810d69bedcc36a0ac289ef.ssl.cf1.rackcdn.com/img/rs-logo-white.svg" alt="Rackspace Logo" />
        </a>
      </div>
      <div id="eyebrow-collapse" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="#">Rackspace Cloud</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#">Support</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle"
              data-toggle="dropdown"
              role="button"
              aria-haspopup="true"
              aria-expanded="false">

              myUserName <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Account #123456</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">My Profile &amp; Settings</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Rackspace</li>
              <li><a href="#">Billing Overview</a></li>
              <li><a href="#">Account Settings</a></li>
              <li><a href="#">User Management</a></li>
              <li><a href="#">Documents and Forms</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </nav>
    <nav class="navbar navbar-inverse">
      <div id="topnav-collapse" class="navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Dashboard</a></li>
          <li><a href="#">Servers</a></li>
          <li><a href="#">Networking</a></li>
          <li><a href="#">Storage</a></li>
          <li><a href="#">Databases</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </nav>
  </div>
</section>
