---
title: HelixUI Component Status
---
{% extends 'component.njk' %}
{% block content %}

<section>
  <h2 class="hxSectionTitle" id="stability-status">Stability Status</h2>

  <hx-status class="-hxFill -hxDeprecated">Deprecated</hx-status>
  <hx-status class="-hxFill -hxInProgress">In Progress</hx-status>
  <hx-status class="-hxFill -hxStable">Stable</hx-status>

  <hx-dl>
    <hx-def>
      <hx-dt>Alert</hx-dt>
      <hx-dd>
        <hx-status class="-hxFill -hxInProgress">
          In Progress
        </hx-status>      
      </hx-dd>
    </hx-def>
    <hx-def>
      <hx-dt>Box</hx-dt>
      <hx-dd><hx-status class="-hxFill -hxInProgress">In Progress</hx-status></hx-dd>
    </hx-def>
    <hx-def>
      <hx-dt>Breadcrumb</hx-dt>
      <hx-dd><hx-status class="-hxFill -hxInProgress">In Progress</hx-status></hx-dd>
    </hx-def>
    <hx-def>
      <hx-dt>Button</hx-dt>
      <hx-dd><hx-status class="-hxFill -hxInProgress">In Progress</hx-status></hx-dd>
    </hx-def>
    <hx-def>
      <hx-dt>Checkbox</hx-dt>
      <hx-dd><hx-status class="-hxFill -hxInProgress">In Progress</hx-status></hx-dd>
    </hx-def>
    <hx-def>
      <hx-dt>Code</hx-dt>
      <hx-dd><hx-status class="-hxFill -hxInProgress">In Progress</hx-status></hx-dd>
    </hx-def>
    <hx-def>
      <hx-dt>Description List</hx-dt>
      <hx-dd><hx-status class="-hxFill -hxInProgress">In Progress</hx-status></hx-dd>
    </hx-def>
    <hx-def>
      <hx-dt>Disclosure</hx-dt>
      <hx-dd><hx-status class="-hxFill -hxInProgress">In Progress</hx-status></hx-dd>
    </hx-def>
    <hx-def>
      <hx-dt>Grid</hx-dt>
      <hx-dd><hx-status class="-hxFill -hxInProgress">In Progress</hx-status></hx-dd>
    </hx-def>
    <hx-def>
      <hx-dt>Icon</hx-dt>
      <hx-dd><hx-status class="-hxFill -hxInProgress">In Progress</hx-status></hx-dd>
    </hx-def>
    <hx-def>
      <hx-dt>Navigation</hx-dt>
      <hx-dd><hx-status class="-hxFill -hxInProgress">In Progress</hx-status></hx-dd>
    </hx-def>
    <hx-def>
      <hx-dt>Panel</hx-dt>
      <hx-dd><hx-status class="-hxFill -hxInProgress">In Progress</hx-status></hx-dd>
    </hx-def>
    <hx-def>
      <hx-dt>Popover</hx-dt>
      <hx-dd><hx-status class="-hxFill -hxInProgress">In Progress</hx-status></hx-dd>
    </hx-def>
    <hx-def>
      <hx-dt>Reveal</hx-dt>
      <hx-dd><hx-status class="-hxFill -hxInProgress">In Progress</hx-status></hx-dd>
    </hx-def>
    <hx-def>
      <hx-dt>Status Label</hx-dt>
      <hx-dd><hx-status class="-hxFill -hxInProgress">In Progress</hx-status></hx-dd>
    </hx-def>
    <hx-def>
      <hx-dt>Table</hx-dt>
      <hx-dd><hx-status class="-hxFill -hxInProgress">In Progress</hx-status></hx-dd>
    </hx-def>
        <hx-def>
      <hx-dt>Tabset</hx-dt>
      <hx-dd><hx-status class="-hxFill -hxInProgress">In Progress</hx-status></hx-dd>
    </hx-def>
    <hx-def>
      <hx-dt>Text Input</hx-dt>
      <hx-dd><hx-status class="-hxFill -hxInProgress">In Progress</hx-status></hx-dd>
    </hx-def>
    <hx-def>
      <hx-dt>Toolitp</hx-dt>
      <hx-dd><hx-status class="-hxFill -hxInProgress">In Progress</hx-status></hx-dd>
    </hx-def>
    <hx-def>
      <hx-dt>Typography</hx-dt>
      <hx-dd><hx-status class="-hxFill -hxInProgress">In Progress</hx-status></hx-dd>
    </hx-def>
  </hx-dl>
</section>
{% endblock %}
