/// ========== RESETS ==========
/// - Element & Pseudo Selectors
/// - No Class Selectors
/// - NO !important
/// ============================

// Additional resets to remove pre-existing styles from other stylesheets
// (e.g. Canon, Bootstrap, EncoreUI, etc.)
// - <button>
// - <table>
// - <form>
// - etc.

// Reset the box-sizing
// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@import "html5";

[hidden] {
  display: none !important;
}

small {
  font-size: 0.75rem;
}

caption {
  padding: 0;
  text-align: left;
}
