hx-drop-zone {
  display: block;
  min-height: 0; // because IE
  padding: 0 !important;
  position: relative;

  &::after {
    border: 4px dashed $blue-500;
    border: 4px dashed var(--hxFile-hxDropZone-after-border, $blue-500);
    content: "";
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &[drag] {
    &::after {
      display: block;
    }
  }

  &[drag="over"] {
    &::after {
      background-color: rgba(255, 255, 255, 0.6);
      border-style: solid;
    }
  }
}
