// ----- LAYOUT -----
hx-file-control {
  position: relative;

  > * {
    margin: 0;
  }

  > label {
    display: inline-block;
    padding: 0;
  }

  > input[type="file"] {
    @include hxInput(visuallyHidden);

    background: none;

    &::-ms-browse,
    &::-ms-value {
      opacity: 0.01;
    }
  }
}

hx-file-control > input[type="file"]:focus {
  ~ label > hx-file-input {
    box-shadow: $focus-glow;
  }
}

hx-file-control > input[type="file"]:active {
  ~ label > hx-file-input {
    &.hxBtn {
      @include hxButton-active--secondary;
    }

    &.hxBtn.hxPrimary {
      @include hxButton-active--primary;
    }

    &.hxBtn.hxTertiary {
      @include hxButton-active--tertiary;
    }
  }
}

// ========== DISABLED ==========
hx-file-control > input[type="file"]:disabled {
  ~ label {
    color: $gray-700;
    color: var(--hxFile-hxFileControl-disabled-label-color, $gray-700);

    > hx-file-input {
      cursor: not-allowed;

      &.hxBtn {
        @include hxButton-disabled--secondary;
      }

      &.hxBtn.hxPrimary {
        @include hxButton-disabled--primary;
      }

      &.hxBtn.hxTertiary {
        @include hxButton-disabled--tertiary;
      }
    }
  }
}
