<!DOCTYPE html>
<html lang="en"><!-- lang is necessary for screen reader compatibility -->
<head>
  <title>Vertical - App Title</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- FIXME: update or remove -->
  <base href="/helix-ui/" />

  <link rel="shortcut icon" href="images/favicon.png" />

  <!-- Helix Styles -->
  <!-- FIXME: point to HelixUI styles in node_modules/helix-ui -->
  <link rel="stylesheet" href="dist/styles/helix-ui.min.css" />

  <!-- FIXME: Add your application styles here! -->

  <!-- FIXME: point to loader in node_modules/@webcomponents/webcomponentsjs -->
  <script src="vendor/scripts/webcomponents-loader.js"></script>
</head>
<body class="hxVertical" id="top">
  <!--
    a11y: This link should be the first item a user can tab to.
  -->
  <a href="#content">Skip to main content</a>

  <header id="head">
    <!-- Eyebrow Goes Here -->
  </header>

  <div id="app">
    <div id="stage">
      <nav id="nav" class="hxNav">
        <!-- Left Navigation -->



  
    

  <hx-disclosure
    aria-controls="nav-Guides"
>
    Guides
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-Guides" >
      
      <a href="guides/getting-started" >
    Getting Started
  </a>


  </hx-reveal>


  
    

  <hx-disclosure
    aria-controls="nav-Components"
class="current">
    Components
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-Components" open>
      
      <a href="components/accordions" >
    Accordions
  </a>


      
      <a href="components/alerts" >
    Alerts
  </a>


      
      <a href="components/box" >
    Box
  </a>


      
      <a href="components/breadcrumbs" >
    Breadcrumbs
  </a>


      
      <a href="components/busy" >
    Busy
  </a>


      
      <a href="components/buttons" >
    Buttons
  </a>


      
      <a href="components/checkboxes" >
    Checkboxes
  </a>


      
      <a href="components/choice-tiles" >
    Choice Tiles
  </a>


      
      <a href="components/grid" >
    Grid
  </a>


      
      <a href="components/icons" >
    Icons
  </a>


      
      <a href="components/layouts" class="current">
    Layouts
  </a>


      
      <a href="components/lists" >
    Lists
  </a>


      
      <a href="components/menus" >
    Menus
  </a>


      
      <a href="components/modals" >
    Modals
  </a>


      
      <a href="components/panels" >
    Panels
  </a>


      
      <a href="components/pagination" >
    Pagination
  </a>


      
      <a href="components/popovers" >
    Popovers
  </a>


      
      <a href="components/reveals" >
    Reveals
  </a>


      
      <a href="components/search" >
    Search
  </a>


      
      <a href="components/status-pills" >
    Status Pills
  </a>


      
      <a href="components/tables" >
    Tables
  </a>


      
      <a href="components/tabs" >
    Tabs
  </a>


      
      <a href="components/text-inputs" >
    Text Inputs
  </a>


      
      <a href="components/tooltips" >
    Tooltips
  </a>


      
      <a href="components/typography" >
    Typography
  </a>


  </hx-reveal>


  
    

  <hx-disclosure
    aria-controls="nav-Custom Elements"
>
    Custom Elements
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-Custom Elements" >
      
      <a href="elements/hx-accordion" >
    &lt;hx-accordion&gt;
  </a>


      
      <a href="elements/hx-accordion-panel" >
    &lt;hx-accordion-panel&gt;
  </a>


      
      <a href="elements/hx-alert" >
    &lt;hx-alert&gt;
  </a>


      
      <a href="elements/hx-busy" >
    &lt;hx-busy&gt;
  </a>


      
      <a href="elements/hx-checkbox" >
    &lt;hx-checkbox&gt;
  </a>


      
      <a href="elements/hx-dd" >
    &lt;hx-dd&gt;
  </a>


      
      <a href="elements/hx-def" >
    &lt;hx-def&gt;
  </a>


      
      <a href="elements/hx-disclosure" >
    &lt;hx-disclosure&gt;
  </a>


      
      <a href="elements/hx-dl" >
    &lt;hx-dl&gt;
  </a>


      
      <a href="elements/hx-dt" >
    &lt;hx-dt&gt;
  </a>


      
      <a href="elements/hx-icon" >
    &lt;hx-icon&gt;
  </a>


      
      <a href="elements/hx-menu" >
    &lt;hx-menu&gt;
  </a>


      
      <a href="elements/hx-menuitem" >
    &lt;hx-menuitem&gt;
  </a>


      
      <a href="elements/hx-menuitem-group" >
    &lt;hx-menuitem-group&gt;
  </a>


      
      <a href="elements/hx-modal" >
    &lt;hx-modal&gt;
  </a>


      
      <a href="elements/hx-modalbody" >
    &lt;hx-modalbody&gt;
  </a>


      
      <a href="elements/hx-modalfoot" >
    &lt;hx-modalfoot&gt;
  </a>


      
      <a href="elements/hx-modalhead" >
    &lt;hx-modalhead&gt;
  </a>


      
      <a href="elements/hx-panel" >
    &lt;hx-panel&gt;
  </a>


      
      <a href="elements/hx-panelbody" >
    &lt;hx-panelbody&gt;
  </a>


      
      <a href="elements/hx-panelfoot" >
    &lt;hx-panelfoot&gt;
  </a>


      
      <a href="elements/hx-panelhead" >
    &lt;hx-panelhead&gt;
  </a>


      
      <a href="elements/hx-popover" >
    &lt;hx-popover&gt;
  </a>


      
      <a href="elements/hx-popover-body" >
    &lt;hx-popover-body&gt;
  </a>


      
      <a href="elements/hx-popover-foot" >
    &lt;hx-popover-foot&gt;
  </a>


      
      <a href="elements/hx-popover-head" >
    &lt;hx-popover-head&gt;
  </a>


      
      <a href="elements/hx-reveal" >
    &lt;hx-reveal&gt;
  </a>


      
      <a href="elements/hx-search" >
    &lt;hx-search&gt;
  </a>


      
      <a href="elements/hx-search-assistance" >
    &lt;hx-search-assistance&gt;
  </a>


      
      <a href="elements/hx-status" >
    &lt;hx-status&gt;
  </a>


      
      <a href="elements/hx-tab" >
    &lt;hx-tab&gt;
  </a>


      
      <a href="elements/hx-tabcontent" >
    &lt;hx-tabcontent&gt;
  </a>


      
      <a href="elements/hx-tablist" >
    &lt;hx-tablist&gt;
  </a>


      
      <a href="elements/hx-tabpanel" >
    &lt;hx-tabpanel&gt;
  </a>


      
      <a href="elements/hx-tabset" >
    &lt;hx-tabset&gt;
  </a>


      
      <a href="elements/hx-tile" >
    &lt;hx-tile&gt;
  </a>


      
      <a href="elements/hx-tile-description" >
    &lt;hx-tile-description&gt;
  </a>


      
      <a href="elements/hx-tile-title" >
    &lt;hx-tile-title&gt;
  </a>


      
      <a href="elements/hx-tooltip" >
    &lt;hx-tooltip&gt;
  </a>


  </hx-reveal>


        <!-- end:Left Navigation -->
      </nav>

      <!--
        a11y: For accessibility support in legacy browsers, the
        role="main" attribute must be present.
      -->
      <main role="main" id="content" class="hxBox-md">
        <nav class="hxBreadcrumb">
          <a href="#">Home</a>
          <hx-icon class="delimiter" type="angle-right"></hx-icon>
          <a href="components/layouts">Layouts</a>
          <hx-icon class="delimiter" type="angle-right"></hx-icon>
          <a href="#">Vertical Layout</a>
        </nav>

        <h1>Page Content</h1>

        <div class="hxAlert">
          <div class="hxAlert__icon">
            <hx-icon type="info-circle"></hx-icon>
          </div>
          <div class="hxAlert__text">
            Copy the source of this page to use as a template for your application.
          </div>
        </div>

        <ul>
          <li>
            Footer will be pushed off viewport by lengthy content.
          </li>
          <li>
            All content scrolls vertically as a <i>single document</i>.
          </li>
          <li>
            <b>No padding, by default.</b>
            Add Box styling to apply padding.
          </li>
        </ul>
      </main>

      <aside class="hxSiderail hxBox-md">
        <p>Side Rail</p>
        <ul>
          <li>
            A side rail may appear before (left rail) or
            after (right rail) the main content.
          </li>
          <li>
            <b>A side rail is optional</b>. If you do not include a
            side rail, the main content will grow to fill space.
          <li>
            <b>No padding, by default.</b>
            Add Box styles to apply padding.
          </li>
        </ul>
      </aside>
    </div>
  </div>

  <footer id="foot">
&copy; 2018 Rackspace US, Inc.
<nav>
  <a href="https://www.rackspace.com/information/legal/websiteterms">Website Terms</a>
  <a href="https://www.rackspace.com/information/legal/privacystatement">Privacy Policy</a>
</nav>
  </footer>

  <!-- Browser polyfills (mainly for IE) -->
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>

  <!-- intelligently load ES5 Adapter (if needed) -->
  <span id="ce-es5-adapter">
    <script>
      if (!window.customElements) {
        var elAdapter = document.querySelector('#ce-es5-adapter');
        elAdapter.parentElement.removeChild(elAdapter);
      }
    </script>
    <!-- FIXME: point to adapter in node_modules/@webcomponents/webcomponentsjs -->
    <script src="vendor/scripts/custom-elements-es5-adapter.js"></script>
  </span>

  <!-- FIXME: point to HelixUI behavior in node_modules/helix-ui -->
  <script src="dist/scripts/helix-ui.browser.min.js"></script>

  <a id="bottom"></a>

  <!-- FIXME: Add your application logic here! -->
</body>
</html>
