---
title: Popovers
assets:
  - bootstrap.helix.css
---
<!-- explanation goes here -->

<div class="demo">
  <div class="popover-example">
    <div class="popover top">
      <div class="arrow"></div>
      <h3 class="popover-title">h3 popover title</h3>
      <div class="popover-content">
        <p>
          <code>.popover-content</code>
          Sed posuere consectetur est at lobortis. Aenean eu leo quam.
          Pellentesque ornare sem lacinia quam venenatis vestibulum.
        </p>
      </div>
    </div>
    <div class="popover right">
      <div class="arrow"></div>
      <h3 class="popover-title">h3 popover title</h3>
      <div class="popover-content">
        <p>
          <code>.popover-content</code>
          Sed posuere consectetur est at lobortis. Aenean eu leo quam.
          Pellentesque ornare sem lacinia quam venenatis vestibulum.
        </p>
      </div>
    </div>
    <div class="popover bottom">
      <div class="arrow"></div>
      <h3 class="popover-title">h3 popover title</h3>
      <div class="popover-content">
        <p>
          <code>.popover-content</code>
          Sed posuere consectetur est at lobortis. Aenean eu leo quam.
          Pellentesque ornare sem lacinia quam venenatis vestibulum.
        </p>
      </div>
    </div>
    <div class="popover left">
      <div class="arrow"></div>
      <h3 class="popover-title">h3 popover title</h3>
      <div class="popover-content">
        <p>
          <code>.popover-content</code>
          Sed posuere consectetur est at lobortis. Aenean eu leo quam.
          Pellentesque ornare sem lacinia quam venenatis vestibulum.
        </p>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

