/* ==================================================== *\
 * Styles below are NOT distributed with HelixUI assets *
\* ==================================================== */
@import (reference) 'vars';
@import (reference) 'components/box';
// import grid mixins from toolkit
@import (reference) 'components/grid';

/* ---------------------------------------- *\
 * CONFIG
\* ---------------------------------------- */
@demo-container-border: 1px dashed @gray-600;
@demo-fill-color: fade(@orange-500, 25%);
@demo-padding-color: @magenta-100;

/* ---------------------------------------- *\
 * MIXINS
\* ---------------------------------------- */
// TBD

/* ---------------------------------------- *\
 * RESETS
\* ---------------------------------------- */
// TBD

/* ---------------------------------------- *\
 * BASE
\* ---------------------------------------- */

// ensure any embedded codepen fits in with the rest of the app
iframe[src*="codepen.io"] {
  border: 2px solid @gray-900;
  height: 25rem;
  width: 100%;
}

// eyebrow navigation
#head {
  display: flex;
  padding-right: 1rem;

  > * {
    display: flex;
    align-items: center;
    align-content: center;
    flex-grow: 1;

    &:first-child { // brand logo
      flex: 0 0 @app-nav-width;
    }

    &:last-child {
      justify-content: flex-end;
    }

    > * + * {
      margin-left: 0.5rem;
    }
  }

  // "HELIX" logo
  .brand-logo {
    align-items: center;
    display: flex;
    height: 3.5rem;
    justify-content: center;
    width: @app-nav-width;

    &:focus {
      box-shadow: none;
      outline: none;

      img {
        outline: 1px dotted @cyan-100;
        outline-offset: 0.25rem;
      }
    }

    img {
      height: 2rem;
    }
  }
}

body.hxVertical {
  main {
    #Box.lg();

    // PROTOTYPE: vertical spacing
    > * {
      // NOTE: do not apply the below margin in a horizontal layout
      margin: 3rem 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .hxSiderail {
    #Box.md();
  }
}

/* ---------------------------------------- *\
 * COMPONENTS
\* ---------------------------------------- */

// quick "custom" element to display minimum version of a feature
min-version {
  background-color: @magenta-500;
  border-radius: 1em;
  color: @gray-0;
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1;
  padding: 0.25em 0.75em;
  vertical-align: middle;
}

// communicates that a Vue applet is still loading
[app-loading] {
  display: none;
  text-align: center;

  hx-busy {
    font-size: 2rem;

    & + * {
      margin-top: 0.5rem;
    }
  }
}

// matches loading Vue applets
[v-cloak] {
  height: 0;
  opacity: 0;

  & + [app-loading] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

// ----- BANNER ---------------
// currently used by test page layout to display a warning to readers
.banner {
  -ms-grid-columns: auto 1fr;
  -ms-grid-row-align: baseline;
  align-items: baseline;
  background-color: @gray-0;
  border: 2px solid currentColor;
  color: @gray-950;
  display: -ms-grid;
  display: grid;
  grid-template-areas: 'icon content';
  grid-template-columns: auto 1fr;
  padding: 1rem;

  > * {
    margin: 0;
  }

  .banner__icon {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    grid-area: icon;
    margin-right: 1rem; // because IE
  }

  .banner__body {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    grid-area: content;
  }

  &.warning {
    background-color: @yellow-500;
    border: 2px solid @yellow-900;
  }
}
@supports (display: grid) {
  .banner {
    grid-gap: 1rem;

    .banner__icon {
      margin: 0; // because IE
    }
  }
}
//end:BANNER

// Table Of Contents
.article-toc {
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;

  > a {
    display: block;
    font-weight: 500;
    margin-bottom: 0.5rem;
    text-decoration: none;
  }

  .top-link {
    font-size: 0.875rem;
    font-weight: 300;
  }
}

// EXAMPLE component
.example {
  border: 1px solid @gray-300;

  // CONFIGURATON
  > header {
    background-color: @gray-100;
    border-color: @gray-300;
    border-style: solid;
    border-width: 0 0 1px;
    margin: 0 !important;
    padding: 1.25rem;
  }

  // LIVE DEMO
  > div {
    @tileSize: 10px;
    @color1: fade(black, 2%);
    @color2: fade(white, 15%);
    @img: linear-gradient(-45deg,
      @color1 25%,
      @color2 25%,
      @color2 75%,
      @color1 75%,
      @color1
    );

    padding: 2rem;
    background-color: @gray-0;
    background-image: @img, @img;
    background-position: 0 0, @tileSize @tileSize;
    background-size: (2 * @tileSize) (2 * @tileSize);
  }

  // CODE SNIPPET
  > footer {
    overflow: hidden;

    pre {
      border-radius: 0;
      border-width: 1px 0 0;
    }
  }

  &.resizable {
    > div {
      overflow: hidden;
      resize: vertical;
    }
  }
}
@media (min-width: @grid-break-desk) {
  .example {
    -ms-grid-columns: auto 1fr;
    -ms-grid-rows: 1fr auto;
    display: -ms-grid;
    display: grid;
    grid-template-areas:
      'config demo'
      'config code';
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;

    > header {
      -ms-grid-column: 1;
      -ms-grid-row-span: 2;
      -ms-grid-row: 1;
      border-width: 0 1px 0 0;
      grid-area: config;
      width: 20rem;
    }

    > div {
      -ms-grid-column: 2;
      -ms-grid-row: 1;
      border-width: 0 0 1px 0;
      grid-area: demo;
    }

    > footer {
      -ms-grid-column: 2;
      -ms-grid-row: 2;
      grid-area: code;
    }
  }
}
//end:EXAMPLE component

// "media" object (mainly for listing icons in Icons docs)
.media {
  display: flex;
  padding: 1rem;

  &__icon {
    flex-shrink: 0;
  }

  &__body {
    flex-grow: 1;
    margin-left: 1rem;
  }
}

// element metadata container
.metadata {
  #Box.md();
  background-color: @cyan-50;
  border: 1px solid @cyan-100;
  box-shadow: inset 0.5rem 0 0 0 @cyan-100;

  dt {
    #grid.span(3);
  }

  dd {
    #grid.span(9);
  }
}

/* ---------------------------------------- *\
 * PAGE / CATEGORY STYLING
\* ---------------------------------------- */

/* ----- Element Page Styling ----- */
.element-content {
  // Attributes, Methods, and Properties
  dl.memberList {
    max-width: 80ch;
  }
}

/* ----- Front Page Styling ----- */
.front-page {
  background-image: linear-gradient(0deg, @cyan-100, @gray-0 20%);
}

/* ----- Guide Page Styline ----- */
.guide-content {
  // polyfills compatibility table
  hx-icon {
    &.native-support {
      color: @green-500;
    }

    &.polyfill-needed {
      color: @red-900;
    }
  }
}

/* ----- Test Page Styling ----- */
.test-content {
  box-shadow: inset 0 0 0 0.5rem @yellow-900;

  section {
    > section {
      margin-bottom: 2rem;
      margin-left: 2rem;
    }

    > table {
      border: 1px solid @gray-400;

      td, th {
        padding: 1em;
      }
    }
  }
}

/* ---------------------------------------- *\
 * HELPERS
\* ---------------------------------------- */

// Import from docs/styles/*
@import 'demo/box-docs';
@import 'demo/grid-docs';
@import 'demo/icon-docs';
@import 'demo/nav-docs';
@import 'demo/panel-docs';
@import 'demo/tabset-docs';
@import 'demo/tooltip-docs';
@import 'demo/typography-docs';
// Spec Styles
@import 'spec/button-spec';
@import 'spec/checkbox-spec';
@import 'spec/choice-tile-spec';
@import 'spec/drawer-spec';
@import 'spec/dropdown-select-spec';
@import 'spec/file-input-spec';
@import 'spec/menu-positioning-spec';
@import 'spec/panel-spec';
@import 'spec/popover-spec';
@import 'spec/radio-spec';
@import 'spec/text-input-spec';
@import 'spec/textarea-spec';

/* ---------------------------------------- *\
 * OVERRIDES (a.k.a. "shame")
\* ---------------------------------------- */
dl:not(.hxList) {
  dd {
    margin-bottom: 0.5em;
    margin-left: 1em;
  }
}

/* Beta Auto Grid Styles */
.hxRow.hxAuto > .hxCol { flex-grow: 0; }
.hxRow .hxCol.hxAuto { flex: 0 0 auto; }

// keep line size at a readable length
p.comfortable,
header > p,
.guide-content p {
  max-width: 80ch;
}
