<!DOCTYPE html>
<html lang="en">
<head>
  <title>Selector Strips - HelixUI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/helix-ui/">

  <link rel="shortcut icon" href="images/favicon.png">

  <link rel="stylesheet" href="dist/styles/helix-ui.css">
  <link rel="stylesheet" href="docs.css">

  <!-- Polyfill Loader -->
  <script src="https://unpkg.com/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>

</head>
<body class="hxVertical" id="top">
  <!-- This link should be the first item a user can tab to. -->
  <a href="#content">Skip to main content</a>

  <header id="head">
<div id="app-header">
  <nav>
    <a class="brand-logo" href="">
      <img src="images/helix-logo.svg" alt="Logo" />
    </a>
  </nav>
  <div>
    <a
      class="hxBtn beta-hxDark"
      target="_blank"
      href="https://github.com/rackerlabs/helix-ui/issues/new?template=bug-report.md&labels=Bug:+Unconfirmed"
    >
      Report Bug
    </a>
  </div>
</div>
  </header>

  <div id="app">
    <div id="stage">
      <nav id="nav" class="hxNav">



  
    

  <hx-disclosure
    aria-controls="nav-Guides"
>
    Guides
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-Guides" >
      
      <a href="guides/getting-started" >
    Getting Started
  </a>


  </hx-reveal>


  
    

  <hx-disclosure
    aria-controls="nav-Components"
class="current">
    Components
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-Components" open>
      
      <a href="components/accordions" >
    Accordions
  </a>


      
      <a href="components/alerts" >
    Alerts
  </a>


      
      <a href="components/badges" >
    Badges
  </a>


      
      <a href="components/box" >
    Box
  </a>


      
      <a href="components/breadcrumbs" >
    Breadcrumbs
  </a>


      
      <a href="components/busy" >
    Busy
  </a>


      
      <a href="components/buttons" >
    Buttons
  </a>


      
      <a href="components/checkboxes" >
    Checkboxes
  </a>


      
      <a href="components/choice-tiles" >
    Choice Tiles
  </a>


      
      <a href="components/grid" >
    Grid
  </a>


      
      <a href="components/icons" >
    Icons
  </a>


      
      <a href="components/layouts" >
    Layouts
  </a>


      
      <a href="components/lists" >
    Lists
  </a>


      
      <a href="components/menus" >
    Menus
  </a>


      
      <a href="components/modals" >
    Modals
  </a>


      
      <a href="components/navigation" >
    Navigation
  </a>


      
      <a href="components/panels" >
    Panels
  </a>


      
      <a href="components/pagination" >
    Pagination
  </a>


      
      <a href="components/pills" >
    Pills
  </a>


      
      <a href="components/popovers" >
    Popovers
  </a>


      
      <a href="components/progress" >
    Progress
  </a>


      
      <a href="components/reveals" >
    Reveals
  </a>


      
      <a href="components/search" >
    Search
  </a>


      
      <a href="components/selector-strips" class="current">
    Selector Strips
  </a>


      
      <a href="components/status-pills" >
    Status Pills
  </a>


      
      <a href="components/tables" >
    Tables
  </a>


      
      <a href="components/tabs" >
    Tabs
  </a>


      
      <a href="components/text-inputs" >
    Text Inputs
  </a>


      
      <a href="components/toasts" >
    Toasts
  </a>


      
      <a href="components/tooltips" >
    Tooltips
  </a>


      
      <a href="components/typography" >
    Typography
  </a>


  </hx-reveal>


  
    

  <hx-disclosure
    aria-controls="nav-Custom Elements"
>
    Custom Elements
    <hx-icon class="toggle-icon" type="angle-down"></hx-icon>
  </hx-disclosure>
  <hx-reveal id="nav-Custom Elements" >
      
      <a href="elements/hx-accordion" >
    &lt;hx-accordion&gt;
  </a>


      
      <a href="elements/hx-accordion-panel" >
    &lt;hx-accordion-panel&gt;
  </a>


      
      <a href="elements/hx-alert" >
    &lt;hx-alert&gt;
  </a>


      
      <a href="elements/hx-busy" >
    &lt;hx-busy&gt;
  </a>


      
      <a href="elements/hx-checkbox" >
    &lt;hx-checkbox&gt;
  </a>


      
      <a href="elements/hx-dd" >
    &lt;hx-dd&gt;
  </a>


      
      <a href="elements/hx-def" >
    &lt;hx-def&gt;
  </a>


      
      <a href="elements/hx-disclosure" >
    &lt;hx-disclosure&gt;
  </a>


      
      <a href="elements/hx-dl" >
    &lt;hx-dl&gt;
  </a>


      
      <a href="elements/hx-dt" >
    &lt;hx-dt&gt;
  </a>


      
      <a href="elements/hx-error" >
    &lt;hx-error&gt;
  </a>


      
      <a href="elements/hx-file-icon" >
    &lt;hx-file-icon&gt;
  </a>


      
      <a href="elements/hx-icon" >
    &lt;hx-icon&gt;
  </a>


      
      <a href="elements/hx-menu" >
    &lt;hx-menu&gt;
  </a>


      
      <a href="elements/hx-menuitem" >
    &lt;hx-menuitem&gt;
  </a>


      
      <a href="elements/hx-menuitem-group" >
    &lt;hx-menuitem-group&gt;
  </a>


      
      <a href="elements/hx-modal" >
    &lt;hx-modal&gt;
  </a>


      
      <a href="elements/hx-modalbody" >
    &lt;hx-modalbody&gt;
  </a>


      
      <a href="elements/hx-modalfoot" >
    &lt;hx-modalfoot&gt;
  </a>


      
      <a href="elements/hx-modalhead" >
    &lt;hx-modalhead&gt;
  </a>


      
      <a href="elements/hx-panel" >
    &lt;hx-panel&gt;
  </a>


      
      <a href="elements/hx-panelbody" >
    &lt;hx-panelbody&gt;
  </a>


      
      <a href="elements/hx-panelfoot" >
    &lt;hx-panelfoot&gt;
  </a>


      
      <a href="elements/hx-panelhead" >
    &lt;hx-panelhead&gt;
  </a>


      
      <a href="elements/hx-pill" >
    &lt;hx-pill&gt;
  </a>


      
      <a href="elements/hx-popover" >
    &lt;hx-popover&gt;
  </a>


      
      <a href="elements/hx-popover-body" >
    &lt;hx-popover-body&gt;
  </a>


      
      <a href="elements/hx-popover-foot" >
    &lt;hx-popover-foot&gt;
  </a>


      
      <a href="elements/hx-popover-head" >
    &lt;hx-popover-head&gt;
  </a>


      
      <a href="elements/hx-progress" >
    &lt;hx-progress&gt;
  </a>


      
      <a href="elements/hx-reveal" >
    &lt;hx-reveal&gt;
  </a>


      
      <a href="elements/hx-search" >
    &lt;hx-search&gt;
  </a>


      
      <a href="elements/hx-search-assistance" >
    &lt;hx-search-assistance&gt;
  </a>


      
      <a href="elements/hx-status" >
    &lt;hx-status&gt;
  </a>


      
      <a href="elements/hx-tab" >
    &lt;hx-tab&gt;
  </a>


      
      <a href="elements/hx-tabcontent" >
    &lt;hx-tabcontent&gt;
  </a>


      
      <a href="elements/hx-tablist" >
    &lt;hx-tablist&gt;
  </a>


      
      <a href="elements/hx-tabpanel" >
    &lt;hx-tabpanel&gt;
  </a>


      
      <a href="elements/hx-tabset" >
    &lt;hx-tabset&gt;
  </a>


      
      <a href="elements/hx-tile" >
    &lt;hx-tile&gt;
  </a>


      
      <a href="elements/hx-tile-description" >
    &lt;hx-tile-description&gt;
  </a>


      
      <a href="elements/hx-tile-title" >
    &lt;hx-tile-title&gt;
  </a>


      
      <a href="elements/hx-toast" >
    &lt;hx-toast&gt;
  </a>


      
      <a href="elements/hx-tooltip" >
    &lt;hx-tooltip&gt;
  </a>


  </hx-reveal>


      </nav>

  <main id="content" class="hxBox-md">
    <h1>Selector Strips
<min-version data-tooltip="page-min-version">
    v0.8.0+
</min-version>

<hx-tooltip id="page-min-version" position="right">
    HelixUI v0.8.0 or later required
</hx-tooltip>
    </h1>


<section>
  <h2 id="multi-select">Multi-Select</h2>
  <p>a.k.a. "checkbox strip"<p>
  <div class="demo">
    <div class="hxSelector">
      <label>
        <input type="checkbox" name="a" />
        <span>a</span>
      </label>
      <label>
        <input type="checkbox" name="b" checked />
        <span>b</span>
      </label>
      <label>
        <input type="checkbox" name="c" disabled />
        <span>c</span>
      </label>
      <label>
        <input type="checkbox" name="d" invalid />
        <span>d</span>
      </label>
      <label>
        <input type="checkbox" name="e" invalid checked />
        <span>e</span>
      </label>
    </div>
  </div>
<pre><code class="text"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxSelector"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">label</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"checkbox"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"a"</span> /&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>a<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">label</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"checkbox"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"b"</span> <span class="hljs-attr">checked</span> /&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>b<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">label</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"checkbox"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"c"</span> <span class="hljs-attr">disabled</span> /&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>c<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">label</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"checkbox"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"d"</span> <span class="hljs-attr">invalid</span> /&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>d<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">label</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"checkbox"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"e"</span> <span class="hljs-attr">invalid</span> <span class="hljs-attr">checked</span> /&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>e<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
</code></pre></section>

<section>
  <h2 id="single-select">Single-Select</h2>
  <p>a.k.a. "radio strip"<p>
  <div class="demo">
    <div class="hxSelector hxRadio">
      <label>
        <input type="radio" name="foo" checked />
        <span>1</span>
      </label>
      <label>
        <input type="radio" name="foo" />
        <span>2</span>
      </label>
      <label>
        <input type="radio" name="foo" disabled />
        <span>3</span>
      </label>
      <label>
        <input type="radio" name="foo" />
        <span>4</span>
      </label>
      <label>
        <input type="radio" name="foo" />
        <span>5</span>
      </label>
    </div>
  </div>
<pre><code class="text"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hxSelector hxRadio"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">label</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"radio"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"foo"</span> <span class="hljs-attr">checked</span> /&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">label</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"radio"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"foo"</span> /&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>2<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">label</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"radio"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"foo"</span> <span class="hljs-attr">disabled</span> /&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>3<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">label</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"radio"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"foo"</span> /&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>4<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">label</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"radio"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"foo"</span> /&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>5<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
</code></pre></section>

  </main>
  <aside class="hxSiderail hxBox-md">
    <h1 class="hxHeading-4">On this page:</h1>
    <nav class="article-toc">
      
            <a href="#multi-select">Multi-Select</a>
        

            <a href="#single-select">Single-Select</a>
        
      <hr />
      <a class="top-link" href="#top">Back to Top</a>
    </nav>
  </aside>
    </div>
  </div>

  <footer id="foot" class="hxRow hxGutterless">
<div class="hxCol">
&copy; 2018 Rackspace US, Inc.
<nav>
  <a href="https://www.rackspace.com/information/legal/websiteterms">Website Terms</a>
  <a href="https://www.rackspace.com/information/legal/privacystatement">Privacy Policy</a>
</nav>
</div>
<div class="hxCol text-right">
    <small>
      Last Updated:
      2018-06-22
    </small>

  <small>
    (<a href="https://github.com/rackerlabs/helix-ui/releases/v0.11.0" target="_blank">
      v0.11.0
    </a>)
  </small>
</div>
  </footer>

<!-- intelligently load ES5 Adapter (if needed) -->
<span id="ce-es5-adapter">
  <script>
    if (!window.customElements) {
      var elAdapter = document.querySelector('#ce-es5-adapter');
      elAdapter.parentElement.removeChild(elAdapter);
    }
  </script>
  <script src="https://unpkg.com/@webcomponents/webcomponentsjs/custom-elements-es5-adapter.js"></script>
</span>

<script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
<script src="dist/scripts/helix-ui.browser.js"></script>
<script src="docs.js"></script>
</body>
</html>
