@import "tokens";

// ============================= //
// ===== COLOR PALETTE 2.0 ===== //
// ============================= //

// ========================== //
// ===== PRIMARY COLORS ===== //
// ========================== //

// Blue - Primary
$blue-100: #e5f2fb;
$blue-300: #6ca3e1;
$blue-500: #367ed4;
$blue-700: #0051b7;
$blue-900: #003482;

// Purple - Primary
$purple-100: #f9e4f8;
$purple-300: #ad3da5;
$purple-500: #95098a;
$purple-700: #7d0572;
$purple-900: #64005a;

// Teal - Primary
$teal-100: #9defeb;
$teal-300: #34cecc;
$teal-500: #00bebc;
$teal-700: #00aab0;
$teal-900: #006e8d;

// ====================== //
// ===== GRAY SCALE ===== //
// ====================== //
$gray-0: #ffffff;
$gray-25: #fafafa;
$gray-50: #f5f5f5;
$gray-100: #eeeeee;
$gray-200: #e7e7e7;
$gray-300: #e0e0e0;
$gray-400: #d8d8d8;
$gray-500: #bdbdbd;
$gray-600: #9e9e9e;
$gray-700: #757575;
$gray-750: #6b6b6b;
$gray-800: #616161;
$gray-900: #424242;
$gray-950: #333333;
$gray-975: #212121;
$gray-1000: #000000;

// ========================= //
// ===== STATUS COLORS ===== //
// ========================= //

// Blue - Status
$blue-status-100: #e6eefd;
$blue-status-500: #296cdc;
$blue-status-900: #0b377f;

// Green - Status
$green-status-100: #f5fef9;
$green-status-500: #008b38;
$green-status-900: #00461c;

// 1.0 vars with 2.0 color palette values
$green-100: #f5fef9;
$green-500: #008b38;
$green-900: #00461c;

// Yellow - Status
$yellow-status-100: #ffe7b3;
$yellow-status-500: #ffc749;
$yellow-status-900: #b37c00;

// 1.0 vars with 2.0 color palette values
$yellow-100: #ffe7b3;
$yellow-500: #ffc749;
$yellow-900: #b37c00;

// Red - Status
$red-status-100: #fddcdc;
$red-status-500: #d6251f;
$red-status-900: #760300;

// 1.0 vars with 2.0 color palette values
$red-100: #fddcdc;
$red-500: #d6251f;
$red-900: #760300;


// ========================== //
// ===== ACCENT COLORS ===== //
// ========================== //

// Orange - Accent
$orange-accent-100: #ffe9cc;
$orange-accent-500: #fa9000;
$orange-accent-900: #ce7700;

// 1.0 vars with 2.0 color palette values
$orange-100: #ffe9cc;
$orange-500: #fa9000;
$orange-700: #dd6105; // 1.0 color var
$orange-900: #ce7700;

// Pink - Accent
$pink-accent-100: #fceff4;
$pink-accent-500: #db2b75;
$pink-accent-900: #960e48;

// Purple - Accent
$purple-accent-100: #f9e4f8;
$purple-accent-500: #95098a;
$purple-accent-900: #64005a;

// Cyan - Accent
$cyan-accent-100: #f6fafc;
$cyan-accent-500: #437d9a;
$cyan-accent-900: #1c3948;

// ======================================== //
// ===== LEGACY 1.0 COLORS - STOP GAP ===== //
// ======================================== //

// Cyan - 1.0 specs
// Stop gap - mapped *BLUE PRIMARY* color values for backward compatibility
$cyan-50: #e5f2fb;
$cyan-100: #6ca3e1;
$cyan-500: #367ed4;
$cyan-700: #0051b7;
$cyan-900: #003482;

// Magenta - 1.0 specs
// Stop gap - mapped *PURPLE* color values for backward compatibility
$magenta-100: #f9e4f8;
$magenta-500: #95098a;
$magenta-700: #7d0572;
$magenta-900: #64005a;

// Shadow
$shadow-color: rgba($gray-1000, 0.16);
$backdrop-color: rgba($gray-1000, 0.6);

// ===== SHADOWS =====
// Tooltips, Menus, Popovers, etc.
$layering-shadow: 0 3px 3px 0 $shadow-color;
// Modals, Toasts, etc.
//$focusing-shadow: TBD

// ===== FONTS =====
$font-sans-serif: "Open Sans", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-monospace: "Open Sans Condensed", "Roboto Mono", monospace;

// ==== FOCUS STATE =====
$focus-glow: 0 0 4px rgba($blue-700, 0.5);
$focus-glow-disabled: $focus-glow;
$focus-glow-invalid: 0 0 4px rgba($red-status-500, 0.5);

$app-nav-width: 15rem;
//$corner-radius: 2px;  // Deprecated for Button- v2.0 Specs

// ==== Z-INDEX =====
$drawer-z-index: 50;
$menu-z-index: 100;
$search-assistance-z-index: 100;
$popover-z-index: 1000;
$tooltip-z-index: 1100;
$modal-z-index: 1200;

$space: (
  xs: 0.5rem,
  sm: 0.75rem,
  md: 1.25rem,
  lg: 2rem,
  xl: 3rem,
  xxl: 4.5rem,
  flush: 0
);

// ===== FORMS v1.0.0 SUPPORT =====
$container-padding: 2rem;

// ---------------------------------------- //
// ----------------- GRID ----------------- //
// ---------------------------------------- //
$gutter-size: 20px;

// Responsive Breakpoints
// key order matters (must be from smallest to largest breakpoint)
// stylelint-disable length-zero-no-unit
$screen: (
  xs: 0em,
  sm: 40em, // ~640px
  md: 64em, // ~1024px
  lg: 75em, // ~1200px
  xl: 90em, // ~1440px
);
// stylelint-enable
