@import "config";

@include grid-classes;

.hxRow {
  @include grid-row {
    & > .hxCol {
      @include grid-column;
    }

    &.hxGutterless {
      margin: 0;

      & > .hxRow + .hxRow {
        margin-top: 0;
      }

      & > .hxCol {
        margin: 0;
        padding: 0;
      }
    }
  }
}
