// import configs
@import "components/box/config";
@import "components/button/config";

// inline external styles
@import "../base";

// define Shadow DOM styles
button {
  @include button-reset;
}

#hxToast {
  @include box-size(sm);

  display: flex;
}

#hxIconWrapper {
  align-items: center;
  color: var(--hxIcon-color, inherit);
  display: flex;
  margin: 0 0.75rem 0 0.5rem;

  hx-icon {
    font-size: 2rem;
  }
}

#hxContent {
  flex-grow: 1;
  margin-right: 1.5rem;
  text-align: right;
  word-wrap: break-word;

  div {
    font-size: 0.875rem;
    text-align: left;
  }
}

#hxCta {
  @include button-base;
  @include button-medium;
  // NOTE: button-tertiary is bringing in more than necessary, but it won't be
  // an issue once we refactor Toast to define CTA elements in Light DOM.
  @include button-tertiary;

  text-transform: uppercase;

  &:empty {
    display: none;
  }
}

#hxDismiss {
  color: var(--hxDismiss-color, $gray-700);
  flex-shrink: 0;
  font-size: 0.75rem;
  height: 2.25rem;
  padding: 0.75rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 2.25rem;
}

:host([type="info"]) {
  #hxIconWrapper {
    color: var(--hxIcon-color, $purple-500);
  }
}

:host([type="error"]) {
  #hxIconWrapper {
    color: var(--hxIcon-color, $red-900);
  }
}

:host([type="success"]) {
  #hxIconWrapper {
    color: var(--hxIcon-color, $green-500);
  }
}
