---
title: Button
assets:
  - bootstrap.helix.css
---
{% extends 'component.njk' %}
{% block content %}
<!-- explanation goes here -->

<section>
  <h2 class="hxSectionTitle" id="size-variants">Size Variants</h2>

  <!-- explanation goes here -->

  <div class="demo">
    <p>
      <button type="button" class="btn btn-default btn-lg">Large Button</button>
      <button type="button" class="btn btn-default">Default Button</button>
      <button type="button" class="btn btn-default btn-sm">Compact Button</button>
    </p>
  </div>
</section>

<section>
  <h2 class="hxSectionTitle" id="default">Default Buttons</h2>

  <!-- explanation goes here -->

  <div class="demo">
    <p>
      <button class="btn btn-default">Default Button</button>
      <button class="btn btn-default" disabled>Default Button (disabled)</button>
    </p>
  </div>
</section>

<section>
  <h2 class="hxSectionTitle" id="default">Primary Buttons</h2>

  <!-- explanation goes here -->

  <div class="demo">
    <p>
      <button class="btn btn-primary">Primary Button</button>
      <button class="btn btn-primary" disabled>Primary Button (disabled)</button>
    </p>
  </div>
</section>

<section>
  <h2 class="hxSectionTitle" id="link-buttons">Link Buttons</h2>
  
  <!-- explanation goes here -->

  <div class="demo">
    <p>
      <button class="btn btn-link">Link Button</button>
      <button class="btn btn-link" disabled>Link Button (disabled)</button>
    </p>
  </div>
</section>
{% endblock %}
