@import "vars";

@mixin button-reset { // less: #Button.reset()
  background-color: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  padding: 0;
}

@mixin button-base {
  border-radius: 2px;
  display: inline-flex;
  justify-content: center;
}

@mixin button-common { // less: #Button.basic()
  @include button-base;

  > * + * {
    margin-left: 0.5rem;
  }

  &:focus {
    outline: none;
  }

  &[disabled] {
    cursor: not-allowed;

    &:focus {
      box-shadow: none;
    }
  }
}

/// ---------- BUTTON WEIGHTS ----------

@mixin button-primary { // less: #Button.primary()
  background-color: $cyan-900;
  color: $gray-0;

  &:hover {
    background-color: $cyan-500;
    border-color: transparent;
    color: $gray-0;
  }

  &:active {
    background-color: $cyan-700;
    border-color: transparent;
    color: $gray-0;
  }

  &:focus {
    box-shadow: $focus-glow;
    outline: none;
  }

  &[disabled] {
    background-color: $gray-400;
    border-color: transparent;
    color: $gray-700;
  }
}

@mixin button-secondary { // less: #Button.secondary()
  border: 1px solid $cyan-900;
  color: $cyan-900;

  &:hover {
    background-color: $cyan-500;
    border-color: transparent;
    color: $gray-0;
  }

  &:active {
    background-color: $cyan-700;
    border-color: transparent;
    color: $gray-0;
  }

  &:focus {
    box-shadow: $focus-glow;
  }

  &[disabled] {
    background-color: transparent;
    border-color: $gray-400;
    color: $gray-400;
  }
}

@mixin button-tertiary { // less: #Button.tertiary()
  background-color: transparent;
  border: 0;
  color: $cyan-900;
  padding-left: 0;
  padding-right: 0;

  &:hover {
    background-color: transparent;
    border-color: transparent;
    color: $cyan-500;
  }

  &:active {
    background-color: transparent;
    border-color: transparent;
    color: $cyan-700;
  }

  &:focus {
    box-shadow: $focus-glow;
  }

  &[disabled] {
    background-color: transparent;
    border-color: transparent;
    color: $gray-400;
  }
}

/// ---------- BUTTON SIZES ----------

@mixin button-small { // less: #Button.small()
  padding: 0.125rem 0.5rem; // 2px 8px
}

@mixin button-medium { // less: #Button.medium()
  font-size: 0.875rem;
  padding: 0.5rem 0.75rem; // 8px 12px;
}

@mixin button-large { // less: #Button.large()
  font-size: 1rem;
  padding: 1rem;
}
