// ----- BASE ELEMENTS ---------------
@import "vars";
@import "./config";

/// * =================================== * ///
/// * ====== Secondary Navigation  ====== * ///
/// * =================================== * ///

#hxSecNav {
  background-color: $gray-0;
  height: 3.5rem;
  overflow: hidden;
  width: 100vw;
  border-bottom: 0.125rem solid $gray-300;

  .hxNavLink {
    color: $gray-700;
    display: inline-block;
    font-size: 1rem;
    height: 3.5rem;
    padding: 1rem 1.25rem;
    text-align: center;
    width: auto;

    &:hover {
      color: $gray-950 !important;
    }

    &:active {
      color: $gray-0;
    }
  }

  > hx-disclosure {
    background-color: transparent;
    color: $gray-700;
    display: inline-block;
    font-size: 1rem;
    height: 3.5rem;
    line-height: 1;
    padding: 1rem 1.25rem;
    width: auto;

    > hx-icon {
      color: $gray-400;
      font-size: 1rem;
      margin-left: 0.625rem;
      margin-top: 0.25rem;
      width: 0.75rem;
    }

    &[disabled] {
      @include hxSecNavControl(disabled);
    }

    &[aria-expanded="true"] {
      color: $purple-500;
    }

    &:hover {
      color: $gray-950 !important;
    }

    &:active {
      color: $gray-0;
    }
  }

  > hx-menu {
    background-color: $gray-0;
    min-width: 10.5rem;
    padding: 0;
    top: 14.5rem;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.5);

    hx-menuitem {
      color: $gray-950;
      padding: 0.5rem 1.25rem;

      &:hover {
        color: $purple-500 !important;
      }

      &:active {
        color: $gray-0;
      }
    }

    hx-menuitem[disabled] {
      @include hxSecNavControl(disabled);

      color: $gray-600;
    }

    .hxDivider {
      border-color: $gray-300;
      height: 1px;
      margin: 0.5rem auto 0;
    }

    > section > header {
      padding-left: 1.25rem;
      padding-top: 0.5rem;
      text-transform: none;
    }

    > section {
      padding: 0;
    }
  }
}
