// ----- BASE ELEMENTS ---------------
@import "vars";
@import "./config";

/// * =================================== * ///
/// * ====== Secondary Navigation  ====== * ///
/// * =================================== * ///

#hxSecNav {
  background-color: $gray-975;
  height: 3.5rem;
  overflow: hidden;
  width: 100vw;

  .hxNavLink {
    color: $gray-400;
    display: inline-block;
    font-size: 1rem;
    height: 3.5rem;
    padding: 1rem 1.25rem;
    text-align: center;
    text-transform: uppercase;
    width: auto;

    &:hover {
      background-color: $gray-800;
      color: $gray-0 !important;
    }

    &:active {
      background-color: $gray-900;
      color: $gray-0;
    }
  }

  > hx-disclosure {
    background-color: transparent;
    color: $gray-400;
    display: inline-block;
    font-size: 1rem;
    height: 3.5rem;
    line-height: 1;
    padding: 1rem 1.25rem;
    text-transform: uppercase;
    width: auto;

    > hx-icon {
      color: $gray-400;
      font-size: 1rem;
      margin-left: 0.625rem;
      margin-top: 0.25rem;
      width: 0.75rem;
    }

    &[disabled] {
      @include hxSecNavControl(disabled);
    }

    &:hover {
      background-color: $gray-800;
      color: $gray-0 !important;
    }

    &:active {
      background-color: $gray-900;
      color: $gray-0;
    }
  }

  > hx-menu {
    background-color: $gray-1000;
    border: 1px solid $gray-1000;
    color: $gray-0;
    min-width: 10.5rem;
    padding: 0;
    top: 14.5rem;

    hx-menuitem {
      color: $gray-400;
      padding: 0.5rem 1.25rem;

      &:hover {
        background-color: $gray-800;
        color: $gray-0 !important;
      }

      &:active {
        background-color: $gray-900;
        color: $gray-0;
      }
    }

    hx-menuitem[disabled] {
      @include hxSecNavControl(disabled);

      color: $gray-600;
    }

    .hxDivider {
      border-color: $gray-800;
      height: 1px;
      margin: 0.5rem auto 0;
    }

    > section > header {
      padding-left: 1.25rem;
      padding-top: 0.5rem;
    }

    > section {
      padding: 0;
    }
  }
}
