// ----- BASE ELEMENTS ---------------
@import "vars";
@import "./config";

/// * =================================== * ///
/// * ====== Secondary Navigation  ====== * ///
/// * =================================== * ///

#hxSecNav {
  display: flex; // prevent browser injected whitespace
  background-color: $gray-0;
  background-color: var(--hxSecNav-bgcolor, $gray-0);
  border-bottom: 0.125rem solid $gray-300;
  border-bottom: 0.125rem solid var(--hxSecNav-borderbottom, $gray-300);
  height: 3.8rem;
  overflow: hidden;
  width: 100vw;

  .hxNavLink,
  > hx-disclosure {
    color: $gray-950;
    color: var(--hxSecNav-hxNavLink-color, $gray-950);
    font-size: 1rem;
    height: 3.75rem;
    padding: 1.25rem;
    text-align: center;
    width: auto;
    outline: none;

    &:hover {
      color: $purple-500 !important;
      color: var(--hxSecNav-hxDisclosure-hover-color, $purple-500) !important;

      > hx-icon,
      > span {
        color: $purple-500 !important;
        color: var(--hxSecNav-hxDisclosure-hover-color, $purple-500) !important;
      }
    }

    &:active {
      color: $gray-0;
      color: var(--hxSecNav-hxNavLink-active-color, $gray-0);
    }

    .hxPrimary { // override Reveal component defaults
      font-size: 0.75em;
      pointer-events: none;
      transform: translateY(-50%);
    }

    &[aria-expanded="true"] {
      .hxPrimary {
        font-size: 0.75em;
        transform: translateY(-50%) scaleY(-1);
      }
    }
  }

  .hxNavLink {
    margin-right: -0.25rem;
  }

  > hx-disclosure {
    margin-right: -0.25rem;
    display: flex; // prevent browser injected whitespace

    > hx-icon {
      color: $gray-600;
      color: var(--hxSecNav-hxDisclosure-hxIcon-color, $gray-600);
      font-size: 1rem;
      margin-left: 0.5rem;
      margin-top: 0.813rem; // 13px
      width: 0.75rem;
    }

    &[disabled] {
      @include hxSecNavControl(disabled);
    }

    > span {
      color: $gray-950;
      color: var(---hxSecNav-hxDisclosure-span-color, $gray-950);
      font-size: 1rem;
      outline: none;
    }

    &[aria-expanded="true"] {
      > hx-icon > span {
        color: $purple-500;
        color: var(--hxSecNav-hxDisclosure-aria-expanded-color, $purple-500);
        transform: translateY(50%) scaleY(-1);
      }
    }
  }

  > hx-menu {
    background-color: $gray-0;
    background-color: var(--hxSecNav-hxMenu-bgcolor, $gray-0);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    padding: 0;
    top: 14.5rem;

    hx-menuitem {
      color: $gray-950;
      color: var(--hxSecNav-hxMenu-hxMenuitem-color, $gray-950);
      font-size: 1rem;
      padding: 0.5rem 1.25rem;

      &:first-child {
        padding-top: 1.25rem;
      }

      &:last-child {
        padding-bottom: 1.25rem;
      }

      &:hover {
        color: $purple-500 !important;
        color: var(--hxSecNav-hxMenu-hxMenuitem-hover-color, $purple-500) !important;
      }

      &:active {
        color: $gray-0;
        color: var(--hxSecNav-hxMenu-hxMenuitem-active-color, $gray-0);
      }
    }

    hx-menuitem[disabled] {
      @include hxSecNavControl(disabled);
    }

    .hxDivider {
      margin: 0 1.25rem;
    }

    > section > header {
      color: $gray-700;
      color: var(--hxSecNav-hxMenu-section-header-color, $gray-700);
      font-size: 0.75rem;
      padding: 1.25rem 1.25rem 0.5rem;
      text-transform: none;
    }

    > section {
      padding: 0;
    }
  }

  > hx-menu.hxSecNavTwoColMenu {
    .hxLeftColMenu {
      float: left;
    }

    .hxRightColMenu {
      float: left;
      border-left-color: $gray-300;
      border-left-color: var(--hxSecNav-hxMenu-hxTwoColumnMenu-hxRightColMenu-border-left-color, $gray-300);
      border-left-style: solid;
      border-left-width: 1px;
      margin: 1.25rem 0;

      > header {
        padding-top: 0;
      }

      > hx-menuitem:last-child {
        padding-bottom: 0.5rem;
      }
    }
  }
}
