@import (reference) 'vars';

// TODO: refactor and find a better home for this mixin
#HXDiv {
  .shadyRoot(@rules) {
    > #hxDiv {
      @rules();
    }
  }
}

#Box {
  .xs() {
    padding: @space[xs];
  }
  .sm() {
    padding: @space[sm];
  }
  .md() {
    padding: @space[md];
  }
  .lg() {
    padding: @space[lg];
  }
  .xl() {
    padding: @space[xl];
  }
  .xxl() {
    padding: @space[xxl];
  }
  .flush () {
    padding: @space[flush];
  }
}

.hxBox {
  &.hxXs {
    #Box.xs();
  }

  &.hxSm {
    #Box.sm();
  }

  &.hxMd {
    #Box.md();
  }

  &.hxLg {
    #Box.lg();
  }

  &.hxXl {
    #Box.xl();
  }

  &.hx2x {
    #Box.xxl();
  }

  &.hxFlush {
    #Box.flush();
  }
}

hx-div {
  display: block;
  padding: 0 !important; // avoid unfixable padding-block-end bug

  &[scroll="horizontal"] {
    overflow-x: auto;
    overflow-y: hidden;
  }

  &[scroll="vertical"] {
    overflow-x: hidden;
    overflow-y: auto;
  }

  &[scroll="both"] {
    overflow: auto;
  }

  &[scroll="none"] {
    overflow: visible;
  }
}

// ===== Polyfilled browsers =====
// CSS specificity overrides selectors in the next block
hx-div {
  &.hxXs {
    #HXDiv.shadyRoot({
      #Box.xs();
    });
  }

  &.hxSm {
    #HXDiv.shadyRoot({
      #Box.sm();
    });
  }

  &.hxMd {
    #HXDiv.shadyRoot({
      #Box.md();
    });
  }

  &.hxLg {
    #HXDiv.shadyRoot({
      #Box.lg();
    });
  }

  &.hxXl {
    #HXDiv.shadyRoot({
      #Box.xl();
    });
  }

  &.hx2x {
    #HXDiv.shadyRoot({
      #Box.xxl();
    });
  }

  &.hxFlush {
    #HXDiv.shadyRoot({
      #Box.flush();
    });
  }
}

// ===== Modern Browsers =====
// Should only apply to browsers with ShadowDOM support.
@supports(--modern: true) {
  hx-div {
    &.hxXs {
      --hxPadding--base: @space[xs];
    }

    &.hxSm {
      --hxPadding--base: @space[sm];
    }

    &.hxMd {
      --hxPadding--base: @space[md];
    }

    &.hxLg {
      --hxPadding--base: @space[lg];
    }

    &.hxXl {
      --hxPadding--base: @space[xl];
    }

    &.hx2x {
      --hxPadding--base: @space[xxl];
    }

    &.hxFlush {
      --hxPadding--base: @space[flush];;
    }
  }
}

// DEPRECATED: remove in v1.0.0
.hxBox-xs {
  padding: 0.5rem; // 8px
}

.hxBox-sm {
  padding: 0.75rem; // 12px
}

.hxBox-md {
  padding: 1rem; // 16px
}

.hxBox-lg {
  padding: 1.25rem; // 20px
}

.hxBox-xl {
  padding: 1.5rem; // 24px
}
